<div ng-controller="FundraiserManageController">
  <div team-view team="team">
    <div ng-show="fundraisers.length == 0"><a ng-href="https://salt.bountysource.com/">You do not have any fundraisers. Create one now!</a></div>
    <div ng-show="fundraisers.length > 0">
      <a ng-if="is_admin" href="https://salt.bountysource.com/" class="btn btn-primary btn-lg">Create Fundraiser</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Goal</th>
            <th>Progress</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="fundraiser in fundraisers">
            <td><a ng-href="/teams/{{ team.slug }}/fundraisers/{{fundraiser.slug}}">{{ fundraiser.title }}</a></td>
            <td>{{ fundraiser.funding_goal | dollars }}</td>
            <td>{{ (fundraiser.total_pledged / fundraiser.funding_goal) | percent }}</td>
            <td ng-class="{ 'text-info': ((fundraiser | fundraiserStatus) == 'draft'), 'text-success': ((fundraiser | fundraiserStatus) == 'completed') }">{{ fundraiser | fundraiserStatus }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
