<ng-form>
  <!-- Google Wallet -->
  <div class="radio">
    <label>
      <input type="radio" ng-model="value" value="google">
      <favicon style="width: 16px; height: 16px;" domain="http://www.google.com/wallet/"></favicon>
      <span>Google Wallet</span>
    </label>
  </div>

  <!-- PayPal -->
  <div class="radio">
    <label>
      <input type="radio" ng-model="value" value="paypal">
      <favicon style="width: 16px; height: 16px;" domain="https://www.paypal.com/"></favicon>
      <span>PayPal</span>
    </label>
  </div>

  <!-- Personal Account -->
  <div class="radio" ng-show="person.account.balance > 0">
    <label>
      <input type="radio" ng-model="value" value="personal">
      <img style="width: 16px; height: 16px;" ng-src="{{person.image_url}}" />
      <span>{{person.display_name}} <strong>{{person.account.balance | currency}}</strong></span>
    </label>
  </div>

  <!-- Team accounts -->
  <div class="radio" ng-repeat="team in teams | orderBy:['-is_developer', '-account_balance']">
    <label>
      <input type="radio" ng-model="$parent.value" value="team/{{team.id}}" ng-disabled="!team.is_developer || team.account_balance <= 0 || onTeamPage(team)"/>
      <img style="width: 16px; height: 16px;" ng-src="{{team.image_url}}" />

      <span ng-class="{ 'text-muted': (!team.is_developer || team.account_balance <= 0 || onTeamPage(team)) }">
        {{team.name}}
      </span>
      <strong ng-show="team.is_developer">{{team.account_balance | dollars}}</strong>
      <strong ng-hide="team.is_developer">$0</strong>
      <span ng-show="team.is_admin && team.account_balance < 100">(<a ng-href="/teams/{{team.slug}}/account">add funds</a>)</span>
    </label>
  </div>
</ng-form>
