<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a>New Company</a></li>
</ul>

<h1>Create your corporate profile</h1>
<p class="lead">Show off your company's support for open-source software.</p>
<br />

<form class="form-horizontal" ng-submit="create_company()">
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input id="name" type="text" class="span6" ng-model="form_data.name" placeholder="The name of your company" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="url">Homepage</label>
    <div class="controls">
      <input id="url" type="url" class="span6" ng-model="form_data.url" placeholder="Your company's homepage URL" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="image_url">Logo URL</label>
    <div class="controls">
      <input id="image_url" type="url" class="span6" ng-model="form_data.image_url" placeholder="Your company's logo URL" />
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <submit type="submit" ng-click="create_company()" class="btn btn-large btn-primary" ng-disabled="!(form_data.name && form_data.url && form_data.image_url)">Continue</submit>
    </div>
  </div>
</form>