<ng-include src="'salt/teams/_support_header_title.html'"></ng-include>

<div class="container">
  <div class="header">
    <h3 class="header-underline-emphasize">Display As</h3>
    <h4 style="display: inline;" class="text-muted">(Step 2 of 3)</h4>
  </div>

  <form ng-submit="submit_form()">
    <div class="row display-flex">
      <div class="col-md-8">
        
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <a ng-class="{ 'active': form_data.display_as==='me' }" ng-click="form_data.display_as='me'" class="team-member-card">
              <div class="row p-4">
                <div class="col-xs-4">
                  <img ng-src="{{person.image_url_medium}}" class="img-responsive img-circle" />
                </div>
                <div class="col-xs-8">
                  <div>{{person.display_name}}</div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-xs-12" ng-repeat="person_team in person_teams">
            <a ng-class="{ 'active': form_data.display_as==='team'+person_team.id }" ng-click="form_data.display_as='team'+person_team.id" class="team-member-card">
              <div class="row p-4">
                <div class="col-xs-4">
                  <img ng-src="{{person_team.image_url_medium}}" class="img-responsive img-circle" />
                </div>
                <div class="col-xs-8">
                  <div>{{person_team.name}}</div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-xs-12">
            <a ng-class="{ 'active': form_data.display_as==='anonymous' }" ng-click="form_data.display_as='anonymous'" class="team-member-card">
              <div class="row p-4">
                <div class="col-xs-4">
                  <img ng-src="<%= asset_path("anon.jpg") %>" class="img-responsive img-circle" />
                </div>
                <div class="col-xs-8">
                  <div class="ellipsis">Anonymous</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <ng-include src="'salt/checkout/_amount.html'"></ng-include>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-light-blue continue-button pull-right">Continue</button>
      </div>
    </div>
  </form>
</div>
