<div class="input-group">
  <!-- If in USD mode, do not show currency dropdown. -->
  <span class="input-group-addon" ng-if="$currency.isUSD()">$</span>

  <div class="input-group-btn" ng-if="!$currency.isUSD()">
    <button class="btn btn-default dropdown-toggle" href="#" ng-class="{ 'btn-sm': small(), 'btn-lg': large() }">
      <span ng-if="$parent.currency === 'USD'">$</span>
      <span ng-if="$parent.currency === 'BTC'">฿</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a ng-click="$parent.setCurrencyBTC()">Bitcoin (฿)</a></li>
      <li><a ng-click="$parent.setCurrencyUSD()">US Dollar ($)</a></li>
    </ul>
  </div>

  <span ng-transclude></span>
</div>