table.pledges-table { margin: 0; }

table.pledges-table tr td {
  vertical-align: middle;
}

table.pledges-table tr td img.thumbnail {
  width: 50px;
  height: 50px;
}

#fundraiser-title h1 {
  font-size: 30px;
}
#fundraiser-title  {
  height: 50px;
  font-size: 30px;
  line-height: 40px;
}

.fundraiser-image {
  height: 200px;
  background-position: center center;
  background-size: 275px auto;
  background-repeat: no-repeat;
}

#pledge-input {
  height: 60px;
  font-size: 35px;
  font-weight: 200;
  line-height: 40px;
}

table.top-backers-table td { border-top: 0; }

table.update_table th:nth-child(2) {
  width: 30%;
}

#flex-box {
  margin: 15px 10px 0;
  padding: 0;
  border-top: 2px solid #e5e5e5;
}

#flex-box h5 {
  margin: 10px 0 0;
  padding: 0px;
}

#flex-box p {
  font-size: 11px;
  line-height: 12px;
  margin-bottom: 0px;
}