/* backer/developer box */
.homepage .background-top {
  background: transparent url(../images/purty_wood.png) center center;
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  height: 335px;
  z-index: -1;
}

.homepage .background-users {
  background: rgb(245, 245, 245);
  position: absolute;
  left: 0;
  top: 380px;
  width: 100%;
  height: 200px;
  z-index: -1;
}

/*.homepage .background-fundraisers {*/
  /*background: white;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 580px;*/
  /*width: 100%;*/
  /*height: 400px;*/
  /*z-index: -1;*/
/*}*/

.homepage .background-projects {
  background: rgb(245, 245, 245);
  position: absolute;
  left: 0;
  top: 920px;
  width: 100%;
  height: 400px;
  z-index: -1;
}

.homepage section#top {
  height: 310px;
}

.homepage section#users {
  text-align: center;
  height: 190px;
}

.homepage section#fundraisers {
  height: 335px;
}

.homepage section#projects {
  height: 270px;
}

/* backer/developer box (background and text) */
.homepage .well { background-color: rgba(0,0,0,0.5); color: #fff; border: 0; }
.homepage .well h1 { text-align: center; padding: 10px 0 20px 0; margin: 0; }
.homepage .well h2 { padding: 0 0 0px 0; margin: 0 0 10px; font-size: 25px; }
.homepage .well h3 { padding: 0 0 0px 0; margin: 0; font-size: 16px; margin-left: 24px; font-weight: normal; }
.homepage .well .home-developers li, .homepage .home-backers li  { font-size: 16px; line-height: 24px; }
/*.homepage .well .btn { float: right; }*/

/* backer/developer box (vertical white line) */
.homepage .home-developers { border-right: 2px solid white; margin-right: -1px; padding-right: 20px; }

/* backer/developer box (top developer and backer pics) */
.homepage .thumbnails li { background: none; overflow: hidden; text-align: center; }
.homepage .thubmnails li a { border: 0; }
.homepage .thumbnails li img { display: block; padding-bottom: 0; }
.homepage .thumbnails li strong { display: block; color: #333; }
.homepage .home-developers ul.top-pics { height: 75px }

/* featured columns */
.homepage h3 { font-size: 18px; }
.homepage h4 { font-size: 15px; margin: 0; padding: 0; }
.homepage p { text-align: center; }
.homepage .featured-list { margin: 0; padding: 0; }
.homepage .featured-list li { list-style: none; padding: 0; margin: 0 0 20px 55px; clear: left; }
.homepage .featured-list img { max-width: 50px; max-height: 50px; float: left; margin-left: -55px; padding: 0 5px 5px 0; }
.homepage .featured-list .progress { height: 5px; margin-bottom: 0; padding-bottom: 0; }

