/* backer/developer box */
.homepage h1 { text-align: center; padding: 20px 0 30px 0; margin: 0; }
.homepage h2 { padding: 0 0 0px 0; margin: 0 0 10px; font-size: 21px; font-weight: normal; text-align: center; }
.homepage h2 span { font-weight: bold; }
.homepage .thumbnails li { background: #fff; overflow: hidden; text-align: center; }
.homepage .thumbnails li img { display: block; padding-bottom: 0; }
.homepage .thumbnails li strong { display: block; color: #333; }

/* featured columns */
.homepage h3 { font-size: 18px; }
.homepage h4 { font-size: 15px; margin: 0; padding: 0; }
.homepage p { text-align: center; }
.homepage .featured-list { margin: 0; padding: 0; }
.homepage .featured-list li { list-style: none; padding: 0; margin: 0 0 20px 55px; clear: left; }
.homepage .featured-list img { max-width: 50px; max-height: 50px; float: left; margin-left: -55px; padding: 0 5px 5px 0; }
.homepage .featured-list .progress { height: 5px; margin-bottom: 0; padding-bottom: 0; }
