table#bounties-table tr td {
  vertical-align: middle;
}
table#bounties-table tr td:nth-child(1) { width: 60px; }
table#bounties-table tr td img.thumbnail {
  width: 50px;
  height: 50px;
}

table#solutions-table tr td {
  vertical-align: middle;
}
table#solutions-table tr td img.thumbnail {
  width: 130px;
  height: 130px;
}

li.task-list-item {
  list-style: square outside url(/images/checkbox.png);
}

li.task-list-item-checked {
  list-style: square outside url(/images/checkbox_checked.png);
}

li.task-list-item br {
  display: none;
}

li.task-list-item-checked br {
  display: none;
}

.bounty-buttons .btn { margin-top: 0; }
.bounty-buttons .controls { margin-top: 10px; }
.bounty-buttons .controls:first-of-type { margin-top: 0; }

.no-stripe td { border-top: 0; background-color: transparent !important; }

td.imagerow {
  width: 60px;
}

td.noimagerow {
  width: 0px;
}

.ng-binding ul > br {
  display: none;
}

/* receipt */
input#bounty-share-url {
  cursor: pointer;
  width: 75%;
  text-align: center;
  margin-top: 15px;
}
@media (min-width: 1200px) {
	#bounty > a.btn.btn-primary {
		width: 20%;
		margin-left: 1px;
		margin-bottom: 10px;
		margin-right: 1px;
	}
	#bounty > .form-control {
		width: 60%;
	}
	#title {
		margin-left: 0px;
	}
	#bounty {
		right: 0px;
		width: 270px;
	}
	#tabs {
		position: absolute;
		margin-top: 82px;
		margin-left: 0px;
		width: 870px;
	}
}
@media (min-width: 980px) and (max-width: 1199px) {
	#bounty > a.btn.btn-primary {
		width: 30%;
		margin-left: 1px;
		margin-bottom: 10px;
		margin-right: 1px;
	}
	#bounty > .form-control {
		width: 85%;
	}
	#title {
		margin-left: 0px;
	}
	#bounty {
		position: inherit;
		right: 0px;
		width: 220px;
	}
	#tabs {
		position: absolute;
		margin-top: 82px;
		margin-left: 0px;
		width: 700px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#bounty > a.btn.btn-primary {
		width: 80%;
		margin-left: 0px;
		margin-bottom: 3px;
		margin-right: 0px;
	}
	#bounty > .form-control {
		width: 90%;
	}
	#title {
		margin-left: 0px;
	}
	#bounty {
		position: inherit;
		right: 0px;
		width: 166px;
	}
	#tabs {
		position: absolute;
		margin-top: 82px;
		margin-left: 0px;
		width: 538px;
	}
}
@media (max-width: 767px) {
	#bounty > a.btn.btn-primary {
		width: 40px;
		margin-left: 0px;
		margin-bottom: 3px;
		margin-right: 0px;
	}
	#bounty > .form-control {
		width: 191px;
		margin-top: 8px;
	}
}
