html, body { height: 100%; margin: 0; padding: 0; }

.navbar { border-top: 4px solid #e0ab45; }
.navbar .brand { padding: 2px 15px 2px 0; }
.navbar .brand strong { display: none }
.navbar-search { position: relative; }
.navbar-search .search-query { padding-left: 29px; }
.navbar-search .icon-search { position: absolute; top: 7px; left: 11px; }
/*@media (max-width: 979px) {*/
  /*.navbar-search .icon-search { top: 17px; left: 27px; }*/
  /*#main { border-top: 0px; }*/
/*}*/

/* footer */
footer {
  position: relative;
  margin-top: -206px; /* negative value of footer height */
  clear:both;
  padding-top: 30px;
  color: #888;
  background-color: #303030;
  height: 200px;
  border-top: 6px solid #505050;
}
footer ul { margin: 0; list-style: none; }
#main { border-bottom: 240px solid transparent; }


/* space for navbar and footer */
#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  border-top: 70px solid transparent;
}

