html, body { height: 100%; }

.navbar { border-top: 4px solid #e0ab45; }
.navbar .brand { padding: 2px 15px 2px 0; }
.navbar .brand strong { display: none }
.navbar-search { position: relative; }
.navbar-search .search-query { padding-left: 29px; }
.navbar-search .icon-search { position: absolute; top: 7px; left: 11px; }
@media (max-width: 979px) {
  .navbar-search .icon-search { top: 17px; left: 27px; }
  body { border-top: 0px; }
}



footer { text-align: center; color: #888; }
footer a { padding-left: 12px; }

#wrap {
  min-height: 100%;
}

/* space for navbar and footer */
#main {
  overflow:auto;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
}

.footer {
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 40px;
  clear:both;
  padding-top: 30px;
}