.form-signin .controls ul { margin: 0; padding: 0 }
.form-signin .controls ul li { margin: 0; padding: 0; list-style: none; }
.form-signin {
    max-width: 520px;
    padding: 19px 29px 29px;
    margin: 50px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.provider-link a:hover { text-decoration: none; }
.provider-link a:hover span { text-decoration: underline; }

.hide-tooltip .tooltip { display: none !important; }
