<table class="table table-centered table-no-separator">
  <thead>
    <tr>
      <th colspan="2">Team</th>
      <!-- <th style="text-align: center">Supporters</th> -->
      <th class="text-center">Earnings</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="team in teams" ng-if="state.params.tag || state.params.search || state.params.newest || team.monthly_contributions_sum>0 || team.previous_month_contributions_sum>0">
      <td>
        <a ui-sref="root.teams.show(team)">
          <img ng-src="{{team.image_url_medium || team.image_url}}" class="img-rounded img-salt-homepage-logo" />
        </a>
      </td>
      <td class="no-break-out">
        <a ui-sref="root.teams.show(team)" class="gunmetal-link">
          <h4 class="m-0">{{team.name}}</h4>
        </a>

        <span class="text-muted">{{team.bio}}</span>
      </td>
      <!-- <td style="vertical-align: middle; white-space:nowrap; text-align: center">
        <div style="font-size: 20px;">{{team.monthly_contributions_count}}</div>
        <div style="color: #888; font-size:14px">&nbsp;</div>
      </td> -->
      <td>
        <div ng-show="team.monthly_contributions_sum >= team.previous_month_contributions_sum">
          <h4 class="m-0">{{team.monthly_contributions_sum | dollars}}</h4>
          <div class="text-muted">this month</div>
        </div>
        <div ng-hide="team.monthly_contributions_sum >= team.previous_month_contributions_sum">
          <h4 class="m-0">{{team.previous_month_contributions_sum | dollars}}</h4>
          <div class="text-muted">last month</div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-info" ng-hide="teams.length > 0">Sorry, no teams were found.</div>
