<div class="row">
  <div class="col-md-9 col-md-push-3">
    <ui-view/>
  </div>

  <div class="col-md-3 col-md-pull-9">
    <form class="form" role="search">
      <input type="text" class="form-control search-input" ng-model="search_data.query" placeholder="Search for projects..." ng-change="search_text_changed()" />
    </form>

    <ul class="nav nav-pills nav-stacked mt-3">
      <li ng-class="{active: !state.params.tag && !state.params.search && !state.params.newest }">
        <a ui-sref="root.home.teams.list" ui-sref-opts="{ location: 'replace', inherit: false }">
          <span class="glyphicon glyphicon glyphicon-stats"></span>
          Leaderboard
        </a>
      </li>
      <li ng-class="{active: state.params.newest }">
        <a ui-sref="root.home.teams.list({ newest: true })" ui-sref-opts="{ location: 'replace', inherit: false }">
          <span class="glyphicon glyphicon glyphicon-time"></span>
          Newest
        </a>
      </li>
      <li ng-class="{active: state.params.tag && (state.params.tag == tag.slug || state.params.tag == tag.id) }" ng-repeat="tag in tags">
        <a class="text-gunmetal" ui-sref="root.home.teams.list({ tag: tag.slug || tag.id })" ui-sref-opts="{ location: 'replace', inherit: false }">
          <span class="glyphicon glyphicon-tag" ng-if="tag.type=='Tag'"></span>
          <img ng-if="tag.type=='Team'" ng-src="{{tag.image_url}}" style="width:16px; height:16px"/>
          {{tag.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
