<div>
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a>Fundraisers</a></li>
  </ul>

  <div class="alert alert-info">
    Have an idea or project that needs funding? <a href="/fundraisers/new">Create your own fundraiser!</a>
  </div>

  <ul class="nav nav-tabs">
    <li ng-class="active_tab('current')"><a href="/fundraisers">Current</a></li>
    <li ng-class="active_tab('completed')"><a href="/fundraisers/completed">Completed</a></li>
  </ul>

  <table class="table table-striped" ng-hide="!selected_fundraisers || (selected_fundraisers | filter:filter_method).length <= 0">
    <thead>
    <tr>
      <th style="width: 75px;" class="hidden-sm"></th>
      <th><a ng-click="change_order('title')">Title</a></th>
      <th class="span7 hidden-sm">Description</th>
      <th><a ng-click="change_order('funding_goal')">Goal</a></th>
      <th><a ng-click="change_order('total_pledged')">Pledged</a></th>
      <th><a ng-click="change_order('days_remaining')">Time Left</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="fundraiser in selected_fundraisers | filter:filter_method | orderBy:order_by:order_reverse">
      <td class="hidden-sm">
        <a ng-if="!fundraiser.team" class="thumbnail" ng-href="/fundraisers/{{fundraiser.slug}}" style="margin-bottom: 0;">
          <img ng-src="{{fundraiser.image_url || '/src/assets/img/bountysource-grey.png'}}" style="width: 100%;">
        </a>
        <a ng-if="fundraiser.team" class="thumbnail" ng-href="/teams/{{ fundraiser.team.slug }}/fundraiser" style="margin-bottom: 0;">
          <img ng-src="{{fundraiser.image_url || '/src/assets/img/bountysource-grey.png'}}" style="width: 100%;">
        </a>
      </td>
      <td>
        <img class="pull-left visible-sm" style="width: 20px; height:20px; margin-right:10px" src="{{fundraiser.image_url}}">
        <a ng-if="!fundraiser.team" ng-href="/fundraisers/{{fundraiser.slug}}"><span ng-show="fundraiser.featured" class="label label-info">Featured!</span> {{fundraiser.title}}</a>
        <a ng-if="fundraiser.team" ng-href="/teams/{{ fundraiser.team.slug }}/fundraiser"><span ng-show="fundraiser.featured" class="label label-info">Featured!</span> {{fundraiser.title}}</a> 
      </td>
      <td class="text-muted hidden-sm">{{fundraiser.short_description}}</td>
      <td>{{fundraiser.funding_goal | dollars}}</td>
      <td>{{fundraiser.total_pledged | dollars}}</td>
      <td>
        <span title="{{fundraiser.ends_at | date}}" ng-show="fundraiser.in_progress">{{fundraiser.ends_at | timeLeftInWords}}</span>
        <small ng-hide="fundraiser.in_progress">Completed {{fundraiser.ends_at | date}}</small>
      </td>
    </tr>
    </tbody>
  </table>
</div>
