<div ng-controller="FundraiserCreateController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/fundraisers">Fundraisers</a></li>
    <li><a>New Fundraiser</a></li>
  </ul>

  <alert ng-show="error" type="error" close="error = null">{{error}}</alert>

  <div class="row">
    <div class="col-sm-9 col-md-9">
      <!--Edit Title and Short Description-->
      <input id="fundraiser-title" class="form-control" type="text" autofocus="true" name="title" ng-model="fundraiser.title" placeholder="The title of your fundraiser">
      <br />
      <textarea class="form-control lead" rows="2" name="description" ng-model="fundraiser.short_description" placeholder="Briefly describe your fundraiser"></textarea>

      <ng-form name="form-horizontal" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2" for="funding-goal">Funding Goal</label>
          <div class="col-sm-10">
            <input class="form-control" id="funding-goal" type="number" ng-model="fundraiser.funding_goal" placeholder="Funding goal">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2" for="repo-url">Image URL</label>
          <div class="col-sm-10">
            <input class="form-control" id="repo-url" type="text" ng-model="fundraiser.image_url" placeholder="https://cdn.awesome.com/abc123">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2" for="homepage-url">Homepage</label>
          <div class="col-sm-10">
            <input class="form-control" id="homepage-url" type="url" ng-model="fundraiser.homepage_url" placeholder="https://www.bountysource.com">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2" for="repo-url">Repository</label>
          <div class="col-sm-10">
            <input class="form-control" id="repo-url" type="url" ng-model="fundraiser.repo_url" placeholder="https://github.com/bountysource/frontend">
          </div>
        </div>

        <div class="form-group" ng-show="teams.length > 0">
          <label class="col-sm-2" for="repo-url">Team</label>
          <div class="col-sm-10">
            <select ng-options="team.id as team.name for team in teams" ng-model="fundraiser.team_id">
              <option value="">No Team</option>
            </select>
          </div>
        </div>
      </ng-form>

      <!--Edit main Description-->
      <div class="alert alert-info">
        <strong>Protip:</strong> You can format your description using <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub Flavored Markdown</a>.
      </div>

      <textarea id="fundraiser-description" class="form-control" rows="15" ng-model="fundraiser.description" placeholder="A description of your goal with this fundraiser."></textarea>
    </div>

    <div class="col-sm-3 col-md-3">
      <div class="well well-lg">
        <!--Outline required inputs-->
        <h4 style="margin-top: 0;">Required Steps</h4>
        <div class="checkbox"><label class="" style="cursor: default;">
          <input type="checkbox" ng-checked="!!fundraiser.title" disabled="" style="cursor: default;">
          <small ng-class="{ 'text-success': !!fundraiser.title }">Add a title</small>
        </label></div>
        <div class="checkbox"><label class="" style="cursor: default;">
          <input type="checkbox" ng-checked="!!fundraiser.short_description" disabled="" style="cursor: default;">
          <small ng-class="{ 'text-success': !!fundraiser.short_description }">Add a short description</small>
        </label></div>
        <div class="checkbox"><label class="" style="cursor: default;">
          <input type="checkbox" ng-checked="!!fundraiser.funding_goal" disabled="" style="cursor: default;">
          <small ng-class="{ 'text-success': !!fundraiser.funding_goal }">Set your funding goal</small>
        </label></div>
        <div class="checkbox"><label class="" style="cursor: default;">
          <input type="checkbox" ng-checked="!!fundraiser.description" disabled="" style="cursor: default;">
          <small ng-class="{ 'text-success': !!fundraiser.description }">Add a description</small>
        </label></div>
        <br>

        <!--Big Create Fundraiser button-->
        <button ng-click="create()" ng-disabled="!fundraiser.title || !fundraiser.short_description || !fundraiser.description || !fundraiser.funding_goal || urls.$invalid" class="btn btn-block btn-success btn-lg">Create Fundraiser</button>
      </div>

      <fundraiser-side-bar fundraiser="fundraiser" options="{ pledgeButtons: false, shareButtons: false }"></fundraiser-side-bar>
    </div>
  </div>
</div>