<div ng-controller="FundraiserShowController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/fundraisers">Fundraisers</a></li>
    <li><a href="/fundraisers/{{fundraiser.id}}">{{ fundraiser.title || 'Loading...' }}</a></li>
  </ul>

  <div team-view team="team">
    <fundraiser-template fundraiser="fundraiser" options="{ showNavTabs: false, showLeftColumn: false, showTitle: true }">
      <div ng-show="fundraiser.updates.length > 0">
        <div class="panel panel-default">
          <div class="panel-heading">Updates</div>
          <table class="table table-bordered">
            <tr ng-repeat="update in fundraiser.updates | orderBy:['-published_at']">
              <td>
                <!--<a ng-click="showUpdateModal(update)">-->
                <!--{{update.title}}-->
                <!--<small class="text-muted">{{update.published_at | date}}</small>-->
                <!--</a>-->

                <a ng-href="/fundraisers/{{fundraiser.id}}/updates/{{update.id}}">
                  {{update.title}}
                  <small class="text-muted">{{update.published_at | date}}</small>
                </a>
              </td>
            </tr>
          </table>

        </div>
      </div>

      <div class="markdown" ng-bind-html="sanitized_description"></div>
    </fundraiser-template>
  </div>
</div>
