<div ng-controller="FundraiserUpdatesController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/fundraisers">Fundraisers</a></li>
    <li><a ng-href="/fundraisers/{{ fundraiser.id }}">{{ fundraiser.title || 'Loading...' }}</a></li>
    <li><a>Updates</a></li>
  </ul>

  <fundraiser-template fundraiser="fundraiser" options="{}">
    <div class="alert alert-info" ng-show="updates.length <= 0">
      No updates have been published.
    </div>

    <!-- List published updates -->
    <div ng-repeat="update in updates">
      <h2>{{update.title}}</h2>
      <div class="text-info">
        <span>Published {{update.published_at | date}}</span>
      </div>
      <hr />
      <div class="markdown" ng-bind-html="update.body_html"></div>
      <div ng-if="$index != updates.length">
        <br />
        <br />
      </div>
    </div>
  </fundraiser-template>

  <div class="form" ng-show="fundraiser">
<!--     <div ng-include="'app/fundraisers/templates/header.html'"></div>
    <div ng-include="'app/fundraisers/templates/nav_tabs.html'"></div> -->
  </div>
</div>
