<div ng-controller="FundraiserUpdatesController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/fundraisers">Fundraisers</a></li>
    <li><a ng-href="/fundraisers/{{ fundraiser.id }}">{{ fundraiser.title || 'Loading...' }}</a></li>
    <li><a>Updates</a></li>
  </ul>

  <div class="form" ng-show="fundraiser">
    <div ng-include="'app/fundraisers/templates/header.html'"></div>
    <div ng-include="'app/fundraisers/templates/nav_tabs.html'"></div>

    <div class="row">
      <div class="col-md-3">
        <fundraiser-progress fundraiser="fundraiser"></fundraiser-progress>
        <fundraiser-author fundraiser="fundraiser"></fundraiser-author>
        <fundraiser-share fundraiser="fundraiser"></fundraiser-share>
      </div>

      <div class="col-md-6">
        <div class="alert alert-info" ng-show="updates.length <= 0">
          No updates have been published.
        </div>

        <!-- List published updates -->
        <div ng-repeat="update in updates">
          <h2>{{update.title}}</h2>
          <div class="text-info">
            <span>Published {{update.published_at | date}}</span>
          </div>
          <hr />
          <div style="white-space: pre-wrap;">{{update.body}}</div>
          <div ng-if="$index != updates.length">
            <br />
            <br />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <fundraiser-manage-buttons fundraiser="fundraiser"></fundraiser-manage-buttons>
        <fundraiser-top-backers fundraiser="fundraiser"></fundraiser-top-backers>
        <fundraiser-pledge-buttons fundraiser="fundraiser"></fundraiser-pledge-buttons>
        <fundraiser-rewards fundraiser="fundraiser"></fundraiser-rewards>
      </div>
    </div>
  </div>
</div>
