<div class="row">
  <div class="center-block form-signin">
    <form class="form-horizontal center-block" name="form" novalidate="" ng-autofill-aware="">
      <div class="col-xs-12">
        <h2 class="text-center">SIGN IN</h2>

        <div class="providers" ng-hide="provider">
          <div class="form-group">
            <div ng-controller="SigninController">
              <div class="row">
                <div class="col-xs-4" ng-repeat="provider in providers">
                  <a ng-href="{{signin_url_for(provider.id)}}" gaq-args="['_trackEvent', 'Navbar-Signin' , 'LinkOut']" id="signin-{{provider.id}}" ng-click="save_route()" target="_self">
                    <img ng-src="{{provider.image_url}}" class="center-block">
                  </a>
                </li>
              </div>
            </div>
          </div>
          <h4 class="text-center mt-5 mb-5">Or</h4>
        </div>

        <div ng-show="provider" ng-switch="" on="signin_or_signup">
          <p ng-switch-when="signin">Enter your password to link with your existing Bountysource account.</p>
          <p ng-switch-when="signup">Complete the fields below to sign up for Bountysource.</p>
          <p ng-switch-default="">Please enter your email address to continue.</p>
        </div>

        <input type="hidden" ng-model="form_data.account_link_id" >

        <div class="alert alert-salmon" ng-show="error">{{error}}</div>
        <div class="alert alert-success" ng-show="message">{{ message }}</div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': (show_validations && form.email.$invalid) || (form.email.$error.email), 'has-success': (signin_or_signup == 'signin' || signin_or_signup == 'signup'), 'has-warning': signin_or_signup == 'pending' }">
        <label class="control-label col-md-4 col-sm-4" for="inputEmail">E-mail</label>
        <div class="col-md-7 col-sm-7">
          <input type="email" id="inputEmail" name="email" placeholder="john@doe.com" ng-model="form_data.email" autofocus="" ng-change="email_changing()" ng-blur="email_changed()" required="" class="form-control input-medium">
        </div>
        <div class="col-md-1 col-sm-6 text-left">
            <span class="help-block" ng-show="signin_or_signup=='signin'"><small>Found!</small></span>
            <span class="help-block" ng-show="signin_or_signup=='signup'"><small>Available!</small></span>
            <span class="help-block" ng-show="signin_or_signup=='not_verify'"><small><a ng-click="resend_verification()">Resend Confirmation Email</a></small></span>
        </div>
      </div>

      <div class="form-group" ng-hide="provider && (signin_or_signup!='signin')" ng-class="{ 'has-error': (show_validations && form.password.$invalid) || (form.password.$error.pattern || form.password.$error.minlength) }">
        <label class="control-label col-md-4 col-sm-4" for="inputPassword">Password</label>
        <div class="col-md-7 col-sm-7" ng-class="{ 'hide-tooltip': signin_or_signup=='signin' }">
          <input type="password" name="password" id="inputPassword" placeholder="abcd1234" ng-model="form_data.password" class="form-control input-medium" ng-minlength="8" ng-pattern="/[a-zA-Z].*[0-9]|[0-9].*[a-zA-Z]/" required="" tooltip="Letter, number and 8+ characters." tooltip-placement="right" tooltip-trigger="focus">
        </div>
        <div class="col-md-1 col-sm-1">
          <span class="help-block" ng-show="signin_or_signup=='signin'"><small><a ng-click="forgot_password()">Forgot?</a></small></span>
        </div>
      </div>

      <div class="form-group" ng-show="signin_or_signup=='signup'">
        <label class="control-label col-md-4 col-sm-4" for="inputFirstName">First Name:</label>
        <div class="col-md-8 col-sm-8">
          <input type="text" id="inputFirstName" placeholder="John" ng-model="form_data.first_name" class="input-medium form-control">
        </div>
      </div>

      <div class="form-group" ng-show="signin_or_signup=='signup'">
        <label class="control-label col-md-4 col-sm-4">Last Name:</label>
        <div class="col-md-8 col-sm-8">
          <input type="text" placeholder="Doe" ng-model="form_data.last_name" class="form-control input-medium">
        </div>
      </div>

      <div class="form-group" ng-show="signin_or_signup=='signup'">
        <label class="control-label col-md-4 col-sm-4" for="inputDisplayName">Display Name:</label>
        <div class="col-md-8 col-sm-8">
          <input type="text" id="inputDisplayName" placeholder="johnny5" ng-model="form_data.display_name" class="input-medium form-control">
          <img ng-src="{{form_data.image_url}}" style="width: 30px; height: 30px" ng-show="form_data.image_url">
        </div>
      </div>

      <div class="form-group" ng-show="signin_or_signup=='signup'">
        <label class="control-label col-md-4 col-sm-4">Legal:</label>
        <div class="col-md-8 col-sm-8 form-control-static">
          By signing up, you agree to our <a href="/terms" target="_blank">Terms of Service</a>.
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-7 col-sm-offset-4 col-sm-7">
          <button type="submit" class="btn btn-light-blue btn-long" ng-click="signin()" ng-show="signin_or_signup!='signup'">Sign In</button>
          <button type="submit" class="btn btn-light-blue btn-long" ng-click="signup()" ng-show="signin_or_signup=='signup'">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
