version: '3'
volumes:
  database:
  app:
  search_conf:
services:
  pgsql:
    container_name: pgsql
    image: postgres
    volumes:
      - database:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  sphinx:
    container_name: sphinx
    image: leodido/sphinxsearch:2.2.9
    hostname: sphinx
    command: searchd.sh
    links:
      - pgsql
    volumes:
      - app:/app
      - search_conf:/usr/local/etc/
  bountysource:
    container_name: bountysource
    env_file: .env.dev
    links:
      - pgsql
      - sphinx
    build:
      context: .
    ports:
      - "3000:3000"
    command: rails s
    volumes:
      - app:/app
