%table.table.table-no-separator
  %thead
    %tr
      %th Name
      %th 
      %th.text-center Activity
  %tbody
    %tr{ "ng-if"=>"team_self" }
      %td.pt-4.pb-4{ "style"=>"width:90px; padding-right:10px" }
        %a{ "ng-href"=>"/teams/{{team_self.slug}}" }
          %img.img-circle.img-responsive{ "ng-src"=>"{{team_self.image_url_small}}" }
      %td{"style" => "vertical-align:middle"}
        %h4
          %a{ "ng-href"=>"/teams/{{team_self.slug}}" } {{team_self.name}}
        %p {{team_self.bio|truncate:140}}
      %td.text-center.font-weight-semibold{"style" => "vertical-align:middle"}
        {{team_self.activity_total | dollars}}


    %tr{ "ng-repeat"=>"team in teams" }
      %td.pt-4.pb-4{ "style"=>"width:90px; padding-right:10px" }
        %a{ "ng-href"=>"/teams/{{team.slug}}" }
          %img.img-circle.img-responsive{ "ng-src"=>"{{team.image_url_small}}" }
      %td{"style" => "vertical-align:middle"}
        %h4
          %a{ "ng-href"=>"/teams/{{team.slug}}" } {{team.name}}
        %p {{team.bio|truncate:140}}
      %td.text-center.font-weight-semibold{"style" => "vertical-align:middle"}
        {{team.activity_total | dollars}}
