%table.table.table-no-border-top
  %tr
    %th
    %th Name
    %th.text-center Activity
  %tr{ "ng-if"=>"team_self" }
    %td{ "style"=>"width:100px; padding-right:10px" }
      %a{ "ng-href"=>"/teams/{{team_self.slug}}" }
        %img.img-circle.img-responsive{ "ng-src"=>"{{team_self.image_url_small}}" }
    %td
      %h4
        %a{ "ng-href"=>"/teams/{{team_self.slug}}" } {{team_self.name}}
      %p {{team_self.bio|truncate:140}}
    %td.text-center
      {{team_self.activity_total | dollars}}


  %tr{ "ng-repeat"=>"team in teams" }
    %td{ "style"=>"width:100px; padding-right:10px" }
      %a{ "ng-href"=>"/teams/{{team.slug}}" }
        %img.img-circle.img-responsive{ "ng-src"=>"{{team.image_url_small}}" }
    %td
      %h4
        %a{ "ng-href"=>"/teams/{{team.slug}}" } {{team.name}}
      %p {{team.bio|truncate:140}}
    %td.text-center
      {{team.activity_total | dollars}}
