<div class="team-header" style="padding: 25px 0 15px;">
  <div class="container">
    <div class="row display-flex vertical-align-middle">
      <div class="col-xs-3 col-sm-2">
        <img ng-src="<%= asset_path("bountysource-grey.png") %>" class="img-circle img-responsive center-block" style="background: white; max-width: 110px;" />
      </div>
      <div class="col-xs-9">
        <h1 class="font-weight-medium m-0">Add Team</h1>
        <p>Please add your team(s) to Bountysource.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h3 class="mb-4">Create New Team</h3>
      
      <team-form></team-form>
      
    </div>
    <div class="col-md-4 col-xs-12">
      <div ng-show="(teams | filter:({is_member:true})).length > 0">
        <h3 class="mb-4">Your Teams</h3>
        <div class="">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12" ng-repeat="team in teams | filter:({is_member:true})">
              <a class="thumbnail text-center team-member-card text-gunmetal" ng-href="/teams/{{team.slug}}">
                <div class="row display-flex p-4 vertical-align-middle">
                  <div class="col-xs-4">
                    <img ng-src="{{team.image_url_medium}}" class="img-responsive img-circle" />
                  </div>
                  <div class="col-xs-8">
                    <span class="font-weight-semibold">{{team.name}}</span>  
                  </div>
                </div>                  
              </a>
            </div>
          </div>
        </div>
      </div>

      <h3 class="mb-4">Suggested Teams</h3>
      <div>
        <div ng-show="!loading_teams && (teams | filter:({is_member:false})).length === 0">
          No teams found. If you think your team should be here, please contact <a href="mailto:support@bountysource.com">support@bountysource.com</a>.
        </div>

        <div ng-show="(teams | filter:({is_member:false})).length > 0">
          <div class="form-group">
            <div class="row">
              <div class="col-xs-4 col-sm-2" ng-repeat="team in teams | filter:({is_member:false})">
                <a class="thumbnail text-center team-member-card text-gunmetal" ng-click="claim_team(team)">
                  <div class="row display-flex p-4 vertical-align-middle">
                    <div class="col-xs-4">
                      <img ng-src="{{team.image_url_medium}}" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-8">
                      <span class="font-weight-semibold">{{team.name}}</span>  
                    </div>
                  </div>                  
                </a>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="loading_teams" class="text-center">
          <br/>
          <strong>Looking for more teams... this can take up to a minute.</strong>
          <div style="width:200px; margin: 5px auto;">
            <div class="progress active"><div class="progress-bar progress-bar-aquamarine" style="width: 100%"></div></div>
          </div>
        </div>

        <div ng-show="!current_person.github_account">
          <br/>
          <p>We can provide more suggestions if you link your GitHub Account.</p>
          <a ng-click="link_with_github()" class="btn btn-light-blue btn-long">Link GitHub Account</a>
        </div>
      </div>


      

    </div>
  </div>
</div>