%div{"ng-controller" => "TeamHomeController"}
  %div{:team => "team", "team-view" => ""}
    .row
      %div{ "ng-class"=>"{ 'col-md-9': show_right_column, 'col-md-12': !show_right_column}" }

        %div{ "ng-if"=>"!is_admin" }
          %target-blank{ "model"=>"team.homepage_markdown" }
            .markdown.markdown-small-headers{"btf-markdown" => "team.homepage_markdown"}

        %div{ "ng-if"=>"is_admin" }
          .inline-form-editor-content{ "ng-show"=>"!form_data.editing_description && team.homepage_markdown" }
            %a.btn.btn-sm.btn-light-blue{ "ng-click"=>"form_data.start_editing()", "class"=>"markdown-hover-edit-link" }
              %span.glyphicon.glyphicon-cog
              Edit
            %target-blank{ "model"=>"team.homepage_markdown" }
              .markdown.markdown-small-headers{"btf-markdown" => "team.homepage_markdown"}

          .inline-form-editor-default{ "ng-click"=>"form_data.start_editing();", "ng-hide"=>"team.homepage_markdown || form_data.editing_description" }
            %target-blank{ "model"=>"team.homepage_markdown" }
              .markdown.markdown-small-headers{"btf-markdown" => "team.homepage_markdown||form_data.default_markdown"}

          .inline-form-editor{ "ng-show"=>"form_data.editing_description" }
            %form{:name => "form", "ng-submit" => "form_data.submit_form()"}
              .alert.alert-danger{"ng-show" => "error"}
              .form-group
                .row
                  %div{ "ng-class"=>"{ 'col-md-12': !markdown_side_by_side, 'col-md-6': markdown_side_by_side }", "style"=>"margin-bottom:10px"}
                    %h3{:for => "body_markdown"} Markdown
                    %textarea#body_markdown.form-control{"msd-elastic" => "", "ng-model" => "form_data.homepage_markdown", :placeholder => "Markdown", :style => "min-height:100px"}
                  %div{ "ng-class"=>"{ 'col-md-12': !markdown_side_by_side, 'col-md-6': markdown_side_by_side }"}
                    %a.pull-right{ "ng-click"=> "markdown_side_by_side=!markdown_side_by_side" }
                      %span.glyphicon.glyphicon-resize-small{ "ng-show"=>"!markdown_side_by_side"}
                      %span.glyphicon.glyphicon-resize-full{ "ng-show"=>"markdown_side_by_side"}

                    %h3 Preview
                    %target-blank{:model => "edit_markdown_preview"}
                      .markdown.markdown-small-headers{"btf-markdown" => "edit_markdown_preview", :style => "min-height:100px"}
                %button.btn.btn-light-blue.btn-long{"ng-disabled" => "saving_form", :type => "submit"}
                  %span{"ng-show" => "saving_form"} Saving...
                  %span{"ng-hide" => "saving_form"} Update
                %a.btn.btn-default{"ng-click"=>"form_data.cancel_editing()", "ng-hide"=>"saving_form"} Cancel

        %h3{"ng-show" => "events.length > 0"} Recent Activity
        %timeline{:events => "events"}

      -# only show bounty sidebar if the team has created bounties
      .col-md-3{ "ng-show"=>"show_right_column" }
        %h3.mt-0.fw-b We Backed
        .text-center{ "style"=>"padding:5px" }
          %div{ "style"=>"float: left; padding-top:5px; padding-bottom:5px; width:50%", "ng-if"=>"team.open_bounties_amount>0"}
            %div{ "style"=>"font-size:22px; font-weight: bold" }
              %a{ "ng-href"=>"/teams/{{team.slug}}/bounties", "style"=>"color:#333" } {{team.open_bounties_amount | dollars}}
            .text-muted active bounties
          %div{ "style"=>"float: left; padding-top:5px; padding-bottom:5px; width:50%", "ng-if"=>"team.closed_bounties_amount>0" }
            %div{ "style"=>"font-size:22px; font-weight: bold" }
              %a{ "ng-href"=>"/teams/{{team.slug}}/bounties", "style"=>"color:#333" } {{team.closed_bounties_amount | dollars}}
            .text-muted paid bounties
          %div{ "style"=>"float: left; padding-top:5px; padding-bottom:5px; width:50%", "ng-if"=>"team.open_issues_count>0" }
            %div{ "style"=>"font-size:22px; font-weight: bold" }
              %a{ "ng-href"=>"/teams/{{team.slug}}/bounties", "style"=>"color:#333" } {{team.open_issues_count}}
            .text-muted{ "ng-show"=>"team.open_issues_count==1" } active bounty
            .text-muted{ "ng-hide"=>"team.open_issues_count==1" } active bounties
          %div{ "style"=>"float: left; padding-top:5px; padding-bottom:5px; width:50%", "ng-if"=>"team.bounty_hunter_count>0 "}
            %div{ "style"=>"font-size:22px; font-weight: bold" } {{team.bounty_hunter_count}}
            .text-muted
            .text-muted{ "ng-show"=>"team.bounty_hunter_count==1" } bounty hunter
            .text-muted{ "ng-hide"=>"team.bounty_hunter_count==1" } bounty hunters
          %div{ "style"=>"clear: left" }

        %div{ "ng-show"=>"bounty_hunters_for_team.length>0" }
          %h3 Bounty Hunters
          %div{ "ng-repeat"=>"person in bounty_hunters_for_team", "ng-show"=>"$index < 5 || show_all_hunters" }
            %a{ "ng-href"=>"/people/{{person.slug}}", "style"=>"float: left" }
              %img.img-responsive.img-circle{ "ng-src"=>"{{person.image_url_small}}", "style"=>"width:50px; height: 50px; margin-right:10px; margin-bottom: 10px" }
            %a.text-gunmetal.font-weight-semibold{ "ng-href"=>"/people/{{person.slug}}" } {{person.display_name}}
            %br
            %div{ "ng-show"=>"person.bounty_claim_total>0"} {{person.bounty_claim_total | dollars}}
            %div{"style"=>"clear:left"}

          %a{ "ng-click"=>"show_all_hunters = true", "ng-hide"=>"bounty_hunters_for_team.length <= 5 || show_all_hunters" }
            See {{bounty_hunters_for_team.length - 5}} More

        %div{ "ng-show"=>"bounty_summary.length>0"}
          %h3 Bounties
          %div{ "ng-repeat"=>"summary in bounty_summary", "style"=>"margin-bottom: 15px", "ng-show"=>"$index < 5 || show_all_bounty_summary"}
            %img.img-responsive.img-circle{ "ng-src"=>"{{summary.team.image_url_small || summary.tracker.image_url_small}}", "style"=>"width:40px; height:40px; float: left"}
            %div{ "style"=>"margin-left:50px"}
              %div{ "style"=>"margin:0; font-size: 16px; font-weight: bold" }
                %a.text-gunmetal.font-weight-semibold{ "owner-href"=>"summary.team||summary.tracker", "style" => "word-wrap: break-word"} {{summary.team.name || summary.tracker.display_name}}
              %div{ "ng-show"=>"summary.active>0"} {{summary.active | dollars}} active
              %div{ "ng-show"=>"summary.paid>0"} {{summary.paid | dollars}} paid
              %div{ "style"=>"clear:left"}
          %a{ "ng-click"=>"show_all_bounty_summary = true", "ng-hide"=>"bounty_summary.length <= 5 || show_all_bounty_summary" }
            See {{bounty_summary.length - 5}} More