<div ng-controller="TeamUpdatesController">
  <div team-view team="team">
    <div class="" ng-show="updates.length <= 0">
      No updates have been published.
    </div>

    <!-- List published updates -->
    <div ng-repeat="update in updates">
      <h3 ><a class="text-gunmetal font-weight-semibold" ng-href="/teams/{{team.slug}}/updates/{{update.slug}}">{{update.title}}</a></h3>
      <div class="text-muted">
        <span>Published {{update.published_at | date}}</span>
      </div>
      
      <div class="markdown markdown-small-headers mt-4">
        <div btf-markdown="update.body"></div>
      </div>
      <div ng-if="$index != updates.length">
        <br />
        <hr />
      </div>


    </div>
  </div>
</div>
