<div ng-controller="BountyClaimsController">
  <div ng-include="'pages/issues/templates/breadcrumb.html'"></div>

  <div class="row" ng-show="issue">
    <div class="col-sm-9 col-md-9">
      <div ng-include="'pages/issues/templates/header.html'"></div>
      <div ng-include="'pages/issues/templates/developer_goals_notification.html'"></div>
      <div ng-include="'pages/issues/templates/nav_tabs.html'"></div>

      <!-- Massive form for a new claim if there aren't any yet -->
      <div class="jumbotron" ng-show="issue.bounty_claims.length <= 0">
        <h2 style="margin-top: 0;">Claim the Bounty!</h2>
        <form class="form-horizontal" name="form_data" ng-submit="bounty_claim_submit()">
          <p>
            If your claim goes undisputed for two weeks, you will be awarded the {{issue.bounty_total | dollars}} bounty.
            If your solution is unanimously accepted by the backers of the issue, you will instead be awarded the bounty immediately.
          </p>
          <div class="form-group">
            <label class="control-label" for="code_url">Code URL</label>
            <div class="controls">
              <input class="span12 form-control" id="code_url" name="code_url" type="url" ng-model="new_bounty_claim.code_url" placeholder="The URL to your solution. For example, a pull request on GitHub">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
              <textarea class="span12" id="description" name="description" ng-model="new_bounty_claim.description" rows="3" placeholder="A description of how you resolved the issue."></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary" ng-disabled="!new_bounty_claim.code_url && !new_bounty_claim.description">Claim the Bounty</button>
            </div>
          </div>
        </form>
      </div>

      <!-- Submit bounty claim form -->
      <div collapse="!show_new_claim_form">
        <div class="well" ng-hide="issue.my_bounty_claim || issue.winning_bounty_claim">
          <form class="form-horizontal" name="form_data" ng-submit="bounty_claim_submit()">
            <p>
              If your claim goes undisputed for two weeks, you will be awarded the {{issue.bounty_total | dollars}} bounty.
              If your solution is unanimously accepted by the backers of the issue, you will instead be awarded the bounty immediately.
            </p>
            <div class="form-group">
              <label class="control-label" for="code_url">Code URL</label>
              <div class="controls">
                <input class="span12 form-control" id="code_url" name="code_url" type="url" ng-model="new_bounty_claim.code_url" placeholder="The URL to your solution. For example, a pull request on GitHub">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="description">Description</label>
              <div class="controls">
                <textarea class="span12" id="description" name="description" ng-model="new_bounty_claim.description" rows="3" placeholder="A description of how you resolved the issue."></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary" ng-disabled="!new_bounty_claim.code_url && !new_bounty_claim.description">Claim the Bounty</button>
                <button type="submit" class="btn btn-default" ng-click="show_new_claim_form = false">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- No column on the left. Table for when a claim is accepted, or if person cannot respond to claims. -->
      <div ng-show="issue.winning_bounty_claim">
        <claim-content claim="issue.winning_bounty_claim" issue="issue"></claim-content>
      </div>

      <!-- No claim accepted, cannot respond to claims. No left column -->
      <div ng-show="!issue.winning_bounty_claim && !can_respond_to_claims" ng-repeat="claim in issue.bounty_claims | orderBy:['-collected', '-created_at']" style="margin-bottom: 25px;">
        <claim-content claim="claim" issue="issue"></claim-content>
      </div>

      <!-- No claim accepted, CAN respond to claims. Accept/Reject buttons in left column -->
      <div ng-show="!issue.winning_bounty_claim && can_respond_to_claims" class="row" ng-repeat="claim in issue.bounty_claims | orderBy:['-collected', '-created_at']" style="margin-bottom: 25px;">
        <!-- Accept/Reject buttons -->
        <div class="text-center col-sm-3 col-md-3">
          <div style="padding: 15px;" ng-class="{ 'alert alert-info': (claim.$my_response == null), 'alert alert-success': (claim.$my_response == true), 'alert alert-error': (claim.$my_response == false && claim.$my_response != null) }">
            <!-- You accepted this claim -->
            <div ng-show="claim.$my_response == true">
              <h4 style="margin-bottom: 10px;">Claim Accepted</h4>
              <p>You <strong>accepted</strong> this claim as the winner of the bounty.</p>
              <button ng-click="claim.reset()" class="btn btn-block btn-default">Reset Vote</button>
            </div>

            <!-- You rejected this claim -->
            <div ng-show="claim.$my_response == false && claim.$my_response != null">
              <h4 style="margin-bottom: 10px;">Claim Rejected</h4>
              <p>You <strong>rejected</strong> this claim.</p>
              <p><a ng-href="/people/{{claim.person.slug}}">{{claim.person.display_name}}</a> cannot claim the bounty unless you <strong>resolve your dispute</strong>.</p>
              <button class="btn btn-block btn-success" ng-class="{ active: (claim.showing_resolve_form) }" ng-click="show_claim_form('resolve')"><i class="icon-thumbs-up"></i> Resolve Dispute</button>
            </div>

            <!-- You have not voted on this claim -->
            <div ng-show="claim.$my_response == null">
              <h4 style="margin-bottom: 10px;">Response Needed</h4>
              <p><strong class="text-success">Accept</strong> this claim to expedite payout.</p>
              <p><strong class="text-error">Reject</strong> this claim if it does not resolve the issue.</p>
              <button class="btn btn-block btn-success" ng-class="{ active: (claim.showing_accept_form) }" ng-click="show_claim_form('accept')"><i class="icon-thumbs-up"></i> Accept</button>
              <button class="btn btn-block btn-danger" ng-class="{ active: (claim.showing_dispute_form) }" ng-click="show_claim_form('dispute')"><i class="icon-thumbs-down"></i> Reject</button>
            </div>
          </div>
        </div>

        <div class="col-sm-9 col-md-9">
          <!-- Submit rejection form -->
          <div collapse="!claim.showing_dispute_form">
            <div class="alert alert-danger">
              <p>Why are you rejecting this claim?</p>
              <form style="margin-bottom: 0">
                <textarea ng-model="claim.new_dispute.description" style="width: 100%;" rows="3" placeholder="Another developer deserves this bounty."></textarea>
                <button class="btn btn-danger" ng-click="claim.submit_reject()"><i class="icon-thumbs-down"></i> Reject claim</button>
                <button class="btn btn-default" ng-click="claim.showing_dispute_form = false">Cancel</button>
              </form>
            </div>
          </div>

          <!-- Resolve dispute form -->
          <div collapse="!claim.showing_resolve_form">
            <div class="alert alert-success">
              <p>How was your dispute resolved?</p>
              <form style="margin-bottom: 0">
                <textarea ng-model="claim.new_resolve.description" style="width: 100%;" rows="3" placeholder="{{claim.person.display_name}} addressed my concerns, thanks!"></textarea>
                <button class="btn btn-success" ng-click="claim.resolve()"><i class="icon-thumbs-up"></i> Resolve Dispute</button>
                <button class="btn btn-default" ng-click="claim.showing_resolve_form = false">Cancel</button>
              </form>
            </div>
          </div>

          <!-- Accept solution form -->
          <div collapse="!claim.showing_accept_form">
            <div class="alert alert-success">
              <p>You are accepting {{claim.person.display_name}}'s solution as the winner of the {{issue.bounty_total | dollars}} bounty. Have anything to say to them?</p>
              <form style="margin-bottom: 0">
                <textarea ng-model="claim.new_accept.description" style="width: 100%;" rows="3" placeholder="You did a great job {{claim.person.display_name}}, thanks for the fix!"></textarea>
                <button class="btn btn-success" ng-click="claim.accept()"><i class="icon-thumbs-up"></i> Accept</button>
                <button class="btn btn-default" ng-click="claim.showing_accept_form = false">Cancel</button>
              </form>
            </div>
          </div>

          <!-- Main claim content -->
          <claim-content claim="claim" issue="issue"></claim-content>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-md-3">
      <div ng-include="'pages/issues/templates/bounty_box.html'"></div>
      <div ng-include="'pages/issues/templates/claim_info_box.html'"></div>
    </div>
  </div>
</div>