<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a ng-href="/trackers/{{issue.tracker.slug}}">{{issue.tracker.name || 'Loading...'}}</a><span class="divider">»</span></li>
  <li><a ng-href="/issues/{{issue.slug}}">{{issue.title ||'Loading...'}}</a></li>
</ul>

<div class="row-fluid" ng-show="issue">
  <div class="span9">
    <div ng-include="'pages/issues/partials/header.html'"></div>
    <div ng-include="'pages/issues/partials/nav_tabs.html'"></div>
    <div ng-include="'pages/issues/partials/my_solution_box.html'"></div>

    <div id="solutions-table" ng-show="issue.solutions.length > 0">
      <table id="bounties-table" class="table table-bordered">
        <thead>
        <tr>
          <th style="width: 15%;">Developer</th>
          <th>Submission Notes</th>
          <th style="width: 25%; text-align: center;">Status</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="solution in issue.solutions | orderBy:['-accepted','-in_dispute_period','+disputed','-submitted_at','-submitted','-created_at']">
          <!--Developer-->
          <td>
            <div class="text-center">
              <a class="thumbnail text-center" ng-href="/people/{{solution.person.slug}}">
                <img ng-src="{{ solution.person.image_url }}" />
              </a>
            </div>
          </td>

          <td>
            <!--Collapsed dispute create form form-->
            <div ng-show="solution.submitted" collapse="!solution.$show_dispute">
              <div ng-show="solution.$dispute_error">
                <div class="alert alert-error">{{solution.$dispute_error}}</div>
              </div>

              <div>
                <p><strong>File a dispute: </strong>This solution will not be accepted if there are any outstanding disputes. For more info about disputes, refer to the FAQ.</p>
                <form class="form" name="dispute" style="margin: 0;">
                  <textarea required name="body" class="span12" rows="3" placeholder="Description of why this solution does not resolve the issue." ng-model="solution.new_dispute.body"></textarea>
                  <button ng-disabled="dispute.$invalid" class="btn btn-danger" ng-click="solution.dispute()">File Dispute</button>
                </form>
              </div>
              <br />
            </div>

            <div class="text-info" ng-show="solution.$status == 'started'">
              <strong>{{solution.person.display_name}} started working on a solution</strong>
              <div><small>started on {{solution.created_at | date:'medium'}}</small></div>
            </div>

            <div class="text-success" ng-show="solution.$status == 'pending_merge' || solution.$status == 'in_dispute_period' || solution.$status == 'accepted' || solution.$status == 'paid_out'">
              <strong>{{solution.person.display_name}}'s solution</strong>
              <div><small>submitted {{solution.submitted_at | date:'medium'}}</small></div>
              <p style="white-space: pre-wrap; margin: 0;">{{solution.body}}</p>
            </div>

            <div class="text-warning" ng-show="solution.$status == 'disputed'">
              <strong>{{solution.person.display_name}}'s solution</strong>
              <div><small>submitted {{solution.submitted_at | date:'medium'}}</small></div>
              <p style="white-space: pre-wrap; margin: 0;">{{solution.body}}</p>
            </div>

            <div class="text-error" ng-show="solution.$status == 'rejected'">
              <strong>{{solution.person.display_name}}'s solution</strong>
              <div ng-show="solution.submitted"><small>submitted {{solution.submitted_at | date:'medium'}}</small></div>
              <p style="white-space: pre-wrap; margin: 0;">{{solution.body}}</p>
            </div>

            <br />

            <!--Show the disputes-->
            <accordion close-others="false" style="margin: 0;">
              <accordion-group ng-repeat="dispute in solution.disputes | orderBy:['+closed','-number']" is-open="!dispute.closed">
                <accordion-heading>
                  <span ng-class="{ 'text-info': dispute.closed, 'text-error': !dispute.closed }">Dispute #{{dispute.number}}</span>
                    <div ng-hide="dispute.closed" class="pull-right"><small>filed by <a ng-href="/people/{{dispute.person.slug}}">{{dispute.person.display_name}}</a> on {{dispute.created_at | date}}</small></div>
                  <div ng-show="dispute.closed" class="pull-right"><small>resolved by <a ng-href="/people/{{dispute.person.slug}}">{{dispute.person.display_name}}</a> on {{dispute.created_at | date}}</small></div>
                </accordion-heading>

                <div class="row-fluid">
                  <div class="span6">
                    <p style="white-space: pre-wrap;">{{dispute.body}}</p>
                  </div>
                  <div class="span6">

                    <div ng-show="!solution.my_dispute.closed && solution.my_dispute.id == dispute.id">
                      <p class="text-success text-center">Resolve your dispute to allow this solution to be accepted.</p>
                      <button ng-click="dispute.resolve()" class="btn btn-block btn-small btn-success">
                        <i class="icon-check icon-white"></i>
                        Resolve
                      </button>
                      <br />
                    </div>

                    <div ng-hide="dispute.closed">
                      <p class="text-center">Join the discussion to help resolve this dispute.</p>
                      <a ng-href="{{issue.url}}" target="_blank" class="btn btn-block btn-small">
                        <i class="icon-comment"></i>
                        Discussion
                      </a>
                    </div>

                    <div ng-show="dispute.closed">
                      <p class="text-info text-center">This dispute has been resolved.</p>
                    </div>
                  </div>
                </div>
              </accordion-group>
            </accordion>
          </td>

          <td>
            <!--Solution Progress-->
            <div class="text-center">
              <h5>
                <a ng-click="solution.$toggle_show_status_description()" style="text-decoration: none;">
                  <span ng-switch="solution.$status">
                    <span ng-switch-when="started" class="text-info">Started Work</span>
                    <span ng-switch-when="pending_merge" class="text-info">Submitted</span>
                    <span ng-switch-when="in_dispute_period" class="text-info">Pending Acceptance</span>
                    <span ng-switch-when="disputed" class="text-warning">Disputed</span>
                    <span ng-switch-when="rejected" class="text-error">Rejected</span>
                    <span ng-switch-when="accepted" class="text-success">Accepted</span>
                    <span ng-switch-when="paid_out" class="text-success">Accepted</span>
                  </span>
                  <i class="icon-question-sign"></i>
                </a>
              </h5>

              <!--collapsible status description-->
              <div collapse="!solution.$show_status_description">
                <div ng-switch="solution.$status" >
                  <p ng-switch-when="started">The developer has declared that they are working on a solution.</p>
                  <p ng-switch-when="pending_merge">Waiting for the issue to be closed and for the project committer(s) to merge the code.</p>
                  <p ng-switch-when="in_dispute_period">The solution was merged, and is in a dispute period until {{solution.dispute_period_end_date | date}}</p>
                  <p ng-switch-when="disputed">The solution has been disputed by one of the backers.</p>
                  <p ng-switch-when="rejected">The solution was rejected by the project.</p>
                  <p ng-switch-when="accepted">The solution was accepted!</p>
                  <p ng-switch-when="paid_out">The solution was accepted!</p>
                </div>
              </div>

              <!--Sexy progress bars-->
              <div ng-switch="solution.$status" >
                <div ng-switch-when="disputed"><progress value="solution.$percentage" class="progress-warning"></progress></div>
                <div ng-switch-when="rejected"><!--NOTHINGGGG--></div>
                <div ng-switch-when="accepted"><!--NOTHINGGGG--></div>
                <div ng-switch-when="paid_out"><!--NOTHINGGGG--></div>
                <div ng-switch-default><progress value="solution.$percentage" class="progress-info"></progress></div>
              </div>
            </div>

            <!--Show solution, Dispute buttonz-->
            <button ng-hide="solution.submitted" class="btn btn-small btn-block" disabled>
              <i class="icon-globe"></i>
              View Solution
            </button>
            <a ng-show="solution.submitted" class="btn btn-small btn-block" ng-href="{{solution.code_url}}" target="_blank">
              <i class="icon-globe"></i>
              View Solution
            </a>
            <button ng-click-require-auth ng-model="solution.$show_dispute" class="btn btn-small btn-block btn-danger" ng-hide="solution.rejected || solution.accepted || (solution.my_dispute && !solution.my_dispute.closed) || solution.person.id == current_person.id || !solution.in_dispute_period" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" >
              <i class="icon-ban-circle icon-white"></i>
              Dispute
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="span3">
    <div ng-include="'pages/issues/partials/bounty_box.html'"></div>
    <div ng-include="'pages/issues/partials/developer_box.html'"></div>
  </div>
</div>
