<div id="infobox-wrapper">
  <div class="well">
    <div><img class="img-responsive img-rounded" ng-src="{{person.large_image_url}}"></div>

    <div ng-show="person.url || person.public_email">
      <br>
      <a ng-show="person.url" class="btn btn-block btn-default" ng-href="{{person.url}}"><i class="glyphicon glyphicon-globe"></i> {{person.url | cleanUrl | truncate:25}}</a>
      <a ng-show="person.public_email" class="btn btn-block btn-default" ng-href="mailto:{{person.public_email}}"><i class="glyphicon glyphicon-envelope"></i> {{person.public_email | truncate:25}}</a>
    </div>
  </div>

  <div ng-show="person.company || person.location || person.github_account || person.twitter_account || person.facebook_account || teams.length > 0" class="well">
    <div class="row" ng-show="person.company">
      <div class="col-sm-4 col-md-4">
        <strong>Company</strong>
      </div>
      <div class="col-md-offset-1 col-sm-offset-1 col-sm-7 col-md-7">
        <p class="text-left">{{person.company}}</p>
      </div>
    </div>

    <div class="row" ng-show="person.location">
      <div class="col-sm-4 col-md-4">
        <strong>Location</strong>
      </div>
      <div class="col-md-offset-1 col-sm-offset-1 col-sm-7 col-md-7">
        <p class="text-left">{{person.location}}</p>
      </div>
    </div>

    <div class="row" ng-show="person.github_account || person.twitter_account || person.facebook_account">
      <div class="col-sm-4 col-md-4 text-right">
        <strong>Linked</strong>
        <strong>Accounts</strong>
      </div>
      <div class="col-md-offset-1 col-sm-offset-1 col-sm-7 col-md-7 text-left">
        <ul style="padding-left:0px; margin:0px;">
          <li class="provider-link" ng-show="person.github_account">
            <a ng-href="http://github.com/{{person.github_account.display_name}}" target="_blank"><img src="images/favicon-github.png"> <span>{{person.github_account.display_name}}</span></a>
          </li>
          <li class="provider-link" ng-show="person.twitter_account">
            <a ng-href="http://twitter.com/{{person.twitter_account.display_name}}"><img src="images/favicon-twitter.png"> <span>{{person.twitter_account.display_name}}</span></a>
          </li>
          <li class="provider-link" ng-show="person.facebook_account">
            <a ng-href="http://facebook.com/profile.php?id={{person.facebook_account.uid}}"><img src="images/favicon-facebook.png"> <span>{{person.facebook_account.display_name}}</span></a>
          </li>
          <!--<li class="provider-link" ng-show="person.gittip_account">-->
          <!--<a href="http://gittip.com/"><img src="images/favicon-gittip.png"> <span>{{person.gittip_account.login}}</span></a>-->
          <!--</li>-->
        </ul>
      </div>
    </div>

    <!-- Hacky. add line break only if linked accounts shown -->
    <div ng-show="teams.length > 0 && (person.github_account || person.twitter_account || person.facebook_account)">
      <br>
    </div>

    <div class="row" ng-show="teams.length > 0">
      <div class="col-sm-4 col-md-4 text-right">
        <strong>Teams</strong>
      </div>
      <div class="col-md-offset-1 col-sm-offset-1 col-sm-7 col-md-7">
        <ul style="padding-left:0px; margin:0px;">
          <li class="provider-link" ng-repeat="team in teams | orderBy:'-added_at'">
            <a ng-href="/teams/{{team.slug}}"><img ng-src="{{team.image_url}}" style="width: 16px; height: 16px;"> {{team.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-show="current_person.id == person.id" class="text-center">
    <a href="/settings" class="btn btn-primary">Edit Your Profile</a>
  </div>
</div>
