<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a href="/fundraisers">Fundraisers</a><span class="divider">»</span></li>
  <li><a>New Fundraiser</a></li>
</ul>

<form name="create_form">
  <div class="row-fluid" ng-controller="FundraiserShowController">
    <div class="span9">
      <alert ng-repeat="alert in alerts" type="alert.type" close="close_alert($index)">{{alert.msg}}</alert>

      <div ng-include="'pages/fundraisers/partials/header_inputs.html'"></div>
      <div ng-include="'pages/fundraisers/partials/description_input.html'"></div>
    </div>

    <div class="span3">
      <div class="well well-large">
        <button ng-click="create()" class="btn btn-large btn-block btn-success">Create Fundraiser</button>
      </div>
    </div>
  </div>
</form>