<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a href="/fundraisers">Fundraisers</a><span class="divider">»</span></li>
  <li>
    <a ng-show="fundraiser" href="/fundraisers/{{fundraiser.id}}">{{fundraiser.title}}</a>
    <a ng-hide="fundraiser">Loading...</a>
    <span class="divider">»</span>
  </li>
  <li><a>Edit</a></li>
</ul>

<div class="row-fluid">
  <div class="span8">
    <alert ng-repeat="alert in alerts" type="alert.type" close="close_alert($index)">{{alert.msg}}</alert>

    <div class="alert alert-info">
      <p><strong>Note:</strong> This fundraiser is now in edit mode.</p>
      <button ng-click="cancel_all()" class="btn">Cancel</button>
      <button ng-click="save_all()" class="btn btn-primary">Save</button>
    </div>

    <div ng-include="'pages/fundraisers/partials/header_inputs.html'"></div>

    <div class="muted" ng-show="fundraiser">A fundraiser by <a href="/people/{{ fundraiser.person.slug }}">{{ fundraiser.person.display_name }}</a></div>
    <hr />

    <div ng-include="'pages/fundraisers/partials/description_input.html'"></div>
  </div>

  <div class="span4">

  </div>
</div>
