<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a href="/fundraisers">Fundraisers</a><span class="divider">»</span></li>
  <li><a href="/fundraisers/{{fundraiser.id}}">{{ fundraiser.title || 'Loading...' }}</a><span class="divider">»</span></li>
  <li><a>Edit</a></li>
</ul>

<div class="row-fluid">
  <div class="span9">
    <alert ng-repeat="alert in alerts" type="alert.type" close="close_alert($index)">{{alert.msg}}</alert>



    <div ng-include="'pages/fundraisers/partials/header_inputs.html'"></div>

    <div class="muted" ng-show="fundraiser">A fundraiser by <a href="/people/{{ fundraiser.person.slug }}">{{ fundraiser.person.display_name }}</a></div>
    <hr />

    <div ng-include="'pages/fundraisers/partials/description_input.html'"></div>
  </div>

  <div class="span3">
    <div class="well well-large">
      <button ng-click="save_all()" class="btn btn-primary btn-large btn-block">Save</button>
      <button ng-click="cancel_all()" class="btn btn-large btn-block">Cancel</button>
    </div>

    <div ng-show="fundraiser.rewards.length > 0" ng-include="'pages/fundraisers/partials/rewards.html'"></div>
  </div>
</div>
