<div ng-controller="FundraiserPledgesController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a><span class="divider">»</span></li>
    <li><a href="/fundraisers">Fundraisers</a><span class="divider">»</span></li>
    <li><a ng-href="/fundraisers/{{ fundraiser.id }}">{{ fundraiser.title || 'Loading...' }}</a><span class="divider">»</span></li>
    <li><a>Backers</a></li>
  </ul>

  <form class="form" ng-show="fundraiser">
    <div ng-include="'pages/fundraisers/templates/header.html'"></div>
    <div ng-include="'pages/fundraisers/templates/nav_tabs.html'"></div>

    <div class="row-fluid">
      <div class="span3">
        <div ng-include="'pages/fundraisers/templates/left_column.html'"></div>
      </div>

      <div class="span9">
        <div class="alert alert-info" ng-show="pledges.length <= 0">No pledges have been made. <a ng-href="/fundraisers/{{fundraiser.slug}}/pledge">Why don't you make the first pledge?</a></div>

        <loading-bar ng-hide="pledges">Loading...</loading-bar>

        <table ng-show="pledges && pledges.length > 0" class="table table-striped pledges-table">
          <thead>
          <tr>
            <th><a ng-click="sort_by('person.display_name')">Backer</a></th>
            <th></th>
            <th><a ng-click="sort_by('amount')">Amount</a></th>
            <th><a ng-click="sort_by('created_at')">Date</a></th>
          </tr>
          </thead>
          <tr ng-repeat="pledge in pledges | orderBy:sort_column:sort_reverse">
            <!--Profile picture. No link if anon-->
            <td style="width:70px">
              <div ng-show="pledge.owner">
                <a owner-href="pledge.owner">
                  <img class="thumbnail" ng-src="{{ pledge.owner.image_url }}" />
                </a>
              </div>
              <img ng-hide="pledge.owner" class="thumbnail" src="images/anon.jpg" />
            </td>

            <td>
              <a ng-show="pledge.owner" owner-href="pledge.owner">{{pledge.owner.display_name}}</a>
              <div ng-hide="pledge.owner" class="muted">Anonymous</div>
            </td>

            <td>
              <div>{{ pledge.amount | dollars }}</div>
            </td>

            <td>
              <div class="muted">{{ pledge.created_at | date }}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>

