<div ng-controller="FundraisersController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a><span class="divider">»</span></li>
    <li><a href="/fundraisers">Fundraisers</a><span class="divider">»</span></li>
    <li><a href="/fundraisers/{{ fundraiser.id }}">{{ fundraiser.title || 'Loading...' }}</a><span class="divider">»</span></li>
    <li><a>Rewards</a></li>
  </ul>

  <form class="form" ng-show="fundraiser">
    <div class="row-fluid">
      <div class="span9">
        <div ng-include="'pages/fundraisers/partials/header.html'"></div>

        <ul class="nav nav-tabs">
          <li><a ng-href="/fundraisers/{{ fundraiser.slug }}">Overview</a></li>
          <li><a ng-href="/fundraisers/{{ fundraiser.slug }}/updates">
            Updates
            <span ng-show="fundraiser.updates.length > 0" class="badge badge-info">{{fundraiser.updates.length | number:0}}</span>
          </a></li>
          <li><a ng-href="/fundraisers/{{ fundraiser.slug }}/pledges">
            Pledges
            <span ng-show="fundraiser.pledge_count > 0" class="badge badge-info">{{fundraiser.pledge_count | number:0}}</span>
          </a></li>
          <li class="active" ng-show="fundraiser.can_manage"><a ng-href="/fundraisers/{{ fundraiser.slug }}/rewards">
            <i class="icon-lock"></i>
            Reward Stats
          </a></li>
          <li><a ng-href="/fundraisers/{{ fundraiser.slug }}/pledge">Pledge Now</a></li>
        </ul>

        <div class="hero-unit">
          <h2>Reward Stats</h2>
          <p>This is a collection of all of the pledges made to your fundraiser. For rewards that require extra information, such as a mailing address, the backers' responses will be shown here.</p>
        </div>

        <div ng-repeat="reward in rewards">
          <h3 ng-show="reward.amount > 0">${{ reward.amount | number:0 }} Reward</h3>
          <h3 ng-hide="reward.amount > 0">No Reward</h3>

          <p style="white-space: pre-wrap;">{{reward.description}}</p>

          <table id="pledges-table" ng-show="reward.pledges.length > 0" class="table table-striped">
            <tr ng-repeat="pledge in reward.pledges">
              <td style="width:70px;">
                <a ng-show="pledge.person" ng-href="/people/{{pledge.person.slug}}"><img class="thumbnail" src="{{ pledge.person.image_url }}" /></a>
                <img ng-hide="pledge.person" class="thumbnail" src="images/anon.jpg" />
              </td>

              <td>
                <a ng-show="pledge.person" href="/people/{{ pledge.person.slug }}">{{ pledge.person.display_name }}</a>
                <div ng-hide="pledge.person" class="muted">Anonymous</div>
              </td>

              <td>

              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="span3">
        <div ng-include="'pages/fundraisers/partials/manage.html'"></div>
        <div ng-include="'pages/fundraisers/partials/about_me.html'"></div>
        <div ng-include="'pages/fundraisers/partials/progress_small.html'"></div>
        <div ng-include="'pages/fundraisers/partials/pledge_button.html'"></div>
      </div>
    </div>
  </form>

</div>
