<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a href="/fundraisers">Fundraisers</a><span class="divider">»</span></li>
  <li><a href="/fundraisers/{{fundraiser.id}}">{{ fundraiser.title || 'Loading...' }}</a></li>
</ul>

<form class="form" ng-show="fundraiser" ng-controller="FundraiserShowController">
  <ul class="nav nav-tabs">
    <li><a ng-href="/fundraisers/{{ fundraiser.slug }}">Overview</a></li>
    <li class="active"><a ng-href="/fundraisers/{{ fundraiser.slug }}/updates">Updates</a></li>
  </ul>

  <div class="row-fluid">
    <div class="span8">
      <div ng-show="can_manage">
        <button ng-click="new_update()" class="btn btn-small btn-success">New Update</button>
        <a ng-href="/fundraisers/{{fundraiser.slug}}/edit" class="btn btn-small">Edit Fundraiser</a>
        <a ng-href="manage_rewards()" class="btn btn-small">Manage Rewards</a>
        <hr/>
      </div>

      <div class="alert alert-info" ng-show="updates.length <= 0">
        No updates have been published yet.
      </div>

      <table class="table table-striped" ng-show="updates.length > 0">
        <tr ng-repeat="update in updates" ng-controller="FundraiserUpdatesController">
          <td>
            <a href="/fundraisers/{{ fundraiser.slug }}/updates/{{ update.id }}">
              #{{ update.number }} {{ update.title }}
            </a>
          </td>
          <td>
            <div class="muted">{{ update.published_at | date }}</div>
          </td>
        </tr>
      </table>

      <!--<tabs>-->
      <!--<pane ng-click="test()" heading="Overview">-->
      <!--<ng-include src="'pages/fundraisers/partials/overview.html'"></ng-include>-->
      <!--</pane>-->

      <!--<pane heading="Updates ({{ fundraiser.updates.length }})">-->
      <!--<ng-include ng-controller="FundraiserUpdatesController" src="'pages/fundraisers/partials/updates.html'"></ng-include>-->
      <!--</pane>-->

      <!--<pane heading="Pledges ({{ fundraiser.pledge_count }})">-->
      <!--<ng-include src="'pages/fundraisers/partials/pledges.html'"></ng-include>-->
      <!--</pane>-->
      <!--</tabs>-->
    </div>

    <div class="span4">
      <div class="well">
        <div><img src="{{fundraiser.person.image_url}}" /></div>
        <h3>{{fundraiser.person.display_name}}</h3>
      </div>
    </div>
  </div>
</form>
