<div ng-controller="FundraiserEditUpdateController">
  <ul class="breadcrumb">
    <li><a ng-href="/">Home</a></li>
    <li><a ng-href="/fundraisers">Fundraisers</a></li>
    <li><a ng-href="/fundraisers/{{fundraiser.id}}">{{fundraiser.title ||'Loading...'}}</a></li>
    <li><a ng-href="/fundraisers/{{fundraiser.id}}/updates">Updates</a></li>
    <li><a>New Update</a></li>
  </ul>

  <div ng-include="'app/fundraisers/templates/header.html'"></div>
  <div ng-include="'app/fundraisers/templates/nav_tabs.html'"></div>
  <div class="row" ng-show="fundraiser">
    <div class="col-sm-9 col-md-9">
      <form class="form">
        <div class="form-group">
          <input id="fundraiser-title" class="form-control" type="text" autofocus="true" name="title" ng-model="changes.title" placeholder="The title of your update">
        </div>
        <div class="form-group">
          <textarea class="form-control" ng-model="changes.body" rows="15" placeholder="The body of your update. You can use GitHub Flavored Markdown here."></textarea>
        </div>

        <button ng-disabled="!changes.title || !changes.body" ng-click="save()" class="btn btn-primary btn-lg">Save</button>
        <button ng-click="back()" class="btn btn-default btn-lg">Cancel</button>
      </form>
    </div>
    <div class="col-sm-3 col-md-3">
      <fundraiser-side-bar fundraiser="fundraiser" options="{ pledgeButtons: false, shareButtons: false}"></fundraiser-side-bar>
    </div>

  </div>
</div>
