<div ng-controller="FundraiserUpdateController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/fundraisers">Fundraisers</a></li>
    <li><a ng-href="/fundraisers/{{fundraiser.id}}">{{fundraiser.title ||'Loading...'}}</a></li>
    <li><a ng-href="/fundraisers/{{fundraiser.id}}/updates">Updates</a></li>
    <li ng-show="update"><a ng-href="/fundraisers/{{fundraiser.id}}/updates/{{update.id}}">Update #{{update.number}}</a></li>
    <li ng-hide="update"><a ng-href="/fundraisers/{{fundraiser.id}}/updates/{{update.id}}">Loading...</a></li>
  </ul>

  <div ng-include="'app/fundraisers/templates/header.html'"></div>
  <div ng-include="'app/fundraisers/templates/nav_tabs.html'"></div>

  <div class="row" ng-show="fundraiser">
    <div class="col-sm-3 col-md-3">
      <div ng-include="'app/fundraisers/templates/left_column.html'"></div>
    </div>

    <div class="col-sm-9 col-md-9">
      <div class="row">
        <div class="col-sm-9 col-md-9">
          <div ng-show="update">
            <div ng-show="!update.published_at" class="alert alert-info"><strong>Note:</strong> This update has not been published. When you're ready, click the 'Publish' button below!</div>
            <h2 ng-show="!update.published_at"><span class="text-info">#{{ fundraiser.updates.length }}</span> {{ update.title || 'Untitled' }}</h2>
            <h2 ng-show="update.published_at"><span class="text-success">#{{ update.number }}</span> {{ update.title }}</h2>
            <div class="update-header-options">
              <span ng-show="!update.published_at" class="update-date text-muted">Last modified {{ update.updated_at | date }}</span>
              <span ng-show="update.published_at" class="update-date text-muted">Published {{update.published_at | date}}</span>
              <div ng-hide="update.published_at" class="update-options">
                <a class="btn btn-default" ng-href="/fundraisers/{{fundraiser.slug}}/updates/{{update.id}}/edit">
                  <i class="glypicon glyphicon-pencil"></i>
                  Edit
                </a>
                <button ng-click="publish()" class="btn btn-success">
                  <i class="glypicon glyphicon-globe"></i>
                  Publish
                </button>
                <button ng-click="destroy()" class="btn btn-danger">
                  <i class="glypicon glyphicon-trash"></i>
                  Delete
                </button>
              </div>
            </div>
            <div ng-bind-html="update.body_html"></div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div ng-include="'app/fundraiser_updates/templates/top_backers.html'"></div>

          <div ng-show="fundraiser.rewards.length > 0">
            <h3>Rewards</h3>
            <div ng-include="'app/fundraisers/templates/rewards.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
