<div class="well text-center">
  <a ng-href="/people/{{fundraiser.person.slug}}"><img ng-src="{{fundraiser.person.large_image_url}}"></a>
  <h3 style="margin-top: 0;">By <a ng-href="/people/{{fundraiser.person.slug}}">{{ fundraiser.person.display_name }}</a></h3>
  <p>{{ fundraiser.person.bio }}</p>
  <a ng-href="{{fundraiser.homepage_url}}" class="btn btn-block" ng-hide="fundraiser.homepage_url == nil"><i class="icon-home"></i> Project Homepage</a>
  <a ng-href="{{fundraiser.repo_url}}" class="btn btn-block" ng-hide="fundraiser.homepage_url == fundraiser.repo_url || fundraiser.repo_url == nil"><i class="icon-globe"></i> Project Repository</a>
</div>
