<div style="margin-bottom: 10px;">
  <a ng-href="/fundraisers/{{fundraiser.slug}}" style="display: inline-block; vertical-align: middle; width: 75px; height: 75px; background-repeat: no-repeat; background-size: 95% auto; background-position: center center; background-image: url({{fundraiser.image_url}})">
  </a>
  <h1 style="margin: 0; display: inline-block; vertical-align: middle;">{{ fundraiser.title || 'Loading...' }}</h1>
</div>


<a require-twitter href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
<div require-gplus class="g-plusone" data-size="medium" data-annotation="bubble"></div>
<button style="margin-bottom: 12px;" class="btn btn-mini">
  <i class="icon-share"></i>
  Embed
</button>
<p class="lead" ng-show="fundraiser">{{ fundraiser.short_description }}</p>