<div class="well well-large" ng-show="can_manage" ng-hide="!fundraiser.owner || (fundraiser.published && !fundraiser.in_progress)">
  <a ng-href="/fundraisers/{{ fundraiser.slug }}/edit" class="btn btn-large btn-block">
    <i class="icon-edit"></i>
    Edit Fundraiser
  </a>

  <button ng-show="fundraiser.published" ng-click="create_update()" class="btn btn-large btn-block">
    <i class="icon-pencil"></i>
    New Update
  </button>

  <button ng-hide="fundraiser.published" ng-disabled="!fundraiser.publishable" ng-click="publish(fundraiser)" class="btn btn-large btn-block btn-success">
    <i class="icon-globe icon-white"></i>
    Publish Fundraiser
  </button>
</div>