<a ng-show="!fundraiser.published" disabled class="btn btn-large btn-block">Pledge Now</a>
<a ng-show="fundraiser.published && !fundraiser.in_progress" disabled class="btn btn-large btn-block">Completed {{fundraiser.ends_at | date}}</a>
<a gaq-event-track gaq-event="click" gaq-args="'event', 'FundraiserPledging' , 'PledgeButton', 'Fundraiser{{ fundraiser.id }}'" ng-show="fundraiser.published && fundraiser.in_progress && !fundraiser_hide_pledge_button" ng-href="/fundraisers/{{ fundraiser.slug }}/pledge" ng-show="fundraiser.published" class="btn btn-large btn-success btn-block">Pledge Now</a>
