<div class="row-fluid">
  <div class="span12" class="text-center">
    <div>
      <div class="row-fluid">
        <div class="span6">
          <h3 style="margin-bottom:0"><strong>${{ fundraiser.total_pledged | number:0 }}</strong></h3>
          <span>of <strong>${{ fundraiser.funding_goal | number:0 }}</strong></span>
        </div>

        <div class="span6" style="text-align: center;">
          <div ng-show="!fundraiser.published || fundraiser.days_remaining > 0">
            <h3 style="margin-bottom:0"><strong>{{ (fundraiser.days_remaining || 30) | number }}</strong></h3>
            <span>days left</span>
          </div>

          <div ng-show="fundraiser.days_remaining <= 0">
            <h3 style="margin-bottom:0"><strong>Completed</strong></h3>
            <span>{{fundraiser.ends_at | date}}</span>
          </div>
        </div>
      </div>
      <br/>
      <div class="progress">
        <div class="bar bar-success" style="width: {{100*fundraiser.total_pledged/fundraiser.funding_goal | at_least:15 | at_most:100 | number:0 }}%;">{{100*fundraiser.total_pledged/fundraiser.funding_goal | number:0 }}%</div>
      </div>
    </div>
  </div>
</div>