<table class="table table-striped table-bordered">
  <tr ng-repeat="reward in fundraiser.rewards" ng-class="reward.sold_out && 'warning'">
    <td>
      <p style="white-space: pre-wrap;">{{ reward.description }}</p>

      <p class="muted text-center">
        <em ng-show="reward.limited_to">{{ reward.claimed | number }} of {{ reward.limited_to | number }} claimed</em>
        <em ng-hide="reward.limited_to">{{ reward.claimed | number }} claimed</em>
      </p>

      <div style="text-align: center;">
        <a ng-show="fundraiser.in_progress && !reward.sold_out && !fundraiser.published" class="btn btn-large btn-info" disabled>{{ reward.amount | dollars }}</a>
        <a ng-show="fundraiser.in_progress && !reward.sold_out && fundraiser.published"
           ng-href="/fundraisers/{{fundraiser.slug}}/pledge?reward_id={{reward.id}}&amount={{reward.amount}}"
           ng-click="rewardClicked(reward)"
           class="btn btn-large btn-success"
           >
           {{ reward.amount | dollars }}
        </a>
        <a ng-show="!fundraiser.in_progress && fundraiser.published" class="btn btn-large btn-success" style="cursor: not-allowed;" disabled>{{ reward.amount | dollars }}</a>

        <a ng-show="fundraiser.in_progress && reward.sold_out" class="btn btn-large" disabled>Sold Out</a>
      </div>
    </td>
  </tr>
</table>
