<table class="table table-striped table-bordered">
  <tr ng-repeat="reward in fundraiser.rewards" ng-class="reward.sold_out && 'warning'">
    <td>
      <div style="text-align: center;">
        <h2 style="margin-bottom:0"><strong>{{ reward.amount | dollars }}</strong></h2>
        <span ng-show="reward.limited_to">{{ reward.claimed | number }} of {{ reward.limited_to | number }} claimed</span>
        <span ng-hide="reward.limited_to">{{ reward.claimed | number }} claimed</span>
      </div>
      <br>
      <p style="padding: 0 10px; white-space: pre-wrap;">{{ reward.description }}</p>
      <div style="text-align: center;">

        <a ng-show="fundraiser.in_progress && !reward.sold_out && !fundraiser.published" class="btn btn-large btn-info" disabled>Claim Reward</a>
        <a ng-show="fundraiser.in_progress && !reward.sold_out && fundraiser.published" ng-href="/fundraisers/{{fundraiser.slug}}/pledge?reward_id={{reward.id}}&amount={{reward.amount}}" class="btn btn-large btn-info">Claim Reward</a>

        <a ng-show="fundraiser.in_progress && reward.sold_out" class="btn btn-large" disabled>Sold Out</a>
      </div>
      <br>
    </td>
  </tr>
</table>
