<div class="text-center">
  <a require-twitter href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
  <div require-gplus class="g-plusone" data-size="medium" data-annotation="bubble"></div>
  <div class="input-prepend" style="padding-top: 10px">
    <div class="add-on">
      <i class="icon-share"></i>
      Embed
    </div>
    <input select-on-click type="text" style="cursor: pointer; width: 80px" value="<iframe src='https://api.bountysource.com/user/fundraisers/{{fundraiser.id}}/embed' style='width: 238px; height: 402px; overflow: hidden; border: 0px;'></iframe>" readonly/>
  </div>
</div>
