<div class="well">
<iframe allowtransparency="true" frameborder="0" scrolling="no" ng-src="https://platform.twitter.com/widgets/tweet_button.html?text=Support {{fundraiser.title | encodeUriQuery:true}} on @Bountysource!&amp;url={{fundraiser.frontend_url | encodeUriQuery}}" style="width:130px; height:20px;"></iframe>
<div require-gplus class="g-plusone" data-size="medium" data-annotation="bubble"></div>
<br />
<br />
<p class="muted">Embed Fundraiser on your webpage:</p>
<input select-on-click class="span12" type="text" value="<iframe src='https://api.bountysource.com/user/fundraisers/{{fundraiser.id}}/embed' style='width: 238px; height: 402px; overflow: hidden; border: 0px;'></iframe>" readonly/>
</div>
