<h1 class="text-center">Thank you for pledging to <a ng-href="/fundraisers/{{ fundraiser.id }}">{{ fundraiser.title
  }}</a>!</h1>
<h2 class="text-center" style="margin-bottom:0px;">Spread the word!</h2>
<div ng-include="'pages/pledges/templates/share.html'"></div>
<hr>
<div class="row">

  <div class="col-sm-3 col-md-3">
    <div class="well text-center">
      <h2 class="text-center">Fundraiser</h2>
      <a ng-href="/fundraisers/{{fundraiser.slug}}"><img ng-src="{{fundraiser.large_image_url}}"></a>

      <div ng-include="'pages/fundraisers/templates/progress_small.html'"></div>
    </div>
  </div>

  <div class="well col-sm-9 col-md-9">

    <h2 class="text-center">Pledge Details</h2>

    <div class="row">
      <div class="col-sm-3 col-md-3"><strong><h4>Amount:</h4></strong></div>
      <div class="col-lg-offset-3"><h4>{{ pledge.amount | currency}}</h4></div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3"><strong><h4>Date:</h4></strong></div>
      <div class="col-lg-offset-3"><h4>{{ pledge.created_at | date: 'medium' }}</h4></div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3"><strong><h4>Anonymous:<a style="margin-bottom:0px"
                                                              popover-title="Anonymous Pledges"
                                                              popover="If you want to hide your identity on a pledge, make it anonymous. You can change this at anytime."
                                                              popover-trigger="click"><i class="glypicon glyphicon-question-sign"></i></a>
      </h4></strong></div>
      <div class="col-lg-offset-3">
          <span ng-show="pledge.anonymous">
            <button class="btn active btn-default btn-sm" style="margin-top:8px;" ng-click="toggle_anonymous(pledge)">
              <i class="glypicon glyphicon-eye-close"></i>
              Anonymized
            </button>
          </span>

          <span ng-hide="pledge.anonymous">
            <button class="btn btn-success btn-sm" style="margin-top:8px;" ng-click="toggle_anonymous(pledge)"
                    ng-hide="pledge.owner_type == 'Team'">
              <i class="glypicon glyphicon-eye-open"></i>
              Publicized
            </button>
            <button class="btn btn-success disabled btn-sm" style="margin-top:8px;"
                    ng-show="pledge.owner_type == 'Team'" tooltip="Team pledges cannot be anonymous">
              <i class="glypicon glyphicon-eye-open"></i>
              Publicized
            </button>
          </span></div>
    </div>
    <br>
  </div>
</div>