  <h1 class="text-center">Thank you for pledging to <a ng-href="/fundraisers/{{ fundraiser.id }}">{{ fundraiser.title }}</a>!</h1>
  <h2 class="text-center" style="margin-bottom:0px;">Spread the word!</h2>
  <div ng-include="'pages/pledges/partials/share.html'"></div>
  <hr>
  <div class="row-fluid">

    <div class="span3">
      <div class="well text-center">
        <h2 class="text-center">Fundraiser</h2>
        <a ng-href="/fundraisers/{{fundraiser.slug}}"><img ng-src="{{fundraiser.large_image_url}}" /></a>
        <div ng-include="'pages/fundraisers/partials/progress_small.html'"></div>
      </div>
    </div>

    <div class="span9 well">

      <h2 class="text-center">Pledge Details</h2>
      <div class="row-fluid">
        <div class="span3"><strong><h4>Amount:</h4></strong></div>
        <div class="offset3"><h4>{{ pledge.amount | currency}}</h4></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><strong><h4>Date:</h4></strong></div>
        <div class="offset3"><h4>{{ pledge.created_at | date: 'medium' }}</h4></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><strong><h4>Anonymous:<a style="margin-bottom:0px" popover-title="Anonymous Pledges" popover="If you want to hide your identity on a pledge, make it anonymous. You can change this at anytime." popover-trigger="click"><i class="icon-question-sign"></i></a></h4></strong></div>
        <div class="offset3">
          <span ng-show="pledge.anonymous">
            <button class="btn btn-small active" style="margin-top:8px;" ng-click="toggle_anonymous(pledge)">
              <i class="icon-eye-close"></i>
              Anonymized
            </button>
          </span>

          <span ng-hide="pledge.anonymous">
            <button class="btn btn-small btn-success" style="margin-top:8px;" ng-click="toggle_anonymous(pledge)" ng-hide="pledge.owner_type == 'Team'">
              <i class="icon-eye-open icon-white"></i>
              Publicized
            </button>
            <button class="btn btn-small btn-success disabled" style="margin-top:8px;" ng-show="pledge.owner_type == 'Team'" tooltip="Team pledges cannot be anonymous">
              <i class="icon-eye-open icon-white"></i>
              Publicized
            </button>
          </span></div>
        </div>
        <br>
    <!--   <h2>Reward Details</h2>
      <table class="table">
        <thead>
          <th>Tier</th>
          <th>Description</th>
          <th>Details</th>
        </thead>

        <tbody>
          <tr>
            <td>{{ pledge.amount | currency}}</td>
            <td>{{ pledge.created_at | date: 'medium' }}</td>
            <td></td>
          </tr>
        </tbody>
      </table> -->
    </div>


  </div>
