<div class="homepage">

  <div class="container">
    <div>
      <%= image_tag 'backgrounds/home-desk.svg', class: 'workplace-splash-background' %>
    </div>
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">

        <h1 class="text-center">Support for Open-Source Software</h1>
        <h2 class="text-center mt-0">A community with {{people_count.total | number}} members.</h2>

        <div class="row">
          <!-- Post -->
          <div class="col-sm-4 quicklink">
            <h3 class="quicklink-title">POST</h3>

            <h5 class="quicklink-subtitle">Paste any URL to post a bounty.</h4>

            
            <form class="form-inline center-block" ng-submit="submit_search()" ng-controller="NavbarSearchController">
              <div class="input-group border-rounded">
                <input type="text" class="search-query form-control" ng-model="form_data.url" placeholder="http://github.com/.../issues/123">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-cerulean-blue">Post</button>
                </div>
              </div>
            </form>
          </div>

          <!-- Create a Team -->
          <div class="col-sm-4 quicklink" >
            <h3 class="quicklink-title">ADD TEAM</h3>

            <h5 class="quicklink-subtitle">Manage every aspect of your team.</h4>

            <a ng-href="/teams/new" class="btn btn-blue-aquamarine">+ Add Team</a>
          </div>

          <!-- Hunt -->
          <div class="col-sm-4 quicklink">
            <h3 class="quicklink-title">HUNT</h3>

            <h5 class="quicklink-subtitle">Earn money contributing to OSS.</h4>

            <a ng-href="/bounties/search" class="btn btn-marigold-salmon pl-4 pr-4"><span class="glyphicon glyphicon-search"></span> Find Bounties</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container container_top_margin" style="margin-top: 50px;">
    <div class="row">
      <div class="col-sm-9">
        <!-- current home page -->
        <ul class="nav nav-tabs font-weight-bold">
        <li ng-class="{active: default_tab == true }"><a ng-click="default_tab = true" href="/">Activity</a></li>
        <li ng-class="{active: default_tab == false }"><a ng-click="default_tab = false" href="/">New Bounties</a>
        <li><a ng-href="/teams">Teams</a></li>
        </ul>
        <timeline events="events" ng-show="default_tab"></timeline>
        <timeline events="new_bounties" ng-hide="default_tab"></timeline>
      </div>

      <div class="col-sm-3">
        <!-- TOP BACKERS -->
        <div ng-show="featuredTeams.length > 0" class="featured-header-icon">
          <h2>Featured Teams</h2>
          <a ng-href="/teams/{{team.slug}}" ng-repeat="team in featuredTeams | limitTo:10 ">
            <img class="img-circle" ng-src="{{team.image_url_small}}" tooltip="{{team.name}}" tooltip-placement="bottom" />
          </a>
        </div>
        <div class="clearfix"></div>
        <div class="mt-3" ng-show="bounty_hunters.length>0">
          <h2>Bounty Hunters</h2>
          <div>
            <ul class="nav nav-tabs">
              <li ng-class="{active: bounty_hunters == bounty_hunters_alltime }">
                <a ng-click="bounty_hunters = bounty_hunters_alltime" class="pb-1">
                  <h5 class="pr-5 m-0">All</h5>
                </a>
              </li>
              <li ng-class="{active: bounty_hunters == bounty_hunters_month }">
                <a ng-click="bounty_hunters = bounty_hunters_month" class="pb-1">
                  <h5 class="pr-5 m-0">90 Days</h5>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="mt-3" ng-repeat="person in bounty_hunters" style="display: flex; flex-direction: row;">
          <div>
            <a class="ml-3 mr-3" ng-href="/people/{{person.slug}}" style="float: left">
              <img ng-src="{{person.image_url_small}}" style="width:60px; height: 60px;" class="img-circle"/>
            </a>
          </div>
          <div class="column-center">
            <a ng-href="/people/{{person.slug}}" class="bounty-hunter-name font-weight-medium">{{person.display_name}}</a>
            <div ng-show="person.bounty_claim_total>0" class="mt-3">{{person.bounty_claim_total | dollars}}</div>
          </div>
          <div style="clear:left"></div>
        </div>
      </div>
    </div>
  </div>
</div>
