<div ng-if="pledges.length > 0">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h4 class="panel-title">Top Backers</h4>
    </div>

    <ul class="top-backers">
      <li class="row" ng-repeat="pledge in pledges">
        <a owner-href="pledge.owner">
          <img ng-if="pledge.owner" ng-src="{{pledge.owner.image_url_medium}}"  tooltip="{{pledge.owner.display_name}} - {{ pledge.amount | dollars }}" tooltip-placement="left" />
          <img ng-if="!pledge.owner" src="images/anon.jpg" tooltip="Anonymous - {{ pledge.amount | dollars }}" tooltip-placement="left" />
        </a>
      </div>
    </div>
  </div>
</div>
