.panel.panel-cool-grey{ "ng-if" => "issue.can_add_bounty && (!issue.team || !issue.team.bounties_disabled)" }
  .panel-heading.text-center{"style"=>"font-size:18px; line-height:14px"}
    Backers
  .panel-body.text-center
    %h4 Post a bounty if you want this issue solved:

    %div.spaced-evenly-flex.row
      %a.btn.btn-blue-aquamarine.mt-3.pl-5.pr-5{"ng-click" => "add_bounty_to_cart(15)"} {{ 15 | dollars:{ short: true } }}

      %a.btn.btn-blue-aquamarine.mt-3.pl-5.pr-5{"ng-click" => "add_bounty_to_cart(50)"} {{ 50 | dollars:{ short: true } }}
      %a.btn.btn-blue-aquamarine.mt-3.pl-5.pr-5{"ng-click" => "add_bounty_to_cart(100)"} {{ 100 | dollars:{ short: true } }}
    
      %form.mt-3{ "toolip-trigger"=>"focus", "tooltip"=>"{{5 | dollars}} minimum bounty", "tooltip-placement"=>"bottom", "ng-submit"=>"add_bounty_to_cart()" }
        %div.input-group{"style" => "width: 150px"}
          %input.form-control{ "currency-amount"=>"post_custom_bounty.amount", "currency-input"=>"", "placeholder"=>"Custom", "type"=>"text" }
          %span.input-group-btn
            %button.btn.btn-blue-aquamarine.pl-3.pr-3{ "type"=>"submit" }
              %span.glyphicon.glyphicon-ok
