.panel.panel-canya-blue{ "ng-if" => "issue.can_add_bounty && (!issue.team || !issue.team.bounties_disabled)" }
  .panel-heading.text-center
    %h4.m-0.font-weight-medium Backers
  .panel-body.text-center
    %h4 Post a bounty if you want this issue solved:

    %div.spaced-evenly-flex.row
      %a.btn.btn-aquamarine.btn-small-radius.mt-3{"ng-click" => "add_bounty_to_cart(15)"} {{ 15 | dollars:{ short: true } }}

      %a.btn.btn-aquamarine.btn-small-radius.mt-3{"ng-click" => "add_bounty_to_cart(50)"} {{ 50 | dollars:{ short: true } }}
      %a.btn.btn-aquamarine.btn-small-radius.mt-3{"ng-click" => "add_bounty_to_cart(100)"} {{ 100 | dollars:{ short: true } }}
    
      %form.mt-3{ "toolip-trigger"=>"focus", "tooltip"=>"{{5 | dollars}} minimum bounty", "tooltip-placement"=>"bottom", "ng-submit"=>"add_bounty_to_cart()" }
        %div.input-group{"style" => "width: 150px"}
          %input.form-control{ "currency-amount"=>"post_custom_bounty.amount", "currency-input"=>"", "placeholder"=>"Custom", "type"=>"text" }
          %span.input-group-btn
            %button.btn.btn-aquamarine.btn-small-radius{ "type"=>"submit" }
              = image_tag 'icons/icon_mail.svg'
  %p{ "style" => "font-size: 10px; font-style:italic;color:#919d9d" } Bounties of $100 or more can be refunded after 180 days if not spent
  %p{ "style" => "font-size: 10px; font-style:italic;color:#919d9d" } Bounties of $250 or more can be refunded after 90 days if not spent
