%div{"ng-controller" => "IssueDevelopersController" }
  .panel.panel-cool-grey{"ng-show" => "issue.can_add_bounty || (developer_events_loaded && developer_events.length>0) || (issue.bounty_total > 0)" }
    -# CONTESTED
    .panel-body.alert-danger{ "ng-if"=>"!issue.paid_out && bounty_claims.length > 1", "style"=>"border-bottom: 1px solid #ebccd1" }
      %h3{"style"=>"margin-top:0"} Bounty Contested!
      =succeed '.' do
        Multiple developers have submitted claims for this bounty. The backers must vote for a winner. The bounty will be paid out when one claim gets 100% acceptance from backers. For any questions, please contact
        %a{"href"=>"mailto:support@bountysource.com"} support@bountysource.com


    -# HUNTER ACTIONS
    .panel-body.text-center{ "ng-show"=>"issue.can_add_bounty || ((issue.bounty_total > 0) && !issue.paid_out)" }
      .alert.alert-danger{"ng-if"=>"developer_form.error"} {{developer_form.error}}

      %div{ "ng-hide"=>"developer_form.visible", "ng-switch"=>"developer_form.data.status" }

        %div{ "ng-switch-when"=>"claim_needed_no_solution" }
          .font-weight-medium
            Did you solve this issue?
            %button.btn.btn-light-blue{"ng-click"=>"developer_form.show()", "style"=>"margin-left:10px"} Claim Bounty

        %div{ "ng-switch-when"=>"claim_needed_has_solution" }
          .font-weight-medium
            You were working on this issue. Did you solve it?
            %button.btn.btn-light-blue{"ng-click"=>"developer_form.show()", "style"=>"margin-left:10px"} Claim Bounty

        %div{ "ng-switch-when"=>"claim_submitted" }
          %h4
            You have submitted a claim.
            %button.btn.btn-light-blue{"ng-click"=>"developer_form.show()", "style"=>"margin-left:10px"} Edit Claim
          %p
            The bounty will be paid out if all backers accept your claim or if no backers reject your claim by {{my_bounty_claim.dispute_period_ends_at | date:'MMM d, y h:mm a':'UTC' }} (GMT).

        %div{"ng-switch-when"=>"has_solution"}
          .font-weight-medium
            You have started working on this issue.
            %button.btn.btn-light-blue{"ng-click"=>"developer_form.show()", "style"=>"margin-left:10px"} Edit
          %p
            You will be able to claim this bounty as soon as
            %a{"ng-href" => "{{issue.url}}", :target => "_blank"} the original issue
            is marked as closed.



        %div{"ng-switch-when"=>"has_stopped_solution"}
          .font-weight-medium
            You stopped working on this issue.
            %button.btn.btn-light-blue{"ng-click"=>"developer_form.show()", "style"=>"margin-left:10px"} Edit

        %div{"ng-switch-when"=>"has_goal"}
          .font-weight-medium
            Your have set a bounty goal of {{my_developer_goal.amount | dollars}}.
            %button.btn.btn-light-blue{"ng-click"=>"developer_form.show()", "style"=>"margin-left:10px"} Edit

      %form.form-horizontal.form-without-bottom-margin{ "ng-show"=>"developer_form.visible", "ng-submit"=>"developer_form.submit()" }
        .form-group{ "ng-show"=>"['no_solution_no_goal','has_solution','has_stopped_solution','has_goal'].indexOf(developer_form.data.status)>=0"}
          .col-xs-6
            %a.btn.btn-default.btn-responsive.fw-b.font-10{"ng-click" => "developer_form.data.status = 'has_solution'", "ng-class" => "{'btn-light-blue': developer_form.data.status === 'has_solution'}"}
              IN PROGRESS
          .col-xs-6
            %a.btn.btn-default.btn-responsive.fw-b.font-10{"ng-click" => "developer_form.data.status = 'has_goal'", "ng-class" => "{'btn-light-blue': developer_form.data.status === 'has_goal'}"}
              BOUNTY TOO LOW

        .form-group{ "ng-show"=>"['has_goal'].indexOf(developer_form.data.status)>=0" }
          %label.col-sm-12.control-label{:for => "inputEmail3"} Your Goal
          .col-sm-12.mt-3
            .input-group
              %span.input-group-addon
                %currency-unit
              %input.input-medium.form-control{ "id"=>"developer_goal_amount", :min => "0", "ng-model" => "developer_form.data.developer_goal_amount", :placeholder => "{{ issue.bounty_total + 100 }}", :style => "padding-left: 10px;", :type => "text"}


        .form-group{ "ng-show"=>"['has_solution'].indexOf(developer_form.data.status)>=0" }
          %label.col-xs-12.control-label ETA
          .col-xs-12.mt-3
            .input-group
              %input.input-medium.form-control{"datepicker-popup" => "M/d/yyyy", "is-open" => "developer_form.data.show_date_picker", :min => "minDate", "ng-model" => "developer_form.data.completion_date", :placeholder => "mm/dd/yyyy", "show-weeks" => "false", :type => "text"}
              %span.input-group-btn
                %a.btn.btn-default{"ng-click" => "developer_form.show_date_picker($event)"}
                  %i.glyphicon.glyphicon-calendar



        .form-group{ "ng-show"=>"['has_solution','claim_submitted','claim_needed_no_solution','claim_needed_has_solution'].indexOf(developer_form.data.status)>=0" }
          %label.col-xs-12.control-label{:for => "inputEmail3"} Code URL
          .col-xs-12.mt-3
            %input.form-control{:type => "text", :placeholder => "The URL to your solution. For example, a pull request on GitHub", "ng-model"=>"developer_form.data.url" }


        .form-group{ "ng-show"=>"['has_solution','claim_submitted','claim_needed_no_solution','claim_needed_has_solution'].indexOf(developer_form.data.status)>=0" }
          %label.col-xs-12.control-label{:for => "inputEmail3"} Comment
          .col-xs-12.mt-3
            %textarea.form-control{:placeholder => "Provide some details for the backers!", :rows => "4", "ng-model"=>"developer_form.data.note"}


        .form-group
          .col-xs-12
            %button.btn.btn-light-blue.btn-responsive.mt-3{ "ng-show"=>"['has_solution','has_goal','has_stopped_solution','claim_submitted','claim_needed_no_solution','claim_needed_has_solution'].indexOf(developer_form.data.status)>=0", "type" => "submit"} Submit

            %a.btn.btn-danger.btn-responsive.mt-3{ "ng-click" => "developer_form.delete_bounty_claim(my_bounty_claim)", "ng-show" => "developer_form.data.status=='claim_submitted'" }
              %span.glyphicon.glyphicon-trash
              Retract Claim

            %a.btn.btn-danger.btn-responsive.mt-3{ "ng-click"=>"developer_form.delete_bounty_goal()", "ng-if"=>"developer_form.data.status=='has_goal' && my_developer_goal" } Delete