%div{ "ng-if"=>"issue.id" }
  %team-view
    %div{"ng-show" => "bounties.$resolved"}
      .alert.alert-info{"ng-hide" => "bounties.length > 0"}
        No bounties have been placed.
      %div{"ng-show" => "bounties.length > 0"}
        %table#bounties-table.table.table-striped
          %thead
            %tr
              %th
                %a{"ng-click" => "sort_by('owner.display_name')"} Backer
              %th
              %th
                %a{"ng-click" => "sort_by('amount')"} Amount
              %th
                %a{"ng-click" => "sort_by('created_at')"} Date
          %tbody
            %tr{"ng-repeat" => "bounty in bounties | orderBy:sort_column:sort_reverse"}
              %td
                %profile-pic{:owner => "bounty.owner"}
              %td
                %profile-name{:owner => "bounty.owner"}
              %td
                %div
                  %strong {{ bounty.amount | dollars }}
              %td
                .text-muted {{ bounty.created_at | date }}
