<issue-view ng-controller="IssueProposalsController">

  <!-- Hide everything until RFP is resolved -->
  <div ng-show="featureEnabled('rfp') && requestForProposal && rfpAuthorizationResolved">
    <!-- RFP Create form if authenticated -->
    <div ng-if="!requestForProposal.saved() && canManageIssue">
      <ng-include src="'app/issues/templates/rfp_form.html'"></ng-include>
    </div>

    <!-- Show request for proposals if RFP exists -->
    <div ng-if="requestForProposal.saved()">
      <!-- Team member view: show index of submitted Proposals -->
      <div ng-if="canManageIssue">
        <p>
          {{proposals.length | number}} <ng-pluralize count="proposals.length" when="{ 'one': 'developer has', 'other': 'developers have' }"></ng-pluralize>
          responded to your request.
        </p>
        <br />
        <p ng-show="requestForProposal.budget"><strong>Budget:</strong> {{requestForProposal.budget | dollars}}</p>
        <p ng-show="requestForProposal.due_date"><strong>Completed by:</strong> {{requestForProposal.due_date | date}}</p>
        <p ng-show="requestForProposal.abstract"><strong>Additional notes:</strong></p>
        <p ng-show="requestForProposal.abstract" style="white-space: pre-wrap;">"{{requestForProposal.abstract}}"</p>

        <br />

        <!-- Hide proposals table if there aren't any, duh -->
        <div ng-if="proposals.length > 0">
          <ng-include src="'app/issues/templates/proposals_table.html'"></ng-include>
        </div>
      </div>

      <!-- Public view: show proposal or proposal create form -->
      <div ng-if="!canManageIssue">
        <!-- Show proposal if saved -->
        <div ng-if="myProposal.saved()">
          <ng-include src="'app/issues/templates/proposal.html'"></ng-include>
        </div>

        <!-- Create proposal create form if proposal not saved -->
        <div ng-if="!myProposal.saved() && requestForProposal.pending()">
          <ng-include src="'app/issues/templates/proposal_form.html'"></ng-include>
        </div>

        <!-- Info box saying RFP is not accepting proposals -->
        <div ng-if="!myProposal.saved() && !requestForProposal.pending()">
          <h3 class="text-center">{{ issue.owner.display_name }} has already accepted a proposal from another developer.</h3>
          <h3 class="text-center"><a ng-href="/teams/{{ issue.owner.slug }}/issues">Check out more issues from {{ issue.owner.display_name }}</a></h3>
        </div>
      </div>
    </div>
  </div>

</issue-view>