%div{ "class"=>"text-center", "ng-show"=>"issue_deleted" }
  %h3 {{issue_error}}
.container
  %div{ "ng-show"=>"issue.id && (!issue.tracker || !issue.tracker.takendown)" }
    .row.mt-5
      .col-md-8
        / SECTION ISSUE CARD START
        .panel.panel-default
          .panel-body
            %span.label.label-success.label-padded.label-lg{ "ng-show" => "!issue.generic && issue.can_add_bounty"} Open
            %span.label.label-salmon.label-padded.label-lg{ "ng-hide" => "issue.generic || issue.can_add_bounty"} Closed
            %span.label.label-info.label-padded.label-lg{ "ng-show" => "issue.winning_bounty_claim || issue.paid_out"} Paid Out

            %h3.text-black{"style" => "word-break: break-word;"}
              {{ issue.title }}
            
            %div
              %a.text-gunmetal{"ng-href" => "/teams/{{team.slug}}"}
                %span.font-16.text-black {{team.name}}            

            %div.mt-3.font-12
              %span.text-muted
                %i.glyphicon.glyphicon-calendar
                {{ issue.remote_created_at | date:'dd MMMM yyyy' }}
              %span.text-muted.ml-3
                %i.glyphicon.glyphicon-user
                Posted by
                %span.text-black {{ issue.author.display_name }}

            %div.mt-3{"style" => "overflow: hidden;"}
              %p.text-muted.issue-body-show-less{"ng-bind-html" => "issue.body_html", "ng-class" => "{'show-more': issueBodyShow}"}

            %div
              %a{"ng-click" => "issueBodyShow = !issueBodyShow"} 
                {{ issueBodyShow ? 'Hide' : 'See More' }}

            %div.mt-5
              %a.btn.btn-gunmetal.btn-small-radius.font-weight-semibold{"ng-href" => "{{issue.url}}", :style => "font-size: 12px", :target => "_blank"}
                %span.glyphicon.glyphicon-new-window
                View in
                %name-for-external-link{"object-type" => "issue.type"}
              %a.btn.btn-light-blue-inverse.pull-right.btn-lg.px-5.py-4{"ng-click" => "openHunterBox()"}
                SOLVE ISSUE


        / SECTION ISSUE CARD END
        / SECTION ISSUE DETAILS BEGIN
        .panel.panel-default
          .panel-body
            %tabset
              %tab{"heading" => "Overview" }
                %timeline{"date-in-primary" => "true", :events => "events", "primary-class" => "text-muted", "timeline-issue"=>"issue" }
              %tab{"heading" => "Backers ({{issue.backers_count}})" }
                %backers-tab
              %tab{"heading" => "Updates" }
                %updates-tab

            
        / SECTION ISSUE DETAILS END

      
      .col-md-4
        %div.text-center{"ng-if" => "issue.can_add_bounty"}
          %div.text-center{"ng-if" => "!issue.category"}
            .panel.panel-gunmetal
              .panel-heading.text-white.text-center.pt-5.pb-5
                %h4.font-weight-semibold
                  POST A BOUNTY
                %p
                  Be the first to post a bounty for this issue!
              .panel-body
                %div.text-center
                  %div There are several ways to post this bounty
                  %div{"ng-include" => "'app/issues/templates/contribute_accordian.html'"}
          %div.text-center{"ng-if" => "issue.category === 'fiat'"}
            .panel.panel-gunmetal
              .panel-heading.text-white.text-center.pt-5.pb-5
                %h5.font-weight-semibold
                  TOTAL BOUNTY VALUE
                %h3.m-0
                  ${{issue.bounty_total | number : 2 }}USD
              .panel-body
                %div.text-center
                  %div{"ng-include" => "'app/issues/templates/usd_form.html'"}
          %div.text-center{"ng-if" => "issue.category === 'crypto'"}
            .panel.panel-gunmetal
              .panel-heading.text-white.text-center.pt-5.pb-5
                %h5.font-weight-semibold
                  TOTAL BOUNTY VALUE
                %h3.m-0
                  ${{issue.issue_address.balance.totalAmountInUSD  | number : 2 }}USD
              .panel-body
                %div.text-center
                  %div{"ng-include" => "'app/issues/templates/crypto_form_with_qr.html'"}

        %team-about-panel{"ng-show" => "team.id"}

  %div{ "ng-show"=>"issue.id && issue.tracker && issue.tracker.takendown" }
    %takedown


