<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a href="/settings">Settings</a><span class="divider">»</span></li>
  <li><a href="/settings">Profile</a></li>
</ul>

<h1>Settings</h1>
<ng-include src="'pages/settings/tabs.html'"></ng-include>

<form class="form-horizontal" name="form" novalidate>
  <div class="alert alert-error" ng-show="error">{{error}}</div>

  <div class="control-group">
    <label class="control-label" for="inputFirstName">First and Last Name:</label>
    <div class="controls">
      <input type="text" id="inputFirstName" placeholder="John" ng-model="form_data.first_name" class="input-small" />
      <input type="text" placeholder="Doe" ng-model="form_data.last_name" class="input-small" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputDisplayName">Display Name:</label>
    <div class="controls">
      <input type="text" id="inputDisplayName" placeholder="johnny5" ng-model="form_data.display_name" class="input-medium" />
      <img src="{{form_data.avatar_url}}" style="width: 30px; height: 30px" ng-show="form_data.avatar_url" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Location:</label>
    <div class="controls">
      <input type="email" id="inputEmail" name="email" placeholder="San Francisco, CA" ng-model="form_data.location" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Company:</label>
    <div class="controls">
      <input type="email" id="inputEmail" name="email" placeholder="Dunder Mifflin" ng-model="form_data.company" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Website:</label>
    <div class="controls">
      <input type="email" id="inputEmail" name="email" placeholder="http://awesome.site/" ng-model="form_data.website" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Public Email Address:</label>
    <div class="controls">
      <input type="email" id="inputEmail" name="email" placeholder="john@doe.com" ng-model="form_data.email" />
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success" ng-click="save()">Save</button>
    </div>
  </div>

  <h2>Profile Picture</h2>
  {{current_person}}
</form>
