<div style="margin-top: 35px;">
  <h1 class="text-center">{{event.title}}</h1>
  <br />
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <strong>Issues</strong>
        </div>

        <issue-list issues="event.issues" include="['trackerImage']" hide-header-row></issue-list>
      </div>
      <br />
      <h2 class="text-center">{{event.url}}</h2>
    </div>

    <!-- Top backers -->
    <div class="col-md-offset-1 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <strong>Top Backers</strong>
        </div>

        <ul class="top-backers-vertical">
          <li class="row" ng-repeat="backer in topBackers">
            <a owner-href="backer">
              <img ng-if="backer" ng-src="{{backer.image_url_medium}}"  tooltip="{{backer.display_name}} - {{backer.amount | dollars}}" tooltip-placement="bottom" />
              <img ng-if="!backer" src="images/anon.jpg" tooltip="Anonymous - {{backer.amount | dollars}}" tooltip-placement="bottom" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>