<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/activity">Activity</a></li>
  <li><a href="/activity/pledges">Pledges</a></li>
</ul>

<ng-include src="'app/activity/templates/navTabs.html'"></ng-include>

<div ng-show="(pledges | filter:'$show_survey').length > 0">
  <div class="alert alert-warning"><strong>Hey!</strong> The creator of one of the fundraisers that you backed needs information from you.</div>
</div>

<div ng-show="pledges.length <= 0" class="alert alert-info">
  You haven't made any pledges yet! Checkout our <a href="/fundraisers">list of fundraisers</a>.
</div>

<table class="table table-striped" ng-show="pledges.length > 0">
  <thead>
  <tr>
    <th style="width: 50%;">Fundraiser</th>
    <th>Amount</th>
    <th>Date</th>
    <th style="width: 50px;">Owner</th>
    <th class="span2">Anonymous <a popover-title="Anonymous Pledges" popover="If you want to hide your identity on a pledge, make it anonymous. You can change this at anytime." popover-trigger="click"><i class="glyphicon glyphicon-question-sign"></i></a></th>
    <th class="span1"></th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="pledge in pledges">
    <td>
      <a ng-href="/fundraisers/{{ pledge.fundraiser.slug }}">{{ pledge.fundraiser.title }}</a>
      <div ng-show="pledge.$updated_at">
        <small class="text-info"><i>Updated reward {{pledge.$updated_at | date:'medium'}}</i></small>
      </div>

      <div collapse="!pledge.$show_survey">
        <br>
        <form class="form-horizontal" name="form">
          <div class="form-group">
            <label class="control-label col-md-3">Reward:</label>
            <div class="col-md-9">
              <div class="checkbox"><label class="" ng-repeat="reward in pledge.fundraiser.rewards" ng-show="pledge.amount >= reward.amount">
                <input type="radio" ng-model="pledge.reward_id" value="{{reward.id}}" ng-click="select_reward(pledge, reward)" ng-disabled="pledge.amount < reward.amount">
                <span ng-class="{ 'text-muted': (pledge.amount < reward.amount && reward.amount > 0) }">
                  <span ng-show="reward.amount == 0">No Reward</span>
                  <span ng-show="reward.amount > 0">{{reward.amount | dollars}} Reward tier</span>
                </span>
                <div style="padding-left: 15px;">
                  <small class="text-info">{{reward.description}}</small>
                </div>
              </label></div>
            </div>
          </div>

          <div ng-show="pledge.reward.fulfillment_details">
            <div class="text-warning form-group">
              <label class="control-label col-md-3">Required Information:</label>
              <div class="col-md-9">
                <p style="white-space: pre-wrap; padding-top: 5px;">{{pledge.reward.fulfillment_details}}</p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Your Response:</label>
              <div class="col-md-9">
                <textarea style="width: 360px;" class="form-control" rows="4" ng-model="pledge.survey_response" placeholder="Your response"></textarea>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-primary" ng-click="update_pledge(pledge)" ng-disabled="form.$pristine">Save Changes</button>
              <button class="btn btn-default" ng-click="pledge.$show_survey = false">Close</button>
            </div>
          </div>
        </form>
      </div>
    </td>

    <td><a ng-href="/fundraisers/{{ pledge.fundraiser.slug }}">{{pledge.amount | dollars}}</a></td>

    <td>{{ pledge.created_at | date }}</td>

    <td>
      <div ng-show="pledge.owner">
        <div class="thumbnail" tooltip="{{pledge.owner.display_name}}" tooltip-placement="left">
          <owner-profile-link model="pledge">
            <img style="width: 100%" ng-src="{{pledge.owner.image_url}}">
          </owner-profile-link>
        </div>
      </div>
      <div ng-hide="pledge.owner">
        <div class="thumbnail" tooltip="Anonymous" tooltip-placement="left">
          <img style="width: 100%" src="images/anon.jpg">
        </div>
      </div>
    </td>

    <td ng-show="pledge.anonymous">
      <button class="btn btn-default btn-sm btn-block active" ng-click="toggle_anonymous(pledge)">
        <i class="glyphicon glyphicon-eye-close"></i>
        Anonymized
      </button>
    </td>

    <td ng-hide="pledge.anonymous">
      <button class="btn btn-block btn-success btn-sm" ng-click="toggle_anonymous(pledge)" ng-hide="pledge.owner_type == 'Team'">
        <i class="icon-eye-open"></i>
        Publicized
      </button>
      <button class="btn btn-block btn-success disabled btn-sm" ng-show="pledge.owner_type == 'Team'" tooltip="Team pledges cannot be anonymous">
        <i class="icon-eye-open"></i>
        Publicized
      </button>
    </td>

    <td>
      <button ng-show="pledge.fundraiser.rewards.length > 1 && pledge.amount >= (pledge.fundraiser.rewards | orderBy:['amount'])[1].amount" class="btn btn-primary btn-sm" ng-click="pledge.$show_survey = !pledge.$show_survey" ng-class="{ 'active': pledge.$show_survey }">Reward</button>
    </td>
  </tr><tr>
  </tr></tbody>
</table>
