<div>
  <div class="panel panel-default" style="max-height: none;">
    <div class="panel-body">
      <a ng-href="/fundraisers/{{fundraiser.slug}}">
        <img ng-src="{{fundraiser.large_image_url}}" class="img-responsive">
      </a>


      <!-- Progress Bar -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <h3 style="margin-bottom:0"><strong>{{ fundraiser.total_pledged | dollars }}</strong></h3>
                <span>of <strong>{{ fundraiser.funding_goal | dollars }}</strong></span>
              </div>

              <div class="col-sm-6 col-md-6" style="text-align: center;">
                <div ng-show="fundraiser.published && fundraiser.in_progress">
                  <div ng-show="fundraiser.$days_left > 0">
                    <h3 style="margin-bottom:0"><strong>{{ fundraiser.$days_left | number }}</strong></h3>
                    <ng-pluralize count="fundraiser.$days_left" when="{ 'one': 'day', 'other': 'days' }"></ng-pluralize>
                  </div>
                  <div ng-show="fundraiser.$days_left <= 0">
                    <div ng-show="fundraiser.$hours_left > 0">
                      <h3 style="margin-bottom:0"><strong>{{ fundraiser.$hours_left | number }}</strong></h3>
                      <ng-pluralize count="fundraiser.$hours_left" when="{ 'one': 'hour', 'other': 'hours' }"></ng-pluralize>
                    </div>
                    <div ng-show="fundraiser.$hours_left <= 0">
                      <h3 style="margin-bottom:0"><strong>{{ fundraiser.$minutes_left || 1 | number }}</strong></h3>
                      <ng-pluralize count="fundraiser.$minutes_left" when="{ 'one': 'minute', 'other': 'minutes' }"></ng-pluralize>
                    </div>
                  </div>
                </div>

                <div ng-show="fundraiser.published && !fundraiser.in_progress">
                  <h3 style="margin-bottom:0"><strong>Complete</strong></h3>
                  <span>{{fundraiser.ends_at | date}}</span>
                </div>
              </div>
            </div>
            <br>
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" style="width: {{100*fundraiser.total_pledged/fundraiser.funding_goal | atLeast:15 | atMost:100 | number:0 }}%;">{{ 100*fundraiser.total_pledged/fundraiser.funding_goal | number:0 }}%</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pledge Button -->
      <div>
        <a ng-show="!fundraiser.published" disabled="" class="btn btn-block btn-default btn-lg">Pledge Now</a>
        <a ng-show="fundraiser.published && !fundraiser.in_progress" disabled="" class="btn btn-block btn-default btn-lg">Completed {{fundraiser.ends_at | date}}</a>
        <a ng-show="fundraiser.published && fundraiser.in_progress && !fundraiser_hide_pledge_button" ng-href="/fundraisers/{{ fundraiser.slug }}/pledge" class="btn btn-success btn-block btn-lg">Pledge Now</a>
      </div>
    </div>

    <div class="panel-footer">
      <small><strong>Flexible Funding:</strong></small>
      <small ng-show="fundraiser.in_progress">This campaign will receive all funds raised even if it does not reach its goal.</small>
      <small ng-hide="fundraiser.in_progress">This fundraiser has completed and will receive all funds raised.</small>
    </div>
  </div>

  <div ng-include="'app/fundraisers/templates/about_me.html'"></div>
  <div ng-include="'app/fundraisers/templates/share.html'"></div>
</div>