<div>
  <!-- Custom pledge amount input -->
  <script type="text/ng-template" id="inputForm.html">
    <ng-form name="form" ng-submit="pledgeRedirect(fundraiser, form.input)">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <div class="hidden-xs">
          <input type="number" name="input" class="form-control" min="5" ng-model="pledge.amount" placeholder="Other" tooltip="$5 minimum pledge" tooltip-placement="bottom" toolip-trigger="focus" integer-only>
        </div>
        <div class="visible-xs">
          <input type="number" name="input" class="form-control" min="5" ng-model="pledge.amount" tooltip="$5 minimum pledge" tooltip-placement="bottom" toolip-trigger="focus" integer-only>
        </div>
      </div>
    </ng-form>
  </script>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title text-center">Pledge Now</h4>
    </div>
    <div class="panel-body">
      <!-- @screen-lg -->
      <div class="visible-lg">
        <div class="row ">
          <div class="col-lg-4 col-md-4">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 15)">$15</button>
          </div>
          <div class="col-lg-4 col-md-4">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 35)">$35</button>
          </div>
          <div class="col-lg-4 col-md-4">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 50)">$50</button>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 100)">$100</button>
          </div>
          <div class="col-lg-4 col-md-4">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 250)">$250</button>
          </div>
          <div class="col-lg-4 col-md-4">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 500)">$500</button>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 100)">$100</button>
          </div>
          <div class="col-lg-8 col-md-8">
            <ng-include src="'inputForm.html'"></ng-include>
          </div>
        </div>
      </div>

      <!-- @screen-md + @screen-sm-->
      <div class="visible-md visible-md visible-sm">
        <div class="row ">
          <div class="col-sm-6 col-xs-6">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 15)">$15</button>
          </div>
          <div class="col-sm-6 col-xs-6">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 35)">$35</button>
          </div>
        </div>
        <br />
        <div class="row ">
          <div class="col-sm-6 col-xs-6">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 50)">$50</button>
          </div>
          <div class="col-sm-6 col-xs-6">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 10)">$100</button>
          </div>
        </div>
        <br />
        <div class="row ">
          <div class="col-sm-6 col-xs-6">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 50)">$250</button>
          </div>
          <div class="col-sm-6 col-xs-6">
            <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 10)">$500</button>
          </div>
        </div>
        <br />
        <ng-include src="'inputForm.html'"></ng-include>
      </div>

      <!-- @screen-xs -->
      <div class="visible-xs">
        <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 15)">$15</button> <br />
        <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 50)">$50</button> <br />
        <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 100)">$100</button> <br />
        <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 250)">$250</button> <br />
        <a class="btn btn-primary btn-block" ng-href="/fundraisers/{{fundraiser.slug}}/pledge">Other</a>
      </div>
    </div>
  </div>
</div>