<div class="well">
  <a class="btn btn-large btn-block" ng-href="/fundraisers/{{fundraiser.slug}}/updates">
    <i class="icon-list"></i>
    All Updates
  </a>
  <a class="btn btn-large btn-block" ng-hide="update.published_at" ng-href="/fundraisers/{{fundraiser.slug}}/updates/{{update.id}}/edit">
    <i class="icon-pencil"></i>
    Edit
  </a>
  <button ng-click="publish()" ng-hide="update.published_at" class="btn btn-large btn-success btn-block">
    <i class="icon-globe icon-white"></i>
    Publish
  </button>
  <button ng-click="destroy()" ng-hide="update.published_at" class="btn btn-large btn-danger btn-block">
    <i class="icon icon-trash icon-white"></i>
    Delete
  </button>
</div>