%div{ "class"=>"text-center" }
  %h3 {{pact_error}}
.container
  %div{ "ng-show"=>"pact" }
    %info-space{"info-space" => "ads.issue_ad"}
    .row.mt-5
      .col-md-8
        / SECTION PACT CARD START
        .panel.panel-default
          .panel-body
            %span.label.label-success.label-padded.label-lg{ "ng-show" => "!pact.completed_at"} Open
            %span.label.label-salmon.label-padded.label-lg{ "ng-show" => "pact.completed_at"} Closed
            %span.label.label-info.label-padded.label-lg{ "ng-show" => "pact.paid_at"} Paid Out

            %h3.text-black{"style" => "word-break: break-word;"}
              {{ pact.project_name }}

            -# %div
            -#   %a.text-gunmetal{"ng-href" => "/teams/{{team.slug}}"}
            -#     %span.font-16.text-black {{team.name}}            

            %div.mt-3.font-12
              %span.text-muted
                %i.glyphicon.glyphicon-calendar
                {{ pact.created_at | date:'dd MMMM yyyy' }}
              -# %span.text-muted.ml-3
              -#   %i.glyphicon.glyphicon-user
              -#   Posted by
              -#   %span.text-black {{ pact.display_name }}

              %br
                {{ pact.project_description }}
            %div.row
              .col-md-6.mt-5.text-center.text-md-left
                %a.btn.btn-gunmetal.btn-small-radius.font-weight-semibold{"ng-if" => "pact.issue_url", "ng-href" => "{{pact.issue_url}}", :style => "font-size: 12px", :target => "_blank"}
                  %span.glyphicon.glyphicon-new-window
                  View issue
                %a.btn.btn-gunmetal.btn-small-radius.font-weight-semibold{"ng-if" => "pact.link", "ng-href" => "{{pact.link}}", :style => "font-size: 12px", :target => "_blank"}
                  %span.glyphicon.glyphicon-new-window
                  View project link
              .col-md-6.mt-5.text-center.text-md-right
                %a.btn.btn-danger.btn-lg.px-5.py-4{"ng-show" => "pact.person_id === current_person.id && !pact.completed_at", "ng-click" => "markPactCompleted()"}
                  Mark pact complete

        / SECTION PACT CARD END
        / SECTION PACT DETAILS BEGIN
        .panel.panel-default
          .panel-body
            %tabset
              %tab{"heading" => "Overview" }
                Type: {{ pact.pact_type }}
                %br
                Experience level: {{ pact.experience_level }}
                %br
                Time commitment: {{ pact.time_commitment }}
                %br
                Issue type: {{ pact.issue_type }}
                %br
                Expiration: {{ pact.expiration }}
              %tab{"ng-if" => "pact.person_id == current_person.id", "heading" => "Applications ({{pact_applications.length || 0}})" }
                %table#applicants-table.table
                  %thead
                    %tr
                      %th
                        %a.text-dark Dev
                      %th
                      %th
                        %a.text-dark Email
                      %th
                        %a.text-dark Date
                      %th
                        %a.text-dark Note
                  %tbody
                    %tr{"ng-repeat" => "application in pact_applications"}
                      %td
                        %profile-pic{:owner => "application.person"}
                      %td
                        %profile-name{:owner => "application.person"}
                      %td
                        {{ application.person.email }}
                      %td
                        {{ application.created_at }}
                      %td
                        {{ application.note }}

        / SECTION PACT DETAILS END

      .col-md-4
        / SECTION PACT BOUNTY START

        %div.text-center{"ng-if" => "pact.can_add_bounty"}
          %div.text-center
            .panel.panel-gunmetal
              .panel-heading.text-white.text-center.pt-5.pb-5
                %h4.font-weight-semibold
                  {{ pact.bounty_total === 0 ? 'POST A BOUNTY' : 'TOTAL BOUNTY VALUE' }}
                %p{"ng-if" => "pact.bounty_total === 0"}
                  Be the first to post a bounty for this pact!
                %h3.m-0{"ng-if" => "pact.bounty_total > 0"}
                  ${{pact.bounty_total | number : 2 }}USD
              .panel-body
                %div.text-center{"ng-if" => "!current_person"}
                  %button.btn.btn-light-blue.btn-responsive{"ng-click" => "goToSignInPage()"}
                    Sign In
                %div.text-center{"ng-if" => "current_person"}
                  // %div There are several ways to post this bounty
                  // %div{"ng-include" => "'app/issues/templates/contribute_accordian.html'"}
                  %div{"ng-include" => "'app/issues/templates/usd_form.html'"}

        / section pact bounty end

        / section dev tools start

        %div.text-center{ "ng-switch" => "developer_form.data.status" }
          %div.panel.panel-gunmetal
            .panel-body
              .alert.alert-danger{"ng-if"=>"developer_form.error"} {{developer_form.error}}

              %div.text-center{ "ng-switch-when"=>"no_solution" } 
                .text-center.font-weight-medium
                  Are you a developer who can solve this issue?  
                %div.text-center{"ng-if" => "!current_person"}
                  %button.mt-3.btn.btn-light-blue.btn-responsive{"ng-click" => "goToSignInPage()"}
                    Sign In
                %div.text-center{"ng-if" => "current_person"}
                  %button.mt-3.btn.btn-long.btn-light-blue{"ng-click"=>"developer_form.show_applying()", "style"=>"margin-left:10px" } Get Started
              %div.text-center{ "ng-switch-when"=>"applying" }
                .text-center.font-weight-medium
                  Enter a message for the pact owner with relevant motivation (e.g. link to portfolio) and submit your application
                %textarea{:cols => 20, :rows => 5, "ng-model" => "developer_form.data.note" }
                %button.mt-3.btn.btn-light-blue.btn-responsive{"ng-click" => "developer_form.apply()"}
                  Submit application
              %div.text-center{ "ng-switch-when"=>"applied" }
                .text-center.font-weight-medium
                  You have already applied to work on this pact! The pact owner will contact you with details on how to move forward.
              %div.text-center{ "ng-switch-when"=>"completed" }
                .text-center.font-weight-medium
                  Did you complete the task?

                  %button.mt-3.btn.btn-light-blue.btn-responsive{"ng-click" => "developer_form.show_claiming()"}
                    Claim pact bounty
              %div.text-center{ "ng-switch-when"=>"claiming" }
                .text-center.font-weight-medium
                  %form.form-horizontal.form-without-botttom-margin{ "ng-submit"=>"developer_form.claim()" }
                    .form-group

                      %label.col-xs-12.control-label
                        Code URL
                        .col-xs-12.mt-3
                          %input.form-control{:type => "text", :placeholder => "The URL to your solution. For example, a pull request on GitHub", "ng-model"=>"developer_form.data.url" }
                      %label.col-xs-12.control-label
                        Description
                        .col-xs-12.mt-3
                          %textarea.form-control{:placceholder => "Provide some details for the backers!", :rows => "4", "ng-model"=>"developer_form.data.description" }
                      %button.btn.btn-light-blue{ "type" => "submit", "style"=>"margin-top:10px" } Submit

              %div.text-center{ "ng-switch-when"=>"claimed" }
                %h4
                  You have submitted a claim.
                  %button.btn.btn-light-blue{"ng-click"=>"developer_form.show_claiming()", "style"=>"margin-left:10px"} Edit Claim
                %p
                  The bounty will be paid out if all backers accept your claim or if no backers reject your claim by {{claim.dispute_period_ends_at | date:'MMM d, y h:mm a':'UTC' }} (GMT).

              %div.mt-3{ "ng-repeat" => "event in all_bounty_claims | orderBy:['-updated_at']" }
                %table.table.table-centered
                  %tbody
                    %tr
                      %td{ "style" => "width: 50px;" }
                        %profile-pic{ "owner" => "event.owner"}
                      %td
                        %div
                          %h5.font-weight-semibold.mt-3.mb-0{ "style" => "margin-top: 0" }

                            %span{ "ng-if"=>"pact.paid_at" }

                              %span{ "ng-if"=>"event.collected" }
                                %profile-name{ "owner" => "event.owner" }
                                was awarded the
                                %span {{event.amount | dollars}}
                                bounty!

                              %span{ "ng-if"=>"!event.collected" }
                                %profile-name{ "owner" => "event.owner" }
                                submitted a claim which wasn't accepted.


                            %span{ "ng-if"=>"!pact.paid_at" }

                              %span{ "ng-if"=>"event.contested" }
                                %profile-name{ "owner" => "event.owner" }
                                submitted a claim which is being contested
                                %span{"ng-if"=>"event.backers_count===1"}
                                  but the backer hasn't responded.
                                %span{"ng-if"=>"event.backers_count>1"}
                                  and {{event.accept_count+event.reject_count}} of {{event.backers_count}} backers have responded.

                              %span{ "ng-if"=>"!event.contested && !event.collected && !event.disputed" }
                                %profile-name{ "owner" => "event.owner" }
                                submitted a claim
                                %span{"ng-if"=>"event.backers_count===1"}
                                  but the backer hasn't responded.
                                %span{"ng-if"=>"event.backers_count>1"}
                                  and {{event.accept_count}} of {{event.backers_count}} backers have responded.

                              %span{"ng-if"=>"!event.contested && !event.collected && event.disputed" }
                                %profile-name{ "owner" => "event.owner" }
                                submitted a claim which is being disputed.

                          %small {{event.created_at | timeDiff }} ago

                          %p.text-muted{ "style"=>"font-style: italic;", "ng-if"=>"!issue.paid_out && !event.contested && !event.disputed" }
                            NOTE: This will be paid out if all backers accept this or if no backers reject this by {{event.dispute_period_ends_at | date:'MMM d, y h:mm a':'UTC' }} (GMT).

                          %p{ "ng-if"=>"event.description"}
                            %span.text-muted
                              %profile-name{ "owner" => "event.owner" }
                              wrote:
                          %p
                            {{event.description}}
                          %div
                            %span{ "ng-show" => "event.code_url" }
                              %span{ "ng-if"=>"event.code_url.indexOf('http://') != 0 && event.code_url.indexOf('https://') != 0" }
                                Code URL: {{event.code_url}}
                              %span{ "ng-if" => "event.code_url.indexOf('http://') == 0 || event.code_url.indexOf('https://') == 0" }
                                %a.btn.btn-gunmetal.btn-small-radius{ "ng-href" => "{{event.code_url}}", "target" => "_blank" }
                                  %span.glyphicon.glyphicon-new-window
                                  View Code


                          %div{ "ng-if"=>"pact.can_respond_to_claims", "style"=>"margin-top:14px" }
                            %div{ "ng-if"=>"event.my_response.value == null" }
                              {{ current_person.display_name }}, your response is needed:
                              %div
                                %a.btn.btn-success{ "ng-click" => "backer_form.start_response(event, 'accept')" }
                                  %span.glyphicon.glyphicon-thumbs-up
                                  Accept
                                %a.btn.btn-danger{ "ng-click" => "backer_form.start_response(event, 'reject')" }
                                  %span.glyphicon.glyphicon-thumbs-down
                                  Reject
                            
                            %div{ "ng-if"=>"event.my_response.value===true" }
                              You approved this bounty claim {{ event.my_response.updated_at | timeDiff }} ago.
                              %div
                                %a.btn.btn-default{ "ng-click" => "backer_form.start_response(event, 'retract')" }
                                  Retract Vote

                            %div{ "ng-if"=>"event.my_response.value===false" }
                              You rejected this bounty claim {{ event.my_response.updated_at | timeDiff }} ago.
                              %div
                                %a.btn.btn-success{ "ng-click" => "backer_form.start_response(event, 'resolve')" }
                                  %span.glyphicon.glyphicon-thumbs-up
                                  Accept
                                %a.btn.btn-default{ "ng-click" => "backer_form.start_response(event, 'retract')" }
                                  Retract Vote

                          %form{ "ng-if"=>"event.my_form_data && event.my_form_data.action" }
                            .form-group
                              %textarea.form-control{:placeholder => "Please leave some feedback for the developer.", :rows => "4", "ng-model"=>"event.my_form_data.description"}
                            %a.btn.btn-success{ "ng-click" => "backer_form.accept_claim(event)", "ng-show" => "event.my_form_data.action==='accept'" }
                              %span.glyphicon.glyphicon-thumbs-up
                              Accept
                            %a.btn.btn-success{ "ng-click" => "backer_form.resolve_claim(event)", "ng-show" => "event.my_form_data.action==='resolve'" }
                              %span.glyphicon.glyphicon-thumbs-up
                              Accept
                            %a.btn.btn-danger{ "ng-click" => "backer_form.reject_claim(event)", "ng-show" => "event.my_form_data.action==='reject'" }
                              %span.glyphicon.glyphicon-thumbs-down
                              Reject
                            %a.btn.btn-light-blue{ "ng-click" => "backer_form.reset_claim(event)", "ng-show" => "event.my_form_data.action==='retract'" }
                              %span.glyphicon.glyphicon-ban-circle
                              Retract Vote
                            %a.btn.btn-default{ "ng-click" => "backer_form.cancel_response(event)" }
                              %span.glyphicon.glyphicon-thumbs-up
                              Cancel

                        %div.mt-3
                          %div{ "ng-repeat" => "response in event.responses", "style" => "display: flex; justify-content: center" }
                            %div.vertical-align-middle{ "style" => "width:24px; vertical-align: top; padding-bottom: 5px" }
                              %profile-pic{ "owner" => "response.owner" }
                            %div
                              %div{ "style" => "vertical-align: top; padding-left: 5px"}
                                %span{ "ng-if"=>"response.description"}
                                  = succeed '' do
                                    %profile-name{ "owner" => "response.owner" }
                                    %span{ "ng-switch"=>"response.value" }
                                      %span.text-success{ "ng-switch-when"=>"true" }> accepted
                                      %span.text-danger{ "ng-switch-when"=>"false" }> rejected
                                      %span.text-muted{ "ng-switch-when"=>"null" }> retracted
                                %span{ "ng-if"=>"!response.description"}
                                  = succeed '.' do
                                    %profile-name{ "owner" => "response.owner" }
                                    %span{ "ng-switch"=>"response.value" }
                                      %span.text-success{ "ng-switch-when"=>"true" }> accepted
                                      %span.text-danger{ "ng-switch-when"=>"false" }> rejected
                                      %span.text-muted{ "ng-switch-when"=>"null" }> retracted
                              %div
                                %p
                                  {{response.description}}

        %team-aboutpanel{"ng-show" => "team.id"}
