<div class="card">
  <a ng-href="/trackers/{{project.slug}}" class="link">{{project.name}}</a>
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <a ng-href="/trackers/{{project.slug}}" id="home-tr-img-{{project.id}}" style="display: block; width: 75px; height: 75px; background-repeat: no-repeat; background-size: 95% auto; background-position: center center; background-image: url({{project.image_url}})">
      </a>
    </div>
    <div class="col-sm-9 col-md-9">
      <strong><a ng-href="/trackers/{{project.slug}}" id="home-tr-name-{{project.id}}">{{project.name}}</a></strong>
      <br>
      <small class="text-muted">{{project.description | truncate:70}}</small>
      <br>
      <small class="text-success"><strong>{{project.bounty_total | dollars}}</strong> in bounties</small>
    </div>
  </div>
</div>