<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a href="/teams">Teams</a><span class="divider">»</span></li>
  <li><a ng-href="/teams/{{team.slug}}">{{team.name || 'Loading...'}}</a><span class="divider">»</span></li>
  <li><a ng-href="/teams/{{team.slug}}/bounties">Bounties</a></li>
</ul>

<div ng-show="team" ng-controller="TeamBountiesController">
  <div class="row-fluid">
    <div class="span3">
      <ng-include src="'pages/teams/partials/infobox.html'"></ng-include>
    </div>
    <div class="span9">
      <ng-include src="'pages/teams/partials/header.html'"></ng-include>
      <ng-include src="'pages/teams/partials/tabs.html'"></ng-include>

      <!-- Loading message... -->
      <div collapse="bounties_resolved" class="text-center">
        <p class="lead">Loading bounties...</p>
        <div class="progress progress-striped active">
          <div class="bar" style="width: 100%;"></div>
        </div>
      </div>

      <div ng-show="bounties_resolved">
        <div ng-show="open_bounties.length > 0">
          <h4>Bounty Summary</h4>
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Project</th>
                <th><a ng-click="update_sort(summary_sort, 'open')">Open</a></th>
                <th><a ng-click="update_sort(summary_sort, 'paid_out')">Paid Out</a></th>
                <th><a ng-click="update_sort(summary_sort, 'paid_out + open')">Total</a></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="stat in stats | orderBy:summary_sort.column:summary_sort.desc">
                <td><a ng-href="/trackers/{{ stat.slug }}"><img ng-src="{{ stat.image_url }}" class="issue-table-tracker-img"></img>  {{ stat.name }}</a></td>
                <td>{{ stat.open | dollars }}</td>
                <td>{{ stat.paid_out | dollars }}</td>
                <td>{{ stat.paid_out + stat.open | dollars }}</td>
              </tr>
              <tr>
                <td><strong>Total</strong></td>
                <td><strong>{{ total_open | dollars }}</strong></td>
                <td><strong>{{ total_paid_out | dollars }}</strong></td>
                <td><strong>{{ total_spent | dollars }}</strong></td>
              </tr>
            </tbody>
          </table>
          <h4>Bounties</h4>
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th style="width: 30%;"><a ng-click="update_sort(open_sort, 'issue.tracker.name')">Project</a></th>
                <th style="width: 30%;">Issue</th>
                <th style="width: 30%;"><a ng-click="update_sort(open_sort, 'created_at')">Posted</a></th>
                <th style="text-align: center; cursor: pointer; width: 10%;">
                  <a ng-click="update_sort(open_sort, 'amount')">
                    <div tooltip="Bounty Amount"><strong>$</strong></div>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="bounty in open_bounties | orderBy:open_sort.column:open_sort.desc">
                <td><a ng-href="/trackers/{{bounty.issue.tracker.slug}}"><img ng-src="{{ bounty.issue.tracker.image_url }}" class="issue-table-tracker-img"></img>  {{bounty.issue.tracker.name}}</a></td>
                <td>
                  <a ng-href="/issues/{{bounty.issue.slug}}">
                    <i ng-show="bounty.issue.bounty_total >= 1000" class="icon-fire"></i>
                    {{bounty.issue.title}}
                    <span ng-show="!bounty.issue.can_add_bounty && !bounty.issue.paid_out" class="label label-warning">closed</span>
                  </a>
                </td>
                <td>{{bounty.created_at | date:'medium'}}</td>
                <td style="text-align:center;"><strong>{{bounty.amount | dollars}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-show="claimed_bounties.length > 0">
          <h3 style="margin: 0;">Claimed Bounties</h3>
          <p>Bounties posted by {{team.name}} that have been claimed by developers.</p>
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th style="width: 30%;"><a ng-click="update_sort(claimed_sort, 'issue.tracker.name')">Project</a></th>
                <th style="width: 30%;">Issue</th>
                <th style="width: 30%;"><a ng-click="update_sort(claimed_sort, 'issue.paid_at')">Paid Out</a></th>
                <th style="text-align: center; cursor: pointer; width: 10%;">
                  <a ng-click="update_sort(claimed_sort, 'amount')">
                    <div tooltip="Bounty Amount"><strong>$</strong></div>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="bounty in claimed_bounties | orderBy:claimed_sort.column:claimed_sort.desc">
                <td><a ng-href="/trackers/{{bounty.issue.tracker.slug}}">{{bounty.issue.tracker.name}}</a></td>
                <td>
                  <a ng-href="/issues/{{bounty.issue.slug}}">
                    <i ng-show="bounty.issue.bounty_total >= 1000" class="icon-fire"></i>
                    {{bounty.issue.title}}
                  </a>
                </td>
                <td>{{bounty.issue.paid_at | date:'medium'}}</td>
                <td style="text-align: center;"><strong>{{bounty.amount | dollars}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-show="!claimed_bounties && !open_bounties">
          <h4>There are no bounties associated with this team</h4>
        </div>
      </div>

    </div>
  </div>
</div>
