<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a href="/teams">Teams</a><span class="divider">»</span></li>
  <li><a ng-href="/teams/{{team.slug}}">{{team.name || 'Loading...'}}</a><span class="divider">»</span></li>
  <li><a ng-href="/teams/{{team.slug}}/issues">Issues</a></li>
</ul>

<div ng-show="team" ng-controller="TeamIssuesController">
  <div class="row-fluid">
    <div class="span3">
      <ng-include src="'pages/teams/partials/infobox.html'"></ng-include>
    </div>
    <div class="span9">
      <ng-include src="'pages/teams/partials/header.html'"></ng-include>
      <ng-include src="'pages/teams/partials/tabs.html'"></ng-include>


      <div>
        <div class="row-fluid well" style='padding-top: 10px; padding-bottom: 0px;'>
          <span class="span6">
            <form class="form-inline no-margin" style="text-align: center; vertical-align: middle">
              <label class="checkbox">
                <input type="checkbox" ng-model="search_parameters.show_team_issues" ng-change="get_team_issues()"></input>
                Team Issues <i class="icon-question-sign" tooltip="Show issues for projects owned by your organization"></i>
              </label>
            </form>
          </span>
          <span class="span6">
            <form class="form-inline no-margin" style="text-align: center; vertical-align: middle">
              <label class="checkbox">
                <input type="checkbox" ng-model="search_parameters.show_related_issues" ng-change="get_team_issues()"></input>
                Related Issues <i class="icon-question-sign" tooltip="Show issues for projects your organization uses"></i>
              </label>
            </form>
          </span>
<!--           <span class="span4">
            <a ng-click="toggle_advanced_search()">
              <span ng-show="show_advanced_search">« Hide Advanced Search</span>
              <span ng-show="!show_advanced_search">Advanced Search »</span>
            </a>
          </span> -->
        </div>
        <div collapse="!show_advanced_search">
          <form class="form-horizontal">
            <div class="control-group">
              <div class="control-label">Contains</div>
              <div class="controls">
                <input class="span8" type="text" ng-model="search_parameters.query" placeholder="Phrase in issue body or title"></input>
              </div>
            </div>

            <div class="control-group">
              <div class="control-label">Created After</div>
              <div class="controls"><input type="text" ng-model="search_parameters.created_at" placeholder="mm/dd/yyyy"></input></div>
            </div>

            <div class="control-group">
              <div class="control-label">Active Since</div>
              <div class="controls"><input type="text" ng-model="search_parameters.last_event_created_at" placeholder="mm/dd/yyyy"></input></div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button class="btn btn-primary" ng-click="get_team_issues()">Search</button>
                <button class="btn" ng-click="toggle_advanced_search()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Loading message... -->
      <div collapse="issues_resolved" class="text-center">
        <p class="lead">Loading issues...</p>
        <div class="progress progress-striped active">
          <div class="bar" style="width: 100%;"></div>
        </div>
      </div>

      <div ng-show="issues_resolved">
        <div ng-show="issues.length > 0">
          <p><span class="label label-success">{{ pagination.items || issues.length | number }}</span> <strong>Suggested Issues</strong></p>
          <table class="table table-condensed table-striped" style="table-layout: fixed">
            <thead>
              <tr>
                <th style="width: 5%;"></th>
                <th style="width: 25%;">Project</th>
                <th style="width: 60%;">Issue Title</th>
                <th style="width: 10%">Rank</th>
 <!--                <th style="width: 6%; text-align:center;"><a ng-click="update_sort('bounty_total', search_parameters.page)" tooltip="Bounty total"><span style="width: 5%; color: black">$</span></a></th>
                <th style="width: 6%; text-align:center;"><a ng-click="update_sort('thumbs_up_count', search_parameters.page)" tooltip="Votes and '+1' comments total"><i class="icon-thumbs-up"></i></a></th>
                <th style="width: 6%; text-align:center;"><a ng-click="update_sort('participants_count', search_parameters.page)" tooltip="Watchers"><i class="icon-user"></i></a></th>
                <th style="width: 6%; text-align:center;"><a ng-click="update_sort('remote_created_at', search_parameters.page)" tooltip="Age of Issue"><i class="icon-time"></i></a></th> -->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="issue in issues">
                <td><a style="display:block;" ng-href="/trackers/{{issue.tracker.slug}}"><img src="{{issue.tracker.image_url}}" style="max-height:20px;max-width:20px;" /></a></td>
                <td><a ng-href="/trackers/{{issue.tracker.slug}}">{{issue.tracker.name}}</a></td>
                <td style="overflow: hidden; text-overflow: ellipsis"><a ng-href="/issues/{{issue.slug}}">{{issue.title}}</a></td>
                <td>{{ issue.relevance }}%</td>
<!--                 <td style="text-align: center">
                  <a ng-href="/issues/{{issue.slug}}/bounties" ng-show="issue.bounty_total > 0" class="label label-success">
                    {{issue.bounty_total | dollars:{space:true} }}
                  </a>
                </td>
                <td style="text-align:center;"><a ng-href="/issues/{{issue.slug}}/comments" class="label label-warning"><i class="icon-thumbs-up icon-white"></i> {{issue.thumbs_up_count | number}}</a></td>
                <td style="text-align:center;"><a ng-href="/issues/{{issue.slug}}/comments" class="label label-important"><i class="icon-user icon-white"></i> {{issue.participants_count | number}}</a></td>
                <td style="text-align:center;"><a ng-href="/issues/{{issue.slug}}/comments" class="label label-info">{{issue.created_at | time_ago_short}}</a></td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-show="pagination">
          <pagination total-items="pagination.items" current-page="pagination.page" max-size="maxPaginationSize" num-pages="pagination.pages" on-select-page="get_team_issues(page)"></pagination>
        </div>
        <div ng-hide="issues.length > 0">
          <h4 class="alert alert-info">There are no issues associated with this team</h4>
        </div>
      </div>

    </div>
  </div>
</div>
