<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a href="/teams">Teams</a><span class="divider">»</span></li>
  <li><a>{{team.name || 'Loading...'}}</a></li>
</ul>

<div ng-show="team">
  <div class="row-fluid">
    <div class="span3">
      <ng-include src="'pages/teams/partials/infobox.html'"></ng-include>
    </div>
    <div class="span9" ng-controller="TeamTrackersController">
      <ng-include src="'pages/teams/partials/tabs.html'"></ng-include>

      <div class="well" ng-show="is_admin">
        <ng-form class="form-inline" name="search_form" ng-submit="search_projects()">
          Add an open-source project your company uses:
          <input
            name="input"
            type="text"
            class="search-query span4"
            placeholder="Search for projects"
            ng-model="project_search"
            typeahead="project.id as project.name for project in projects | filter:$viewValue | filter:project.$added"
          />
        </ng-form>
      </div>

      <div ng-hide="teams.length > 0">
        <div class="alert alert-info">{{team.name}} has not specified the open-source projects that they use.</div>
      </div>

      <ul class="thumbnails team-tracker-thumbnails">
        <li ng-repeat="tracker in team.trackers" class="span2">
          <a ng-href="/trackers/{{tracker.slug}}" class="thumbnail text-center">
            <img ng-src="{{tracker.medium_image_url}}"/>
            {{tracker.name}}
          </a>
          <button type="button" ng-show="is_admin" class="close" ng-click="remove_tracker(tracker.id)">&times;</button>
        </li>
      </ul>
    </div>
  </div>
</div>