<div class="well person-infobox">
  <div><img ng-src="{{person.large_image_url}}" /></div>
  <h3>{{person.display_name}}</h3>
  <table class="table">
    <tr ng-show="person.company">
      <td>
        Company:
      </td>
      <td>
        {{person.company}}
      </td>
    </tr>
    <tr ng-show="person.location">
      <td >
        Location:
      </td>
      <td>
        {{person.location}}
      </td>
    </tr>
    <tr ng-show="person.bio">
      <td>
        Bio:
      </td>
      <td>
        {{person.bio}}
      </td>
    </tr>
    <tr ng-show="person.url">
      <td>
        Website:
      </td>
      <td>
        <a href="{{person.url}}" target="_blank">{{person.url}}</a>
      </td>
    </tr>
    <tr ng-show="person.public_email">
      <td>
        Email:
      </td>
      <td>
        <a href="mailto:{{person.public_email}}">{{person.public_email}}</a>
      </td>
    </tr>
    <tr ng-show="person.github_account || person.twitter_account || person.facebook_account">
      <td>
        Linked accounts:
      </td>
      <td>
        <ul>
          <li class="provider-link" ng-show="person.github_account">
            <a ng-href="http://github.com/{{person.github_account.login}}" target="_blank"><img src="images/favicon-github.png"> <span>{{person.github_account.login}}</span></a>
          </li>
          <li class="provider-link" ng-show="person.twitter_account">
            <a ng-href="http://twitter.com/{{person.twitter_account.login}}"><img src="images/favicon-twitter.png"> <span>{{person.twitter_account.login}}</span></a>
          </li>
          <li class="provider-link" ng-show="person.facebook_account">
            <a ng-href="http://facebook.com/profile.php?id={{person.facebook_account.uid}}"><img src="images/favicon-facebook.png"> <span>{{person.facebook_account.login}}</span></a>
          </li>
          <!--<li class="provider-link" ng-show="person.gittip_account">-->
            <!--<a href="http://gittip.com/"><img src="images/favicon-facebook.png"> <span>{{person.gittip_account.login}}</span></a>-->
          <!--</li>-->
        </ul>
      </td>
    </tr>
  </table>

  <div ng-show="current_person.id == person.id" class="text-center">
    <a href="/settings" class="btn btn-primary">Edit Your Profile</a>
  </div>
</div>
