<div class="well person-infobox">
  <div><img ng-src="{{person.large_image_url}}" /></div>
  <h2 ng-show="!person.display_name">
    <span ng-show="person.first_name!='[unknown]'">{{person.first_name}}</span>
    <span ng-show="person.last_name!='[unknown]'">{{person.last_name}}</span>
  </h2>
  <h3>{{person.display_name}}</h3>
  <h4 ng-show="person.company">Company: {{person.company}}</h4>
  <p ng-show="person.location"><strong>Location: </strong> {{person.location}}</p>
  <p ng-show="person.bio"><strong>Bio: </strong> {{person.bio}}</p>
  <p ng-show="person.public_email"><strong>Email: </strong><a ng-href="mailto:{{person.public_email}}">{{person.public_email}}</a></p>
  <p ng-show="person.url"><strong>URL: </strong><a ng-href="{{person.url}}">{{person.url}}</a></p>

  <div ng-show="person.github_account || person.twitter_account || person.facebook_account">
    Linked Accounts:
    <ul>
      <li class="provider-link" ng-show="person.github_account">
        <a ng-href="http://github.com/{{person.github_account.login}}" target="_blank"><img src="images/favicon-github.png"> <span>{{person.github_account.login}}</span></a>
      </li>
      <li class="provider-link" ng-show="person.twitter_account">
        <a ng-href="http://twitter.com/{{person.twitter_account.login}}"><img src="images/favicon-twitter.png"> <span>{{person.twitter_account.login}}</span></a>
      </li>
      <li class="provider-link" ng-show="person.facebook_account">
        <a ng-href="http://facebook.com/profile.php?id={{person.facebook_account.uid}}"><img src="images/favicon-facebook.png"> <span>{{person.facebook_account.login}}</span></a>
      </li>
      <!--<li class="provider-link" ng-show="person.gittip_account">-->
        <!--<a href="http://gittip.com/"><img src="images/favicon-facebook.png"> <span>{{person.gittip_account.login}}</span></a>-->
      <!--</li>-->
    </ul>
  </div>

  <div ng-show="current_person.id == person.id" class="text-center">
    <a href="/settings" class="btn btn-primary">Edit Your Profile</a>
  </div>
</div>
