<table id="person-timeline-table" class="table table-striped">
  <tr ng-repeat="action in timeline">
    <td ng-show="action.type == 'pledge'">
      <strong>{{ person.display_name }}</strong> pledged <strong>{{ action.amount | dollars }}</strong> to <a href="/fundraisers/{{ action.target_slug }}">{{ action.target_name }}</a>
    </td>

    <td ng-show="action.type == 'bounty'">
      <strong>{{ person.display_name }}</strong> placed a <strong>{{ action.amount | dollars }}</strong> bounty on <a href="/issues/{{ action.target_slug }}">{{ action.target_name }}</a>
    </td>

    <td ng-show="action.type == 'tracker_plugin'">
      <strong>{{ person.display_name }}</strong> installed the <a href="/tools">GitHub plugin</a> for <a href="/trackers/{{ action.target_slug }}">{{ action.target_name }}</a>
    </td>

    <td class="muted">{{ action.created_at | date:'medium' }}</td>
  </tr>

  <tr>
    <td>
      Joined the Bountysource family
    </td>
    <td class="muted">{{ person.created_at | date:'medium' }}</td>
  </tr>
</table>