.continue-button {
    margin-top: 45px;
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 999px;
    font-weight: 600;
  }

.support-amount-form {
  label.control-label {
    font-weight: 400;
  }
}
