.workplace-splash-background {
  background-image: asset-url('backgrounds/workplace-background.svg');
  background-repeat: no-repeat;
  background-size: 100% 150px;
  background-position: 0px 85px;
}


.welcome-card {
  margin-top: 24px;
  text-align: center;
  h5 {
    font-size: 16px;
  }
  hr {
    border-top: 5px solid #54c1ab;
    border-radius: 3px;
  }
}
.activity-card {
  hr {
    border-top: 5px solid #ef6464;
    border-radius: 3px;
  }
}

.why-salt-card {
  hr {
    border-top: 5px solid #33ccfe;
    border-radius: 3px;
  } 
}

.img-salt-homepage-logo {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .img-salt-homepage-logo{ 
    width:100px;
    height:100px;
  }
}