

.kanban-body #footer { display: none; }
.kanban-body #wrap { height: 100%; margin: 0; padding: 0; }
.kanban-body #container-div { height: 100%; padding-top: 55px; margin-top: -55px; }

.kanban-wrapper { overflow-x: auto; background: #white; box-shadow: inset 0px 7px 3px -3px rgba(0, 0, 0, 0.15); padding: 20px 5px; height: 100%; }
.kanban { display: flex; flex-wrap: nowrap; align-items: flex-start; height: 100%; }
.kanban .kanban-column { padding: 0 5px; width:300px; flex: none; height: 100%; margin-top: -30px; padding-top: 30px }

.kanban .panel-heading {
  color: white;
  text-align: center;
}

.kanban .panel-green .panel-heading { 
  background-color: $aquamarine;
}

.kanban .panel-red .panel-heading { 
  background-color: $salmon;
}
.kanban .panel-body { 
  overflow-y: auto; 
  max-height: 100%; 
  padding: 8px 8px 0 8px; 
  box-shadow: 0 2px 4px 0 #edf0f0;
  border: solid 1px #edf0f0;
}

.kanban .kanban-card { margin-bottom: 8px; background: white; padding: 10px; }
.kanban .kanban-card:last-child { margin-bottom: 0; }
.kanban .kanban-card h4 { margin: 0 0 12px; font-size: 15px; }
.kanban .kanban-card a { color: #333; }
.kanban .kanban-card h4 img { width: 16px; height: 16px; margin-right: 3px; vertical-align: bottom; }
.kanban .kanban-card .label { margin-right: 5px; }