/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.top-border { 
  height: 10px;
  background-image: linear-gradient(to left, #33ccff, #4edcca);
}

a.gunmetal-link {
  color: $gunmetal;
  font-weight: 500;
  &:hover {
    text-decoration: none;
  }
}

.card {
  border: solid 1px #edf0f0;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.display-flex {
  display: flex;
}

.no-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}