<div class="pact-page">
    <div class="panel panel-default">
      <h3 class="text-black">Post a pact</h3>
      <p>
        A small description of what a pact really is. Culpa sapiente error quod
        qui consectetur assumenda, voluptates, possimus molestias, voluptatum
        reprehenderit eligendi quisquam. Dicta pariatur quas corporis quod
        officiis non. Cum.
      </p>
      <div class="input-container">
        <span class="text-muted">
          <small>Project Name</small>
          <small class="error">{{ errors.projectName }}</small>
        </span>
        <input
          ng-model="formData.projectName"
          placeholder="A internal label for your project"
          type="text"
          class="form form-control"
        />
      </div>
      <!-- <div class="input-container">
        <span class="text-muted">
          <small>Pact type</small>
        </span>
        <select
          :name="pactType"
          ng-model="pactType.value"
          ng-options="option.value as option.description for option in pactTypeOptions"
          class="form-control"
          ng-change="updatePactType(pactType.value)"
        ></select>
      </div> -->
      <div class="row">
        <div class="input-container">
          <span class="text-muted">
            <small>Experience Level</small>
          </span>
          <select
            :name="expirienceLvl"
            ng-model="expirienceLvl.value"
            ng-options="option.value as option.description for option in expirienceLvlOptions"
            class="form-control"
            ng-change="updateExpirienceLvl(expirienceLvl.value)"
          ></select>
        </div>
        <div class="input-container">
          <span class="text-muted">
            <small>Time Commitment</small>
          </span>
          <select
            :name="Time Commitment"
            ng-model="timeCommitment.value"
            ng-options="option.value as option.description for option in timeCommitmentOptions"
            class="form-control"
            ng-change="updateTimeCommitment(timeCommitment.value)"
          ></select>
        </div>
        <div class="input-container">
          <span class="text-muted">
            <small>Issue type</small>
          </span>
          <select
            :name="issueType"
            ng-model="issueType.value"
            ng-options="option.value as option.description for option in issueTypeOptions"
            class="form-control"
            ng-change="updateissueType(issueType.value)"
          ></select>
        </div>
      </div>
      <div class="input-container">
        <span class="text-muted">
          <small>Expiration</small>
        </span>
        <select
          :name="pactTimerOptions"
          ng-model="pactTimer.value"
          ng-options="option.value as option.description for option in pactTimerOptions"
          class="form-control"
          ng-change="updatePactTimer(pactTimer.value)"
        ></select>
      </div>
      <div class="input-container">
        <span class="text-muted">
          <small>Relevant project link</small>
          <small class="error">{{ errors.projectLink }}</small>
        </span>
        <input
          ng-model="formData.projectLink"
          placeholder="Relevant link (website)"
          type="text"
          class="form form-control"
        />
      </div>
  
      <div class="input-container">
        <span class="text-muted">
          <small>Github issue</small>
          <small class="error">{{ errors.githubIssue }}</small>
        </span>
        <input
          ng-model="formData.githubIssue"
          placeholder="Link to github issue (optional)"
          type="text"
          class="form form-control"
        />
      </div>
      <div class="input-container">
        <span class="text-muted">
          <small>Project description</small>
          <small class="error">{{ errors.projectDescription }}</small>
        </span>
        <textarea
          ng-model="formData.projectDescription"
          placeholder="Project description"
          type="text"
          class="form form-control"
        ></textarea>
      </div>
      <!-- <div class="input-container">
        <span class="text-muted">
          <small>Upload images (3 images max)</small>
          <small class="error" ng-if="fileLength"
            >Choose a maximum of 3 files.</small
          >
        </span>
        <input
          data-imgupload
          placeholder="Link to github issue (optional)"
          type="file"
          multiple
          class="form form-control"
        />
        <div class="img-container" id="images"></div>
      </div> -->
    </div>
    <div class="panel panel-gunmetal">
      <!-- <div ng-include="'app/issues/templates/usd_form.html'"></div> -->
      <div ng-if="current_person" class="text-center payment-container">
        <div
          class="form-container"
          ng-include="'app/pact/create/templates/payment-form.html'"
        ></div>
        <div class="mt-5">
          <button class="btn btn-light-blue btn-responsive py-3" ng-click="checkoutUsd()" ng-disabled="!canCheckout()" disabled="disabled">CHECKOUT</button>
        </div>
      </div>
      <div ng-if="!current_person">
        <p class="text-center">You need to sign in in order to post a pact.</p>
        <button
          class="btn btn-light-blue btn-responsive"
          ng-click="goToSignInPage()"
        >
          Sign In
        </button>
      </div>
    </div>
  </div>
  
