<loading-bar ng-hide="issue">Such loading wow...</loading-bar>
<div class="row-fluid" ng-show="issue">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12" style="border: 1px solid #ddd; padding: 15px; border-radius: 10px; margin-bottom:15px;">
        <div class="alert alert-success" ng-show="issue.paid_out" style="margin-bottom:0px;"><i class='icon-warning-sign'></i> Paid out!</div>
        <h3>Issue #{{ issue.id }}</h3>
        <img class="thumbnail" style="width: 100px; height: 100px; margin-bottom:15px;" ng-src="{{issue.author_image_url}}"></img>
        <h3>{{ issue.title }}</h3>
        <hr>
        <div ng-bind-html="issue.body_html"></div>
        <hr>
        <div ng-show="issue.account"><h3>Account</h3><a ng-href="/admin/accounts/{{ issue.account.id }}" style="margin-left:20px;"><span>{{ issue.account.type }} ( {{ issue.account.balance | currency }} )</span></a></div>
        <div><h3>Tracker</h3><a ng-href="{{ issue.tracker.url }}" target="_blank" style="margin-left:20px;">{{ issue.tracker.name }}</a></div>
        <div><h3>Bounty Total</h3><p style="margin-left:20px;">{{ issue.bounty_total | currency }}</p></div>
        <div>
          <div ng-show="saved_at">
            <alert type="'success'" close="success=undefined">Updated issue {{saved_at | date:'medium'}}</alert>
          </div>
          <form>
            <label class="radio"><input type="radio" ng-model="form_data.featured" ng-value="true"></input>Featured</label>
            <label class="radio"><input type="radio" ng-model="form_data.featured" ng-value="false"></input>Not Featured</label>
            <button type="button" class="btn btn-primary" ng-click="update_issue(issue, form_data)">Update Issue</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12" style="border: 1px solid #ddd; border-radius: 10px; padding:15px;">
        <div>
          <h3>Bounty Claims</h3>
          <table class="table table-condensed table-striped table-bordered" style="margin-top:15px;">
            <thead>
              <tr>
                <th>ID</th>
                <th>Body</th>
                <th>Person</th>
                <th>Submitted</th>
                <th>In Dispute Period</th>
                <th>Accepted</th>
                <th>Disputed</th>
                <th>Rejected</th>
                <th>Contested</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="claim in issue.bounty_claims" ng-class="{success: claim.collected, error: claim.disputed || claim.rejected}">
                <td style="word-wrap: break-word;">{{claim.id}}</td>
                <td style="word-wrap: break-word;"><a ng-href="/admin/claims/{{ claim.id }}">{{claim.description}}</a></td>
                <td style="word-wrap: break-word;"><a ng-href="/admin/people/{{ claim.person.id }}">{{claim.person.display_name}}</a></td>
                <td style="word-wrap: break-word;">{{claim.created_at | date:'short'}}</td>
                <td><i class="icon-ok" ng-show="claim.in_dispute_period"></icon></td>
                <td><i class="icon-ok" ng-show="claim.collected"></icon></td>
                <td><i class="icon-ok" ng-show="claim.disputed"></icon></td>
                <td><i class="icon-ok" ng-show="claim.rejected"></icon></td>
                <td><i class="icon-ok" ng-show="claim.contested"></icon></td>

              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h3>Bounties</h3>
          <table class="table table-condensed table-striped table-bordered table-hover" style="margin-top:15px;">
            <thead>
              <tr>
                <th><input type="checkbox" ng-click="checkboxToggleAll()" ng-checked="checkbox_toggled" /></th>
                <th>ID</th>
                <th>Amount</th>
                <th>Person</th>
                <th>Created</th>
                <th>Owner</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="bounty in issue.bounties">
                <td><input type="checkbox" ng-click="checkboxToggle(bounty)" ng-checked="bounty.checked" /></td>
                <td><a ng-href="/admin/bounties/{{bounty.id}}">{{ bounty.id }}</a></td>
                <td>{{ bounty.amount | currency }}</td>
                <td>
                  <a owner-href="bounty.person">{{bounty.person.display_name}}</a>
                </td>
                <td>{{ bounty.created_at | date:'short' }}</td>
                <td>
                  <div ng-show="bounty.owner">
                    <a owner-href="bounty.owner">{{bounty.owner.display_name}}</a>
                  </div>
                </td>
                <td><strong>{{ bounty.status }}</strong></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7">
                  <button class="btn btn-danger" ng-click="refundBounties()">Refund {{(issue.bounties|filter:{checked: true, status:'active'}).length}} Bounties</button>

                  <span style="padding-right:20px"></span>

                  <input type="text" placeholder="issue ID" ng-model="move_bounties_to_issue_id" style="width:50px" />
                  <button class="btn btn-success" ng-click="moveBounties()">Move {{(issue.bounties|filter:{checked: true, status:'active' }).length}} Bounties</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div>
          <h3>Backers</h3>
          <table class="table table-condensed table-striped table-bordered" style="margin-top:15px;">
            <thead>
              <tr>
                <th>ID</th>
                <th>Display Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="backer in backers">
                <td>{{ backer.id }}</td>
                <td><a ng-href="/admin/people/{{ backer.id }}">{{ backer.display_name }}</a></td>
                <td><a ng-href="mailto:{{ backer.email }}">{{ backer.public_email}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
