---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v4/stories/45939421
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 4ef2eedd8f04ecf183f17de68be90a1a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"6ce7d306a82e7068dd6e6a42713ae3f3"'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<story>\n  <id type=\"integer\">45939421</id>\n
        \ <project_id type=\"integer\">367813</project_id>\n  <story_type>feature</story_type>\n
        \ <url>https://www.pivotaltracker.com/story/show/45939421</url>\n  <estimate
        type=\"float\">5</estimate>\n  <current_state>accepted</current_state>\n  <description>As
        a citizen\nI want to be able to sign up for email alerts from Inside Gov which
        correspond to my exact interests\nSo I find out when things change that affect
        my job\n\n--\n\n- Using JS's Python app and Govdelivery API, we need the ability
        to set up govdelivery topics on the fly for any combination of the following
        filter options from Inside Gov: \n-- content type\n-- topic\n-- org\n-- 'relevant
        to local gov' flag\n\n- topcis created using the API need to be set to 'unlisted'
        so they don't get offered to subscribers through the govdelivery subs interface\n\n-
        other filter options can be put out of scope for now but will probably be
        added later\n\n- Frontend interface is not part of this story, there's another
        story for that. </description>\n  <name>Use govdelivery API for topic creation</name>\n
        \ <requested_by>\n    <person>\n      <id type=\"integer\">539667</id>\n      <name>Neil
        Williams</name>\n      <initials>NW</initials>\n    </person>\n  </requested_by>\n
        \ <owned_by>\n    <person>\n      <id type=\"integer\">670453</id>\n      <name>Bradley
        Wright</name>\n      <initials>Brad</initials>\n    </person>\n  </owned_by>\n
        \ <created_at type=\"datetime\">2013/03/11 12:53:19 UTC</created_at>\n  <updated_at
        type=\"datetime\">2013/05/13 15:10:24 UTC</updated_at>\n  <accepted_at type=\"datetime\">2013/04/04
        08:41:02 UTC</accepted_at>\n  <labels>info4local</labels>\n  <comments type=\"array\">\n
        \   <comment>\n      <id type=\"integer\">39247393</id>\n      <text>I've
        started working on this in order to get the import working cleanly.</text>\n
        \     <author>\n        <person>\n          <id type=\"integer\">670453</id>\n
        \         <name>Bradley Wright</name>\n          <initials>Brad</initials>\n
        \       </person>\n      </author>\n      <created_at type=\"datetime\">2013/03/18
        22:42:26 UTC</created_at>\n    </comment>\n    <comment>\n      <id type=\"integer\">39758491</id>\n
        \     <text>@brad: pushed my branch here: https://github.com/alphagov/whitehall/tree/info4local-publish-hook</text>\n
        \     <author>\n[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v4/projects/367813
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 4ef2eedd8f04ecf183f17de68be90a1a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"99e8bea6f53ef827cd79e7e5ff9a4354"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <project>
          <id type="integer">367813</id>
          <name>Departments and policy (Dev)</name>
          <created_at type="datetime">2011/09/11 19:50:57 UTC</created_at>
          <version>79044</version>
          <iteration_length type="integer">2</iteration_length>
          <week_start_day>Wednesday</week_start_day>
          <point_scale>0,1,2,3,5,8</point_scale>
          <account>GDS</account>
          <start_date type="date">2011/09/14</start_date>
          <first_iteration_start_time type="datetime">2011/09/13 23:00:00 UTC</first_iteration_start_time>
          <current_iteration_number type="integer">110</current_iteration_number>
          <enable_tasks type="boolean">true</enable_tasks>
          <velocity_scheme>Average of 1 iteration</velocity_scheme>
          <current_velocity type="integer">25</current_velocity>
          <initial_velocity type="integer">25</initial_velocity>
          <number_of_done_iterations_to_show type="integer">12</number_of_done_iterations_to_show>
          <labels>---reviewing the ones below here---,500-error,accessibility,advocate,ago,aug,backend,bis,blocked,bug-squash,by 10 dec,by 10 jan,by 10 nov,by 16 dec,by 17 apr,by 17 jul,by 17 jun,by 17 nov,by 2 dec,by 2 july,by 2 sep,by 20 dec,by 23 apr,by 23 jan,by 25 apr,by 26 jun,by 27 jan,by 29 apr,by 30 apr,by 8 jan,by 9 dec,by 9 jan,by end of january,by feb 3,by jan 6,by mid jan,co,collab,content,custom logos,data cleanup,data import mv[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v4/projects/367813/stories/45939421
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 4ef2eedd8f04ecf183f17de68be90a1a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"6ce7d306a82e7068dd6e6a42713ae3f3"'
    body:
      encoding: UTF-8
      string[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v4/projects/367813/stories/45939421/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 4ef2eedd8f04ecf183f17de68be90a1a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"b739053edc40f845a89d7e1404ffee94"'
    body:
      encoding: UTF-8
   [...]
