<div>
  <table class="table table-striped" style="table-layout: fixed">
    <tr class="no-stripe">
      <td class="imagerow">
        <a ng-show="issue.author.slug" owner-href="issue.author">
          <img ng-src="{{issue.author.image_url_small || issue.author.image_url}}" class="thumbnail" style="width:50px; height:50px; max-width: 50px">
        </a>
        <img ng-hide="issue.author.slug" ng-src="{{issue.author.image_url_small || issue.author.image_url}}" class="thumbnail" style="width:50px; height:50px; max-width: 50px">
      </td>

      <td style="overflow-x:auto">
        <p class="text-muted">
          <a ng-show="issue.author.slug" owner-href="issue.author">{{issue.author.display_name}}</a>
          <span ng-hide="issue.author.slug">{{issue.author.display_name}}</span>
          <span>opened this issue on {{issue.created_at | date}}</span>
        </p>

        <target-blank model="issue">
          <div ng-show="_ctype == 'html'" ng-bind-html="issue.body_html" class="image_body_html"></div>
          <div ng-show="_ctype == 'text'" style="white-space: pre-wrap;">{{issue.body_html}}</div>
        </target-blank>

        <p class="text-muted">
          <a ng-href="{{issue.url}}" target="_blank">View original issue »</a>
        </p>
      </td>
    </tr>

    <tr ng-if="comments.length > 0">
      <td colspan="2">
        <h2 ng-show="comments.length > 0">Comments {{ comments.length | number }}</h2>
      </td>
    </tr>

    <tr ng-repeat="comment in comments | orderBy:['+created_at']" on-finish-render>
      <td>
        <a ng-show="comment.author.slug" owner-href="comment.author">
          <img ng-src="{{comment.author.image_url_small || comment.author.image_url}}" class="thumbnail no-margin" style="max-width: 50px">
        </a>
        <img ng-hide="comment.author.slug" ng-src="{{comment.author.image_url_small || comment.author.image_url}}" class="thumbnail" style="width:50px; height:50px; max-width: 50px">
      </td>

      <td style="overflow-x:auto">
        <p class="text-muted" id="{{comment.created_at.slice(0,19)}}">
          <a ng-show="comment.author.slug" ng-href="people/{{comment.author.slug}}">{{comment.author.display_name}}</a>
          <span ng-hide="comment.author.slug">{{comment.author.display_name}}</span>
          on
          <a href="#{{comment.created_at.slice(0,19)}}">{{comment.created_at | date}}</a>
        </p>

        <target-blank model="issue">
          <div ng-show="_ctype == 'html'" ng-bind-html="comment.body_html" class="image_body_html"></div>
          <div ng-show="_ctype == 'text'" style="white-space: pre-wrap;">{{comment.body_html}}</div>
        </target-blank>
      </td>
    </tr>
  </table>
</div>
