<h3>Basic Fields ( Required )</h3>

<form name="form" ng-submit="submit_form()">
  <div class="form-group">
    <label class="control-label" for="subtitle">Subtitle</label>
    <input type="text" class="form-control input-medium" id="subtitle" ng-model="form_data.subtitle" placeholder="Ten words or less that describe your mission." />
  </div>
  <div class="form-group">
    <label class="control-label" for="youtube_video_url">Youtube URL</label>
    <input type="text" class="form-control input-medium" id="youtube_video_url" ng-model="form_data.youtube_video_url" placeholder="https://www.youtube.com/watch?..." />
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <label class="control-label" for="body_markdown">Body (markdown)</label>
        <textarea msd-elastic class="form-control input-medium" id="body_markdown" ng-model="form_data.body_markdown" placeholder="Markdown"></textarea>
      </div>
      <div class="col-md-6">
        <label class="control-label">Body Preview</label>
        <target-blank model="markdown_preview">
          <div btf-markdown="markdown_preview" class="well markdown"></div>
        </target-blank>
      </div>
    </div>
  </div>

  <h3>Advanced Fields ( Optionals )</h3>

  <div class="form-group">
    <label class="control-label" for="hackernews_share_text">Share Text: HackerNews</label>
    <input type="text" class="form-control input-medium" id="hackernews_share_text" ng-model="form_data.extra.hackernews_share_text" placeholder="Support {{team.name}}: {{form_data.subtitle}}" />
  </div>

  <div class="form-group">
    <label class="control-label" for="twitter_share_text">Share Text: Twitter</label>
    <input type="text" class="form-control input-medium" id="twitter_share_text" ng-model="form_data.extra.twitter_share_text" placeholder="Support {{team.name}}: {{form_data.subtitle}}" />
  </div>

  <div class="form-group">
    <label class="control-label" for="reddit_share_text">Share Text: Reddit</label>
    <input type="text" class="form-control input-medium" id="reddit_share_text" ng-model="form_data.extra.reddit_share_text" placeholder="Support {{team.name}}: {{form_data.subtitle}}" />
  </div>

  <!-- <div class="form-group">
    <label class="control-label" for="googleplus_share_text">Share Text: Google+ (optional)</label>
    <input type="text" class="form-control input-medium" id="googleplus_share_text" ng-model="form_data.extra.googleplus_share_text" placeholder="Support {{team.name}}: {{form_data.subtitle}}" />
  </div>

  <div class="form-group">
    <label class="control-label" for="facebook_share_text">Share Text: Facebook (optional)</label>
    <input type="text" class="form-control input-medium" id="facebook_share_text" ng-model="form_data.extra.facebook_share_text" placeholder="Support {{team.name}}: {{form_data.subtitle}}" />
  </div> -->

  <div class="form-group">
    <label class="control-label" for="goals_fine_print">Fine Print: Goals</label>
    <input type="text" class="form-control input-medium" id="goals_fine_print" ng-model="form_data.extra.goals_fine_print" placeholder="A sentence or two that explain any caveats about goals." />
  </div>

  <div class="form-group">
    <label class="control-label" for="rewards_fine_print">Fine Print: Rewards</label>
    <input type="text" class="form-control input-medium" id="rewards_fine_print" ng-model="form_data.extra.rewards_fine_print" placeholder="A sentence or two that explain any caveats about rewards." />
  </div>

  <button type="submit" class="btn btn-light-blue btn-long btn-lg btn-rounded" ng-disabled="form.$pristine || saving_form"><span ng-show="saving_form">Saving...</span><span ng-hide="saving_form">Save</span></button>
</form>
