<div>
  <div class="input-group">
    <div class="input-group-btn">
      <button class="btn btn-default dropdown-toggle">
        <span ng-if="display_currency === 'USD'">$</span>
        <span ng-if="display_currency === 'BTC'">฿</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a ng-click="toggleCurrency('BTC')">Bitcoin (฿)</a></li>
        <li><a ng-click="toggleCurrency('USD')">US Dollar ($)</a></li>
      </ul>
    </div>
    <input id="amount" type="number" step="any" ng-model="display_value" placeholder="15" required="" class="form-control">
  </div>
</div>
