<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a ng-href="/trackers/{{tracker.slug}}">{{ tracker.name ||'Loading...' }}</a></li>
</ul>

<div class="row-fluid" ng-show="tracker">
  <div class="span3">
    <div class="well text-center">
      <div><img ng-src="{{tracker.image_url}}" /></div>
      <br />
      <button class="btn btn-block" ng-click="tracker.follow()">
        <span ng-show="tracker.followed">
          <i class="icon-star"></i>
          Following this project
        </span>
        <span ng-hide="tracker.followed">
          <i class="icon-star-empty"></i>
          Follow this project
        </span>
      </button>

      <a ng-href="{{tracker.url}}" target="_blank" class="btn btn-block">
        <i class="icon-globe"></i>
        View Issue Tracker
      </a>
    </div>

    <div class="well well-small">
      <div class="text-center">
        <a ng-click="show_bounties()"><h2 style="margin: 0;" ng-show="tracker.bounty_total > 0" class="text-center">{{tracker.bounty_total | dollars}}</h2></a>
        <div>in bounties</div>
      </div>

      <div class="row-fluid">
        <div class="span6 text-center">
          <h3 style="margin: 0;">{{tracker.forks | number}}</h3>
          <div>{{'fork' | pluralize:tracker.forks}}</div>
        </div>
        <div class="span6 text-center">
          <h3 style="margin: 0;">{{tracker.watchers | number}}</h3>
          <div>{{'watcher' | pluralize:tracker.watchers}}</div>
        </div>
      </div>
    </div>

    <h4>Tags</h4>

    <form class="form-inline">
      <input type="text" class="span7" ng-model="tracker.new_tag.name" placeholder="Add a new tag" />
      <button type="submit" class="btn btn-primary" ng-click="tracker.create_tag()">
        <i class="icon-tag icon-white"></i>
        Add Tag
      </button>
    </form>

    <div ng-repeat="tag_relation in tracker.tags | orderBy:'weight':true">
      <ul class="inline">
        <li style="width: 24px;"><a ng-show="tag_relation.vote <= 0" ng-click="tag_relation.upvote()"><i class="icon-thumbs-up"></i></a></li>
        <li style="width: 24px;"><a ng-show="tag_relation.vote >= 0" ng-click="tag_relation.downvote()"><i class="icon-thumbs-down"></i></a></li>
        <li><strong>{{tag_relation.weight}}</strong></li>
        <li>
          <span class="label label-info">
            <i class="icon-tag icon-white"></i>
            {{tag_relation.tag.name}}
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="span9">
    <h1>{{tracker.name}}</h1>
    <p class="lead">{{tracker.description}}</p>

    <!--<div ng-include="'pages/trackers/partials/nav_tabs.html'"></div>-->
    <!--<hr />-->

    <!--Issue filter box-->
    <div class="well well-small">
      <div class="row-fluid">
        <div class="span6">
          <input type="text" class="span12" min="0" placeholder="Search issues" ng-model="issue_filter_options.text" ng-change="update_filter_options()" />
        </div>

        <div class="span6">
          <div style="display:inline-block;vertical-align:middle">Bounty Range: $</div>
          <input type="number" class="span4" min="1" placeholder="50" ng-model="issue_filter_options.bounty_min" ng-change="update_filter_options()" style="margin-bottom:0;display:inline-block;vertical-align:middle" tooltip="Minimum bounty amount" tooltip-placement="bottom" tooltip-trigger="focus" />
          <div style="display:inline-block;vertical-align:middle"> - </div>
          <input type="number" class="span4" min="1" placeholder="Infinity" ng-model="issue_filter_options.bounty_max" ng-change="update_filter_options()" style="margin-bottom:0;display:inline-block;vertical-align:middle" tooltip="Maximum bounty amount" tooltip-placement="bottom" tooltip-trigger="focus" />
        </div>
      </div>

      <ul class="inline" style="margin-bottom: 0;">
        <li>
          <label class="checkbox">
            <input type="checkbox" ng-model="issue_filter_options.only_valuable" />
            Has active bounties
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" ng-model="issue_filter_options.hide_open" />
            Hide open issues
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" ng-model="issue_filter_options.hide_closed" />
            Hide closed issues
          </label>
        </li>
      </ul>
    </div>

    <!--No issues shown message -->
    <div ng-show="(tracker.issues | filter:issue_filter).length == 0" class="alert alert-info">No issues found :(</div>

    <!--Table of issues-->
    <table class="table table-condensed table-striped" ng-show="(tracker.issues | filter:issue_filter).length > 0">
      <thead>
      <tr>
        <th class="span1"><a ng-click="change_order_col('bounty_total')">Bounty</a></th>
        <th class="span10">Issue Title</th>
        <th class="span1"><a ng-click="change_order_col('comment_count')">Comments</a></th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="issue in tracker.issues | filter:issue_filter | orderBy:order_col:order_reverse" ng-class="{ success: (issue.bounty_total > 0), warning: (!issue.can_add_bounty) }">
        <td>
          <span ng-show="issue.bounty_total > 0" class="badge badge-success">{{issue.bounty_total | dollars}}</span>
        </td>
        <td class="span7">
          <a ng-href="/issues/{{issue.slug}}" ng-class="{ 'text-success': (issue.bounty_total > 0), 'text-warning': (!issue.can_add_bounty) }">
            <i ng-show="issue.bounty_total >= 1000" class="icon-fire"></i>
            <span ng-show="!issue.can_add_bounty" class="label label-warning">closed</span>
            {{issue.title}}
          </a>
        </td>
        <td class="text-center">
          <a ng-href="/issues/{{issue.slug}}/comments" class="label label-info">
            <i class="icon-comment icon-white"></i>
            {{issue.comment_count | number}}
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
