<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <!--<li><a href="/people">People</a><span class="divider">»</span></li>-->
  <li class="active"><a href="/people/{{person.slug}}">{{ person.display_name ||'Loading...' }}</a></li>
</ul>

<div class="row" ng-show="person">
  <div class="col-lg-3 col-md-4 col-sm-4 col-sm-offset-0 col-xs-offset-2 col-xs-8">
    <div class="panel panel-default">
      <div class="panel-body p-3">
        <!-- Profile picture, homepage email -->
        <img class="img-responsive img-circle center-block" ng-src="{{person.large_image_url}}" style='max-width: 220px' />

        <a ng-show="person.url" class="btn btn-default center-block mt-3 border-gunmetal" ng-href="{{person.url}}">
          <i class="glyphicon glyphicon-globe pr-3" style="vertical-align: -2px"></i>
           {{person.url | cleanUrl | truncate:25}}
        </a>
        <a ng-show="person.public_email" class="btn btn-default center-block mt-3 border-gunmetal" ng-href="mailto:{{person.public_email}}">
          <i class="glyphicon glyphicon-envelope pr-3 style="vertical-align: -2px></i> 
          {{person.public_email | truncate:25}}
        </a>

        <table class="table mt-3">
          <!-- Company -->
          <tr ng-if="person.company" class="no-stripe">
            <td><strong>Company</strong></td>
            <td>{{person.company}}</td>
          </tr>

          <!-- Location -->
          <tr ng-if="person.location" class="no-stripe">
            <td><strong>Location</strong></td>
            <td>{{person.location}}</td>
          </tr>

          <!-- Linked Accounts -->
          <tr ng-if="person.github_account || person.twitter_account || person.facebook_account" class="no-stripe">
            <td><strong>Accounts</strong></td>
            <td>
              <ul class="list-unstyled">
                <li ng-show="person.github_account">
                  <a ng-href="http://github.com/{{person.github_account.display_name}}" target="_blank"><img class="img-circle" src='<%= asset_path("favicon-github.png") %>'> <span>{{person.github_account.display_name}}</span></a>
                </li>
                <li ng-show="person.twitter_account">
                  <a ng-href="http://twitter.com/{{person.twitter_account.display_name}}"><img class="img-circle" src='<%= asset_path("favicon-twitter.png") %>'> <span>{{person.twitter_account.display_name}}</span></a>
                </li>
                <li ng-show="person.facebook_account">
                  <a ng-href="http://facebook.com/profile.php?id={{person.facebook_account.uid}}"><img class="img-circle" src='<%= asset_path("favicon-facebook.png") %>'> <span>{{person.facebook_account.display_name}}</span></a>
                </li>
              </ul>
            </td>
          </tr>

          <!-- Teams -->
          <tr ng-if="teams.length > 0" class="no-stripe">
            <td><strong>Teams</strong></td>
            <td>
              <ul class="list-unstyled">
                <li class="provider-link" ng-repeat="team in teams | orderBy:'-added_at'">
                  <a ng-href="/teams/{{team.slug}}"><img class="img-circle" ng-src="{{team.image_url}}" style="width: 16px; height: 16px;"> {{team.name}}</a>
                </li>
              </ul>
            </td>
          </tr>

          <!-- Joined at date -->
          <tr class="no-stripe">
            <td><strong>Joined</strong></td>
            <td>{{person.created_at | date}}</td>
          </tr>
        </table>

        <div ng-show="current_person.id == person.id" class="text-center">
          <a href="/settings" class="btn btn-default btn-long border-gunmetal">Edit Your Profile</a>
        </div>

        <div ng-show="current_person.id != person.id" class="text-center" ng-switch="report_user_form.state">
          <div class="alert alert-danger" ng-if="report_user_form.error">
            {{report_user_form.error}}
          </div>
          <div ng-switch-when="hidden">
            <button ng-click="report_user_form.show()" class="mt-3 btn btn-long btn-danger">Report This Account</button>
          </div>
          <form ng-switch-when="shown" class="form-horizontal ng-pristine ng-valid" ng-submit="report_user_form.submit()">
            <label class="col-xs-12 control-label">Reason</label>
            <!--select class="col-xs-12 mt-3" ng-model="report_user_form.data.report_reason" ng-options="item for item in report_user_form.reasons">
            </select-->
            <div class="btn-group mt-3">
              <span ng-repeat="reason in report_user_form.reasons" ng-click="selectReportReason(reason)" class="btn btn-sm btn-light-blue btn-outline" ng-class="{active: reason == report_user_form.data.report_reason}">
                {{ reason }}
              </span>
            </div>
            <label class="col-xs-12 control-label">Comment</label>
            <div class="col-xs-12 mt-3">
              <textarea class="form-control ng-pristine ng-valid" ng-model="report_user_form.data.note" placeholder="Provide some additional information." rows="4"></textarea>
            </div>
            <div>
              <button type="submit" class="mt-3 btn btn-light-blue">Submit</button>
              <button ng-click="report_user_form.cancel()" class="mt-3 btn btn-danger">Cancel</button>
            </div>
          </form>
          <div ng-switch-when="submitted">
            <button class="mt-3 btn btn-long btn-default disabled">Reported</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- Header. Includes person display name and bio -->
        <ng-include src="'app/people/templates/header.html'"></ng-include>

        <!-- Activity table -->
        <timeline events="events" no-actor-image="true"></timeline>
      </div>
    </div>
  </div>
</div>
