<div ng-controller="ShoppingCartController">
  <div class="row">
    <div class="col-md-9 col-sm-8">
      <h3 style="margin-top: 0;">Shopping Cart</h3>

      <table class="table">
        <tbody>
        <tr ng-repeat="item in cart.items">

          <!-- Image -->
          <td class="col-md-1 col-sm-2" ng-switch on="item.type">
            <!-- Pledge -->
            <div ng-switch-when="Pledge" tooltip-placement="bottom" tooltip="{{item.fundraiser.title}}">
              <img class="img-responsive" ng-src="{{item.fundraiser.image_url_medium}}" />
            </div>

            <!-- Bounty -->
            <div ng-switch-when="Bounty" tooltip-placement="bottom" tooltip="{{item.issue.tracker.display_name}}">
              <img class="img-responsive" ng-src="{{item.issue.tracker.image_url_medium}}" />
            </div>

            <!-- TeamPayin -->
            <div ng-switch-when="TeamPayin" tooltip-placement="bottom" tooltip="{{item.team.name}}">
              <img class="img-responsive" ng-src="{{item.team.image_url_medium}}" />
            </div>
          </td>

          <!-- Item details -->
          <td class="col-md-9 col-sm-8" ng-switch on="item.type">

            <!-- Item title -->
            <div>
              <a ng-if="isBounty(item)" ng-href="/issues/{{item.issue.tracker.slug}}"><h4>Bounty for "{{item.issue.title}}"</h4></a>
              <a ng-if="isPledge(item)" ng-href="/fundraisers/{{item.fundraiser.slug}}"><h4>Pledge to "{{item.fundraiser.title}}"</h4></a>
              <a ng-if="isTeamPayin(item)" ng-href="/teams/{{item.team.slug}}"><h4>Fund {{item.team.name}}</h4></a>
            </div>

            <ng-form class="form-horizontal">

              <!-- Amount -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-4">Amount:</label>
                <div class="col-md-9 col-sm-8">
                  <div class="input-group">
                    <money-input-group currency="item.currency">
                      <input type="number"
                             class="form-control"
                             placeholder="Bounty Amount"
                             ng-model="item.amount" />
                    </money-input-group>
                  </div>
                </div>
              </div>

              <!-- Display as: Owner select -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-4">Display As:</label>
                <div class="col-md-9 col-sm-8">
                  <ng-include src="'app/cart/templates/ownerSelect.html'"></ng-include>
                </div>
              </div>

              <!-- Bounty only: Expire + Upon expire selects -->
              <div ng-if="isBounty(item)">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-4">Expires:</label>

                  <div class="col-md-3 col-sm-4">
                    <select class="form-control" ng-model="item.bounty_expiration" ng-change="updateItem($index)">
                      <option value="never">Never</option>
                      <option value="6">6 Months</option>
                      <option value="3">3 Months</option>
                      <option value="1">1 Month</option>
                    </select>
                  </div>
                </div>

                <div class="form-group" ng-if="item.bounty_expiration && item.bounty_expiration !== 'never'">
                  <label class="col-md-3 col-sm-4 control-label">After Expire:</label>

                  <div class="col-md-9 col-sm-8">
                    <select class="form-control" ng-model="item.upon_expiration" ng-change="updateItem($index)">
                      <option value="" disabled>Select an action</option>
                      <option value="donate to project">Donate to project</option>
                      <option value="donate to community fund">Donate to community fund</option>
                      <option value="refund">Refund to Bountysource account</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- If Bounty: Tweet promotion -->
              <div class="form-group" ng-if="isBounty(item)">
                <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="item.tweet" />
                      Tweet from @Bountysource for {{ 20 | dollars }}?
                    </label>
                  </div>
                </div>
              </div>

              <!-- Item total -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-4">Total:</label>
                <div class="col-md-9 col-sm-8">
                  <p class="form-control-static"><strong>{{ calculateItemTotal(item) | dollars}}</strong></p>
                </div>
              </div>
            </ng-form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Checkout button -->
    <div class="col-md-3 col-sm-4">
      <div class="panel panel-success">
        <div class="panel-body">
          <div class="text-center text-success">
            <h4>Subtotal ({{cart.items.length | number:0}}
              <ng-pluralize count="cart.items.length" when="{ '1': 'item', 'other': 'items' }"></ng-pluralize>):
              <span>{{ calculateCartTotal() | dollars }}</span>
            </h4>
          </div>

          <button class="btn btn-block btn-lg btn-success">Checkout</button>

          <br />

          <ng-form>
            <strong>Checkout Method:</strong>
            <checkout-method-radios value="checkoutMethod" person="current_person"></checkout-method-radios>
          </ng-form>
        </div>
      </div>
    </div>
  </div>

  <pre>{{cart | json}}</pre>
</div>
