<div ng-controller="CartController">
  <h1>Cart</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 15%;">Amount</th>
      <th>Item</th>
      <th>Added</th>
      <th style="width: 100px;"></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in cart.items | orderBy:['-added_at']">
      <td>
        <div ng-hide="item.$edit_mode">
          {{item.amount | dollars}}
        </div>
        <div ng-show="item.$edit_mode">
          <input type="number" min="5" ng-model="item.$changes.amount" placeholder="100" style="margin-bottom: 0; width: 90%;" class="form-control">
        </div>
      </td>
      <td ng-switch="item.type">
        <div ng-switch-when="Bounty">
          <span>Bounty on <a ng-href="/issues/{{item.issue.slug}}">{{item.issue.title}}</a></span>
        </div>
        <div ng-switch-when="Pledge">
          <span>Pledge to <a ng-href="/fundraisers/{{item.fundraiser.slug}}">{{item.fundraiser.title}}</a></span>
        </div>
      </td>
      <td>{{item.added_at | date:'medium'}}</td>
      <td>
        <div collapse="item.$edit_mode">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <button tooltip="Remove" ng-click="remove_item(item)" class="btn btn-block btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="col-sm-6 col-md-6">
              <button tooltip="Edit" ng-click="toggle_edit_mode(item)" class="btn btn-block btn-primary" ng-class="{ active: item.$edit_mode }"><i class="glyphicon glyphicon-cog"></i></button>
            </div>
          </div>
        </div>
        <div collapse="!item.$edit_mode">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <button tooltip="Save Changes" ng-click="update_item(item)" class="btn btn-block btn-danger"><i class="glyphicon glyphicon-ok-sign"></i></button>
            </div>
            <div class="col-sm-6 col-md-6">
              <button tooltip="Cancel Changes" ng-click="cancel_item_changes(item)" class="btn btn-block btn-default" ng-class="{ active: item.$edit_mode }"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
