<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title text-center">Invite Members</h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Add members and send email invites</li>
    <li class="list-group-item">Assign roles to members</li>
    <li class="list-group-item">Show off your team</li>
  </ul>
  <div class="panel-body">
    <a ng-href="/teams/{{ team.slug }}/members/manage" class="btn btn-primary btn-block">Invite Members</a>
  </div>
</div>
