<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="text-center panel-title">Add Funds</h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Create a shared team balance</li>
    <li class="list-group-item">Fund with Paypal or Google Wallet</li>
    <li class="list-group-item"> Post bounties & pledge to fundraisers</li>
  </ul>
  <div class="panel-body">
    <a ng-href="/teams/{{ team.slug }}/account" class="btn btn-primary btn-block">Add Funds</a>
  </div>
</div>
