<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="text-center panel-title">Post a Bounty</h4>
  </div>

  <div class="panel-body">
    <p class="text-center">Paste the URL to an issue and enter an amount.</p>

    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-2">URL:</label>
        <div class="col-md-10">
          <input ng-model="search_query" type="text" class="form-control" placeholder="https://github.com/.../issues/123">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">Amount:</label>
        <div class="col-md-10">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input ng-model="bounty_amount" type="number" class="span6 form-control" placeholder="30.00">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
          <button ng-click="submit_search(search_query, bounty_amount)" class="btn btn-primary">Post Bounty</button>
        </div>
      </div>
    </form>
  </div>
</div>
