/* chatroom */
/*#chatroom { position: fixed; top: 0; left: 0; width: 100%; height: 0px; background: #555; overflow: hidden; }*/
/*#chatroom .connect { color: #eee; margin-top: 40px; }*/
/*#chatroom iframe { width: 100%; height: 200px; border: 0; margin: 0; padding: 0; }*/
/*body.chatroom #chatroom { height: 200px; }*/
/*body.chatroom .navbar { top: 200px; box-shadow: 0px -5px 5px rgba(0,0,0,0.1); }*/
/*body.chatroom #main { padding-top: 200px; }*/
/*body #main { -webkit-transition: padding-top 0.5s; }*/
/*.navbar { -webkit-transition: top 0.5s; }*/
/*#chatroom { -webkit-transition: height 0.5s; }*/
/*@media (max-width: 979px) {*/
  /*#chatroom { position: absolute; }*/
/*}*/
/*#chatroom form { text-align: center; padding-top: 10px; }*/
/*#chatroom input[name=nick] { margin: 0px 10px; }*/