html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  padding-top: 30px;
  background-color: #333;
  border-top: 4px solid #129e5e;
  color: #bbb;
  margin-top: 30px;
}

/* @screen-xs */
@media (max-width: 767px) {
  #footer {
    height: 600px;
  }
}

/* @screen-sm */
@media (min-width: 768px) and (max-width: 991px) {
  #footer {
    height: 320px;
  }
}

/* @screen-md */
@media (min-width: 992px) and (max-width: 1199px) {
  #footer {
    height: 230px;
    padding-left: 30px;
  }
}

/* @screen-lg */
@media (min-width: 1200px) {
  #footer {
    height: 200px;
  }
}

/* Top Backers Table */
.top-backers-table > .row { marghin-bottom: 15px; }
.top-backers-table > .row:last-of-type { margin-bottom: 0 !important; }
