li.member-thumbnail { text-align: center; }
li.member-thumbnail .member-thumbnail-actions { text-align: right; }
td.center-height { vertical-align: middle;}
td.teams-activity-cell {
  text-overflow: ellipsis;
  max-width: 869px;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

td.teams-date-cell {
  width: 20%;
}

a.team-member-card {
  overflow: hidden;
  text-overflow: ellipsis;
}

h3.no-margin {
  margin: 0px;
}

form.no-margin {
  margin-bottom: 0px;
}

.team-tracker-thumbnails {
  padding-top: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.team-tracker-caption {
  text-overflow: ellipsis;
  overflow: hidden;
}

ul.list.narrow-padding {
  padding-left: 20px;
}
