<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title text-center">Solve Issue</h3>
  </div>
  <div class="modal-body">
    <p class="text-muted text-center">Request more funding for this bounty</p>
    
    <div ng-include="'app/issues/_show_hunter_box.html'"></div>

  </div>
</div>