<div>
  <div class="modal-body">
    <div class="text-center">
      <h4>Pay exactly {{bounty.amount}} {{bounty.token}}</h4>

      <p class="mt-5">To this address</p>
      <qrcode data='{{issue.issue_address.public_address}}' size="230"></qrcode>

      <div class="mt-5">
        <div class="input-group">
          <input class="form-control text-center bg-white" value="{{ issue.issue_address.public_address }}" readonly="true">
          <span class="input-group-btn pl-3">
            <button class="btn btn-default" ng-click-copy="{{ issue.issue_address.public_address }}" type="button">
              <%= image_tag 'icons/icon_copy.svg', style: "width: 18px" %>
            </button>
          </span>
        </div>
      </div>
      <p class="mt-5">
        This address only accepts ETH or ERC20 tokens
      </p>
    </div>
  </div>
</div>