<div id="chatroom">
  <div class="connect">
    <p style="text-align: center; padding-top: 10px;">The #Bountysource IRC Chatroom is a place to communicate with other Bountysource users.</p>
    <form action="" style="text-align: center; padding-top: 10px;">
      <span>Nickname:</span>
      <input type="text" class="input-text input-medium" name="nick" placeholder="Guest30107 " style="margin: 0px 10px;">
      <input type="submit" class="btn btn-success" value="Connect">
    </form>
  </div>
</div>