<div>
  <div class="row" ng-if="no_team_error">
    <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h4 class="text-center alert alert-danger">No team found.</h4>
      <div class="well">
        <p>Is your team missing?  Don't fret... adding one is super easy!</p>
        <p class="text-center"><a href="/teams/new" class="btn btn-primary">Create New Team</a></p>
      </div>
    </div>
  </div>
  <div class="row" ng-if="team">
    <!-- LEFT COLUMN -->
    <div class="col-lg-3 col-md-3 col-sm-3">

      <!-- Team Info. Includes active Fundraiser progress if there is one running -->
      <div class="panel panel-default">
        <div class="panel-body">
          <img ng-src="{{team.large_image_url}}" class="img-responsive">

          <!-- Show active Fundraiser progress if applicable -->
          <div ng-if="activeFundraiser.in_progress">
            <br />

            <!-- Time left, total pledged -->
            <div class="row">
              <div class="col-lg-6 col-md-6 text-center">
                <h3 style="margin: 0;">{{activeFundraiser.total_pledged | dollars}}</h3>
                <small class="text-muted">of <strong>{{activeFundraiser.funding_goal | dollars}}</strong></small>
              </div>

              <div class="col-lg-6 col-md-6 text-center">
                <h3 style="margin: 0;"><time-difference end="activeFundraiser.ends_at"></time-difference></h3>
                <small class="text-muted">remaining</small>
              </div>
            </div>

            <br />

            <!-- Progress bar for percentage of goal met -->
            <progressbar type="success" class="progress-striped" animate="false" value="activeFundraiser.percentageOfGoalMet | atLeast:15 | atMost:100">{{activeFundraiser.percentageOfGoalMet | number:0}}%</progressbar>

            <!-- Big ol' pledge button. Hidden if fundraiser has completed -->
            <div ng-if="activeFundraiser.published && activeFundraiser.in_progress">
              <button class="btn btn-success btn-block btn-lg" ng-click="bigPledgeButtonClicked()">Pledge Now</button>
            </div>
          </div>
        </div>

        <!-- Flex funding in panel footer if there is an active Fundraiser -->
        <div class="panel-footer" ng-if="activeFundraiser.in_progress">
          <small>
            <strong>Flexible Funding: </strong>
            <span ng-show="activeFundraiser.in_progress">This campaign will receive all funds raised even if it does not reach its goal.</span>
            <span ng-hide="activeFundraiser.in_progress">This fundraiser has completed and will receive all funds raised.</span>
          </small>
        </div>
      </div>

      <!-- Top Backers -->
      <div class="panel panel-default" ng-if="topBackers.length > 0">
        <div class="panel-heading text-center">
          <strong>Top Backers</strong>
        </div>

        <ul class="top-backers">
          <li class="row" ng-repeat="backer in topBackers">
            <a owner-href="backer">
              <img ng-if="backer" ng-src="{{backer.image_url_medium}}"  tooltip="{{backer.display_name}} - {{backer.amount | dollars}}" tooltip-placement="bottom" />
              <img ng-if="!backer" src="images/anon.jpg" tooltip="Anonymous - {{backer.amount | dollars}}" tooltip-placement="bottom" />
            </a>
          </li>
        </ul>
      </div>

      <!-- Obama Buttons -->
      <div>
        <div class="panel panel-primary" ng-if="team.accepts_public_payins && !activeFundraiser.in_progress">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Back this Team</h3>
          </div>

          <div class="panel-body">

            <!-- Large, Medium -->
            <div class="visible-lg visible-md">
              <div class="row row-condensed">
                <div class="col-lg-4 col-md-4">
                  <button class="btn btn-primary btn-block" ng-click="payinRedirect(15)">$15</button>
                </div>
                <div class="col-lg-4 col-md-4">
                  <button class="btn btn-primary btn-block" ng-click="payinRedirect(35)">$35</button>
                </div>
                <div class="col-lg-4 col-md-4">
                  <button class="btn btn-primary btn-block" ng-click="payinRedirect(50)">$50</button>
                </div>
              </div>
              <br />
              <div class="row row-condensed">
                <div class="col-lg-4 col-md-4">
                  <button class="btn btn-primary btn-block" ng-click="payinRedirect(100)">$100</button>
                </div>
                <div class="col-lg-4 col-md-4">
                  <button class="btn btn-primary btn-block" ng-click="payinRedirect(250)">$250</button>
                </div>
                <div class="col-lg-4 col-md-4">
                  <button class="btn btn-primary btn-block" ng-click="payinRedirect(500)">$500</button>
                </div>
              </div>
              <br />
              <div class="row row-condensed">
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" ng-click="payinRedirect(1000)">$1000</button>
                </div>
                <div class="col-md-8">
                  <form name="form" ng-submit="customPayinRedirect(form.input.$modelValue)" class="form-inline">
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="number" name="input" class="form-control" min="5" ng-model="pledge_input" placeholder="Other" tooltip="$5 minimum" tooltip-placement="bottom" toolip-trigger="focus" integer-only>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Small, Extra Small -->
<!--             <div class="visible-sm visible-xs">
              <div class="row row-condensed">
                <div class="col-sm-6 col-xs-6 ">
                  <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(15)">$15</button>
                </div>
                <div class="col-sm-6 col-xs-6 ">
                  <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(35)">$35</button>
                </div>
              </div>
              <br />
              <div class="row row-condensed">
                <div class="col-sm-6 col-xs-6 ">
                  <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(50)">$50</button>
                </div>
                <div class="col-sm-6 col-xs-6 ">
                  <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(100)">$100</button>
                </div>
              </div>
              <br />
              <div class="row row-condensed">
                <div class="col-sm-6 col-xs-6 ">
                  <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(500)">$500</button>
                </div>
                <div class="col-sm-6 col-xs-6 ">
                  <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(1000)">$1000</button>
                </div>
              </div>
              <br />
              <div class="row row-condensed">
                <div class="col-sm-12 col-xs-12">
                  <ng-include class="bounty-buttons" src="'customForm.html'"></ng-include>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>

      <!-- Share Buttons -->
    </div>

    <!-- MAIN COLUMN -->
    <div class="col-lg-9 col-md-9 col-sm-9">
      <!-- Header -->

      <div ng-if="_options.showTitle">
        <h2 style="margin-top: 0;">{{team.name}}</h2>
        <p class="lead" ng-show="team.bio">{{team.bio}}</p>
      </div>

      <!-- Nav Tabs -->
      <div ng-if="_options.showNavTabs">
        <ul class="nav nav-tabs">
          <li ng-class="{ active: activeNavTab('home') }">
            <a ng-href="/teams/{{ team.slug }}">Home</a>
          </li>

          <li ng-show="team.fundraisers_count > 0" ng-class="{ active: activeNavTab('fundraiser') }">
            <a ng-href="/teams/{{team.slug}}/fundraiser">Fundraiser</a>
          </li>

          <li ng-show="team.issues_count > 0" ng-class="{ active: activeNavTab('issues') }">
            <a ng-href="/teams/{{ team.slug }}/issues">
              Issues
            </a>
          </li>

          <li ng-show="team.linked_account" ng-class="{ active: activeNavTab('suggested_issues') }">
            <a ng-href="/teams/{{team.slug}}/suggested_issues">
              Suggested Issues
            </a>
          </li>

          <li ng-show="team.open_bounties_amount + team.closed_bounties_amount > 0" ng-class="{ active: activeNavTab('bounties') }">
            <a ng-href="/teams/{{team.slug}}/bounties">Bounties</a>
          </li>

          <li ng-show="team.updates_count > 0" ng-class="{ active: activeNavTab('updates') }">
            <a ng-href="/teams/{{team.slug}}/updates">Updates</a>
          </li>

          <li ng-show="team.trackers_count > 0" ng-class="{ active: activeNavTab('projects') }">
            <a ng-href="/teams/{{team.slug}}/projects">Projects</a>
          </li>

          <li ng-show="team.backers_count > 0" ng-class="{ active: activeNavTab('backers') }">
            <a ng-href="/teams/{{team.slug}}/backers">Backers</a>
          </li>

          <li ng-show="team.members_count > 0" ng-class="{ active: activeNavTab('members') }">
            <a ng-href="/teams/{{team.slug}}/members">Members</a>
          </li>

          <li class="Dropdown" ng-class="{ active: activeNavTab('manage') }" ng-if="is_admin || is_developer">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-lock"></i>
              Manage
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <li class="dropdown-header"><i class="glyphicon glyphicon-cog"></i> General</li>

              <li ng-show="is_admin">
                <a ng-href="/teams/{{team.slug}}/account">Add Funds</a>
              </li>

              <li ng-show="is_admin">
                <a ng-href="/teams/{{team.slug}}/members/manage">Members</a>
              </li>

              <li ng-show="is_admin || is_developer">
                <a ng-href="/teams/{{team.slug}}/projects/manage">Projects</a>
              </li>

              <li ng-show="is_admin || is_developer">
                <a ng-href="/teams/{{team.slug}}/settings">Settings</a>
              </li>

              <li class="dropdown-header">
                <i class="glyphicon glyphicon-gift"> Fundraiser</i>
              </li>

              <li ng-show="fundraisers.length == 0 && is_admin">
                <a ng-click="fundraiserCreateRedirect(team)">Create Fundraiser</a>
              </li>

              <li ng-show="is_admin && fundraisers.length > 0">
                <a ng-href="teams/{{ team.slug }}/fundraisers">Manage Fundraisers</a>
              </li>

              <li ng-show="activeFundraiser && is_admin">
                <a ng-href="/teams/{{ team.slug }}/rewards">Rewards</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Content! -->
      <div ng-transclude>
      </div>
    </div>
  </div>

</div>
