<div class="navbar navbar-default navbar-static-top navbar-bountysource" role="navigation" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <%= image_tag 'logos/main.svg' %>
      </a>
    </div>
      
    <div class="collapse navbar-collapse" collapse="!isCollapsed">
      <ul class="nav navbar-nav">
        <!-- About -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/bountysource/frontend/wiki/Frequently-Asked-Questions" target="_blank">FAQ</a></li>
            <li><a href="/fees">Fees</a></li>
            <li><a href="/press">Press</a></li>
          </ul>
        </li>
            
        <li ng-if="!current_person"><a href="/teams">Teams</a></li>

        <li class="dropdown" ng-if="current_person">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-show="(teams | filter:({is_member:true})).length>0" role="presentation" class="dropdown-header">Your Teams</li>
            <li ng-repeat="team in teams | filter:({is_member:true}) | orderBy:'-activity_total'"><a ng-href="teams/{{ team.slug }}">
              <img class="img-responsive" style="height: 20px; width: 20px; display: inline;" ng-src="{{ team.image_url_small }}"></img>
              <span class="pr-5">  {{ team.name }}</span></a>
            </li>
            <li ng-show="(teams | filter:({is_member:false})).length>0" role="presentation" class="dropdown-header">Suggested Teams</li>
            <li ng-repeat="team in teams | filter:({is_member:false}) | orderBy:'-activity_total' | limitTo:10"><a ng-href="teams/{{ team.slug }}">
              <img class="img-responsive" style="height: 20px; width: 20px; display: inline;" ng-src="{{ team.image_url_small }}"></img>
              <span class="pr-5">  {{ team.name }}</span></a></li>
            <li class="divider"></li>
            <li><a href="/teams/new"><i class="glyphicon glyphicon-plus"></i> Add Team</a></li>
            <li><a href="/teams"><i class="glyphicon glyphicon-th-list"></i> See All Teams</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a ng-href="{{env.salt_host}}" target="_blank">SALT </a>
        </li>
         
      </ul>
      <ul class="nav navbar-nav navbar-right font-weight-regular">  
        <li>
          <form class="navbar-form row" role="search" ng-controller="NavbarSearchController" ng-submit="search_typeahead.submit_search()" ng-click="search_typeahead.submit_search()">
            <div class="input-group col-xs-12">
              <input type="text" class="form-control br-0" ng-model="search_typeahead.query" placeholder="Search" typeahead="tag.name for tag in search_typeahead.update_results($viewValue)" typeahead-on-selectq="search_typeahead.selected($item)" typeahead-template-url="common/directives/teamView/tag_autocomplete.html" typeahead-focus-first="false" />
              <div class="input-group-btn">
                <button class="btn btn-default bl-0" type="submit">
                  <i class="glyphicon glyphicon-search text-aqua"></i>
                </button>
              </div>
            </div>
          </form>
        </li>

        <!-- Currency switcher -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle font-weight-regular navbar-main-button" data-toggle="dropdown">
            <button class="text-aqua rectangle-border" ng-if="$currency.isUSD()">$</button>
            <button class="text-aqua rectangle-border" ng-if="$currency.isBTC()">฿</button>
            <button class="text-aqua rectangle-border" ng-if="$currency.isXRP()">XRP</button>
            <button class="text-aqua rectangle-border" ng-if="$currency.isMSC()">MSC</button>
          </a>
          <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header">Choose currency:</li>
            <li><a ng-click="$currency.setUSD()">US Dollars ($)</a></li>
            <li><a ng-click="$currency.setBTC()">Bitcoin (฿)</a></li>
            <li><a ng-click="$currency.setXRP()">Ripple (XRP)</a></li>
            <li><a ng-click="$currency.setMSC()">Mastercoin (MSC)</a></li>
          </ul>
        </li>

        <li ng-if="cart && !cart.isEmpty()">
          <a href="/cart" class="font-weight-regular navbar-main-button" >
            <button class="rectangle-border text-aqua">
                <i class="glyphicon glyphicon-shopping-cart"></i>
              {{cart.items.length | number:0}}
            </button>
          </a>
        </li>

        <!-- BANCOR widget (CAN / ETH)-->
        <li id='bancor-wc-nav'>
          <a href="" class="font-weight-regular navbar-main-button">
            <button ng-click="bancorWidget.toggle()" class="btn btn-light-blue font-weight-regular navbar-main-button">Get CAN</button>
          </a>
        </li>

        <!-- User dropdown if logged in -->
        <li class="dropdown" ng-if="current_person">
          <a href="#" class="navbar-user-dropdown dropdown-toggle" data-toggle="dropdown">
            <img class="img-circle" ng-src="{{current_person.image_url}}" />
          </a>
          <ul class="dropdown-menu">
            <li><a class="text-aqua" owner-href="current_person">{{current_person.display_name}}</a></li>
            <li role="presentation" class="divider"></li>
            
            <li><a href="/activity"><i class="glyphicon glyphicon-bullhorn"></i> Activity</a></li>
            <li><a owner-href="current_person"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
            <li><a href="/tools"><i class="glyphicon glyphicon-wrench"></i> Tools</a></li>
            <li><a href="activity/cash_outs"><i class="glyphicon glyphicon-gift"></i> Cash Out <span class="label label-primary"  ng-show="current_person.account.balance > 0">{{current_person.account.balance | currency}}</span></a></li>
            <li role="presentation" class="divider"></li>

            <li role="presentation" class="dropdown-header"><i class="glyphicon glyphicon-cog"></i> Settings</li>
            <li><a href="settings">Profile</a></li>
            <li><a href="settings/accounts">Linked Accounts</a></li>
            <li role="presentation" class="divider"></li>

            <li><a href="#" ng-click="signout()"><i class="glyphicon glyphicon-off"></i> Sign Out</a></li>
          </ul>
        </li>

        <!-- Sign in dropdown if not logged in -->
        <li class="dropdown" ng-controller="SigninController" ng-if="!current_person">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In </a>


          <ul class="dropdown-menu font-weight-regular" ng-hide="!!current_person" ng-controller="NavbarLinkedAccountSignin">
            <li role="presentation" class="dropdown-header">Login using</li>

            <li ng-repeat="provider in providers" role="signin">
              <!-- Link with Google Analytics event tracking -->
              <a ng-href="{{signin_url_for(provider.id)}}" gaq-args="['_trackEvent', 'Navbar-Signin' , 'LinkOut']" id="navbar-provider-{{provider.id}}" ng-click="save_route()" target="_self">
                <span><img ng-src="{{provider.image_url}}" class="mr-3" style="width: 16px;">{{provider.name}}</span>
              </a>
            </li>
            <li>
              <a href="/signin">
                <i class="glyphicon glyphicon-envelope mr-3"></i>
                Email Address
              </a>
            </li>
          </ul>
        </li>

        <!-- Development tools. Environment changer and access token changer. -->
        <li class="dropdown" ng-if="api_endpoint">
          <a ng-href="/people/{{person.slug}}" class="dropdown-toggle" data-toggle="dropdown">
            <span class="label label-danger">{{api_endpoint}}</span>
            <b class="caret"></b>
          </a>

          <ul class="dropdown-menu" ng-controller="NavbarController">
            <li><a href="" ng-click="setEnv('development')">development</a></li>
            <li><a href="" ng-click="setEnv('staging')">staging</a></li>
            <li><a href="" ng-click="setEnv('production')">production</a></li>
            <li class="divider"></li>
            <li>
              <a href="" ng-click="openDevToolsModal()">dev tools</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>

<!-- redundant ng-hide for browsers that doesn't support the widget -->
<div ng-controller="BancorWidgetController" id="bancor-wc-container" ng-show="visible" class="ng-hide">
  <div id="bancor-wc">
  </div>
  <div class="widget-close-long" ng-click="close()">
    <strong>Close</strong>
  </div>
</div>

<div ng-controller="CanyaAnnouncementController">
  <div style="background: #33ccff; color: white; text-align: center" class="pt-3 pb-3" ng-if="canyaAnnouncementIsVisible">
    <a href="#" ng-click="hideCanyaAnnouncement()" style="float: right; color: white; margin: 10px 20px 0 0">X</a>
    <a style="color: white" target="_blank" href="https://canya.io/promo/index.html">
      <div>
        CanYa is about to launch it's highly anticipated decentralised platform for digital services.
      </div>
      <div>
        Click here to join the Pre-Alpha testing. The first 50 approved testing accounts will receive USD $500 in CAN tokens!
      </div>
    </a>
  </div>
</div>
