<div>
  <div class="row" ng-repeat="i in range()">
    <div class="col-md-{{12/perRow}} col-sm-{{12/perRow}}" ng-repeat="item in array.slice(i, i + perRow)">
      <!-- Teams -->
      <a ng-if="objectType == 'team'" ng-href="/teams/{{item.slug}}" class="text-center thumbnail">
        <img class="img-responsive img-rounded" ng-src="{{item.large_image_url}}">
        {{item.name}}
      </a>

      <!-- First TeamFundraiserCreate Card - Dummy Card for Creates -->
      <a ng-if="objectType == 'team-fundraiser-create' && item.dummy" ng-href="/teams/new?creating_fundraiser" class="text-center thumbnail">
        <img class="img-responsive" src="/images/bountysource-grey.png"></img>
        Create a new team!
      </a>

      <!-- Team Fudraiser Create -->
      <a ng-if="objectType == 'team-fundraiser-create' && !item.dummy" ng-click="teamRedirect(item)" class="text-center thumbnail">
        <img class="img-responsive img-rounded" ng-src="{{item.large_image_url}}">
        {{item.name}}
      </a>

      <!-- Team Members -->
      <a ng-if="objectType == 'team_member'" ng-href="/people/{{item.slug}}" class="text-center thumbnail">
        <img class="img-responsive" ng-src="{{item.medium_image_url}}" tooltip="{{item.display_name}}" tooltip-placement="top">
      </a>

      <!-- Trackers -->
      <a ng-if="objectType == 'tracker'" ng-href="{{item.frontend_path || '/trackers/'+item.slug}}" class="text-center thumbnail">
        <img class="img-responsive img-rounded" ng-src="{{ item.image_url_medium || item.image_url }}">
        {{ item.display_name || item.name }}
      </a>

      <div ng-if="objectType =='team-project'" class="thumbnail text-center">
        <button type="button"  class="close" ng-click="dismissAction({tracker: item})" ng-if="dismissAction">
          &times;
        </button>
        <a ng-href="{{ item.frontend_path || '/trackers/'+item.slug }}">
          <img class="img-responsive img-rounded" ng-src="{{ item.image_url_medium || item.image_url }}"></img>
          {{ item.name || item.display_name }}
        </a>
      </div>
    </div>
  </div>
</div>
