<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">»</span></li>
  <li><a href="/activity">Activity</a><span class="divider">»</span></li>
  <li><a href="/activity/pledges">Pledges</a></li>
</ul>

<ng-include src="'pages/activity/tabs.html'"></ng-include>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Fundraiser</th>
    <th>Amount</th>
    <th>Date</th>
    <th class="span2">
      Anonymous
      <a popover-title="Anonymous Pledges" popover="If you want to hide your identity on a pledge, make it anonymous. You can change this at anytime." popover-trigger="click"><i class="icon-question-sign"></i></a>
    </th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="pledge in pledges">
    <td><a ng-href="/fundraisers/{{ pledge.fundraiser.slug }}">{{ pledge.fundraiser.title }}</a></td>
    <td><a ng-href="/fundraisers/{{pledge.fundraiser.slug}}/pledges">{{ pledge.amount | dollars }}</a></td>
    <td>{{ pledge.created_at | date }}</td>

    <td ng-show="pledge.anonymous">
      <button class="btn btn-small btn-block active" ng-click="toggle_anonymous(pledge)">
        <i class="icon-eye-close"></i>
        Anonymized
      </button>
    </td>
    <td ng-hide="pledge.anonymous">
      <button class="btn btn-small btn-block btn-success" ng-click="toggle_anonymous(pledge)">
        <i class="icon-eye-open icon-white"></i>
        Publicized
      </button>
    </td>
  <tr>
  </tbody>
</table>
