<div class="well text-center">
  <div><img ng-src="{{team.large_image_url}}" style="width: 100%;"/></div>
  <br />
  <div><a class="btn btn-block" ng-href="{{team.url}}" target="_blank"><i class="icon-globe"></i> Homepage</a></div>
</div>

<div ng-show="is_member">
  <div class="well">
    <div class="text-center">
      <h4 style="margin-top: 0;">Your Membership</h4>
    </div>

    <!-- Permissions -->
    <div>
      <label class="checkbox">
        <span>membership publicized</span>
        <input type="checkbox" ng-checked="is_public" style="cursor: default;" disabled />
      </label>
      <label class="checkbox">
        <span>can modify team settings</span>
        <input type="checkbox" ng-checked="is_admin || is_developer" style="cursor: default;" disabled />
      </label>
      <label class="checkbox">
        <span>can manage team projects</span>
        <input type="checkbox" ng-checked="is_admin || is_developer" style="cursor: default;" disabled />
      </label>
      <label class="checkbox">
        <span>can manage team members</span>
        <input type="checkbox" ng-checked="is_admin" style="cursor: default;" disabled />
      </label>
    </div>

    <!-- Account Balance -->
    <div class="text-center" ng-show="is_developer || is_admin">
      <h4>Team Account Balance</h4>
      <strong>{{team.account_balance | currency}}</strong>
    </div>
  </div>
</div>