<ul class="nav nav-tabs">
  <li ng-class="{ active: active_tab('projects') }"><a ng-href="/teams/{{team.slug}}">
    Projects
    <span class="badge badge-info" ng-show="team.trackers.length > 0">{{team.trackers.length | number}}</span>
  </a></li>
  <li ng-class="{ active: active_tab('members') }"><a ng-href="/teams/{{team.slug}}/members">
    Members
    <span class="badge badge-info" ng-show="members.length > 0">{{(members | filter:{ is_public: true }).length | number}}</span>
  </a></li>
  <li ng-class="{ active: active_tab('activity') }"><a ng-href="/teams/{{team.slug}}/activity">
    Activity
  </a></li>
  <li ng-show="is_admin" ng-class="{ active: active_tab('manage_members') }"><a ng-href="/teams/{{team.slug}}/members/manage">
    <i class="icon-lock"></i>
    Manage Members
  </a></li>
  <li ng-show="is_admin" ng-class="{ active: active_tab('settings') }"><a ng-href="/teams/{{team.slug}}/settings">
    <i class="icon-lock"></i>
    Settings
  </a></li>
  <li ng-show="is_admin" ng-class="{ active: active_tab('account') }"><a ng-href="/teams/{{team.slug}}/account">
    <i class="icon-lock"></i>
    Add Funds
  </a></li>
</ul>
