<ul class="nav nav-tabs">
  <li ng-class="{ active: active_tab('home') }"><a ng-href="/teams/{{ team.slug }}">
    <span ng-show="is_admin || is_developer">Home</span>
    <span ng-hide="is_admin || is_developer">Projects</span>
  </a></li>
  <li ng-show="is_admin || is_developer" ng-class="{ active: active_tab('projects') }"><a ng-href="/teams/{{team.slug}}/projects">
    Projects
  </a></li>
  <li ng-show="members.length > 0" ng-class="{ active: active_tab('members') }"><a ng-href="/teams/{{team.slug}}/members">
    Members
  </a></li>
  <li ng-class="{ active: active_tab('activity') }"><a ng-href="/teams/{{team.slug}}/activity">
    Activity
  </a></li>
  <li ng-show="team.open_bounties_amount > 0" ng-class="{ active: active_tab('bounties') }"><a ng-href="/teams/{{team.slug}}/bounties">
    Bounties
  </a></li>
  <li ng-show="is_admin" ng-class="{ active: active_tab('manage_members') }"><a ng-href="/teams/{{team.slug}}/members/manage">
    <i class="icon-lock"></i>
    Manage Members
  </a></li>
  <li ng-show="is_admin || is_developer" ng-class="{ active: active_tab('settings') }"><a ng-href="/teams/{{team.slug}}/settings">
    <i class="icon-lock"></i>
    Settings
  </a></li>
  <li ng-show="is_admin" ng-class="{ active: active_tab('account') }"><a ng-href="/teams/{{team.slug}}/account">
    <i class="icon-lock"></i>
    Add Funds
  </a></li>
</ul>
