.homepage h1 { font-size: 36px; line-height: 44px; color: white; font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif; margin-bottom: 25px; }

.img-salt-homepage-logo { width:24px; height:24px; }
@media (min-width: 768px) { .img-salt-homepage-logo { width:100px; height:100px; } }
