html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* long issue titles can be long */
.break-words { word-wrap: break-word; word-break:break-word; }

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -193px;
  /* Pad bottom by footer height */
  padding: 0 0 193px;
}

/* Set the fixed height of the footer here */
#footer {
  padding-top: 30px;
  background-color: #333;
  border-top: 4px solid #129e5e;
  color: #bbb;
  margin-top: 30px;
}

#footer a { color: #bbb; }

.navbar-bountysource { border-top: 4px solid #129e5e; margin-bottom: 0; }
.navbar .btn { margin: 0 5px; }
.navbar .btn-hover-green { color: #777; }
.navbar .btn-hover-green:hover { background: #479c48; border-radius: 5px; color: white; text-decoration: none; }


.container-bountysource { margin-top: 20px; }


.featured-header { background:#555; padding: 10px 0 15px; margin-bottom: 10px; color: #ccc; box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.7), inset 0 -8px 8px -8px rgba(0,0,0,0.7); }
.featured-header { font-size: 0; }
.featured-header h3 { font-size: 13px; color: #888; margin: 0 0 4px; font-weight: normal; }
.featured-header img { border-radius: 6px; }
/* big screens, 10 across */
@media (min-width: 768px) {
  .featured-header img { width:8.5%; margin-left: 1.66666%;  }
  .featured-header a:nth-of-type(1) img { margin-left: 0%;  }
}
/* small screens, two rows of 5 */
@media (max-width: 768px) {
  .featured-header img { width:17%; margin-left: 3.5% }
  .featured-header a:nth-of-type(1) img,
  .featured-header a:nth-of-type(2) img,
  .featured-header a:nth-of-type(3) img,
  .featured-header a:nth-of-type(4) img,
  .featured-header a:nth-of-type(5) img { margin-bottom: 3.5%; }

  .featured-header a:nth-of-type(1) img, .featured-header a:nth-of-type(6) img { margin-left: 0%;  }
}


/* make <a ng-click="">link</a> have cursor pointer */
[ng-click], [data-ng-click], [x-ng-click] {
  cursor: pointer;
}

/* get rid of margin on first header within a well so there's not big padding gaps */
.well h1:first-child, .well h2:first-child, .well h3:first-child, .well h4:first-child, .well h5:first-child, .well h6:first-child,
.alert h1:first-child, .alert h2:first-child, .alert h3:first-child, .alert h4:first-child, .alert h5:first-child, .alert h6:first-child {
  margin-top: 0;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-xl {
    padding: 15px 22px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 6px
}

.btn-twitter,
.btn-facebook,
.btn-github {
  color: white !important;
  font-size: 24px;
}

.btn-twitter {
  background: #5fa9dd;
}
.btn-twitter:hover {
  background: #4F8DB9;
}

.btn-facebook {
  background: #3c5a99;
}
.btn-facebook:hover {
  background: #324B80;
}

.btn-github {
  background: #333;
}
.btn-github:hover {
  background: #555;
}

.btn-google {
  background: #dd4b39;
}
.btn-google:hover {
  background: #bc3f33;
}


.signin-button-grid button {
  margin-bottom: 10px;
}
.signin-button-grid button img {
  max-width: 100%;
  max-height: 24px;
}

.progress {
  position: relative;
}
.progress .progress-full-text {
  position: absolute;
  display: block;
  width: 100%;
}


.panel-no-border { border-width: 0; background: none; }
.panel-no-border .panel-heading { border-top-right-radius: 6px; border-top-left-radius: 6px; border-bottom: 0; }
.panel-no-border .panel-body { border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; background: white; }
.panel-bold.panel-danger { border-color: #d9534f; }
.panel-bold.panel-danger .panel-heading { background-color: #d9534f; color: white; }
.panel-bold.panel-success { border-color: #5cb85c; }
.panel-bold.panel-success .panel-heading { background-color: #5cb85c; color: white; }


.panel-green {
  border-color: #129e5e;
}
.panel-green > .panel-heading {
  color: white;
  background-color: #129e5e;
  border-color: #129e5e;
}
.panel-green > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #129e5e;
}
.panel-green > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #129e5e;
}



.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  color: white;
  background-color: #d9534f;
  border-color: #d9534f;
}
.panel-red > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d9534f;
}
.panel-red > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d9534f;
}

.label-subtle { background: #ddd; color: #333; }
