.bountysource-thumbs-box { float: left; width: 50px; }
.bountysource-thumbs-box .thumb-wrapper { text-align: center; border: 1px solid #ccc; border-top-left-radius: 3px; border-top-right-radius: 3px; background-image: linear-gradient(#fcfcfc, #eee); cursor: pointer; padding: 4px 0 6px; }
.bountysource-thumbs-box .thumb-wrapper img { width: 32px; height: 32px; }
.bountysource-thumbs-box .thumb-wrapper:hover { background-image: linear-gradient(#ececec, #ddd); }
.bountysource-thumbs-box .info-wrapper { background: white; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; height: 20px; text-align: center; overflow: hidden; color: #333; font-size: 17px; line-height: 20px; font-family: Helvetica, arial, freesans, clean, sans-serif; white-space: nowrap; }
.bountysource-thumbs-box .info-wrapper img { padding-top: 4px; }

.bountysource-thumbs-box-mini { float: left; white-space: nowrap; height: 20px; line-height: 0;  }
.bountysource-thumbs-box-mini .thumb-wrapper { display: inline-block; padding: 0 2px; cursor: pointer; background-image: linear-gradient(#fcfcfc, #eee); }
.bountysource-thumbs-box-mini .thumb-wrapper img { width: 20px; height: 20px; }
.bountysource-thumbs-box-mini .thumb-wrapper:hover { background-image: linear-gradient(#ececec, #ddd); }
.bountysource-thumbs-box-mini .info-wrapper { display: inline-block; padding: 0 3px; color: #333; font-size: 13px; font-family: Helvetica, arial, freesans, clean, sans-serif; line-height: 21px; height: 20px; overflow: hidden; vertical-align: top; box-sizing: content-box; }
.bountysource-thumbs-box-mini .info-wrapper img { padding-top: 4px; }

.bountysource-thumbs-box-mini .thumb-wrapper, .bountysource-thumbs-box-mini .info-wrapper { border-color: #ccc; border-style: solid; }
.bountysource-thumbs-box-mini .thumb-wrapper:hover { border-color: #bbb; }
.bountysource-thumbs-box-mini .thumb-wrapper { border-width: 1px 1px 1px 1px; border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.bountysource-thumbs-box-mini .info-wrapper { border-width: 1px 1px 1px 0; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.bountysource-thumbs-box-mini.thumbs-at-zero .thumb-wrapper { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
.bountysource-thumbs-box-mini.thumbs-at-zero .info-wrapper { display: none; }

.bountysource-thumbs-box .thumb-wrapper img,
.bountysource-thumbs-box-mini .thumb-wrapper img {
  filter: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxmaWx0ZXIgaWQ9J2xpZ2h0Z3JheSc+PGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIHZhbHVlcz0nMCcvPjxmZUNvbXBvbmVudFRyYW5zZmVyPjxmZUZ1bmNSIHR5cGU9J2xpbmVhcicgc2xvcGU9JzEuMicvPjxmZUZ1bmNHIHR5cGU9J2xpbmVhcicgc2xvcGU9JzEuMicvPjxmZUZ1bmNCIHR5cGU9J2xpbmVhcicgc2xvcGU9JzEuMicvPjwvZmVDb21wb25lbnRUcmFuc2Zlcj48L2ZpbHRlcj48L3N2Zz4=#lightgray"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%) brightness(110%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  opacity: 0.7;
}
.bountysource-thumbs-box .thumb-wrapper:hover img,
.bountysource-thumbs-box.has-thumbed-up .thumb-wrapper img,
.bountysource-thumbs-box-mini .thumb-wrapper:hover img,
.bountysource-thumbs-box-mini.has-thumbed-up .thumb-wrapper img {
  filter: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxmaWx0ZXIgaWQ9J2dyYXlzY2FsZSc+PGZlQ29sb3JNYXRyaXggdHlwZT0nbWF0cml4JyB2YWx1ZXM9JzEgMCAwIDAgMCwgMCAxIDAgMCAwLCAwIDAgMSAwIDAsIDAgMCAwIDEgMCcvPjwvZmlsdGVyPjwvc3ZnPg==#grayscale");
  -webkit-filter: grayscale(0%);
  opacity: 1.0;
}
