---
http_interactions:
- request:
    method: get
    uri: https://api.bitbucket.org/2.0/repositories/site/master/issues/15896
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8e1079121923abf0d84210c9fae6a1aa"'
      X-Static-Version:
      - 027117463a4f
      X-Accepted-Oauth-Scopes:
      - issue
      X-Render-Time:
      - '0.0874469280243'
      X-Request-Count:
      - '378'
      X-Version:
      - 027117463a4f
    body:
      encoding: UTF-8
      string: '{"priority": "blocker", "kind": "bug", "repository": {"links": {"self":
        {"href": "https://api.bitbucket.org/2.0/repositories/site/master"}, "html":
        {"href": "https://bitbucket.org/site/master"}, "avatar": {"href": "https://bitbucket.org/site/master/avatar/32/"}},
        "type": "repository", "name": "master", "full_name": "site/master", "uuid":
        "{3159450f-8238-486f-bbf4-7e30b121b37f}"}, "links": {"attachments": {"href":
        "https://api.bitbucket.org/2.0/repositories/site/master/issues/15896/attachments"},
        "self": {"href": "https://api.bitbucket.org/2.0/repositories/site/master/issues/15896"},
        "watch": {"href": "https://api.bitbucket.org/2.0/repositories/site/master/issues/15896/watch"},
        "comments": {"href": "https://api.bitbucket.org/2.0/repositories/site/master/issues/15896/comments"},
        "html": {"href": "https://bitbucket.org/site/master/issues/15896/stderr-ssh-connect-to-host-bitbucketorg"},
        "vote": {"href": "https://api.bitbucket.org/2.0/repositories/site/master/issues/15896/vote"}},
        "reporter": {"username": "ablaga", "display_name": "Adrian Blaga", "type":
        "user", "uuid": "{63408f38-b1bb-4cf6-905a-080d20d93cbd}", "links": {"self":
        {"href": "https://api.bitbucket.org/2.0/users/ablaga"}, "html": {"href": "https://bitbucket.org/ablaga/"},
        "avatar": {"href": "https://bitbucket.org/account/ablaga/avatar/32/"}}}, "title":
        "STDERR: ssh: connect to host bitbucket.org port 22: Network is unreachable",
        "component": {"name": "SSH", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/site/master/components/5"}}},
        "votes": 3, "watches": 4, "content": {"raw": "AWS deployments are failing
        (Frankfurt region).", "markup": "markdown", "html": "<p>AWS deployments are
        failing (Frankfurt region).</p>", "type": "rendered"}, "assignee": null, "state":
        "closed", "version": null, "edited_on": null, "created_on": "2018-03-22T10:37:23.703238+00:00",
        "milestone": null, "updated_on": "2018-03-22T12:11:18.585841+00:00", "type":
        "issue", "id": 15896}'
  recorded_at: Sun, 15 Apr 2018 00:37:27 GMT
- request:
    method: post
    uri: https://api.cloudinary.com/v1_1/test/image/upload
    body:
      encoding: UTF-8
      string: timestamp=1523752647&discard_original_filename=1&file=https%3A%2F%2Fbitbucket.org%2Faccount%2Fablaga%2Favatar%2F32%2F&signature=3437ec49a8507805039d8c3a307a4e4b6f736813&api_key=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Cld-Error:
      - cloud_name is disabled
    body:
      encoding: UTF-8
      string: '{"error":{"message":"cloud_name is disabled"}}'
  recorded_at: Sun, 15 Apr 2018 00:37:28 GMT
- request:
    method: get
    uri: https://api.bitbucket.org/2.0/repositories/site/master/issues/15896/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"71b760b3cdcbb17ecc65a2c7b86e48c5"'
      X-Static-Version:
      - 027117463a4f
      X-Accepted-Oauth-Scopes:
      - issue
      X-Render-Time:
      - '0.117431879044'
      X-Request-Count:
      - '412'
      X-Version:
      - 027117463a4f
    body:
      encoding: UTF-8
      string: '{"pagelen": 20, "values": [{"links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/site/master/issues/15896/comments/44100277"},
        "html": {"href": "https://bitbucket.org/site/master/issues/15896#comment-44100277"}},
        "issue": {"links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/site/master/issues/15896"}},
        "type": "issue", "id": 15896, "repository": {"links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/site/master"},
        "html": {"href": "https://bitbucket.org/site/master"}, "avatar": {"href":
        "https://bitbucket.org/site/master/avatar/32/"}}, "type": "repository", "name":
        "master", "full_name": "site/master", "uuid": "{3159450f-8238-486f-bbf4-7e30b121b37f}"},
        "title": "STDERR: ssh: connect to host bitbucket.org port 22: Network is unreachable"},
        "content": {"raw": null, "markup": "markdown", "html": "", "type": "rendered"},
        "created_on": "2018-03-22T10:39:19.814356+00:00", "user": {"username": "ablaga",
        "display_name": "Adrian Blaga", "type": "user", "uuid": "{63408f38-b1bb-4cf6-905a-080d20d93cbd}",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/ablaga"},
        "html": {"href": "https://bitbucket.org/ablaga/"}, "avatar": {"href": "https://bitbucket.org/account/ablaga/avatar/32/"}}},
        "updated_on": null, "type": "issue_comment", "id": 44100277}, {"links": {"self":
        {"href": "https://api.bitbucket.org/2.0/repositories/site/m[...]
[...]
- request:
    method: post
    uri: https://api.cloudinary.com/v1_1/test/image/upload
    body:
      encoding: UTF-8
      string: timestamp=1523752650&discard_original_filename=1&file=https%3A%2F%2Fbitbucket.org%2Faccount%2Fablaga%2Favatar%2F32%2F&signature=903c4b152213ac486fc92050461b8aac0cdafcc4&api_key=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Cld-Error:
      - cloud_name is disabled
    body:
      encoding: UTF-8
      string: '{"error":{"message":"cloud_name is disabled"}}'
  recorded_at: Sun, 15 Apr 2018 00:37:31 GMT
recorded_with: VCR 2.9.3
