<h3>Dat New KPI</h3>
<div class="row-fluid">
  <div class="span12">
    <div class="btn-group" style="margin-bottom: 10px;">
      <button class="btn btn-primary" ng-model="radioModel" btn-radio="'Daily'" ng-click="durationFilter('Daily')">Daily</button>
      <button class="btn btn-primary" ng-model="radioModel" btn-radio="'Weekly'" ng-click="durationFilter('Weekly')">Weekly</button>
      <button class="btn btn-primary" ng-model="radioModel" btn-radio="'Monthly'" ng-click="durationFilter('Monthly')">Monthly</button>
    </div>
  </div>

  <div ng-show="radioModel == 'Daily'">
    <table class="table table-condensed table-hover">
      <thead>
        <tr class="no-stripe">
          <th>Metric</th>
          <th>Rolling 24hr</th>
          <!--<th>Today</th>-->
          <th ng-repeat="date in last_six_days">{{date}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="key in prettyNameMap">
          <td>{{ prettyName(key['raw']) }}</td>
          <td ng-repeat="value in stats.daily_stats[key['raw']]" ng-hide="$index == 1">
            <span ng-show="monetary(key['raw'])">{{ value | dollars}}</span>
            <span ng-show="!monetary(key['raw'])">{{ value }}</span>
          </td>
        </tr>

        <!-- <tr ng-repeat="(key,value) in stats.daily_stats">
          <td>{{ prettyName(key) }}</td>
          <td ng-repeat="item in value">
            <span ng-show="monetary(key)">{{ item | dollars}}</span>
            <span ng-show="!monetary(key)">{{ item }}</span>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <div ng-show="radioModel == 'Weekly'">
    <table class="table table-condensed table-hover">
      <thead>
        <tr class="no-stripe">
          <th>Metric</th>
          <th>Rolling 7d</th>
          <!--<th>This Week</th>-->
          <th ng-repeat="week in last_13_weeks">{{ week }}</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="key in prettyNameMap">
          <td>{{ prettyName(key['raw']) }}</td>
          <td ng-repeat="value in stats.weekly_stats[key['raw']]" ng-hide="$index == 1">
            <span ng-show="monetary(key['raw'])">{{ value | dollars}}</span>
            <span ng-show="!monetary(key['raw'])">{{ value }}</span>
          </td>
        </tr>
<!--         <tr ng-repeat="(key,value) in stats.weekly_stats">
          <td>{{ prettyName(key) }}</td>

          <td>
            <span ng-show="monetary(key)">{{value[0] | dollars}}</span>
            <span ng-show="!monetary(key)">{{value[0]}}</span>
          </td>

          <td ng-repeat="x in [2,3,4,5,6,7,8,9,10,11,12,13,14]">
            <span ng-show="monetary(key)">{{value[x] | dollars}}</span>
            <span ng-show="!monetary(key)">{{value[x]}}</span>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <div ng-show="radioModel == 'Monthly'">
    <table class="table table-condensed table-hover">
      <thead>
        <tr class="no-stripe">
          <th>Metric</th>
          <th>Rolling 30d</th>
          <th ng-repeat="month in last_twelve_months">{{month}}</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="key in prettyNameMap">
          <td>{{ prettyName(key['raw']) }}</td>
          <td ng-repeat="value in stats.monthly_stats[key['raw']]">
            <span ng-show="monetary(key['raw'])">{{ value | dollars}}</span>
            <span ng-show="!monetary(key['raw'])">{{ value }}</span>
          </td>
        </tr>
<!--         <tr ng-repeat="(key,value) in stats.monthly_stats">
          <td>{{ prettyName(key) }}</td>
          <td>
            <span ng-show="monetary(key)">{{value[0] | dollars}}</span>
            <span ng-show="!monetary(key)">{{value[0]}}</span>
          </td>

          <td ng-repeat="x in [1,2,3,4,5,6,7,8,9,10,11,12,13]">
            <span ng-show="monetary(key)">{{value[x] | dollars}}</span>
            <span ng-show="!monetary(key)">{{value[x]}}</span>
          </td>

        </tr> -->
      </tbody>
    </table>
  </div>
</div>
