<div class="row">
  <h4 style="margin: 0 0 5px 0;">
    <ng-pluralize count="issue.bounties.length" when="{
                          '0': '',
                          '1': 'Backer:',
                          '2': 'Backers:',
                          '3': 'Backers:',
                          '4': 'Backers:',
                          'other': 'Top Backers:'}">
    </ng-pluralize>
  </h4>
  <ul class="list-inline" style="margin-bottom: 0;">
    <li ng-repeat="bounty in issue.bounties.slice(0, 5) | orderBy:['-amount']">

      <div ng-show="bounty.owner" tooltip="{{bounty.amount | dollars}} - {{bounty.owner.display_name}}">
        <owner-profile-link model="bounty" class="thumbnail">
          <img style="width: 25px; height: 25px;" ng-src="{{bounty.owner.image_url}}">
        </owner-profile-link>
      </div>

      <div ng-hide="bounty.owner" tooltip="{{bounty.amount | dollars}} - Anonymous">
        <owner-profile-link model="bounty" class="thumbnail">
          <img style="width: 25px; height: 25px;" src="images/anon.jpg">
        </owner-profile-link>
      </div>
    </li>
  </ul>

  <h4 style="margin: 0 0 5px 0;">
    <ng-pluralize ng-if="issue.winning_bounty_claim.responses[0].description" 
                  count="issue.winning_bounty_claim.responses.length" when="{'0': '',
                          '1': 'Comment:',
                          'other': 'Comments:'}">
    </ng-pluralize>
  </h4>
  <p ng-repeat="response in issue.winning_bounty_claim.responses | emptyFilter">
    {{ response.description }}<br>
    <span ng-show="response.person.display_name">-<a ng-href="{{response.person.frontend_path}}">{{ response.person.display_name }}</a></span>
    <span ng-show="!response.person.display_name">-Anonymous</span>
  </p>
</div>
