<div class="homepage">
  <div class="background"></div>

  <div class="well">
    <h1>The funding platform for open-source software.</h1>

    <div class="row-fluid">
      <div class="span6 home-developers">
        <h2>Developers</h2>

        <a class="btn btn-success btn-large" href="/faq/developers">Developers &raquo;</a>

        <ul>
          <li>Get rewarded for your contributions.</li>
          <li>Raise money for a future project.</li>
          <li>Solve open issues to earn bounties.</li>
        </ul>

        <h3>top | recent</h3>
        <ul class="top-pics">
          <li class="span2" ng-repeat="person in recent_people.people.slice(0,6)">
            <a href="/people/{{person.slug}}">
              <img src="{{person.image_url}}" />
              <!--<strong>{{person.display_name}}</strong>-->
            </a>
          </li>
        </ul>
      </div>

      <div class="span6 home-backers">
        <h2>Backers</h2>

        <a class="btn btn-success btn-large" href="/faq/backers">Backers &raquo;</a>

        <ul>
          <li>Accelerate open-source development.</li>
          <li>Incentivize developers to solve issues.</li>
          <li>Fund the next generation of projects.</li>
        </ul>

        <h3>top | recent</h3>
        <ul class="top-pics">
          <li class="span2" ng-repeat="person in recent_people.people.slice(0,6)">
            <a href="/people/{{person.slug}}">
              <img src="{{person.image_url}}" />
              <!--<strong>{{person.display_name}}</strong>-->
              <!--$5,000-->
            </a>
          </li>
        </ul>
        <!--<div style="text-align: center">Top: <b>All Time</b> | <a href="#">This Month</a> | <a href="#">This Week</a> </div>-->
        <!--<br/>-->


      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <h3>Fundraisers</h3>
      <ul class="featured-list">
        <li ng-repeat="fundraiser in fundraisers.slice(0,6)">
          <div>
            <a href="/fundraisers/{{fundraiser.slug}}"><img src="{{fundraiser.image_url}}" /></a>
            <div class="progress">
              <div class="bar bar-success" style="width: {{100*fundraiser.total_pledged/fundraiser.funding_goal | at_least:10 | at_most:100 | number:0 }}%;">{{100*fundraiser.total_pledged/fundraiser.funding_goal | number:0 }}%</div>
            </div>
            <a href="/fundraisers/{{fundraiser.slug}}"><strong>{{fundraiser.title}}</strong></a>
          </div>
        </li>
      </ul>
    </div>

    <div class="span3">
      <h3>Projects</h3>
      <ul class="featured-list">
        <li ng-repeat="tracker in trackers.slice(0,6)">
          <div>
            <a href="/trackers/{{tracker.slug}}" style="text-decoration: none;">
              <img src="{{tracker.image_url}}" />
              <strong>
                {{tracker.name}}
                <div ng-show="tracker.bounty_total > 0" class="label label-success">{{tracker.bounty_total | dollars}}</div>
              </strong>
            </a>
          </div>
        </li>
      </ul>
    </div>


    <div class="span3">
      <h3>Testimonials</h3>
      <ul class="featured-list">
        <li>
          <img src="https://i2.wp.com/a248.e.akamai.net/assets.github.com/images/gravatars/gravatar-user-420.png?ssl=1"/>
          "So rad" -- Some dude.
        </li>
        <li>
          <img src="https://i2.wp.com/a248.e.akamai.net/assets.github.com/images/gravatars/gravatar-user-420.png?ssl=1"/>
          "WoahMG" -- That guy.
        </li>
      </ul>
    </div>

    <div class="span3">
      <h3>Twitter</h3>
      <a class="twitter-timeline" href="https://twitter.com/Bountysource" data-widget-id="350658875873169411">Tweets by @Bountysource</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>


  </div>
</div>

