html, body { width: 100%; padding: 0; margin: 0; }
body { font-size: 100%; }
body, input, textarea, select, td, th { font: 15px "StoneSans", "Helvetica Neue", Arial, sans-serif; color: #333; line-height: 18px; }
img { border-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
input, textarea, select { vertical-align: middle; }
form, fieldset { margin:0; padding:0; border-style:none; }

html { background: #efe9db url(../images/background.png) repeat top center; }



header { 
  color: #eee; 
  background: white; 
  border-top: 4px solid #e0ab45; 
  border-bottom: 1px solid #ccc6b7; 
  margin-bottom: 20px; 
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
header section { width: 975px; margin: 0 auto; padding: 4px 0 0 0; line-height: 50px; position: relative; }
header h1 { margin: 0; padding: 0 }
header h1 a:hover { text-decoration: none; }
header h1 a {
  font-size: 30px; 
	color: #222;
} 
header h1 a .source { font-weight: normal; letter-spacing: 0px }

header ul { 
  margin: 0; 
  padding: 0; 
  position: absolute; 
  right: 20px; 
  top: 5px;
}
header ul li {
  margin: 0 0 0 20px;
  padding: 0;
  float: left;
  list-style: none;
}

header ul li a {
  color: #333;
  font-size: 16px;
}




section#content { width: 935px; margin: 0 auto; padding: 30px 20px 20px 20px; background: #fdfdfd; border: 1px solid #ccc8be; border-radius: 3px 3px; box-shadow: 0 0 5px #ccc8be;  }

section#homepage { width: 978px; margin: 0 auto; }
section#homepage .box { padding: 10px; background: #fdfdfd; border: 1px solid #ccc8be; border-radius: 3px 3px; box-shadow: 0 0 5px #ccc8be; }
section#homepage .box .inner { padding: 20px }

section#homepage .bigbox { background: #f2f3f2; }
section#homepage .bigbox h1 { margin: 0; font-weight: normal; font-size: 21px; color: #333; font-style: italic }
section#homepage .bigbox .devbox, section#homepage .bigbox .backerbox { float: left; width: 320px; height: 100px; text-align: center; margin-top: 20px; }
section#homepage .bigbox .devbox { border-right: 1px solid #dfdfdd; box-shadow: 1px 0px 1px #fcfcfb; margin-right: 10px; padding-right: 10px }

section#homepage .h1-line { border-bottom: 2px solid #f87956; margin-top: 12px; position: relative; }
section#homepage .h1-line div { position: absolute;
  width: 0;
  height: 0;
  top: -5px;
  left: 73px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f87956;
}

.stats { background: #f2f3f2; }
.stats h2 { margin: 0; text-align: right; font-size: 40px; line-height: 40px; font-weight: normal; color: #5b6163 }
.stats h3 { margin: 0; text-align: right; font-size: 13px; line-height: 13px; font-weight: normal; color: #54595c; margin-top: 5px; margin-bottom: 20px; padding-bottom: 10px; }


section#homepage .begin-box { border-top: 1px solid #fcfcfb; box-shadow: 0 -1px 1px #dfdfdd; margin-top: 15px; padding-top: 30px }
section#homepage .begin-box input[type=text] { width: 120px; line-height: 24px; padding: 0 15px; height: 40px; border: 1px solid #9dce5c; }

section#homepage .leaderboard section { float: left; margin-right: 30px; background: #fdfdfd; border: 1px solid #ccc; border-radius: 3px; box-shadow: 0 0 5px #ccc; padding: 10px; }
section#homepage .leaderboard section h2 { margin: 0; font-weight: normal; color: #b1abab; text-transform: uppercase; font-size: 20px; text-align: center; padding-bottom: 20px; border-bottom: 1px solid #f5f4f1; }
section#homepage .leaderboard ul { margin: 0; padding: 0; }
section#homepage .leaderboard li { list-style: none; margin-top: 8px; width: 195px; float: left; }
section#homepage .leaderboard img { vertical-align: middle; margin-right: 8px }

/*footer { padding: 5px 10px; background: rgba(0,0,0,0.3); margin: 0 20px; border-bottom-left-radius: 7px 7px; border-bottom-right-radius: 7px 7px; }*/
footer { width: 995px; margin: 0 auto; padding: 25px 0; text-align: center; color: #7e8688; font-size: 12px }
footer ul { margin: 0; padding: 0; list-style: none; height: 18px }
footer a { color: #7e8688; }
footer li a { float: left; padding: 0 8px; } 



table { width: 100%; border-collapse: collapse; }
td { padding: 2px 5px; border-top: 1px solid #ddd; }
th { padding: 2px 5px; font-weight: bold; text-align: left; }

.split-main { float: left; width: 675px; margin-right: 20px; }
.split-side { float: left; width: 240px }
.split-end { clear: left }

.featured-project { width: 345px; display: inline-block; }


#faq dt { font-weight: bold; }
#faq dd { margin-bottom: 20px; }


#bounty-box {
  background: #f1f1f1;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 15px;
}

#bounty-box section {
  padding: 11px 21px 11px 21px;
  border-bottom: 1px solid #ccc;
}

#bounty-box .amount {
  border: 1px solid #a6a49f;
  background: white;
  margin-bottom: 10px;
  height: 32px;
  position: relative;
}

#bounty-box .amount label {
  position: absolute;
  left: 0;
  top: 0;
  width: 31px;
  height: 32px;
  border-right: 1px solid #dedcd7;
  text-align: center;
  line-height: 32px;
  font-size: 18px;

  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}

#bounty-box .amount input {
  position: absolute;
  left: 32px;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0;
  padding: 0 7px;
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}

#bounty-box .payment-method {
  margin: 10px 0;
}

#bounty-box .payment-method div {
  height: 20px;
  line-height: 20px;
}

#bounty-box .payment-method img {
  padding: 0 6px 0 4px;
  vertical-align: middle;
}

#bounty-box .payment-method label, #bounty-box .payment-method input { 
  cursor: pointer;
}

#bounty-box .total_bounties { 
  margin: 10px 0; 
  font-size: 32px; 
  font-weight: bold; 
  text-align: center; 
}




#breadcrumbs {
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid #e0ab45;
  font-size: 16px;
  height: 20px;
  color: #999;
  text-transform: uppercase;
}

#breadcrumbs a { color: #999; }

#breadcrumbs .arrow, #breadcrumbs .crumb {
  position: relative;
  float: left;
}

#breadcrumbs .arrow { 
  padding: 0 7px;
  font-size: 22px;
  font-weight: normal;
}

#breadcrumbs .uparrow {
  position: absolute;
  width: 0;
  height: 0;
  top: 23px;

  left: 50%;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #e0ab45;
}   




.issue-table h2 { font-weight: normal; margin-bottom: 0; padding-bottom: 7px; color: #5e5f5f; font-size: 22px; margin-top: 24px; }
.issue-table tr { border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.issue-table td { border-bottom: 1px solid #ccc; padding: 5px 2px }




.blue-line { border-bottom: 1px solid #7dc7ea;  }
.orange-line { border-bottom: 1px solid #f87956; }
.green-line { border-bottom: 1px solid #85c135; }

.thick-line-blue { border-bottom: 3px solid #32ace5; }
.thick-line-red { border-bottom: 3px solid #f87956; }
.thick-line-orange { border-bottom: 3px solid #f8b556; }
.thick-line-green { border-bottom: 3px solid #83d11a; }
