/* IE8 doesn't know these are block elements */
header,nav,article,footer,section,aside,figure,figcaption{display:block}

html, body { width: 100%; padding: 0; margin: 0; }
body { font-size: 100%; }
body, input, textarea, select, td, th { font: 15px "StoneSans", "Helvetica Neue", Arial, sans-serif; color: #333; line-height: 18px; }
img { border-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
input, textarea, select { vertical-align: middle; }
form, fieldset { margin:0; padding:0; border-style:none; }
html { background: #efe9db url(../images/background.png) repeat top center; }



header { 
  color: #eee; 
  background: white; 
  border-top: 4px solid #e0ab45;
  border-bottom: 1px solid #ccc6b7; 
  margin-bottom: 20px; 
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
header section { width: 975px; margin: 0 auto; padding: 5px 0 0 0; line-height: 50px; position: relative; }
header h1 { margin: 0; padding: 0 }
header h1 a:hover { text-decoration: none; }
header h1 a {
  font-size: 30px; 
	color: #222;
} 
header h1 a .source { font-weight: normal; letter-spacing: 0 }

header ul { 
  margin: 0; 
  padding: 0; 
  position: absolute; 
  right: 20px; 
  top: 5px;
}
header ul li {
  margin: 0 0 0 20px;
  padding: 0;
  float: left;
  list-style: none;
}

header ul li a {
  color: #333;
  font-size: 16px;
}




section#content { width: 955px; margin: 0 auto; padding: 30px 20px 20px 20px; background: #fdfdfd; border: 1px solid #ccc8be; border-radius: 3px 3px; box-shadow: 0 0 5px #ccc8be;  }

section#homepage { width: 978px; margin: 0 auto; }
section#homepage .box { padding: 10px; background: #fdfdfd; border: 1px solid #ccc8be; border-radius: 3px 3px; box-shadow: 0 0 5px #ccc8be; }
section#homepage .box .inner { padding: 20px }


section#homepage .recent_signups { float: left; width: 50px; height: 50px; border-radius: 30px; border: 3px solid white; margin: 3px; overflow: hidden; box-shadow: 0 0 4px #aaa; }
section#homepage .recent_signups img { width: 50px; height: 50px }

section#homepage .card-column { width: 233px; float: left; margin-right: 15px; }
section#homepage .card-column img { max-width: 100% }
section#homepage .card-column:last-child { margin-right: 0; }

section#homepage .card { background: white; padding: 10px; box-shadow: 0 0 5px #ccc8be; margin-bottom: 15px; }
section#homepage .card .inner { overflow: hidden }

section#homepage h1 { margin: 30px 0 10px 0; font-weight: normal; font-size: 36px; color: #333; text-align: center; }

section#homepage .h1-line { border-bottom: 2px solid #f87956; margin: 12px 20px 0; position: relative; }
section#homepage .h1-line div { position: absolute;
  width: 0;
  height: 0;
  top: -5px;
  left: 73px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f87956;
}

.stats { background: #f2f3f2; }
.stats h2 { margin: 0; text-align: right; font-size: 40px; line-height: 40px; font-weight: normal }
.stats h2 a { color: #5b6163 }
.stats h2 a:hover { text-decoration: none }
.stats h3 { margin: 0; text-align: right; font-size: 13px; line-height: 13px; font-weight: normal; margin-top: 5px; margin-bottom: 40px; padding-bottom: 10px; }
.stats h3 a { color: #54595c }


section#homepage .begin-box { padding-top: 25px }
section#homepage .begin-box input[type=text] { width: 150px; line-height: 24px; padding: 0 15px; height: 40px; border: 1px solid #9dce5c; }

section#homepage .faq-box { margin-top: 10px; padding: 10px; background: #fdfdfd; border: 1px solid #ccc8be; border-radius: 3px 3px; box-shadow: 0 0 5px #ccc8be; float: left; width: 233px; text-align: center }
section#homepage .faq-box .inner { padding: 10px; background: #f2f3f2; }
section#homepage .faq-box h1 { text-align: center; font-size: 20px; margin: 0 }

section#homepage .leaderboard { padding: 10px; }
section#homepage .leaderboard section { float: left; width: 423px }
section#homepage .leaderboard section h2 { margin: 0; font-weight: normal; color: #b1abab; text-transform: uppercase; font-size: 20px; border-bottom: 1px solid #ddd; margin-bottom: 6px; padding-bottom: 3px }
section#homepage .leaderboard ul { margin: 0; padding: 0; }
section#homepage .leaderboard li { list-style: none; margin-top: 8px; width: 195px; float: left; }
section#homepage .leaderboard img { vertical-align: middle; margin-right: 8px }

/*footer { padding: 5px 10px; background: rgba(0,0,0,0.3); margin: 0 20px; border-bottom-left-radius: 7px 7px; border-bottom-right-radius: 7px 7px; }*/
footer { width: 975px; margin: 0 auto; padding: 25px 0; color: #7e8688; font-size: 12px }
footer a { color: #7e8688; }
footer ul { margin: 0; padding: 0; list-style: none; height: 18px }
footer li a { float: left; padding: 0 12px 0 0; } 


table { width: 100%; border-collapse: collapse; }
td { padding: 2px 5px; border-top: 1px solid #ddd; }
th { padding: 2px 5px; font-weight: bold; text-align: left; }

.split-main { float: left; width: 675px; margin-right: 20px; }
.split-side { float: left; width: 260px }
.split-end { clear: left }

.featured-project { width: 345px; display: inline-block; }


#faq dt { font-weight: bold; }
#faq dd { margin-bottom: 20px; }


#bounty-box {
  background: #f1f1f1;
  margin: 0 15px;
}

#bounty-box section {
  padding: 11px 21px 11px 21px;
  border-bottom: 1px solid #ccc;
}

#bounty-box .amount {
  border: 1px solid #a6a49f;
  background: white;
  margin-bottom: 10px;
  height: 32px;
  position: relative;
}

#bounty-box .amount label {
  position: absolute;
  left: 0;
  top: 0;
  width: 31px;
  height: 32px;
  border-right: 1px solid #dedcd7;
  text-align: center;
  line-height: 32px;
  font-size: 18px;

  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}

#bounty-box .amount input {
  position: absolute;
  left: 32px;
  top: 0;
  width: 140px;
  height: 32px;
  border: 0;
  padding: 0 7px;
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}

#bounty-box .payment-method {
  margin: 10px 0;
}

#bounty-box .payment-method div {
  /*height: 20px;*/
  line-height: 20px;
}

#bounty-box .payment-method img {
  padding: 0 6px 0 4px;
  vertical-align: middle;
}

#bounty-box .payment-method label, #bounty-box .payment-method input { 
  cursor: pointer;
}

#bounty-box .total_bounties { 
  margin: 10px 0; 
  font-size: 32px; 
  font-weight: bold; 
  text-align: center; 
}




#breadcrumbs {
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid #e0ab45;
  font-size: 16px;
  height: 20px;
  color: #999;
  text-transform: uppercase;
}

#breadcrumbs a { color: #999; }

#breadcrumbs .arrow, #breadcrumbs .crumb {
  position: relative;
  float: left;
}

#breadcrumbs .arrow { 
  padding: 0 7px;
  font-size: 22px;
  font-weight: normal;
}

#breadcrumbs .uparrow {
  position: absolute;
  width: 0;
  height: 0;
  top: 23px;

  left: 50%;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #e0ab45;
}   




.issue-table h2 { font-weight: normal; margin-bottom: 0; padding-bottom: 7px; color: #5e5f5f; font-size: 22px; margin-top: 24px; }
.issue-table tr { border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.issue-table td { border-bottom: 1px solid #ccc; padding: 5px 2px }




.blue-line { border-bottom: 1px solid #7dc7ea;  }
.orange-line { border-bottom: 1px solid #f87956; }
.green-line { border-bottom: 1px solid #85c135; }

.thick-line-blue { border-bottom: 3px solid #32ace5; }
.thick-line-red { border-bottom: 3px solid #f87956; }
.thick-line-orange { border-bottom: 3px solid #f8b556; }
.thick-line-green { border-bottom: 3px solid #83d11a; }

.code { background: #F0F0F0; border: 1px solid #CFCFCF; padding: 10px 20px; border-radius: 2px; font-size: 12px; }

.github_html p { margin: 0 0 10px 0; }

.success-message  { padding: 20px 15px; margin-bottom: 15px; border-radius: 3px; background: #DFF7CB; border: 1px solid #B3CFB3; }
.error-message    { padding: 20px 15px; margin-bottom: 15px; border-radius: 3px; background: #FFE5DF; border: 1px solid #DABABA; }
.info-message     { padding: 20px 15px; margin-bottom: 15px; border-radius: 3px; background: #F8F8BB; border: 1px solid #E0D8B4; }

.success-message.small { padding: 5px; text-align: center; }
.error-message.small   { padding: 5px; text-align: center; }
.info-message.small    { padding: 5px; text-align: center; }


#user-nav {
  position: relative;
  z-index: 3;
  min-width: 120px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#user-nav a { color: #333 }
#user-nav a span.downarrow { padding-left: 6px; }
#user-nav #user_nav_a:hover { text-decoration: none; }
#user-nav.flyout {
  box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.4);
}
#user-nav        #user_nav_flyout { display: none; }
#user-nav.flyout #user_nav_flyout {
  background-color: white;
  display: block;
  border-top: 1px solid #333;
  padding: 7px;
}
#user-nav #user_nav_flyout { line-height: 26px; }
#user-nav #user_nav_flyout a { display: block; }
#user-nav #user_nav_name { padding-left: 6px; }
#user-nav #user_nav_a { margin: 0 10px; }
#user-nav #user_nav_avatar {
  width: 24px; 
  height: 24px;
  border-radius: 2px;
  vertical-align: middle;
}

#milestone-table                      { width: 100%; }
#milestone-table tr                   { height: 60px; }
#milestone-table tr.editable          { background: #E7FDE7; }
#milestone-table tr.editable:hover    { background: #D8FDD8; }
#milestone-table tr.read-only         { background: #E7FDE7; }
#milestone-table tr.read-only:hover   { background: #D8FDD8; }
#milestone-table tr#milestone-inputs  { background: #D8FDD8; }

#rewards-table tr#reward-inputs         { height: 230px; background: #D8FDD8; }
#rewards-table tr textarea              { width: 205px; height: 200px; }
#rewards-table tr #description-wrapper  { display: inline-block; padding: 10px; min-height: 50px; width: 250px; border-radius: 3px; margin: 20px 0 20px 20px; vertical-align: top; background: white; border: 1px solid #B9DABE; }
#rewards-table tr.editable              { height: 100px; background: #E7FDE7; }
#rewards-table tr.editable #description { width: 240px; }
#rewards-table tr.editable:hover        { background: #D8FDD8; }

ul.horizontal-nav       { list-style-type: none; padding: 0; margin: 10px 0; -moz-user-select: none; -webkit-user-select: none; }
ul.horizontal-nav li    { display: inline-block; }

li.fundraiser-form-nav          { text-align: center; cursor: pointer; height: 30px; padding-top: 10px; color: #999; font-size: 18px; }
li.fundraiser-form-nav a        { color: gray; text-decoration: none; }
li.fundraiser-form-nav:hover    { background: #E0E0E0; }

.fundraiser-form-nav.active     { background: #E0E0E0; }

.close-button { background: grey; opacity: 0.60; border-radius: 10px; font-size: 14px; color: white; float: right; width: 18px; height: 18px; cursor: pointer; }
a.close-button { text-decoration: none; }
.close-button:hover { opacity: 0.75; }