/* IE8 doesn't know these are block elements */
header,nav,article,footer,section,aside,figure,figcaption{display:block}

html, body { width: 100%; padding: 0; margin: 0; }
body { font-size: 100%; }
body, input, textarea, select, td, th { font: 15px "StoneSans", "Helvetica Neue", Arial, sans-serif; color: #333; line-height: 18px; }
img { border-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
input, textarea, select { vertical-align: middle; }
form, fieldset { margin:0; padding:0; border-style:none; }
html { background: #efe9db url(../images/background.png) repeat top center; }

/* force placeholder text to a normal color */
::-webkit-input-placeholder { color: #aaa; }
:-moz-placeholder { color: #aaa; }
::-moz-placeholder { color: #aaa; }
:-ms-input-placeholder { color: #aaa; }

section#global-social-buttons { width: 955px; margin: auto; margin-bottom: 10px; }
section#global-social-buttons ul { list-style-type: none; padding: 0; }
section#global-social-buttons ul li { min-width: 100px; display: inline-block; margin-right: 5px; vertical-align: middle; }
section#global-social-buttons ul li:last-child { margin-right: 0; }

section#content, section#signin { width: 955px; margin: 0 auto; padding: 30px 20px 20px 20px; background: #fdfdfd; border: 1px solid #ccc8be; border-radius: 3px 3px; box-shadow: 0 0 5px #ccc8be;  }

.avatar { width: 50px; height: 50px; border-radius: 30px; border: 3px solid white; margin: 3px; overflow: hidden; box-shadow: 0 0 4px #aaa; }
.avatar img { width: 50px; height: 50px; border-radius: 2px; }
.round-avatar {
  width: 50px; height: 50px; border-radius: 30px; border: 3px solid white; margin: 3px; overflow: hidden; box-shadow: 0 0 4px #aaa;
  -webkit-transition: ease-in 50ms;
  -moz-transition:    ease-in 50ms;
  -o-transition:      ease-in 50ms;
  transition:         ease-in 50ms;
}
.round-avatar:hover { box-shadow: 0 0 10px #686868; }
.round-avatar img { width: 50px; height: 50px; }

.avatar.small { width: 30px; height: 30px; border-radius: 2px; }
.avatar.small img { width: 30px; height: 30px; border-radius: 2px; }
.round-avatar.small { width: 30px; height: 30px; }
.round-avatar.small img { width: 30px; height: 30px; }

.stats { background: #f2f3f2; }
.stats h2 { margin: 0; text-align: right; font-size: 40px; line-height: 40px; font-weight: normal }
.stats h2 a { color: #5b6163 }
.stats h2 a:hover { text-decoration: none }
.stats h3 { margin: 0; text-align: right; font-size: 13px; line-height: 13px; font-weight: normal; margin-top: 5px; margin-bottom: 40px; padding-bottom: 10px; }
.stats h3 a { color: #54595c }

/*footer { padding: 5px 10px; background: rgba(0,0,0,0.3); margin: 0 20px; border-bottom-left-radius: 7px 7px; border-bottom-right-radius: 7px 7px; }*/
footer { width: 975px; margin: 0 auto; padding: 12px 0 75px 0; color: #7e8688; font-size: 12px }
footer a { color: #7e8688; }
footer ul { margin: 0; padding: 0; list-style: none; height: 18px }
footer li a { float: left; padding: 0 12px 0 0; } 


table { width: 100%; border-collapse: collapse; }
td { padding: 2px 5px; border-top: 1px solid #ddd; }
th { padding: 2px 5px; font-weight: bold; text-align: left; }

.split-main { float: left; width: 675px; margin-right: 20px; }
.split-side { float: left; width: 260px }
.split-end { clear: left }

.featured-project { width: 345px; display: inline-block; }


#faq dt { font-weight: bold; }
#faq dd { margin-bottom: 20px; }


input.autosized {
  font-size: 11px;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: grey;
  text-align: center;
  font-famiy: courier new;
  font-size: 11px;
}

#bounty-box {
  background: #f1f1f1;
  margin: 0 15px;
}

#bounty-box section {
  padding: 11px 21px 11px 21px;
  border-bottom: 1px solid #ccc;
}

#bounty-box .amount {
  border: 1px solid #a6a49f;
  background: white;
  margin-bottom: 10px;
  height: 32px;
  position: relative;
}

#bounty-box .amount label {
  position: absolute;
  left: 0;
  top: 0;
  width: 31px;
  height: 32px;
  border-right: 1px solid #dedcd7;
  text-align: center;
  line-height: 32px;
  font-size: 18px;

  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}

#bounty-box .amount input {
  position: absolute;
  left: 32px;
  top: 0;
  width: 140px;
  height: 32px;
  border: 0;
  padding: 0 7px;
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}

.payment-method { display: inline-block; }
.payment-method div { line-height: 20px; margin-bottom: 10px; }
.payment-method div:last-child { margin-bottom: 0; }
.payment-method img { padding: 0 6px 0 4px; vertical-align: middle; }
.payment-method label, .payment-method input { cursor: pointer; }

.total_bounties {
  margin: 10px 0; 
  font-size: 32px; 
  font-weight: bold; 
  text-align: center; 
}




#breadcrumbs {
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid #e0ab45;
  font-size: 16px;
  height: 20px;
  color: #999;
  text-transform: uppercase;
}

#breadcrumbs a { color: #999; }

#breadcrumbs .arrow, #breadcrumbs .crumb {
  position: relative;
  float: left;
}

#breadcrumbs .arrow { 
  padding: 0 7px;
  font-size: 22px;
  font-weight: normal;
}

#breadcrumbs .uparrow {
  position: absolute;
  width: 0;
  height: 0;
  top: 23px;

  left: 50%;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #e0ab45;
}   




.issue-table h2 { font-weight: normal; margin-bottom: 0; padding-bottom: 7px; color: #5e5f5f; font-size: 22px; margin-top: 24px; }
.issue-table tr { border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.issue-table td { border-bottom: 1px solid #ccc; padding: 5px 2px }




.blue-line { border-bottom: 1px solid #7dc7ea;  }
.orange-line { border-bottom: 1px solid #f87956; }
.green-line { border-bottom: 1px solid #85c135; }

.thick-line-blue { border-bottom: 3px solid #32ace5; }
.thick-line-red { border-bottom: 3px solid #f87956; }
.thick-line-orange { border-bottom: 3px solid #f8b556; }
.thick-line-green { border-bottom: 3px solid #83d11a; }

.code { background: #F0F0F0; border: 1px solid #CFCFCF; padding: 10px 20px; border-radius: 2px; font-size: 12px; }

.success-message  { padding: 20px 15px; margin-bottom: 15px; border-radius: 3px; background: #DFF7CB; border: 1px solid #B3CFB3; }
.error-message    { padding: 20px 15px; margin-bottom: 15px; border-radius: 3px; background: #FFE5DF; border: 1px solid #DABABA; }
.info-message     { padding: 20px 15px; margin-bottom: 15px; border-radius: 3px; background: #F8F8BB; border: 1px solid #E0D8B4; }

.success-message.small { padding: 5px; text-align: center; }
.error-message.small   { padding: 5px; text-align: center; }
.info-message.small    { padding: 5px; text-align: center; }

.solutions tr.link:hover { background: rgb(255, 251, 228); }
.solutions tr.link { cursor: pointer; }

#forkme { float: right; }

.solution-row {
  cursor: pointer;
  height: 50px;

  -webkit-transition: background ease-in 75ms;
  -moz-transition:    background ease-in 75ms;
  -o-transition:      background ease-in 75ms;
  transition:         background ease-in 75ms;
}
.solution-row:hover {
  background: #FFFFE4;
}

.range-with-input { display: inline-block; }

#solution-payout-info fieldset { margin: 15px 0; }
#solution-payout-info fieldset:first-of-type { margin: 0 0 15px 0; }
#solution-payout-info fieldset:last-of-type { margin: 15px 0 0 0; }
#solution-payout-info #developer-cut {  }
#solution-payout-info label {
  display: inline-block;
  width: 130px;
  font-size: 14px;
  text-align: right;
  margin-right: 10px;
}

.dollar-sign { font-size: 25px; display: inline-block; vertical-align: middle; margin-right: 5px; }

.info-message {
  border: 1px solid #e2c822;
  background: #fff9d7;
  padding: 14px 20px;
  margin-bottom: 10px;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#split-wrapper {}
#split-main {
  z-index: 1;
  display: inline-block;
  width: 660px;
  margin-right: 20px;

  -webkit-transition: ease-in 100ms;
  -moz-transition:    ease-in 100ms;
  -o-transition:      ease-in 100ms;
  transition:         ease-in 100ms;
}
#split-main.expanded {
  width: 955px;
}
#split-side {
  display: inline-block;
  vertical-align: top;
  width: 275px;
  z-index: 0;
}
#split-side.collapsed {
  display: none;
}

.with-ribbon-header {
  background: #f1f1f1;
  padding: 0 21px 21px 21px;
  margin: 20px 15px;
  border-bottom: 1px solid #e3e3e3;
}
