html, body { width: 100%; padding: 0; margin: 0; }
body { font-size: 100%; }
body, input, textarea, select, td, th { font: 14px "Helvetica Neue", Arial, sans-serif; color: #333; line-height: 18px; }
img { border-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
input, textarea, select { vertical-align: middle; }
form, fieldset { margin:0; padding:0; border-style:none; }

html { background: #444 url(../images/linen.jpg) repeat top center; }

section#wrapper { width: 975px; margin: 0 auto; padding: 0; }

header { color: #eee; padding: 10px; margin-top: 20px }
header h1 { margin: 0 0 10px 0; }
header h1 a:hover { text-decoration: none; }
header h1 a {

  font-size: 40px; 
  
	color: #7F7F7F;
	color: rgba(255, 255, 255, 0.25);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.9);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
} 

section#content { background: #fafafa; padding: 10px; border-radius: 7px 7px; box-shadow: 0 0 7px rgba(0,0,0,0.5);  }

footer { padding: 5px 10px; background: rgba(0,0,0,0.3); margin: 0 20px; border-bottom-left-radius: 7px 7px; border-bottom-right-radius: 7px 7px; }
footer ul { margin: 0; padding: 0; list-style: none; height: 18px }
footer ul li a { padding: 0 8px; color: #aaa; float: left; text-shadow: 1px 1px #333 }



table { width: 100%; border-collapse: collapse; }
td { padding: 2px 5px; border-top: 1px solid #ddd; }
th { padding: 2px 5px; font-weight: bold; text-align: left; }

.split-main { float: left; width: 630px; border-right: 1px solid #ccc; margin-right: 10px; padding-right: 10px }
.split-side { float: left; width: 300px }
.split-end { clear: left }

.sidebar { float: right; width: 240px; }
.has-sidebar { margin-right: 260px; }

.featured-project { width: 345px; display: inline-block; }





#faq dt { font-weight: bold; }
#faq dd { margin-bottom: 20px; }
