/* http://www.colorzilla.com/gradient-editor/ */

input[type='submit'].button {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 0;
}

.button {
  border-radius: 2px;
  display: block;
  width: 100%;
  color: white;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.button:hover { text-decoration: underline; }
.button.no-hover { text-decoration: none; }

.button.green {
  border: 1px solid #70b539;
  background: #b6f266;  /* Old browsers */
  background: -moz-linear-gradient(top,  #b6f266 0%, #8cc63e 4%, #6daf14 100%);  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6f266), color-stop(4%,#8cc63e), color-stop(100%,#6daf14)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b6f266 0%,#8cc63e 4%,#6daf14 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b6f266 0%,#8cc63e 4%,#6daf14 100%);  /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b6f266 0%,#8cc63e 4%,#6daf14 100%);  /* IE10+ */
  background: linear-gradient(to bottom,  #b6f266 0%,#8cc63e 4%,#6daf14 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6f266', endColorstr='#6daf14',GradientType=0 ); /* IE6-9 */
}

.button.blue {
  border: 1px solid #4682b4;
  background: #6adfff;
  background: -moz-linear-gradient(top,  #6adfff 0%, #29a8dd 4%, #2499c9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6adfff), color-stop(4%,#29a8dd), color-stop(100%,#2499c9));
  background: -webkit-linear-gradient(top,  #6adfff 0%,#29a8dd 4%,#2499c9 100%);
  background: -o-linear-gradient(top,  #6adfff 0%,#29a8dd 4%,#2499c9 100%);
  background: -ms-linear-gradient(top,  #6adfff 0%,#29a8dd 4%,#2499c9 100%);
  background: linear-gradient(to bottom,  #6adfff 0%,#29a8dd 4%,#2499c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6adfff', endColorstr='#2499c9',GradientType=0 );
}

.button.gray, .button.grey {
  border: 1px solid #868686;
  background: #d3d3d3;
  background: -moz-linear-gradient(top,  #d3d3d3 0%, #b2b2b2 4%, #939393 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(4%,#b2b2b2), color-stop(100%,#939393));
  background: -webkit-linear-gradient(top,  #d3d3d3 0%,#b2b2b2 4%,#939393 100%);
  background: -o-linear-gradient(top,  #d3d3d3 0%,#b2b2b2 4%,#939393 100%);
  background: -ms-linear-gradient(top,  #d3d3d3 0%,#b2b2b2 4%,#939393 100%);
  background: linear-gradient(to bottom,  #d3d3d3 0%,#b2b2b2 4%,#939393 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6f266', endColorstr='#6daf14',GradientType=0 );
}

/*
  Pledge button
*/
.button.green.pledge-button {
  text-decoration: none;
  padding: 20px 0;
  font-size: 20px;
}
.button.green.pledge-button:hover {
  box-shadow: 0 0 20px #5EE95E;
}