.blue, .green {
  border-radius: 2px;
  width: 100%;
  line-height: 40px;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

input.blue {
  border: 1px solid #4682b4;
  background: #6adfff; /* Old browsers */
  background: -moz-linear-gradient(top,  #6adfff 0%, #29a8dd 4%, #2499c9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6adfff), color-stop(4%,#29a8dd), color-stop(100%,#2499c9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6adfff 0%,#29a8dd 4%,#2499c9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6adfff 0%,#29a8dd 4%,#2499c9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6adfff 0%,#29a8dd 4%,#2499c9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #6adfff 0%,#29a8dd 4%,#2499c9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6adfff', endColorstr='#2499c9',GradientType=0 ); /* IE6-9 */
}


.green {
  border: 1px solid #70b539;
  background: #b6f266; /* Old browsers */
  background: -moz-linear-gradient(top,  #b6f266 0%, #8cc63e 4%, #6daf14 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6f266), color-stop(4%,#8cc63e), color-stop(100%,#6daf14)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b6f266 0%,#8cc63e 4%,#6daf14 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b6f266 0%,#8cc63e 4%,#6daf14 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b6f266 0%,#8cc63e 4%,#6daf14 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #b6f266 0%,#8cc63e 4%,#6daf14 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6f266', endColorstr='#6daf14',GradientType=0 ); /* IE6-9 */
}