/*************************
  All cards
*************************/
.card {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  color: black;
  background: white;
  border: 1px solid #D5D5D5;
  box-shadow: 0 0 5px #ccc8be;
  height: 400px;
  width: 236px;
  white-space: normal;

  -webkit-transition: ease-in-out 100ms;
  -moz-transition:    ease-in-out 100ms;
  -o-transition:      ease-in-out 100ms;
  transition:         ease-in-out 100ms;
}
a.card { text-decoration: none; }
.card-row-wrapper {
  margin: auto;
}
.card:hover {
  background: #F3FFF2;
}



/*************************
  Card Rows
*************************/
#homepage #card-rows-container > *.card-row-wrapper {
  margin-bottom: 10px;
}
#homepage #card-rows-container > *.card-row-wrapper:last-of-type {
  margin-bottom: 0;
}
.card-row {
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.29);
  border: 1px solid #D1D1D1;
  box-shadow: 0 0 5px #ccc8be;
}
.card-row .card {
  margin-right: 10px;
}
.card-row .card:last-of-type {
  margin-right: 0;
}

/* when transitioning, hide all cards first */
.card-row.transition .card {
  opacity: 0;
}

/*************************
  Card Row Header
*************************/
#homepage .card-row.header {
  padding: 0;
  text-align: center;
  background: #F2F3F2;
  border-bottom: 0;
}
#homepage .card-row.header .card-nav-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: black;
  margin: 10px 0;
  width: 790px;
}
/* nav buttons */
#homepage .card-row.header .card-nav-button {
  text-align: center;
  background: #E4E4E4;
  width: 100px;
  cursor: pointer;

  -webkit-transition: ease-in-out 100ms;
  -moz-transition:    ease-in-out 100ms;
  -o-transition:      ease-in-out 100ms;
  transition:         ease-in-out 100ms;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#homepage .card-row.header .card-nav-button:hover { background: #e0e0e0; }
#homepage .card-row.header .card-nav-button.disabled {
  opacity: 0.25;
  cursor: default;
}
#homepage .card-row.header .card-nav-button.disabled.hover { background: inherit; }
#homepage .card-row.header .card-nav-button div {
  font-size: 30px;
  padding: 10px 0;
  color: grey;
}
#homepage .card-row.header .card-nav-button.next {
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #D1D1D1;
}
#homepage .card-row.header .card-nav-button.previous {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid #D1D1D1;
}



/*************************
  Fundraiser cards
*************************/
.card.fundraiser {}
.card.fundraiser > * {
  margin-bottom: 5px;
}
.card.fundraiser > *:last-of-type {
  margin-bottom: 0;
}

/*
  Fundraiser card image
*/
.card.fundraiser .fundraiser-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-color: #EEE;
  border-bottom: 1px solid #D5D5D5;
  height: 150px;
}

/*
  Fundraiser card title and description
*/
.card.fundraiser .fundraiser-text {
  margin: 10px;
  white-space: normal;
  height: 150px
}
.card.fundraiser .fundraiser-text > * { margin-bottom: 5px; }
.card.fundraiser .fundraiser-text > *:last-of-type { margin-bottom: 0; }
.card.fundraiser .fundraiser-text .fundraiser-title {
  font-size: 18px;
  color: #70C770;
  line-height: 20px;
}
.card.fundraiser .fundraiser-text .fundraiser-author {
  font-size: 14px;
  color: gray;
}
.card.fundraiser .fundraiser-text .fundraiser-description {
  font-size: 12px;
}

/*
  Fundraiser card stats and percentage complete
*/
.card.fundraiser .fundraiser-stats {
  font-size: 12px;
  color: gray;
  padding: 0 10px;
  height: 37px;
}

.card.fundraiser .fundraiser-stats .fundraiser-data {
  font-size: 14px;
}
.card.fundraiser .fundraiser-stats .fundraiser-data > * {
  display: block;
}

/* days left, money raised, etc. */
.card.fundraiser .fundraiser-stats .fundraiser-data {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.card.fundraiser .fundraiser-stats .fundraiser-data > * > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.card.fundraiser .fundraiser-stats .fundraiser-data > * > *:first-child {
  font-size: 18px;
  color: #70C770;
}
.card.fundraiser .fundraiser-stats .fundraiser-data > * > *:last-child {
  margin-right: 0;
  font-size: 12px;
}

/*
  Fundraiser card progress bar
*/
.card.fundraiser .fundraiser-progress-bar-outer {
  border-top: 1px solid #D5D5D5;
  background: #e3e3e3;
  height: 36px;
  overflow: hidden;
}
.card.fundraiser .fundraiser-progress-bar-inner {
  display: inline-block;
  background: #77E077;
  height: 38px;
}
/* percentage, in/out of percentage bar */
.card.fundraiser .fundraiser-percentage {
  font-size:  30px;
  padding: 10px 0;
  display: inline-block;
  margin: 0 10px;
}
.card.fundraiser .fundraiser-percentage.lt-50 {
  color: #929292;
}
.card.fundraiser .fundraiser-percentage.gteq-50 {
  color: #D8FCC7;
  float: right;
}




/*************************
  Project cards
*************************/
.card.project { height: 354px; }
.card.project:hover { background: #F5FCFD; }
.card.project > * { margin-bottom: 10px; }
.card.project > *:last-of-type { margin-bottom: 0; }

.card.project .project-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-color: #EEE;
  border-bottom: 1px solid #D5D5D5;
  height: 150px;
}
.card.project .project-name {
  font-size: 18px;
  color: #70BED1;
  padding: 0 10px;
  height: 40px;
}

/*
  List of bounties on issues for project
*/
.card.project .issue-rows {
  padding: 0 10px;
  height: 95px;
}
/* issue total bounty */
.card.project .issue-rows > * > *:first-child {
  display: inline-block;
  color: #70BED1;
  font-size: 16px;
  margin-right: 5px;
}
.card.project .issue-rows > *.closed > *:first-child{
  color: #E27A75;
  text-decoration: line-through;
}

/* issue title */
.card.project .issue-rows > * > *:last-child {
  color: gray;
  font-size: 12px;
}
.card.project .issue-rows > *.closed > *:last-child{
  text-decoration: line-through;
}

/*
  Big button at bottom
*/
.card.project .bottom-button {
  background: #DDF4FA;
  text-align: center;
  padding: 10px 0;
  color: #5FAEC0;
}


/*************************
  Filter Box
*************************/
#cardfilterbox {
  text-align: left; padding: 10px; margin: 20px 0 10px 0; background: #f2f3f2; border: 10px solid white; box-shadow: #ccc8be 0px 0px 5px;
}

#cardfilterbox form {
  display: inline;
}

#cardfilterbox input {
  width: 250px; line-height: 24px; padding: 0 15px; height: 40px; border: 1px solid #9dce5c;
}

#cardfilterbox input[type=submit], #cardfilterbox input[type=reset] {
  width: 80px; margin-left: 3px;
}
