.card {
  background: white;
  padding: 10px;
  box-shadow: 0 0 5px #ccc8be;
  margin-bottom: 15px;

  border: 1px solid white;
  border-radius: 5px;

  -webkit-transition: ease-in-out 100ms;
  -moz-transition:    ease-in-out 100ms;
  -o-transition:      ease-in-out 100ms;
  transition:         ease-in-out 100ms;

}

.card-column { width: 233px; float: left; margin-right: 15px; }
.card-column img { max-width: 100% }
.card-column:last-child { margin-right: 0; }

.card:hover { box-shadow: 0 0 10px #B38735; border: 1px solid #E0AB45; cursor: pointer }
.card .fundraiser:hover { box-shadow: 0 0 10px #59AA2C; border: 1px solid #9ADA8A; cursor: pointer }

#card-loader-div {
  background: white;
  color: #aaa;
  padding: 20px 0;
  margin: 20px 0;
  box-shadow: 0 0 5px #ccc8be;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
