#chatbar {
  position: fixed;
  background: #8cb82b;
  color: #f0f0f0;
  padding: 0 5px;

  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
}
/*#chatbar.closed { top: 260px; top: 180px\9; left: -98px; left: 0\9; width: 220px; height: 36px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(90deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }*/
#chatbar.closed { display: none; }
#chatbar.active { height: 250px; width: 980px; margin-left: -495px; left: 50%; bottom: 0px; }
#chatbar .close-button { display: none; }
#chatbar.active .close-button { display: block; }
#chatbar .min-button { display: none; }
#chatbar.active .min-button { display: block; right: 23px; }
#chatbar h2 { font: 20px AdelleBold, Titillium, Arial, sans-serif; margin: 5px 5px 7px; padding: 0; text-transform: uppercase; color: #fff; cursor: pointer; text-align: center; border-bottom: 0; }
#chatbar.active h2 { text-align: left; cursor: auto; }

#chatbar iframe {
  width: 100%;
  height: 210px;
  border: 0;
  margin: 0;

  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
#chatbar.minimized { bottom: -214px; }
#chatbar.minimized .close-button { display: none; }

#footer.chatbar { margin-bottom: 270px; }

.close-button {
  opacity: 1;
  background: black;
  border: 3px solid white;
  display: block; width: 20px;
  height: 20px;
  position: absolute;
  right:-10px;
  top: -10px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  color: white;
  font-size: 14px;

  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;

  box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
}
.close-button:hover { text-decoration: none; }
