#split-wrapper {}

#split-main {
  z-index: 1;
  display: inline-block;
  width: 660px;
  margin-right: 20px;

  -webkit-transition: ease-in 150ms;
  -moz-transition:    ease-in 150ms;
  -o-transition:      ease-in 150ms;
  transition:         ease-in 150ms;
}
#split-main.expanded { width: 955px; }

#split-side {
  z-index: 0;
  display: inline-block;
  vertical-align: top;
  width: 275px;
}
#split-side.collapsed {
  display: none;
}



