form.fancy label { text-align: right; font-size: 16px; width: 120px; padding-right: 25px; display: inline-block; vertical-align: middle; }
form.fancy fieldset { line-height: 25px; margin: 20px 0; }
form.fancy input[type='text'] { width: 180px; border: 1px solid #ccc; font-size: 18px; line-height: 18px; padding: 0 10px; height: 40px; }
form.fancy input[type='password'] { width: 180px; border: 1px solid #ccc; font-size: 18px; line-height: 18px; padding: 0 10px; height: 40px; }
form.fancy fieldset.no-label { margin-left: 144px; }

form.fancy input[type='text'].long { width: 350px; border: 1px solid #ccc; font-size: 18px; line-height: 18px; padding: 0 10px; height: 40px; }
form.fancy input[type='text'].short { width: 100px; border: 1px solid #ccc; font-size: 18px; line-height: 18px; padding: 0 10px; height: 40px; }

form.fancy input[type='password'].long { width: 350px; border: 1px solid #ccc; font-size: 18px; line-height: 18px; padding: 0 10px; height: 40px; }
form.fancy input[type='password'].short { width: 100px; border: 1px solid #ccc; font-size: 18px; line-height: 18px; padding: 0 10px; height: 40px; }

form.fancy input[type='submit'] { width: 200px; }

.required { border: 2px solid #F07E7E; border-radius: 3px; box-shadow: 0px 0px 3px #FD6262 }





/*form.fancy { }*/
/*form.fancy label { margin-left: -220px; float: left; text-align: right; font-size: 17px; width: 200px; padding-right: 20px; font-weight: bold; }*/
/*form.fancy label.normal { margin-left: 0; float: none; text-align: inherit; font-size: inherit; width: inherit; padding-right: inherit; font-weight: inherit; }*/
/*form.fancy fieldset { margin: 0 0 0 220px; padding: 0; border: 0; line-height: 50px; }*/
/*form.fancy input[type="text"], form.fancy input[type="password"] { margin-top: 4px; padding: 5px 10px; font-size: 17px; border: 1px solid #aaa; border-radius: 3px; width: 250px }*/
/*form.fancy input[type="text"].short, form.fancy input[type="password"].short { width: 150px; }*/
/*form.fancy input[type="text"].shortish, form.fancy input[type="password"].shortish { width: 180px; }*/
/*form.fancy input[type="text"].supershort, form.fancy input[type="password"].supershort { width: 80px; }*/
/*form.fancy select { font-size: 17px; }*/
/*form.fancy .right-margin { margin-right: 8px }*/
/*form.fancy .big-text { font-size: 17px }*/
/*form.fancy .small-text { font-size: 12px }*/

/*form.fancy textarea { margin-top: 12px; padding: 5px 10px; font-size: 17px; border: 1px solid #aaa; border-radius: 3px; width: 400px; height: 100px; }*/


/*form.fancy input[type="submit"], form.fancy .button, .myButton {*/
  /*-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;*/
  /*-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;*/
  /*box-shadow:inset 0px 1px 0px 0px #c1ed9c;*/
  /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );*/
  /*background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );*/
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');*/
  /*background-color:#9dce2c;*/
  /*-moz-border-radius:6px;*/
  /*-webkit-border-radius:6px;*/
  /*border-radius:6px;*/
  /*border:1px solid #83c41a;*/
  /*display:inline-block;*/
  /*color:#ffffff;*/
  /*font-family:arial;*/
  /*font-size:18px;*/
  /*font-weight:bold;*/
  /*padding:6px 24px;*/
  /*text-decoration:none;*/
  /*text-shadow:1px 1px 0px #689324;*/
  /*overflow: visible;*/
/*}*/
/*form.fancy input[type="submit"]:hover, .myButton:hover {*/
  /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );*/
  /*background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );*/
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');*/
  /*background-color:#8cb82b;*/
  /*cursor: pointer;*/
/*}*/
/*form.fancy input[type="submit"]:active, .myButton:active {*/
  /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #8cb82b) );*/
  /*background:-moz-linear-gradient( center top, #8cb82b 5%, #8cb82b 100% );*/
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#8cb82b');*/
/*}*/
/*form.fancy input[type="submit"].red, .myButton.red {*/
  /*-moz-box-shadow:inset 0px 1px 0px 0px #fdc1cc;*/
  /*-webkit-box-shadow:inset 0px 1px 0px 0px #fdc1cc;*/
  /*box-shadow:inset 0px 1px 0px 0px #fdc1cc;*/
  /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #de2d2c), color-stop(1, #a80c1b) );*/
  /*background:-moz-linear-gradient( center top, #de2d2c 5%, #a80c1b 100% );*/
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#de2d2c', endColorstr='#a80c1b');*/
  /*background-color:#df2d2c;*/
  /*border-color: #ff131a;*/
  /*color:#ffffff;*/
  /*text-shadow:1px 1px 0px #a30824;*/
/*}*/
/*form.fancy input[type="submit"].red:hover, .myButton.red:hover {*/
  /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c81c2b), color-stop(1, #c81c2b) );*/
  /*background:-moz-linear-gradient( center top, #c81c2b 5%, #c81c2b 100% );*/
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c81c2b', endColorstr='#c81c2b');*/
  /*background-color:#c81c2b;*/
/*}*/
/*form.fancy input[type="submit"].grey, .myButton.grey {*/
  /*-moz-box-shadow:inset 0px 1px 0px 0px #c9c9c9;*/
  /*-webkit-box-shadow:inset 0px 1px 0px 0px #c9c9c9;*/
  /*box-shadow:inset 0px 1px 0px 0px #c9c9c9;*/
  /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8c8c8c), color-stop(1, #666666) );*/
  /*background:-moz-linear-gradient( center top, #8c8c8c 5%, #666666 100% );*/
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c8c8c', endColorstr='#666666');*/
  /*background-color:#8c8c8c;*/
  /*border-color: #9c9c9c;*/
  /*color:#ffffff;*/
  /*text-shadow:1px 1px 0px #6a6a6a;*/
/*}*/
/*form.fancy input[type="submit"].grey:hover, .myButton.grey:hover {*/
  /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #8c8c8c) );*/
  /*background:-moz-linear-gradient( center top, #666666 5%, #8c8c8c 100% );*/
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#8c8c8c');*/
  /*background-color:#666666;*/
/*}*/
/*form.fancy input[type="submit"].small, .myButton.small { font-size: 15px; padding: 3px 10px; }*/
/*form.fancy input[type="submit"].large, .myButton.large { font-size: 24px; padding: 10px 32px; }*/