@font-face {
  font-family: 'StoneSans';
  src: local('☺'), url('../fonts/StoneSans.woff') format('woff');
}

@font-face {
  font-family: 'StoneSans';
  src: local('☺'), url('../fonts/StoneSansBold.woff') format('woff');
  font-weight: bold;
}

/*
@font-face {
  font-family: 'StoneSansSemiBold';
  font-weight: bold;
  src: url('../fonts/StoneSansSemiBold.woff') format('woff');
}
*/