#github-issue-comment-wrapper { display: inline-block; }

#github-issue-comment-wrapper #link-account-button,
#github-issue-comment-wrapper #comment-form-wrapper { display: block; }

#github-issue-comment-wrapper #comment-form-wrapper { margin-left: -110px; }

#github-issue-comment-wrapper #comment-form-wrapper textarea {
  height: 120px;
  width: 98%;
  font-size: 12px;
  border: 1px solid gray;
  border-radius: 2px;
}
#github-issue-comment-wrapper #comment-form-wrapper input[type=submit] { margin-top: 10px; }
#github-issue-comment-wrapper #comment-form-wrapper form {
  background: #F8F8F8;
  border: 1px solid #C2C2C2;
  border-radius: 3px;
  padding: 10px;
  margin-top: 3px;
}

#github-issue-comment-wrapper #comment-form-wrapper {
  width: 380px;
  height: 0;
  overflow: hidden;
  position: absolute;
  -webkit-transition: ease-in 150ms;
  -moz-transition:    ease-in 150ms;
  -o-transition:      ease-in 150ms;
  transition:         ease-in 150ms;
}
#github-issue-comment-wrapper.active #comment-form-wrapper { min-height: 230px; }

.btn-auth.btn-github {
  -webkit-transition: box-shadow ease-in 50ms;
  -moz-transition:    box-shadow ease-in 50ms;
  -o-transition:      box-shadow ease-in 50ms;
  transition:         box-shadow ease-in 50ms;
}
.btn-auth.btn-github.active { box-shadow: 0 0 15px #4274F7; text-shadow: 0 0 8px #C7C7C7; }
