section#homepage { width: 978px; margin: 0 auto; }
section#homepage .box { padding: 10px; background: #fdfdfd; border: 1px solid #ccc8be; border-radius: 3px 3px; box-shadow: 0 0 5px #ccc8be; }
section#homepage .box .inner { padding: 20px }

section#homepage .avatar { float: left; }
section#homepage .round-avatar { float: left; }

section#homepage h1 { margin: 30px 0 10px 0; font-weight: normal; font-size: 36px; color: #333; text-align: center; }
section#homepage h2 { padding: 0 100px; line-height: 30px; font-weight: normal; font-size: 20px; color: #888; text-align: center; }

section#homepage .h1-line { border-bottom: 2px solid #f87956; margin: 12px 20px 0; position: relative; }
section#homepage .h1-line div { position: absolute;
  width: 0;
  height: 0;
  top: -5px;
  left: 73px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f87956;
}

section#homepage .begin-box { padding-top: 25px }
section#homepage .begin-box input[type=text] { width: 150px; line-height: 24px; padding: 0 15px; height: 40px; border: 1px solid #9dce5c; }

section#homepage .faq-box { margin-top: 10px; padding: 10px; background: #fdfdfd; border: 1px solid #ccc8be; border-radius: 3px 3px; box-shadow: 0 0 5px #ccc8be; float: left; width: 233px; text-align: center }
section#homepage .faq-box .inner { padding: 10px; background: #f2f3f2; }
section#homepage .faq-box h1 { text-align: center; font-size: 20px; margin: 0 }

section#homepage .leaderboard { padding: 10px; }
section#homepage .leaderboard section { float: left; width: 423px }
section#homepage .leaderboard section h2 { margin: 0; font-weight: normal; color: #b1abab; text-transform: uppercase; font-size: 20px; border-bottom: 1px solid #ddd; margin-bottom: 6px; padding-bottom: 3px }
section#homepage .leaderboard ul { margin: 0; padding: 0; }
section#homepage .leaderboard li { list-style: none; margin-top: 8px; width: 195px; float: left; }
section#homepage .leaderboard img { vertical-align: middle; margin-right: 8px }

section#homepage #top-box {
  text-align: center;
  background: #f2f3f2;
  border: 10px solid white;
  box-shadow: 0 0 5px #ccc8be;
  margin-bottom: 5px;
  overflow: hidden;

  height: 160px;

  -webkit-transition: ease-in 100ms;
  -moz-transition:    ease-in 100ms;
  -o-transition:      ease-in 100ms;
  transition:         ease-in 100ms;
}
section#homepage #top-box.small { height: 105px; }
section#homepage #top-box.loaded { height: 305px; }
section#homepage #top-box.loaded.small { height: 165px; }
section#homepage #top-box a#learn-more {
  display: inline-block;
  width: 100px;
  text-decoration: none;
  margin: 10px 0;

  -webkit-transition: ease-in 100ms;
  -moz-transition:    ease-in 100ms;
  -o-transition:      ease-in 100ms;
  transition:         ease-in 100ms;
}
section#homepage #top-box a#learn-more:hover {
  box-shadow: 0 0 15px #56ACF0;
}

section#homepage #top-box .recent-person-avatar {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
  margin: 3px 3px 0 3px;

  -webkit-transition: ease-in 50ms;
  -moz-transition:    ease-in 50ms;
  -o-transition:      ease-in 50ms;
  transition:         ease-in 50ms;
}
section#homepage #top-box .recent-person-avatar:hover {
  box-shadow: 0 0 10px #8A8A8A;
}
