#notifications-feed {
  color: black;
  font-size: 12px;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 3px;
  display: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#notifications-feed:hover,
#notifications-feed.active { background: #F7F7F7; }
#notifications-feed.loaded { display: inline-block; }

#notifications-feed #feed-icon {
  display: inline-block;
  vertical-align: middle;
}
#notifications-feed #feed-icon img {
  display: inline-block;
  vertical-align: middle;
}
#notifications-feed #feed-icon #notification-feed-count-wrapper {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  color: white;
}
#notifications-feed #feed-icon #notification-feed-count-wrapper .notification-feed-count {
  display: inline;
  background: #DB0000;
  border-radius: 5px;
  padding: 2px;
}

#notifications-feed #notifications-feed-flyout-outer {
  cursor: default;
  z-index: 3;
  position:  absolute;
  display: none;
  background: white;
  width: 360px;
  min-height: 30px;
  right: 170px;
  top: 55px;
  border: 1px solid #BBB;
  border-top: 0;
  border-radius: 0 0 3px 3px;

  /*box-shadow: 0 0 10px #B9B9B9;*/
}

#notifications-feed.active #notifications-feed-flyout-outer {
  display: block;
}

#notifications-feed #notifications-feed-flyout-inner {
  margin: 0;
  max-height: 250px;
  background: white;
  overflow-y: auto;
  border-radius: 0 0 3px 3px;
}

#notifications-feed .notification-message {
  cursor: pointer;
  padding: 0 5px;
  border-bottom: 1px solid #BBB;

  -webkit-transition: background ease-in 100ms;
  -moz-transition:    background ease-in 100ms;
  -o-transition:      background ease-in 100ms;
  transition:         background ease-in 100ms;
}
#notifications-feed .notification-message:hover {
  background: #FFFDE7;
}
#notifications-feed .notification-message:last-of-type { border-bottom: 0; }
#notifications-feed .notification-message img.notification-user {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#notifications-feed .notification-message .notification-content {
  width: 75%;
  line-height: 15px;
  display: inline-block;
  vertical-align: middle;
}
