#profile #head { padding: 15px; }
#profile #head #avatar-url { width: 80px; height: 80px; vertical-align: middle; border-radius: 3px; box-shadow: 0 0 3px #AAA; }
#profile #head #display-name { vertical-align: middle; font-size: 45px; padding-left: 30px; }