.progress-bar-outer {
  background: #ECECEC;
  -webkit-border-radius: 3px;
  height: 10px;
  padding: 3px;
}

.progress-bar-inner {
  background: #55DF29;
  width: 50%;
  height: 100%;
  -webkit-border-radius: 3px;
}