/* created via http://www.css3d.net/ribbon-generator/  */

.ribbon-wrapper {
  position: relative;
  margin: 0 -33px;
}

.ribbon-front {
  background-color: #f87956;	height: 40px;
  position: relative;
  left: 0;
  z-index: 2;
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

.ribbon-front
{
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 1px 3px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.55);
  -o-box-shadow: 0px 1px 3px rgba(0,0,0,0.55);
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  top: 40px;
}

.ribbon-edge-bottomleft {
  border-color: transparent #c2593c transparent transparent;
  border-width: 0 12px 6px 0;
  left: 0;
}

.ribbon-edge-bottomright {
  right: 0;
  border-color: transparent transparent transparent #c2593c;
  border-width: 0 0 6px 12px;
}
