/* Tags container */

#inline-tags {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

#inline-tags > * {
  margin: 5px 10px 0 0;
}

/* Styling for individual tag */

.inline-tag {
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
  background: #f2f3f2;
  border-radius: 2px;
}

.inline-tag > a {
  text-decoration: none;
  color: black;
}

.inline-tag > * {
  -webkit-transition: ease 100ms;
  -moz-transition:    ease 100ms;
  -o-transition:      ease 100ms;
  transition:         ease 100ms;

  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.inline-tag:last-child { padding-right: 0; }

.inline-tag > *.downvote { color: rgb(172, 48, 48); }
.inline-tag > *.upvote { color: rgb(41, 141, 41); }

.inline-tag > *.downvote:hover,
.inline-tag.downvoted > *.downvote { text-shadow: 0 0 7px rgb(248, 63, 63); }

.inline-tag > *.upvote:hover,
.inline-tag.upvoted > *.upvote { text-shadow: 0 0 7px rgb(35, 255, 16); }

/* inline create tag form */

.inline-tag form {}

/* input */
.inline-tag form input[type='text'] {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  height: 15px;
  width: 75px;
  font-size: 12px;
}
