<div ng-controller="DeveloperGoalsBaseController" ng-show="issue.can_add_bounty && next_developer_goal">
  <div class="well">
    <div style="text-align: center;" ng-show="issue.bounty_total < next_developer_goal.amount">
      <h3 style="margin: 0;"><a owner-href="next_developer_goal.person">{{next_developer_goal.person.display_name | truncate:20 }}</a> set a bounty goal of {{next_developer_goal.amount | dollars}}</h3>
      <div>When the bounty reaches this goal, <a owner-href="next_developer_goal.person">{{next_developer_goal.person.display_name | truncate:20 }}</a> will be notified.</div>

      <div ng-show="developer_goals.length == 2"><small>1 other developer has set a bounty goal. <a ng-click="show_other_developer_goals = !show_other_developer_goals">View all</a></small></div>
      <div ng-show="developer_goals.length > 2">
        <small>{{developer_goals.length - 1 | number}} other <ng-pluralize count="developer_goals.length" when="{ 'one': 'developer has set a bounty goal', 'other': 'developers have set bounty goals' }"></ng-pluralize>. <a ng-click="show_other_developer_goals = !show_other_developer_goals">View all</a></small>
      </div>
    </div>

    <div style="text-align: center;" ng-show="issue.bounty_total >= next_developer_goal.amount">
      <h3 style="margin: 0;"><a owner-href="next_developer_goal.person">{{next_developer_goal.person.display_name | truncate:20 }}</a>'s bounty goal has been met!</h3>

      <div ng-show="developer_goals.length == 2"><small>1 other developer has set a bounty goal. <a ng-click="show_other_developer_goals = !show_other_developer_goals">View all</a></small></div>
      <div ng-show="developer_goals.length > 2"><small>{{developer_goals.length - 1 | number}} other <ng-pluralize count="developer_goals.length" when="{ 'one': 'developer has set a bounty goal', 'other': 'developers have set bounty goals' }"></ng-pluralize>. <a ng-click="show_other_developer_goals = !show_other_developer_goals">View all</a></small></div>
    </div>

    <br>

    <div collapse="!show_other_developer_goals">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <td>Developer</td>
            <td>Goal</td>
            <td>Date</td>
            <td>Progress</td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="developer_goal in developer_goals | orderBy:['+amount']" ng-class="{ 'success': (issue.bounty_total >= developer_goal.amount) }">
            <td>
              <a owner-href="developer_goal.person">{{developer_goal.person.display_name | truncate:20 }}</a>
            </td>
            <td>
              <strong>{{developer_goal.amount | dollars}}</strong>
            </td>
            <td>
              {{developer_goal.created_at | date:'medium'}}
            </td>
            <td style="width: 40%">
              <div class="issue-goals progress progress-striped" style="margin: 0;">
                <div class="progress-bar progress-bar-success" style="width: {{ 100*issue.bounty_total/developer_goal.amount | atLeast:15 | atMost:100 | number:0 }}%;">
                  <span>{{issue.bounty_total/developer_goal.amount | percent}}</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="alert alert-success" style="padding: 15px; margin-bottom: 0;">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <!--<span><strong style="font-size: 20px;">{{issue.bounty_total | dollars}}</strong> of <strong style="font-size: 20px;">{{next_developer_goal.amount | dollars}}</strong></span>-->

          <div class="row">
            <div class="col-sm-5 col-md-5" style="text-align: center;">
              <h3 style="margin: 0; line-height: 25px;">{{issue.bounty_total | dollars}}</h3>
              <strong>Raised</strong>
            </div>

            <div class="col-sm-2 col-md-2" style="text-align: center; line-height: 40px;">
              <div><strong>of</strong></div>
            </div>

            <div class="col-sm-5 col-md-5" style="text-align: center;">
              <h3 style="margin: 0; line-height: 25px;">{{next_developer_goal.amount | dollars}}</h3>
              <strong>Goal</strong>
            </div>
          </div>
        </div>

        <div class="col-sm-5 col-md-5">
          <div class="issue-goals progress progress-striped" style="margin-top: 10px;">
            <div class="progress-bar progress-bar-success" style="width: {{100*issue.bounty_total/next_developer_goal.amount | atLeast:5 | atMost:100 | number:0 }}%;">
              <span>{{issue.bounty_total/next_developer_goal.amount | percent}}</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3">
          <button style="margin-top: 0;" class="btn btn-block btn-success btn-lg" ng-click="create_minimum_bounty()">Post Bounty</button>
        </div>
      </div>
    </div>
  </div>
</div>
