<!--<div id="chatroom" ng-switch="chatroom.url" ng-controller="ChatController">-->
  <!--<div ng-switch-when="none" class="connect">-->
    <!--<p style="text-align: center; padding-top: 10px;">The #Bountysource IRC Chatroom is a place to communicate with other Bountysource users.</p>-->
    <!--<form>-->
      <!--<span>Nickname:</span>-->
      <!--<input type="text" class="input-text input-medium" name="nick" ng-model="chatroom.nick">-->
      <!--<button type="submit" class="btn btn-success" ng-click="chatroom.connect()">Connect</button>-->
    <!--</form>-->
  <!--</div>-->
  <!--<iframe ng-switch-default ng-src="{{chatroom.url}}"></iframe>-->
<!--</div>-->
