<footer>
  <div class="container">
    <div class="row-fluid">
      <div class="span3">
        <h4>We :heart: Pull Requests</h4>
        <ul>
          <li><a href="https://www.github.com/bountysource/frontend" target="_blank">Fork us on GitHub</a></li>
          <li><a href="https://www.github.com/bountysource/frontend/issues" target="_blank">Bugs and Feature Requests</a></li>
          <li><a href="http://bountysource.github.io/" target="_blank">API Docs</a></li>
        </ul>
      </div>

      <div class="span3">
        <h4>Company</h4>
        <ul>
          <li><a href="/faq">Frequently Asked Questions</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/about/history">History (2004-2012)</a></li>
          <li><a href="http://blog.bountysource.com" target="_blank">Blog</a></li>
        </ul>
      </div>

      <div class="span3">
        <h4>Contact Us</h4>
        <ul>
          <li><a ng-controller="ChatroomController" ng-click="toggleChatroom()">#bountysource</a> on Freenode IRC</li>
          <li><a href="mailto:support@bountysource.com">support@bountysource.com</a> by Email</li>
          <li><a href="https://www.twitter.com/Bountysource" target="_blank">@bountysource</a> on Twitter</li>
          <li><a href="https://www.facebook.com/Bountysource" target="_blank">Bountysource</a> on Facebook</li>
      </div>

      <div class="span3">
        <h4>Legal</h4>
        <ul>
          <li><a href="/terms">Terms of Service</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li>Copyright &copy;2013, Bountysource Inc.</li>
        </ul>
      </div>

    </div>
  </div>
</footer>
