<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
      <a class="brand" href="/"><strong>Bountysource</strong><img src="/images/logo-small.png" /></a>
      <div class="nav-collapse collapse">
        <form class="navbar-search" ng-controller="NavbarSearchController" ng-submit="submit_search()">
          <div class="icon-search"></div>
          <input type="text" class="search-query" ng-model="search_query" placeholder="Issue URL, Project, Language, etc. ">
        </form>
        <ul class="nav pull-right">
          <li><a href="/faq/developers">Developers</a></li>
          <li><a href="/faq/backers">Backers</a></li>
          <li><a href="http://blog.bountysource.com" target="_blank">Blog</a></li>
          <li ng-class="{'dropdown': true, 'dropup': true, 'active': showChatroom}"><a ng-controller="ChatroomController" ng-click="toggleChatroom()">Chatroom <b class="caret"></b></a></li>
          <li class="dropdown" ng-controller="Signin">
            <a href="/signin" class="dropdown-toggle" data-toggle="dropdown" ng-hide="!!current_person">Sign In<b class="caret"></b></a>
            <ul class="dropdown-menu" ng-hide="!!current_person">
              <li style="padding-left: 10px;">Using:</li>
              <li ng-repeat="provider in providers">
                <a href="{{ signin_url_for(provider.id) }}"><img src="{{provider.image_url}}"> {{provider.name}}</a>
              </li>
              <li><a href="/signin"><img src="images/favicon-email.png"> Email Address</a></li>
            </ul>

            <a href="/people/{{current_person.slug}}" class="dropdown-toggle" data-toggle="dropdown" ng-show="!!current_person"><i class="icon-user"></i> {{current_person.display_name}}<b class="caret"></b></a>
            <ul class="dropdown-menu" ng-show="!!current_person">
              <li><a href="/activity">
                <i class="icon-bullhorn"></i>
                Activity
              </a></li>
              <li><a href="/people/{{current_person.slug}}">
                <i class="icon-user"></i>
                Profile
              </a></li>
              <li><a href="/tools">
                <i class="icon-wrench"></i>
                Tools
              </a></li>
              <li><a href="/settings">
                <i class="icon-cog"></i>
                Settings
              </a></li>
              <li class="divider"></li>
              <li><a href="/signin" ng-click="signout()">
                <i class="icon-off"></i>
                Sign Out
              </a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="/people/{{person.slug}}" class="dropdown-toggle" data-toggle="dropdown"><span class="badge badge-important">{{environment}}</span><b class="caret"></b></a>
            <ul class="dropdown-menu" ng-controller="Navbar">
              <li><a href="" ng-click="setEnv('dev')">development</a></li>
              <li><a href="" ng-click="setEnv('qa')">staging</a></li>
              <li><a href="" ng-click="setEnv('prod')">production</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
