<div class="navbar navbar-fixed-top">
 <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" ng-click="isCollapsed = !isCollapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="brand" href="/" id="navbar-logo"><strong>Bountysource</strong><img src="/images/Bountysource-green.png" style="width: 100px; height: 30px" /></a>
      <div class="nav-collapse" collapse="!isCollapsed">
        <form class="navbar-search" ng-controller="NavbarSearchController" ng-submit="submit_search()">
          <div class="icon-search"></div>
          <input type="text" class="search-query" ng-model="search_query" placeholder="Issue URL, Project, Language, etc.">
        </form>
        <ul class="nav pull-right">
          <li><a href="http://blog.bountysource.com" target="_blank" id="navbar-blog">Blog</a></li>
          <li><a href="/teams" id="navbar-teams">Teams</a></li>
          <li><a href="/enterprise" id="navbar-teams">Enterprise</a></li>
          <!--<li ng-class="{'dropdown': true, 'dropup': true, 'active': chatroom.show}"><a ng-click="chatroom.toggle()" id="navbar-chatroom">Chatroom <b class="caret"></b></a></li>-->

          <li class="dropdown" ng-controller="Signin">
            <a href="/signin" class="dropdown-toggle" data-toggle="dropdown" ng-hide="!!current_person" id="navbar-signin">Sign In<b class="caret"></b></a>
            <ul class="dropdown-menu" ng-hide="!!current_person" ng-controller="NavbarLinkedAccountSignin">
              <li style="padding-left: 10px;">Using:</li>
              <li ng-repeat="provider in providers">
                <a ng-click="save_route();save_analytics(signin_url_for(provider.id))" ng-href="" id="navbar-provider-{{provider.id}}"><img ng-src="{{provider.image_url}}"> {{provider.name}}</a>
              </li>
              <li><a href="/signin" id="navbar-provider-email"><img src="images/favicon-email.png"> Email Address</a></li>
            </ul>

            <a href="/people/{{current_person.slug}}" class="dropdown-toggle" data-toggle="dropdown" ng-show="!!current_person" id="navbar-user">
              <img class="img-rounded" ng-src="{{current_person.image_url}}" style="width: 18px; height: 18px; margin-right: 5px;" />
              {{current_person.display_name}}
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu" ng-show="!!current_person">
              <li class="dropdown-submenu"><a href="/activity" id="navbar-user-activity">
                <i class="icon-bullhorn"></i>
                Activity
              </a>
              <ul class="dropdown-menu">
                <li><a href="/activity">Timeline</a></li>
                <li><a href="/activity/bounties">Bounties</a></li>
                <li><a href="/activity/fundraisers">Fundraisers</a></li>
                <li><a href="/activity/pledges">Pledges</a></li>
                <li><a href="/activity/claims">Bounty Claims</a></li>
              </ul>
            </li>
              <li><a ng-href="/people/{{current_person.slug}}" id="navbar-user-profile">
                <i class="icon-user"></i>
                Profile
              </a></li>
              <li><a href="/tools">
                <i class="icon-wrench"></i>
                Tools
              </a></li>
              <li ng-show="teams.length > 0" class="dropdown-submenu">
                <a href="/teams" id="navbar-user-teams">
                  <i class="icon-globe"></i>
                  Teams
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="team in teams"><a ng-href="/teams/{{team.slug}}">{{team.name}}</a></li>
                  <li class="divider"></li>
                  <li><a tabindex="-1" href="/teams/new">Create a Team</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="/settings" id="navbar-user-settings">
                  <i class="icon-cog"></i>
                  Settings
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/settings">Profile</a></li>
                  <li><a href="/settings/accounts">Accounts</a></li>
                  <li><a href="/settings/email">Email</a></li>
                </ul>
              </li>
              <li ng-show="current_person.account.balance > 0"><a ng-href="/activity/transactions" id="navbar-user-profile">
                <i class="icon-gift"></i>
                Balance ({{current_person.account.balance | currency}})
              </a></li>

              <li class="divider"></li>
              <li><a href="/signin" ng-click="signout()" id="navbar-user-signout">
                <i class="icon-off"></i>
                Sign Out
              </a></li>
            </ul>
          </li>

          <li class="dropdown" ng-show="can_switch_environments">
            <a ng-href="/people/{{person.slug}}" class="dropdown-toggle" data-toggle="dropdown">
              <span class="badge badge-important">{{environment}}</span>
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu" ng-controller="Navbar">
              <li><a href="" ng-click="setEnv('dev')">development</a></li>
              <li><a href="" ng-click="setEnv('staging')">staging</a></li>
              <li><a href="" ng-click="setEnv('prod')">production</a></li>
              <li class="divider"></li>
              <li>
                <a href="" ng-click="set_access_token.open()">set access token</a>
                <div modal="set_access_token.show_modal" close="set_access_token.close()">
                  <div class="modal-header">
                    <h2>Set access token</h2>
                  </div>
                  <div class="modal-body">
                    <form ng-submit="set_access_token.save()">
                      <input ng-model="set_access_token.new_token" autofocus style="width: 98%;" type="text" placeholder="Super secret access token goes here..." />
                      <br />
                      <button type="submit" class="btn btn-primary">Steal Identity</button>
                      <button class="btn" ng-click="set_access_token.close()">Cancel</button>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
