<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
      <a class="brand" href="/"><strong>Bountysource</strong><img src="/images/logo-small.png" /></a>
      <div class="nav-collapse collapse">
        <form class="navbar-search">
          <div class="icon-search"></div>
          <input type="text" class="search-query" placeholder="Issue URL, Project, Language, etc. ">
        </form>
        <ul class="nav pull-right">
          <li><a href="/about">About</a></li>
          <li><a href="/explore">Explore</a></li>
          <li><a href="/blog">Blog</a></li>
          <li ng-class="{'dropdown': true, 'dropup': true, 'active': showChatroom}"><a href="" ng-controller="ChatroomController" ng-click="toggleChatroom()">Chatroom <b class="caret"></b></a></li>

          <li class="dropdown" ng-hide="person">
            <a href="/signin" class="dropdown-toggle" data-toggle="dropdown">Sign In<b class="caret"></b></a>
            <ul class="dropdown-menu" ng-controller="Signin">
              <li style="padding-left: 10px;">Using:</li>
              <li><a href="{{ github_signin_url }}"><img src="images/favicon-github.png"> GitHub</a></li>
              <li><a href="{{ facebook_signin_url }}"><img src="images/favicon-facebook.png"> Facebook</a></li>
              <li><a href="{{ twitter_signin_url }}"><img src="images/favicon-twitter.png"> Twitter</a></li>
              <li><a href="/signin"><img src="images/favicon-email.png"> Email Address</a></li>
            </ul>
          </li>

          <li class="dropdown" ng-show="person">
            <a href="/people/{{person.slug}}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{person.display_name}}<b class="caret"></b></a>
            <ul class="dropdown-menu" ng-controller="Signin">
              <li><a href="/people/{{person.slug}}">Settings</a></li>
              <li><a href="" ng-controller="Signout" ng-click="signout()">Logout</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
