<div modal="$$showModal &amp;&amp; myLanguagesResolved &amp;&amp; followedTrackersResolved &amp;&amp; myTrackersResolved">
  <div class="modal-header">
    <h4>{{$$currentPage.title || $$pageDefaults.title}}</h4>
    <p class="hidden-sm" ng-show="$$currentPage.subtitle">{{$$currentPage.subtitle}}</p>
  </div>

  <div class="modal-body hidden-sm">
    <ng-include src="$$currentPage.templateUrl"></ng-include>
  </div>

  <div class="modal-body visible-sm" style="max-height: 250px;">
    <ng-include src="$$currentPage.templateUrl"></ng-include>
  </div>

  <div class="modal-footer">
    <ng-include src="'common/directives/postAccountCreateWizard/templates/progressionButtons.html'"></ng-include>
  </div>
</div>