#bancor-wc-nav {
  > a {
    outline: 0;    
  }
}

#bancor-wc-container {
  position: relative;
  // background-color: white;

  .widget-close-long {
    height: 1.5em;
    background: #33ccff;
    text-align: center;
    color: white;
    cursor: default;
    display: block;

    &:hover {
      background: #0087b4;
    }
  }
}