.btn {
  border-radius: 5px;
}

.btn-responsive {
  width: 100%;
}

.btn-rounded {
  border-radius: 999px !important;  
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
  outline-offset: 0;
}

.input-group.search-input input:focus + span > button{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: none;
}

.btn-default {
  border-color: #e9eeee;
  color: black;
}

.btn-small-radius {
  border-radius: 4px !important;
}

.btn-marigold-salmon {
  background-image: linear-gradient(to right, #ffc600, #ff6666);
  border-radius: 999px;
  border: 0;
  color: white;
}

.btn-cerulean-blue {
  background-image: linear-gradient(to right, #0078bf, #33ccff);
  color: white;
  border-radius: 999px;
  border: 0;
}

.btn-blue-aquamarine {
  background-image: linear-gradient(to right, #33ccff, #4edcca);
  border-radius: 999px;
  border: 0;
  color: white;
}


.btn-light-blue, .btn-light-blue:hover {
  background-color: #33ccff;
  border-color: #33ccff;
  color: #fff;
}

.btn-light-blue:hover, .btn-purple:hover {
  -webkit-box-shadow: 0 2px 10px rgba(15, 172, 243, 0.4);
          box-shadow: 0 2px 10px rgba(15, 172, 243, 0.4);
}

.btn-light-blue:focus, .btn-light-blue.focus {
  color: #fff;
}

.btn-light-blue.disabled, .btn-light-blue:disabled {
  background-color: #33ccff;
  border-color: #33ccff;
  opacity: 0.5;
}

.btn-outline {
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-outline.btn-light-blue {
  color: #33ccff;
  background-color: transparent;
  border-color: #33ccff;
}

.btn-outline.btn-light-blue:hover {
  color: #fff;
  background-color: #33ccff;
  border-color: #33ccff;
}

.btn-outline.btn-light-blue:active, .btn-outline.btn-light-blue.active,
.show > .btn-outline.btn-light-blue.dropdown-toggle {
  background-color: #00ADEE;
  border-color: #00ADEE;
  color: #fff;
}

.btn-grey {
  background-color: #919d9d;  
  color: white;
}

.btn-purple {
  background-color: rgb(77, 52, 236);  
  color: white;
}

.btn-purple:hover {
  color: white;
}

.btn-light-blue-inverse {
  background-color: white;
  border-color: #33ccff;
  border-radius: 2px;
  color: #33ccff;
}

.btn-aquamarine {
  background-color: #4edcca;
  border-radius: 999px;
  color: white;
}

.btn-cool-grey {
  background-color: #919d9d;  
  border-radius: 999px;
  color: white;
}

.btn-cool-grey:focus {
  background-color: #919d9d;  
  border-radius: 999px;
  color: white;
}

.btn-gunmetal {
  background-color: #485f64;  
  border-radius: 999px;
  color: white;
  &:hover{
    color: white;
  };
  &:focus{
    color: white;
  }
}

.btn-borderless {
  border: 0;
}

.btn-default-border-salmon {
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ef6464;
  border: solid 1px #ff6666;
  color: #ff6666;
}

.input-group.border-rounded input{
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}
/*
.input-group{
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}*/

.btn-long {
  padding-right: 3em;
  padding-left: 3em;
}


.btn-success, .btn-success:hover {
  background-color: #30D7A9;
  border-color: #30D7A9;
  color: #fff;
}

.btn-success:hover {
  -webkit-box-shadow: 0 2px 10px rgba(70, 218, 96, 0.4);
          box-shadow: 0 2px 10px rgba(70, 218, 96, 0.4);
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #30D7A9;
  border-color: #30D7A9;
  opacity: 0.5;
}

.btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
  background-color: #2dd54a;
  border-color: #2dd54a;
  color: #fff;
}

.btn-info, .btn-info:hover {
  background-color: #00ADEE;
  border-color: #00ADEE;
  color: #fff;
}

.btn-info:hover {
  -webkit-box-shadow: 0 2px 10px rgba(14, 151, 255, 0.4);
          box-shadow: 0 2px 10px rgba(14, 151, 255, 0.4);
}

.btn-info:focus, .btn-info.focus {
  color: #fff;
}

.btn-info.disabled, .btn-info:disabled {
  background-color: #00ADEE;
  border-color: #00ADEE;
  opacity: 0.5;
}

.btn-info:active, .btn-info.active,
.show > .btn-info.dropdown-toggle {
  background-color: #00ADEE;
  border-color: #00ADEE;
  color: #fff;
}

.btn-warning, .btn-warning:hover {
  background-color: #ffbe00;
  border-color: #ffbe00;
  color: #fff;
}

.btn-warning:hover {
  -webkit-box-shadow: 0 2px 10px rgba(255, 190, 0, 0.4);
          box-shadow: 0 2px 10px rgba(255, 190, 0, 0.4);
}

.btn-warning:focus, .btn-warning.focus {
  color: #fff;
}

.btn-warning.disabled, .btn-warning:disabled {
  background-color: #ffbe00;
  border-color: #ffbe00;
  opacity: 0.5;
}

.btn-warning:active, .btn-warning.active,
.show > .btn-warning.dropdown-toggle {
  background-color: #e6ab00;
  border-color: #e6ab00;
  color: #fff;
}

.btn-danger, .btn-danger:hover {
  background-color: #ff4954;
  border-color: #ff4954;
  color: #fff;
}

.btn-danger:hover {
  -webkit-box-shadow: 0 2px 10px rgba(255, 73, 84, 0.4);
          box-shadow: 0 2px 10px rgba(255, 73, 84, 0.4);
}

.btn-danger:focus, .btn-danger.focus {
  color: #fff;
}

.btn-danger.disabled, .btn-danger:disabled {
  background-color: #ff4954;
  border-color: #ff4954;
  opacity: 0.5;
}

.btn-danger:active, .btn-danger.active,
.show > .btn-danger.dropdown-toggle {
  background-color: #ff303c;
  border-color: #ff303c;
  color: #fff;
}