.card {
  margin-bottom: 20px;
  background-color: #fff;
  /* border: 1px solid transparent; */
  -webkit-box-shadow: 0 0 4px 0 rgba(31, 35, 35, 0.08);
  box-shadow: 0 0 4px 0 rgba(31, 35, 35, 0.08);
}

.card-body {
  padding: 30px;
}