.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.row.display-flex > [class*='col-'].vertical-align-middle {
  justify-content: center;
  flex-direction: column;
}

.row.display-flex.vertical-align-middle > [class*='col-']{
  justify-content: center;
  flex-direction: column;
}

.display-flex.horizontal-align-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spaced-evenly-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}