.form-control {
  box-shadow: none;
}

.form-control{
  border: solid 1px #e0e5e7;
}

.input-medium {
  padding-left: 30px;
  height: 42px;
}

.form-horizontal .control-label {
  text-align: left;
  font-weight: 600;
}

.settings-form input[type=radio] {
  margin: 0;
  vertical-align: middle;
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}


@media (max-width: 768px){
  .form-inline-xs .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}


.input-group-addon {
  background-color: #fff;
border-color: #e0e5e7;
  border-right: none;
}

.input-group.search-input input{
  border-right: 0;
  box-shadow: none;
  padding-left: 30px;
  height: 42px;
}

.input-group.search-input input {
  border-right: 0;
  box-shadow: none
}

.input-group.search-input input:focus + span > button{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: none;
}

.input-group.search-input button{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 0;
  border-color: #e0e5e7;
  color: #ddd;
}


