.form-control{
  border: solid 1px #e0e5e7;
}

.input-medium {
  padding-left: 30px;
  height: 42px;
}

.form-horizontal .control-label {
  text-align: left;
  font-weight: 600;
}


@media (max-width: 768px){
  .form-inline-xs .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}


.input-group-addon {
  background-color: #fff;
}