.navbar { 
	transform: translate3d(0,0,0); 
	-webkit-transform: translate3d(0,0,0); 
}

.homepage h1 { font-size: 30px; }
.homepage h2 { font-size: 24px; }

.quicklink {
  text-align: center;
}
.quicklink .quicklink-title {
  font-size: 24px;
  color: #33ccff;
  font-weight: bold;
}

.quicklink .quicklink-subtitle {
  margin-bottom: 16px;
}

.quicklink form {
  max-width: 273px;
}

.quicklink input {
  height: 40px;
  box-shadow: 0 2px 3px 0 #00000048;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.quicklink .btn {
  border: 0;
  box-shadow: 0 2px 3px 0 #00000048;
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.quicklink .glyphicon {
  top: 3px;
}

.bounty-hunter-name {
  font-size: 16px;
  color: #33ccff;
}
