.navbar { 
	transform: translate3d(0,0,0); 
	-webkit-transform: translate3d(0,0,0); 

}


/*.logo {
	flex-basis: 20%;
}

.navbar-title {
	flex-basis: 30%;
}

.searchbar {
	flex-basis: 35%;
	justify-content: flex-end;
}

.nav-right {
	flex-basis: 15%;
	justify-content: flex-end;
}*/

.illustration img {
	width: 100%;
	display: block;
}

<<<<<<< HEAD
.illustration img {
 	width: 100%;
 	display: block;
}


=======
.background {
	display: flex;
	justify-content: center;
}

>>>>>>> Added background image
.homepage .team-header h1, .homepage .team-header h2 { font-family: 'Montserrat', "Helvetica Neue",Helvetica,Arial,sans-serif; }
.homepage .team-header h1 { text-align: center; margin: 20px 0 20px 0; font-weight: bold; }
.homepage .team-header h2 { text-align: center; margin: 20px 0 40px 0; font-weight: normal; }
.homepage .team-header h4 { font-size:16px; margin:10px 0 20px; text-align: center; }

.btn-post {
 	background-image: linear-gradient(to right, #0078bf, #33ccff);
 	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.28);
 	border-radius: 18px;
}
 
.input-style {
	background-color: #b2c1ce;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.28);
	border-radius: 18px;
}
 
.btn-team {
 	background-image: linear-gradient(to right, #33ccff, #4edcca);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.28);
 	border-radius: 18px;
 }

.btn-bounty {
	background-image: linear-gradient(to right, #ffc600, #ff6666);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.28);
	border-radius: 18px;
}

<<<<<<< HEAD
=======
.aqua-text{
	color: #33ccff;

}

.rectangle {
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
	width: 36px;
	height: 36px;
	border-radius: 2px;
	border: solid 1px #d1d1d1;
}
>>>>>>> Remove dropdown icon

@media (max-width: 767px) { /* @screen-xs */
  .homepage .team-header h1 { font-size: 30px; }
  .homepage .team-header h2 { font-size: 24px; }
}

@media (min-width: 768px) and (max-width: 991px) { /* @screen-sm */
  .homepage .team-header h1 { font-size: 40px; }
  .homepage .team-header h2 { font-size: 20px; }
}

@media (min-width: 992px) { /* @screen-md @screen-lg*/
  .homepage .team-header h1 { font-size: 40px; }
  .homepage .team-header h2 { font-size: 20px; }
}

