.label {
  border-radius: 999px;
}

.label-info {
  background-color: #33CCFF;
}

.label-featured {
  background-color: #4edcca;  
}

.label-salmon {
  background-color: #ff6666;  
}

.label-aquamarine {
  background-color: #4edcca;  
}

.label-white {
  background-color: white; 
  color: #485f64;  
  border: solid 1px #e9eeee;
}

.badge-info {
  background-color: #33ccff;
}

.label-long {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.label-padded {
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.label-lg {
  font-size: 100%;
  font-weight: 400;
}

.label-small-radius {
  border-radius: 4px;
}

.label-success {
  background-color: #00b048
}

.label-responsive {
  width: 100%;
}

.label-block {
  display: inline-block;
}