.label {
  border-radius: 999px;
}

.label-info {
  background-color: #33CCFF;
}

.label-featured {
  background-color: #4edcca;  
}

.label-salmon {
  background-color: #ff6666;  
}

.badge-info {
  background-color: #33ccff;
}

.label-long {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.label-padded {
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.label-lg {
  font-size: 100%;
  font-weight: 400;
}