.landing-page > .sidebar {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(144, 164, 183, 0.11);
  padding-left: 48px;
  padding-top: 55px;
}

.landing-page > .search-section {
  padding-top: 55px;
}

.timeline-container {
  box-shadow: 0 0 8px 0 #0000001f;
  border: 1px solid transparent;
  border-left: none;

  max-height: 300px;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.timeline-container td {
  padding: 20px 20px 0 20px;
}

.timeline-container tr:last-child td:last-child {
  padding-bottom: 20px;
}

.timeline-container td.bounty-description {
  border-top: none;
  font-size: 13px;
}