.panel-dark-blue {
  border-color: #485f64;
}

.panel-dark-blue > .panel-heading {
  background-color: #485f64; 
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.panel-blue-aquamarine > .panel-heading {
  background-image: linear-gradient(to right, #33ccff, #4edcca);
  color: #fff;
}

.panel-marigold-salmon > .panel-heading {
  background-image: linear-gradient(to right, #ffc600, #ff6666);
  color: #fff;
}

.panel-white {
  border-color: #fff;  
  box-shadow: none;
}

.panel-white > .panel-heading {
  background-color: #fff; 
}

.panel-heading > .panel-title {
  color: #2eb5e1;
  font-size: 16px;
  font-weight: 500;
}