.panel-dark-blue {
  border-color: #485f64;
}

.panel-dark-blue > .panel-heading {
  background-color: #485f64; 
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.panel-blue-aquamarine > .panel-heading {
  background-image: linear-gradient(to right, #33ccff, #4edcca);
  color: #fff;
}

.panel-marigold-salmon > .panel-heading {
  background-image: linear-gradient(to right, #ffc600, #ff6666);
  color: #fff;
}