.progress {
  position: relative;
}

.progress .progress-full-text {
  position: absolute;
  display: block;
  width: 100%;
}

.progress {
  background-color: transparent;  
  box-shadow: none;
}

.progress-bar-aquamarine {
  background-image: linear-gradient(to right, #33ccff, #4edcca); 
}