.hide-tooltip .tooltip { display: none !important; }

.form-signin {
  max-width: 500px;
  margin-top: 80px;
  .providers {
    margin-top: 50px;   
  }

  label.control-label {
    font-weight: 500;
  }
}