li.member-thumbnail { text-align: center; }
li.member-thumbnail .member-thumbnail-actions { text-align: right; }
td.center-height { vertical-align: middle;}
td.teams-activity-cell {
  text-overflow: ellipsis;
  max-width: 869px;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

td.teams-date-cell {
  width: 20%;
}

a.team-member-card {
  overflow: hidden;
  text-overflow: ellipsis;
}

h3.no-margin {
  margin: 0px;
}

form.no-margin {
  margin-bottom: 0px;
}

.team-tracker-thumbnails {
  padding-top: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.team-tracker-caption {
  text-overflow: ellipsis;
  overflow: hidden;
}

ul.list.narrow-padding {
  padding-left: 20px;
}


.team-header { background: #444; }
.team-header a { color: white }
.team-header h1 { font-size: 40px; margin-bottom: 5px; color: white; margin-top: 0; font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif; }
.team-header h1 a:hover, .team-header h1 a:active, .team-header h1 a:visited, .team-header h1 a:link { text-decoration: none; }
.team-header h2 { color: white; font-size: 16px; line-height: 20px; margin-top: 0; padding-bottom: 10px; font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif; }

.team-header .team-tags { margin-bottom: 10px; }
.team-header .team-tags a, .team-header .team-tags { color: #aaa; font-size: 12px }


/*.table-support th { border-top: 0 !important; text-align: center; }
.table-support td { text-align: center }
.table-support th:nth-child(2n), .table-support td:nth-child(2n) { background: #f8f8f8; }
.table-support td:first-child { text-align: left; }


.supporter-silver, .supporter-gold, .supporter-platinum {  }
.supporter-silver { color: #C0C0C0; }
.supporter-gold { color: #FFD700; text-shadow: 0 0 1px #888; }
.supporter-platinum { color: #e9241d; }


.subscription-table label { font-weight: normal; }*/




.inline-form-editor-default { color: #ccc; border: 1px dashed #ccc; padding: 1px; cursor:pointer; }
.inline-form-editor-default h3 { margin-top:0; }
.inline-form-editor-default p { margin-bottom:0 }

.inline-form-editor { padding: 2px; }
.inline-form-editor h3 { margin-top: 0; }
.inline-form-editor-content .markdown-hover-edit-link { display: none; }
.inline-form-editor-content:hover .markdown-hover-edit-link { display:block; float:right; }
