li.member-thumbnail { text-align: center; }
li.member-thumbnail .member-thumbnail-actions { text-align: right; }
td.center-height { vertical-align: middle;}
td.teams-activity-cell {
  text-overflow: ellipsis;
  max-width: 869px;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

td.teams-date-cell {
  width: 20%;
}

a.team-member-card {
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0px;
  border: solid 1px #919d9d7f;
}

h3.no-margin {
  margin: 0px;
}

form.no-margin {
  margin-bottom: 0px;
}

.team-tracker-thumbnails {
  padding-top: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.team-tracker-caption {
  text-overflow: ellipsis;
  overflow: hidden;
}

ul.list.narrow-padding {
  padding-left: 20px;
}


.team-header { 
  background: #ffffff; 
  margin-bottom: 2px;
}

.team-header .team-display-image { 
  border-radius: 50%;
  width: 100%;
  max-width: 130px;
}

#top-supporters img{
  width: 60px;
  float: left;
  margin: 6px;
}


.featured-header-icon {
  background-color: transparent;
  padding: 0px;
}

.featured-header img{
  width: 60px;
  float: left;
  margin: 6px;
}

.featured-header-icon img{
  width: 60px;
  float: left;
  margin: 6px;
}


.inline-form-editor-default { color: #ccc; border: 1px dashed #ccc; padding: 1px; cursor:pointer; }
.inline-form-editor-default h3 { margin-top:0; }
.inline-form-editor-default p { margin-bottom:0 }

.inline-form-editor { padding: 2px; }
.inline-form-editor h3 { margin-top: 0; }
.inline-form-editor-content .markdown-hover-edit-link { display: none; }
.inline-form-editor-content:hover .markdown-hover-edit-link { display:block; float:right; }


