.font-weight-regular {
  font-weight: 400;
}

.pb-1 { padding-bottom: .25rem !important; }
.pb-2 { padding-bottom: .5rem !important; }
.pb-3 { padding-bottom: 1rem !important; }

.pr-1 { padding-right: .25rem !important; }
.pr-2 { padding-right: .5rem !important; }
.pr-3 { padding-right: 1rem !important; }
.pr-4 { padding-right: 1.5rem !important; }
.pr-5 { padding-right: 3rem !important; }

.m-0 { margin: 0 !important; }
.m-1 { margin: .25rem !important; }
.m-2 { margin: .5rem !important; }
.m-3 { margin: 1rem !important; }
.m-4 { margin: 1.5rem !important; }
.m-5 { margin: 3rem !important; }


.mr-1 { margin-right: .25rem !important; }
.mr-2 { margin-right: .5rem !important; }
.mr-3 { margin-right: 1rem !important; }

.ml-1 { margin-left: .25rem !important; }
.ml-2 { margin-left: .5rem !important; }
.ml-3 { margin-left: 1rem !important; }

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: .25rem !important; }
.mt-2 { margin-top: .5rem !important; }
.mt-3 { margin-top: 1rem !important; }
.mt-4 { margin-top: 1.5rem !important; }
.mt-5 { margin-top: 3rem !important; }

/* Images */
.img-circle {
  border-radius: 50%
}

/*TextColor*/
.text-gunmetal { color: #485f64; }
.text-dark { color: #4a4a4a; }
.text-aqua { color: #33ccff; }


/*Text Align Media Queries*/

.text-center-xs { text-align: center; }
.text-xs-left { text-align: left; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-center { text-align: center; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-center { text-align: center; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text-lg-center { text-align: center; }
}