.font-weight-regular { font-weight: 400; }
.font-weight-medium  { font-weight: 500; }
.font-weight-semibold{ font-weight: 600; }
.font-weight-bold    { font-weight: bold; }

.fw-b    { font-weight: bold; }

.font-size-default { font-size: 14px !important; }
.font-8 { font-size: 8px !important; }
.font-10 { font-size: 10px !important; }
.font-12 { font-size: 12px !important; }
.font-14 { font-size: 14px !important; }
.font-16 { font-size: 16px !important; }
.font-22 { font-size: 22px !important; }

.p-0 { padding: 0 !important; }
.p-1 { padding: .25rem !important; }
.p-2 { padding: .5rem !important; }
.p-3 { padding: 1rem !important; }
.p-4 { padding: 1.5rem !important; }
.p-5 { padding: 3rem !important; }

.pt-0 { padding-top: 0 !important; }
.pt-1 { padding-top: .25rem !important; }
.pt-2 { padding-top: .5rem !important; }
.pt-3 { padding-top: 1rem !important; }
.pt-4 { padding-top: 1.5em !important; }
.pt-5 { padding-top: 3rem !important; }

.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: .25rem !important; }
.pb-2 { padding-bottom: .5rem !important; }
.pb-3 { padding-bottom: 1rem !important; }
.pb-4 { padding-bottom: 1.5em !important; }
.pb-5 { padding-bottom: 3rem !important; }

.pr-0 { padding-right: 0 !important; }
.pr-1 { padding-right: .25rem !important; }
.pr-2 { padding-right: .5rem !important; }
.pr-3 { padding-right: 1rem !important; }
.pr-4 { padding-right: 1.5rem !important; }
.pr-5 { padding-right: 3rem !important; }

.pl-0 { padding-left: 0 !important; }
.pl-1 { padding-left: .25rem !important; }
.pl-2 { padding-left: .5rem !important; }
.pl-3 { padding-left: 1rem !important; }
.pl-4 { padding-left: 1.5rem !important; }
.pl-5 { padding-left: 3rem !important; }

.py-3 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.py-4 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }

.px-3 { padding-left: 1rem !important; padding-right: 1rem !important; }
.px-4 { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
.px-5 { padding-left: 3rem !important; padding-right: 3rem !important; }

.my-0 { margin-top: 0 !important; margin-bottom: 0 !important;}

.m-0 { margin: 0 !important; }
.m-1 { margin: .25rem !important; }
.m-2 { margin: .5rem !important; }
.m-3 { margin: 1rem !important; }
.m-4 { margin: 1.5rem !important; }
.m-5 { margin: 3rem !important; }


.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: .25rem !important; }
.mt-2 { margin-top: .5rem !important; }
.mt-3 { margin-top: 1rem !important; }
.mt-4 { margin-top: 1.5rem !important; }
.mt-5 { margin-top: 3rem !important; }
.mt-6 { margin-top: 4rem !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: .25rem !important; }
.mb-2 { margin-bottom: .5rem !important; }
.mb-3 { margin-bottom: 1rem !important; }
.mb-4 { margin-bottom: 1.5rem !important; }
.mb-5 { margin-bottom: 3rem !important; }

.ml-0 { margin-left: 0 !important; }
.ml-1 { margin-left: .25rem !important; }
.ml-2 { margin-left: .5rem !important; }
.ml-3 { margin-left: 1rem !important; }
.ml-4 { margin-left: 1.5rem !important; }
.ml-5 { margin-left: 3rem !important; }

.mr-0 { margin-right: 0 !important; }
.mr-1 { margin-right: .25rem !important; }
.mr-2 { margin-right: .5rem !important; }
.mr-3 { margin-right: 1rem !important; }
.mr-4 { margin-right: 1.5rem !important; }
.mr-5 { margin-right: 3rem !important; }

/* Borders */
.ba { border: 2px solid; }

.bb { border-bottom: 3px solid; }

.ba-1 { border: 1px solid #ddd; }
.bb-1 { border-bottom: 1px solid #ddd; }

.bt-0 { border-top: 0 !important; }
.br-0 { border-right: 0 !important; }
.bl-0 { border-left: 0 !important; }

.border-cool-grey { border-color: #919d9d7f !important; }
.border-bright-light-blue { border-color: #33ccff7f !important; }
.border-gunmetal { border-color: #485f64 !important; }

.b-rad-0 { border-radius: 0 !important; }

/* Images */
.img-circle { border-radius: 50% }
.img-responsive { width: 100%;}

/*TextColor*/
.text-gunmetal { color: #485f64 !important; }
.text-light-blue { color: #55CBF2 !important; }
.text-dark { color: #4a4a4a !important; }
.text-aqua { color: #33ccff !important; }
.text-black { color: #000 !important; }
.text-white { color: #fff !important; }
.text-aquamarine { color: #4edcca !important; }
.text-salmon { color: #ff6666 !important; }

.text-medium { font-weight: 500 !important; }
.text-regular { font-weight: 400 !important; }


/*Text Align Media Queries*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-center { text-align: center; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-center { text-align: center; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text-lg-center { text-align: center; }
}

/*Backgrounds*/
.background-white { background-color: white; }
.bg-gunmetal { background-color: #485f64; }