---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/goto-ru%2Fds%2Fschool-2018.01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - yk4sv48-tHyUJNBkcf56
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"31e086d99e1c0807a78e71cf8368da47"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1530696192'
      Ratelimit-Resettime:
      - Thu, 04 Jul 2018 09:23:12 GMT
    body:
      encoding: UTF-8
      string: '{"id":5055146,"description":"","name":"school-2018.01","name_with_namespace":"GoTo
        / Distributed Systems / school-2018.01","path":"school-2018.01","path_with_namespace":"goto-ru/ds/school-2018.01","created_at":"2018-01-04T09:19:44.777Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:goto-ru/ds/school-2018.01.git","http_url_to_repo":"https://gitlab.com/goto-ru/ds/school-2018.01.git","web_url":"https://gitlab.com/goto-ru/ds/school-2018.01","readme_url":"https://gitlab.com/goto-ru/ds/school-2018.01/blob/master/README.md","avatar_url":null,"star_count":9,"forks_count":15,"last_activity_at":"2018-06-26T23:42:20.702Z","_links":{"self":"https://gitlab.com/api/v4/projects/5055146","issues":"https://gitlab.com/api/v4/projects/5055146/issues","merge_requests":"https://gitlab.com/api/v4/projects/5055146/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/5055146/repository/branches","labels":"https://gitlab.com/api/v4/projects/5055146/labels","events":"https://gitlab.com/api/v4/projects/5055146/events","members":"https://gitlab.com/api/v4/projects/5055146/members"},"archived":false,"visibility":"public","resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1882520,"namespace":{"id":2150010,"name":"Distributed
        Systems","path":"ds","kind":"group","full_path":"goto-ru/ds","parent_id":680834},"import_status":"none","open_issues_count":8,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"merge_method":"merge","permissions":{"project_access":null,"group_access":null},"approvals_before_merge":0}'
  recorded_at: Wed, 04 Jul 2018 09:22:12 GMT
recorded_with: VCR 4.0.0
