<p>
  Hi <%= @person.first_name %>,
</p>

<p>
  Multiple claims have been submitted for <a href="<%= "#{Api::Application.config.www_url}issues/#{@bounty_claim.issue.to_param}" %>"><%= @bounty_claim.issue.title %></a>. Please <a href="<%= "#{Api::Application.config.www_url}issues/#{@bounty_claim.issue.to_param}/claims" %>">view the claims</a> and cast your vote.
</p>

<p>
  The bounty will only be paid out when all backers unanimously accept one claim. If you have any questions, please <a href="mailto:support@bountysource.com">email us</a>.
</p>