<p>
  Hi <%= @person.first_name %>,
</p>

<p>
  A claim by <%= @bounty_claim.person.display_name %> has been accepted for <%= issue_link(@bounty_claim.issue) %>. 
</p>
<% if @bounty_claim.issue.fiat? %>
  <p>
    The <%= number_to_dollars(@bounty_claim.amount) %> bounty has been paid out.
  </p>
<% else %>
  <p>
    All crypto tokens will be transferred to the bounty hunter.
  </p>
<% end %>
