<p>Hi, an admin has approved a crypto bounty payout to your ethereum address <%= @person.primary_wallet.eth_addr %></p>

<p>You can navigate to <%= Api::Application.config.www_url %>activity/crypto_pay_outs to monitor the transactions.</p>