<p>Hi <%= @person.display_name %>,</p>

<p>You just placed a funding goal on <a href="<%= @developer_goal.issue.frontend_url %>"><%= @developer_goal.issue.title %></a></p>

<p>Spread the word to help this issue reach your goal!</p>
