<p>
  Bountysource is a community orientated platform with minimal operational overheads. Holding money for extended periods of time is causing costs to be incurred in accounting and maintaining the balance sheet. 
</p>
<p>
  Bountysource management will be adding an inactivity fee to minimise costs in holding your money for long periods.
  From 1st December 2018 we intend to start applying a monthly fee of $10 + 10% for unclaimed money over 90 days
</p>
<p>
  You can avoid the inactivity fee by simply withdrawing your money regularly.
</p>