<p>
  Hi <%= @person.first_name %>,
</p>

<p>
  Your Bountysource account has been debited with an inactivity fee.
</p>

<p>
  This fee is charged to earning accounts that do no withdraw funds after 90 days of inactivity.
</p>

<p>
  Please login to your account and cashout your funds to prevent any further deductions.
</p>

<p>
  If you believe this is in error or your are locked out of your account, please contact support@bountysource.com.
</p>

<p>
  You can prevent this fees by withdrawing your funds regularly.
</p>

<p>
  If you hold a team account or are holding money to fund ongoing bounties, please get in touch.
</p>