<p>Dear <%= @person.display_name %>,</p>

<p>Your fundraiser, <a href="<%= @fundraiser.frontend_url %>"><%= @fundraiser.title %></a>, has reached 50% of its funding goal. Keep spreading the word to get it to 100%!</p>