<p>Hi <%= @person.display_name %>, <%= @rfp.issue.team.name %> is seeking developers to solve select issues. You’ve been invited to submit proposals on the following:</p>

"<%= @rfp.issue.title %>" in <%= @rfp.tracker.name %>

<!-- Not sure what these are supposed to do -->
<!-- [I’m not interested in Requests from teamname] -->
<!-- [I’m not interested in any Proposal Requests] -->
