<p>
  Hi <%= @person.first_name %>,
</p>

<p>
  To reset your password, follow the link below, and fill in the necessary data. You will need a password reset code, yours is: <b><%= @person.reset_password_code %></b>.
</p>

<p>
  <%= @site_url %>#signin/reset?<%= { email: @person.email, code: @person.reset_password_code }.to_param %>
</p>

<p>
  If you did not request a password reset, please contact us at support@bountysource.com.
</p>
