<p>Hi <%= @person.display_name %>,</p>

<p>Your tax form has been rejected because: <%= @reason %>. 
Your cash out request can only be completed after a tax form has been approved so please submit <a href="https://www.bountysource.com/activity/cash_outs/tax_form">a new tax form</a>.</p>
