<p>Hi <%= @person.display_name %>,</p>

<p>We have received your tax form, we will need to check it before your cash out request is complete. If you would like to withdraw any more of your balance, please <a href=" https://www.bountysource.com/activity/cash_outs">request a cash out</a>.</p>
