<p>Hi <%= @person.display_name %>,</p>
 
<p>You've just contributed <%= number_to_dollars(@team_payin.amount) %> to <%= team_link(@team) %>. Your contribution will support the development of their open-source projects, allowing the team to post bounties or fund development time.</p>
 
<p>Thanks for the support, now go spread the word!</p>
 
<p>If you have any questions, please check out our FAQs or contact us at any of the ways below.</p>
