---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/https:%2F%2Fprojects.theforeman.org%2Fissues%2F863
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1535832749'
      Ratelimit-Resettime:
      - Sun, 01 Sep 2018 20:12:29 GMT
    body:
      encoding: UTF-8
      string: '{"message":"404 Project Not Found"}'
  recorded_at: Sat, 01 Sep 2018 20:11:30 GMT
- request:
    method: get
    uri: https://projects.theforeman.org/issues/863
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"25a6d4023131c8788b1d95c1b747e176"
      Status:
      - 200 OK
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\"
        />\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>\n<title>Feature
        #863: add ability to restrict ldap authentication to a security group - Foreman</title>\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1,
        user-scalable=no\">\n<meta name=\"description\" content=\"Redmine\" />\n<meta
        name=\"keywords\" content=\"issue,bug,tracker\" />\n<meta name=\"csrf-param\"
        content=\"authenticity_token\" />\n<meta name=\"csrf-token\" content=\"00kuWOCYUvqyKCyt93RQ998prMxpp9L2QJpklvX/X7rPuJPaBc9cQqUTwYAo/gG7wfduHdSkRMLRU7Yy+87Gvg==\"
        />\n<link rel='shortcut icon' href='/favicon.ico?1507716691' />\n<link rel=\"stylesheet\"
        media=\"all\" href=\"/stylesheets/jquery/jquery-ui-1.11.0.css?1507716691\"
        />\n<link rel=\"stylesheet\" media=\"all\" href=\"/themes/alternate/stylesheets/application.css?1532081051\"
        />\n<link rel=\"stylesheet\" media=\"all\" href=\"/stylesheets/responsive.css?1532081119\"
        />\n\n<script src=\"/javascripts/jquery-1.11.1-ui-1.11.0-ujs-3.1.4.js?1507716691\"></script>\n<script
        src=\"/javascripts/application.js?1532081119\"></script>\n<script src=\"/javascripts/responsive.js?1532081119\"></script>\n<script>\n//<![CDATA[\n$(window).load(function(){
        warnLeavingUnsaved('The current page contains unsaved text that will be lost
        if you leave this page.'); });\n//]]>\n</script>\n\n<link rel=\"stylesheet\"
        media=\"screen\" href=\"/plugin_assets/redmine_lightb[...]
[...]
