<div ng-controller="TeamBountiesController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a ng-href="/teams/{{team.slug}}">{{team.name || 'Loading...'}}</a></li>
    <li><a ng-href="/teams/{{team.slug}}/bounties">Bounties</a></li>
  </ul>

  <div team-view team="team">
    <!-- Loading message... -->
    <div collapse="bounties_resolved" class="text-center">
      <p class="lead">Loading bounties...</p>
      <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 100%;"></div>
      </div>
    </div>

    <div ng-show="bounties_resolved">
      <div>
        <h3 class="no-margin">Bounty Summary</h3>
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>Project</th>
            <th><a ng-click="update_sort(summary_sort, 'open')">Open</a></th>
            <th><a ng-click="update_sort(summary_sort, 'paid_out')">Paid Out</a></th>
            <th><a ng-click="update_sort(summary_sort, 'paid_out + open')">Total</a></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="stat in stats | orderBy:summary_sort.column:summary_sort.desc">
            <td><a ng-href="/trackers/{{ stat.slug }}"><img ng-src="{{ stat.image_url }}" class="issue-table-tracker-img">  {{ stat.name }}</a></td>
            <td>{{ stat.open | dollars }}</td>
            <td>{{ stat.paid_out | dollars }}</td>
            <td>{{ stat.paid_out + stat.open | dollars }}</td>
          </tr>
          <tr>
            <td><strong>Total</strong></td>
            <td><strong>{{ total_open | dollars }}</strong></td>
            <td><strong>{{ total_paid_out | dollars }}</strong></td>
            <td><strong>{{ total_spent | dollars }}</strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-show="open_bounties">
      <h3 class="no-margin">Open Bounties</h3>
      <table class="table table-condensed table-striped table-hover issue-table">
        <thead>
        <tr>
          <th style="width: 4%;"></th>
          <th style="width: 51%;">Issue</th>
          <th style="width: 35%;"><a ng-click="update_sort(open_sort, 'progress_sum')">Progress</a></th>
          <th style="text-align: center; width: 5%;"><a ng-click="update_sort(open_sort, 'created_at')" tooltip="Posted"><i class="glyphicon glyphicon-time"></i></a></th>
          <th style="text-align: center; width: 5%;">
            <a ng-click="update_sort(open_sort, 'amount')">
              <div tooltip="Bounty Amount"><strong>$</strong></div>
            </a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bounty in open_bounties | orderBy:open_sort.column:open_sort.desc">
          <td class="center-height"><a ng-href="/trackers/{{bounty.issue.tracker.slug}}"><img ng-src="{{ bounty.issue.tracker.image_url }}" class="img-responsive" tooltip="{{bounty.issue.tracker.name}}" tooltip-placement="left"></a></td>
          <td class="center-height">
            <a ng-href="/issues/{{bounty.issue.slug}}">
              <i ng-show="bounty.issue.bounty_total >= 1000" class="glyphicon glyphicon-fire"></i>
              {{bounty.issue.title}}
              <span ng-show="!bounty.issue.can_add_bounty && !bounty.issue.paid_out" class="label label-warning">closed</span>
            </a>
          </td>
          <td class="center-height">
            <a ng-href="/issues/{{bounty.issue.slug}}">
              <div class="progress table-progress" html="true" popover="{{ bounty.status }}" popover-title="{{ bounty.title }}" popover-trigger="mouseenter" style="cursor: pointer;">
                <div class="progress-bar" style="width: {{ bounty.progress_sum | atLeast:15 | atMost:100 | number:0 }}%; vertical-align: middle;">
                  {{ bounty.progress_sum }}%
                </div>
              </div>
            </a>
          </td>
          <td class="center-height"><a class="label label-primary">{{bounty.created_at | timeAgoShort}}</a></td>
          <td class="center-height"><strong>{{bounty.amount | dollars}}</strong></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="claimed_bounties.length > 0">
      <h3 class="no-margin">Claimed Bounties</h3>
      <p>Bounties posted by {{team.name}} that have been claimed by developers.</p>
      <table class="table table-condensed table-striped">
        <thead>
        <tr>
          <th style="width: 4%;"></th>
          <th style="width: 66%;">Issue</th>
          <th style="width: 30%;"><a ng-click="update_sort(claimed_sort, 'issue.paid_at')">Paid Out</a></th>
          <th style="text-align: center; cursor: pointer; width: 10%;">
            <a ng-click="update_sort(claimed_sort, 'amount')">
              <div tooltip="Bounty Amount"><strong>$</strong></div>
            </a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bounty in claimed_bounties | orderBy:claimed_sort.column:claimed_sort.desc">
          <td class="center-height"><a ng-href="/trackers/{{bounty.issue.tracker.slug}}" tooltip="{{bounty.issue.tracker.name}}" tooltip-placement="left"><img ng-src="{{ bounty.issue.tracker.image_url }}" class="img-responsive"></a></td>
          <td class="center-height">
            <a ng-href="/issues/{{bounty.issue.slug}}">
              <i ng-show="bounty.issue.bounty_total >= 1000" class="glyphicon glyphicon-fire"></i>
              {{bounty.issue.title}}
            </a>
          </td>
          <td class="center-height">{{bounty.issue.paid_at | date:'medium'}}</td>
          <td class="center-height" style="text-align: center;"><strong>{{bounty.amount | dollars}}</strong></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="!claimed_bounties && !open_bounties && bounties_resolved">
      <h4>There are no bounties associated with this team</h4>
    </div>
  </div>
</div>
