<div ng-controller="TeamIssuesController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a><span class="divider"></span></li>
    <li><a href="/teams">Teams</a><span class="divider"></span></li>
    <li><a ng-href="/teams/{{team.slug}}">{{team.name || 'Loading...'}}</a><span class="divider"></span></li>
    <li><a ng-href="/teams/{{team.slug}}/issues">Issues</a></li>
  </ul>

  <div team-view team="team">
    <!--Issue filter box-->
    <div class="well well-sm">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8">
          <form class="form" ng-submit="$parent.$parent.getIssues(1)">
            <div class="form-group" ng-class="{'narrow': !show_advanced_search}">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="$parent.$parent.search" placeholder="Search issues"></input>
                <span class="input-group-btn">
                  <button class="btn btn-primary">Search</button>
                </span>
              </div>
            </div>
          </form>

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <button class="btn btn-default btn-block" ng-click="toggle_advanced_search()">Advanced Search
            <i ng-show="!show_advanced_search" class="glyphicon glyphicon-chevron-down"></i>
            <i ng-show="show_advanced_search" class="glyphicon glyphicon-chevron-up"></i>
          </button>
        </div>
      </div>
      <div class="row" ng-show="show_advanced_search">
        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
          <form class="form-inline" ng-submit="$parent.$parent.getIssues(page)">
            <div class="form-group" ng-class="{'has-error': show_bounty_error}">
              <div class="input-group" style="width: 110px;">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" ng-model="$parent.$parent.bounty_min" min="1" placeholder="50"></input>
              </div>
            </div> -
            <div class="form-group" ng-class="{'has-error': show_bounty_error}">
              <div class="input-group" style="width: 110px">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" ng-model="$parent.$parent.bounty_max" min="1" placeholder="1000"></input>
              </div>
            </div>
            <input type="submit" style="visibility: hidden;" />
          </form>
          <div class="alert alert-danger text-center" ng-show="show_bounty_error" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px;">Invalid Range</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
          <div class="btn-group" style="display: inline-block">
            <button type="button" class="btn btn-default" ng-class="{ 'btn-success': issueStatus == 'open'}" ng-model="$parent.$parent.issueStatus" btn-radio="'open'" ng-change="$parent.$parent.getIssues(page)">Open</button>
            <button type="button" class="btn btn-default" ng-class="{ 'btn-success': issueStatus == 'closed'}" ng-model="$parent.$parent.issueStatus" btn-radio="'closed'" ng-change="$parent.$parent.getIssues(page)">Closed</button>
            <button type="button" class="btn btn-default" ng-class="{ 'btn-success': issueStatus == 'paid_out'}" ng-model="$parent.$parent.issueStatus" btn-radio="'paid_out'" ng-change="$parent.$parent.getIssues(page)">Paid Out</button>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="panel panel-primary no-margin">
            <div class="panel-heading text-center narrow">Project Filter</div>
            <div ng-show="trackers" style="max-height: 100px; overflow:auto;">
              <table ng-show="trackers" class="table table-condensed" style="margin-bottom:0px;">
                <tbody>
                <tr ng-repeat="tracker in trackers">
                  <td >
                    <label style="cursor: pointer;">
                      <input type="checkbox" ng-model="$parent.$parent.selected_trackers[tracker.id]" ng-change="$parent.$parent.getIssues(page)"></input>
                      <span>{{ tracker.display_name }}</span>
                    </label>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <loading-bar collapse="issues">Loading issues...</loading-bar>

    <!-- Issue Count Label -->
    <span class="label label-primary" ng-show="total_items">{{ total_items | number }} Issues</span>

    <!-- No issues shown message -->
    <h3 class="text-center" ng-show="issues.length == 0">No issues</h3>

    <!-- Table of Issues -->
    <issue-list
      issues="issues"
      include="['bountyTotal', 'issueTitle', 'thumbsUpCount', 'participantsCount', 'issueAge', 'trackerImage']"
      set-params="setSearchParameters(params)">
    </issue-list>

    <!-- Pagination -->
    <pagination ng-show="total_items > 30"
                on-select-page="getIssues(page)"
                page="page"
                items-per-page="per_page"
                max-size="10"
                total-items="total_items"
                rotate="false"
                boundary-links="true">
    </pagination>
  </div>
</div>
