<div>
  <ul class="breadcrumb">
    <li><a href="/">Home</a><span class="divider"></span></li>
    <li><a href="/teams">Teams</a><span class="divider"></span></li>
    <li><a ng-href="/teams/{{team.slug}}">{{team.name || 'Loading...'}}</a><span class="divider"></span></li>
    <li><a ng-href="/teams/{{team.slug}}/issues">Issues</a></li>
  </ul>

  <div team-view team="team">
    <div class="row">
      <span class="col-md-3 col-sm-3 pull-left">
        <form class="form-inline no-margin" style="text-align: center; vertical-align: middle">
          <label class="checkbox">
            <input type="checkbox" ng-model="search_parameters.show_team_issues"
                   ng-change="get_team_issues()"></input>
            Team Issues <i class="glyphicon glyphicon-question-sign"
                           tooltip="Show issues for projects owned by your organization"></i>
          </label>
        </form>
      </span>
      <span class="col-md-3 col-sm-3">
        <form class="form-inline no-margin" style="text-align: center; vertical-align: middle">
          <label class="checkbox">
            <input type="checkbox" ng-model="search_parameters.show_related_issues"
                   ng-change="get_team_issues()"></input>
            Related Issues <i class="glyphicon glyphicon-question-sign"
                              tooltip="Show issues for projects your organization uses"></i>
          </label>
        </form>
      </span>
      <span>
        <p class="pull-right" ng-show="pagination.items"><span class="label label-primary">{{ pagination.items || issues.length | number }}</span>
          <strong>Suggested Issues</strong></p>
      </span>

      <div collapse="!show_advanced_search">
        <form class="form-horizontal">
          <div class="control-group">
            <div class="control-label">Contains</div>
            <div class="controls">
              <input class="span8" type="text" ng-model="search_parameters.query"
                     placeholder="Phrase in issue body or title"></input>
            </div>
          </div>

          <div class="control-group">
            <div class="control-label">Created After</div>
            <div class="controls"><input type="text" ng-model="search_parameters.created_at"
                                         placeholder="mm/dd/yyyy"></input></div>
          </div>

          <div class="control-group">
            <div class="control-label">Active Since</div>
            <div class="controls"><input type="text" ng-model="search_parameters.last_event_created_at"
                                         placeholder="mm/dd/yyyy"></input></div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" ng-click="get_team_issues()">Search</button>
              <button class="btn" ng-click="toggle_advanced_search()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Loading message... -->
    <div collapse="issues_resolved" class="text-center">
      <loading-bar>Loading issues...</loading-bar>
    </div>

    <div ng-show="issues_resolved">
      <div ng-show="issues.length > 0">
        <table class="table table-condensed table-striped" style="table-layout: fixed">
          <thead>
          <tr>
            <th style="width: 5%;"></th>
            <th style="width: 25%;">Project</th>
            <th style="width: 60%;">Issue Title</th>
            <th style="width: 10%" class="text-center">Rank</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="issue in issues">
            <td><a style="display:block;" ng-href="/trackers/{{issue.tracker.slug}}"><img
              src="{{issue.tracker.image_url}}" style="max-height:20px;max-width:20px;" /></a></td>
            <td><a ng-href="/trackers/{{issue.tracker.slug}}">{{issue.tracker.name}}</a></td>
            <td style="overflow: hidden; text-overflow: ellipsis"><a ng-href="/issues/{{issue.slug}}">{{issue.title}}</a>
            </td>
            <td class="text-center">
              <signal-icon percent="issue.relevance"></signal-icon>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div ng-show="pagination_object.items >= 25">
        <pagination total-items="pagination_object.items" page="pagination_object.page" items-per-page="25"
                    num-pages="pagination_object.pages" on-select-page="get_team_issues(page)"></pagination>
      </div>
      <div ng-hide="issues.length > 0">
        <h4 class="alert alert-info">There are no issues associated with this team</h4>
      </div>
    </div>
  </div>
</div>