<div ng-controller="TeamManageProjectsController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a>{{team.name || 'Loading...'}}</a></li>
  </ul>

  <div team-view team="team">
    <div>
      <h3 ng-show="is_member">{{team.name}}'s Projects</h3>

      <div class="well" ng-show="is_admin || is_developer">
        <form class="form-inline" name="search_owner_form" ng-submit="$parent.own_project(project_owner_search)" style="margin-bottom:0px;">
          <div class="form-group">
            <label>Add an open-source project your team owns:</label>
            <input name="input" type="text"
                   class="form-control"
                   style="width: 300px;"
                   placeholder="Search for projects"
                   ng-model="claimTrackerValue"
                   typeahead-wait-ms="100"
                   typeahead="project as project.name for project in doTypeahead($viewValue)"
                   typeahead-on-select="claimTracker(claimTrackerValue)"
                   typeahead-editable="true">
          </div>
        </form>
        <loading-bar ng-show="working">Searching</loading-bar>
      </div>

      <thumbnail-links array="ownedTrackers" per-row="6" object-type="'team-project'" dismiss-action="unclaim_tracker(tracker)"></thumbnail-links>
    </div>

    <div ng-show="is_admin || is_developer">
      <div class="alert alert-warning" style="padding: 20px;" ng-hide="usedTrackers.length > 0">
        <h4 style="margin-top: 0;">Show off the open-source projects your team uses by adding them now!</h4>
        Search for projects that your team uses and add them to your profile.
      </div>

      <div>
        <h3>Projects Used By {{team.name}}</h3>
        <div class="well">
          <form class="form-inline" name="search_form" ng-submit="add_project(project_search)" style="margin-bottom:0px">
            <label>Add an open-source project your team uses:</label>
            <input name="input"
                   type="text"
                   class="form-control"
                   placeholder="Search for projects"
                   style="width: 300px;"
                   ng-model="addTrackerValue"
                   typeahead-wait-ms="100"
                   typeahead="project as project.name for project in doTypeahead($viewValue)"
                   typeahead-on-select="addTracker(addTrackerValue)"
                   typeahead-editable="true">
          </form>
          <loading-bar ng-show="add_working">Searching</loading-bar>
        </div>
      </div>
    </div>

    <div ng-hide="team.trackers.length > 0 || (is_admin || is_developer)">
      <div class="alert alert-info">{{team.name}} has not added any projects to their profile.</div>
    </div>

    <thumbnail-links array="usedTrackers" per-row="6" object-type="'team-project'" dismiss-action="remove_tracker(tracker)"></thumbnail-links>
  </div>
</div>
