<div ng-controller="TeamHomeController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/teams">Teams</a></li>
    <li ng-href="/teams/{{team.slug}}" ng-if="!error"><a>{{team.name || 'Loading...'}}</a></li>
  </ul>

  <div team-view team="team">
    <div ng-show="funds_added">
      <alert type="'success'" close="funds_added = null">Successfully added <strong>{{funds_added | dollars}}</strong>
        to <strong>{{team.name}}'s</strong> balance. Current balance of <strong>{{team.account_balance |
          dollars}}</strong> is available to spend immediately.
      </alert>
    </div>

    <!-- Developer view. Can only add projects and place bounties -->
    <div class="row" ng-if="!is_admin && is_developer">
      <div class="col-sm-6 col-md-6">
        <ng-include src="'app/teams/templates/post_bounty_box.html'"></ng-include>
      </div>

      <div class="col-sm-3 col-md-3">
        <ng-include src="'app/teams/templates/goto_projects_box.html'"></ng-include>
      </div>

      <div class="col-sm-3 col-md-3">
        <ng-include src="'app/teams/templates/goto_settings_box.html'"></ng-include>
      </div>
    </div>

    <!-- Admin view. Can do all of the things! -->
    <div class="row" ng-if="is_admin">
      <div class="col-sm-6 col-md-6">
        <ng-include src="'app/teams/templates/post_bounty_box.html'"></ng-include>
      </div>

      <div class="col-sm-3 col-md-3">
        <ng-include src="'app/teams/templates/goto_invite_members.html'"></ng-include>
      </div>

      <div class="col-sm-3 col-md-3">
        <ng-include src="'app/teams/templates/goto_add_funds.html'"></ng-include>
      </div>
    </div>

    <!-- Public View -->
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="text-center panel-title"><a ng-href="/teams/{{ team.slug }}/issues">Top 5 Issues</a></h3>
          </div>
          <h4 class="text-center" ng-if="issues.length == 0">No Issues</h4>
          <issue-list issues="issues" include="['bountyTotal', 'issueTitle', 'thumbsUpCount', 'participantsCount']" hide-header-row></issue-list>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="text-center panel-title">Members</h3></div>
          <div class="panel-body" style="padding-bottom: 0px;">
            <h4 class="text-center" ng-if="members.length == 0">No Members</h4>
            <thumbnail-links array="members" per-row="3" object-type="'team_member'"></thumbnail-links>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
