<div ng-controller="TeamUpdatesController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a ng-href="/teams/{{team.slug}}">{{team.name || 'Loading...'}}</a></li>
    <li><a>Fundraiser</a></li>
  </ul>

  <div team-view team="team">
    <div ng-if="canManageActiveFundraiser">
      <button class="btn btn-info" ng-click="showNewUpdateModal()">
        <i class="glyphicon glyphicon-edit"></i>
        New Update
      </button>
    </div>

    <div class="alert alert-info" ng-show="updates.length <= 0">
      No updates have been published.
    </div>

    <!-- List published updates -->
    <div ng-repeat="update in updates">
      <h2>{{update.title}}</h2>
      <div class="text-info">
        <span>Published {{update.published_at | date}}</span>
      </div>
      <hr />
      <div class="markdown" ng-bind-html="update.body_html"></div>
      <div ng-if="$index != updates.length">
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
