<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trackers">Projects</a></li>
  <li><a ng-href="/trackers/{{tracker.slug}}">{{ tracker.name ||'Loading...' }}</a></li>
  <li><a ng-href="/trackers/{{ tracker.slug }}/edit">Edit</a></li>
</ul>

<div class="page-header">
  <h1>Edit Tracker</h1>
  <p>Help improve Bountysource's data by providing us with more accurate information about this project.</p>
  <p>If you need further assistance, please contact <a href="mailto:support@bountysource.com">support@bountysource.com</a></p>
</div>

<div ng-hide="tracker">
  <loading-bar>Loading tracker...</loading-bar>
</div>

<div ng-show="tracker">
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <ng-include src="'app/trackers/templates/sidebar.html'"></ng-include>
    </div>
    <div class="col-sm-9 col-md-9">
      <div ng-show="alert.message">
        <alert type="alert.type" close="alert.message = undefined">{{alert.message}}</alert>
      </div>

      <div ng-show="saving">
        <loading-bar>Saving changes...</loading-bar>
      </div>

      <div ng-hide="saving">
        <form class="form" name="form" ng-submit="save()">
          <div class="form-group">
            <label for="inputName">Name:</label>
            <input type="text" id="inputName" placeholder="Name of the project" ng-model="form_data.name" class="input span12 form-control" required="">
          </div>

          <div class="form-group">
            <label for="inputDescription">Description:</label>
            <textarea type="text" class="form-control" rows="5s876" id="inputDescription" placeholder="Description for the project" ng-model="form_data.description"></textarea>
          </div>

          <div class="form-group">
            <label for="inputName">Image:</label>
            <input type="text" ng-model="form_data.image_url" placeholder="Image URL or Gravatar Email" class="input span12 form-control">
          </div>

          <div class="form-group">
            <label for="inputName">Homepage:</label>
            <div class="controls">
              <input type="url" id="inputName" placeholder="Homepage for this project" ng-model="form_data.homepage" class="input span12 form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="inputName">Repository URL:</label>
            <input type="text" id="inputName" placeholder="Code Repo URL" ng-model="form_data.repo_url" class="input span12 form-control">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="form.$invalid || !unsaved_changes()">Save Changes</button>
            <a class="btn btn-default btn-lg" ng-click="cancel()">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
