<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trackers">Projects</a></li>
  <li><a ng-href="/trackers/{{tracker.slug}}">{{ tracker.name ||'Loading...' }}</a></li>
</ul>

<div class="row" ng-show="tracker">
  <div class="col-sm-3 col-md-3">
    <ng-include src="'app/trackers/templates/sidebar.html'"></ng-include>

    <div class="panel panel-default" ng-show="tracker.bounty_total > 0 || tracker.tracker_type == 'Github::Repository'">
      <div class="panel-heading text-center"><h3 class="panel-title">Stats</h3></div>
      <div class="panel-body">
        <div collapse="!open_bounties || open_bounties <= 0">
          <a ng-click="show_bounties()">
            <h3 class="text-center narrow">{{ open_bounties }}
              <ng-pluralize count="open_bounties" when="{'1':'Open Bounty', 'other':'Open Bounties'}"></ng-pluralize>
            </h3>
          </a>
        </div>

        <div class="row">
          <div class="text-center"
          ng-class="{span6: tracker_stats.collected_total > 0, span12: tracker_stats.collected_total == 0}"
          ng-show="tracker.bounty_total > 0">
          <a ng-click="show_bounties()"><h3 style="margin: 0; line-height:35px" class="text-center">
            {{tracker.bounty_total | dollars}}</h3></a>

            <div>in bounties</div>
          </div>

          <div class="text-center col-sm-6 col-md-6" ng-show="tracker_stats.collected_total > 0">
            <a ng-click="show_claimed_bounties()"><h3 style="margin:0; line-height:35px;" class="text-center">
              {{tracker_stats.collected_total | dollars}}</h3></a>

              <div>claimed</div>
            </div>
          </div>

          <div class="row" ng-show="tracker.tracker_type == 'Github::Repository'">
            <div class="text-center col-sm-6 col-md-6">
              <h3 style="margin: 0; line-height:35px;">{{tracker.forks || 0 | number}}</h3>

              <div>
                <ng-pluralize count="tracker.forks" when="{ 'one': 'fork', 'other': 'forks' }"></ng-pluralize>
              </div>
            </div>
            <div class="text-center col-sm-6 col-md-6">
              <h3 style="margin: 0; line-height:35px;">{{tracker.watchers || 0 | number}}</h3>

              <div>
                <ng-pluralize count="tracker.watchers" when="{ 'one': 'watcher', 'other': 'watchers' }"></ng-pluralize>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div ng-include="'app/trackers/templates/top_backers.html'"></div>
  </div>

  <div class="col-sm-9 col-md-9">
    <h1>{{tracker.name}}</h1>

    <p class="lead">{{tracker.description}}</p>

    <!-- Add horizontal line when when no issues -->
    <div ng-hide="issues.length > 0">
      <hr>
    </div>

    <!--Issue filter box-->
    <div class="well well-sm">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8">
          <form class="form" ng-submit="getIssues(1)">
            <div class="form-group" ng-class="{'narrow': !show_advanced_search}">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="search" placeholder="Search issues"></input>
                <span class="input-group-btn">
                  <button class="btn btn-primary">Search</button>
                </span>
              </div>
            </div>
          </form>

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <button class="btn btn-default btn-block" ng-click="toggle_advanced_search()">Advanced Search 
            <i ng-show="!show_advanced_search" class="glyphicon glyphicon-chevron-down"></i>
            <i ng-show="show_advanced_search" class="glyphicon glyphicon-chevron-up"></i>
          </button>
        </div>
      </div>
      <div class="row" ng-show="show_advanced_search">
        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
          <form class="form-inline" ng-submit="getIssues(page)">
            <div class="form-group" ng-class="{'has-error': show_bounty_error}">
              <div class="input-group" style="width: 110px;">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" ng-model="bounty_min" min="1" placeholder="50"></input>
              </div>
            </div> -
            <div class="form-group" ng-class="{'has-error': show_bounty_error}">
              <div class="input-group" style="width: 110px">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" ng-model="bounty_max" min="1" placeholder="1000"></input>
              </div>
            </div>
            <input type="submit" style="visibility: hidden;"></input>
          </form>
          <div class="alert alert-danger text-center" ng-show="show_bounty_error" style="margin-bottom:0px; padding-top: 5px; padding-bottom: 5px;">Invalid Range</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
          <div class="btn-group" style="display: inline-block">
            <button type="button" class="btn btn-default" ng-class="{ 'btn-success': issueStatus == 'open'}" ng-model="issueStatus" btn-radio="'open'" ng-change="getIssues(page)">Open</button>
            <button type="button" class="btn btn-default" ng-class="{ 'btn-success': issueStatus == 'closed'}" ng-model="issueStatus" btn-radio="'closed'" ng-change="getIssues(page)">Closed</button>
            <button type="button" class="btn btn-default" ng-class="{ 'btn-success': issueStatus == 'paid_out'}" ng-model="issueStatus" btn-radio="'paid_out'" ng-change="getIssues(page)">Paid Out</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Loading message... -->
    <loading-bar collapse="issues">Loading issues...</loading-bar>

    <!-- Issue Count Label -->
    <span class="label label-primary" ng-show="total_items">{{ total_items | number }} Issues</span>

    <!-- No issues shown message -->
    <div ng-show="issues.length == 0" class="alert alert-info">No issues found :(</div>

    <!--Table of issues-->
    <issue-list 
      issues="issues"
      include="['bountyTotal', 'thumbsUpCount', 'participantsCount', 'issueAge']"
      set-params="setSearchParameters(params)">
    </issue-list>

    <!-- Pagination -->
    <pagination 
      ng-show="total_items > 30"
      on-select-page="getIssues(page)"
      page="page"
      items-per-page="per_page"
      max-size="10"
      total-items="total_items"
      rotate="false"
      boundary-links="true">
    </pagination>
  </div>
</div>
