<div class="well bounty-buttons" ng-show="issue.can_add_bounty && !issue.winning_bounty_claim" ng-controller="IssueShow">
  <div style="text-align: center;">
    <h2 style="margin: 0;">{{issue.bounty_total | dollars}}</h2>
    <strong>Bounty</strong>
  </div>
  <br />

  <!-- Backers! -->
  <backer-thumbnails style="text-align: center;" issue="issue"></backer-thumbnails>

  <br />
  <ng-form name="form">
    <div class="controls controls-row">
      <slider floor="0" ceiling="1000" ng-model="bounty.amount" translate="currencyFormatting"></slider>
    </div>

    <span class="muted">Customize amount</span>
    <div class="controls controls-row">
      <span class="span1" style="line-height:30px">$</span>
      <input integer-only name="amount" type="text" min="5" ng-model="bounty.amount" class="span11 input-small" ng-change="validate_bounty_input()" tooltip="$5 minimum bounty" tooltip-placement="bottom" toolip-trigger="focus"/>
    </div>

    <div collapse="!bounty.amount || bounty.amount <= 0">
      <br />
      <label class="radio" style="margin-left: 5px;">
        <input type="radio" ng-model="bounty.payment_method" value="google" selected/>
        <img src="images/google-wallet.png">
        Google Wallet
      </label>

      <label class="radio" style="margin-left: 5px;">
        <input type="radio" ng-model="bounty.payment_method" value="paypal" />
        <img src="images/paypal.png">
        PayPal
      </label>

      <!--<label class="radio" style="margin-left: 5px;">-->
      <!--<input type="radio" ng-model="bounty.payment_method" value="gittip" />-->
      <!--<img src="images/gittip.png">-->
      <!--Gittip-->
      <!--</label>-->

      <label class="radio" ng-show="current_person && current_person.account.balance > 0" style="margin-left: 5px;">
        <input type="radio" ng-model="bounty.payment_method" value="personal" />
        <img src="favicon.ico">
        Bountysource {{ current_person.account.balance | currency }}
      </label>

      <label class="checkbox" style="margin-left: 5px;">
        Make anonymous
        <input type="checkbox" id="anonymous" ng-model="bounty.anonymous" />
      </label>

      <br />
      <button ng-click="create_payment()" class="btn btn-block btn-large btn-success" ng-disabled="form.amount.$invalid">Create ${{bounty.amount | number:0}} Bounty</button>
    </div>
  </ng-form>
</div>