<!-- If the issue is still open, then show info about claims -->
<div class="well text-center" ng-show="issue.can_add_bounty">
  <h3 style="margin-top: 0;">Claim Bounty</h3>
  <!--<p>When the issue is closed, the bounty can be claimed.</p>-->
  <p>You can only claim this bounty once the issue has been closed.</p>
  <p>Please work with the development team on <a ng-href="{{issue.url}}" target="_blank">the original issue tracker</a> to get it to the closed state.</p>
</div>

<div ng-controller="BountyClaimsController" ng-hide="issue.can_add_bounty || issue.bounty_total <= 0" style="text-align: center; padding: 15px;" ng-class="{ 'alert alert-block alert-success': (issue.winning_bounty_claim), 'alert alert-block alert-error': ((!issue.winning_bounty_claim && issue.bounty_claims.length > 1) || issue.bounty_claims[0].disputed || issue.bounty_claims[0].rejected), 'alert alert-block alert-info': (!issue.winning_bounty_claim && issue.bounty_claims.length == 1 && !issue.bounty_claims[0].disputed && !issue.bounty_claims[0].rejected), 'well': (issue.bounty_claims.length <= 0) }">
  <!-- A claim was accepted, yay! -->
  <div ng-show="issue.winning_bounty_claim">
    <h2 style="margin: 0;">{{issue.bounty_total | dollars}}</h2>
    <h4 style="margin: 0;">Bounty Claimed!</h4>
    <strong>By</strong>
    <div class="text-success" style="margin: 10px 0;">
      <a ng-href="/people/{{issue.bounty_claims[0].person.slug}}"><img class="thumbnail" style="width: 35px; height: 35px; display: inline-block;" ng-src="{{issue.bounty_claims[0].person.image_url}}" /></a>
      <a ng-href="/people/{{issue.bounty_claims[0].person.slug}}">{{issue.bounty_claims[0].person.display_name}}</a>
    </div>
  </div>

  <div style="text-align: center;" ng-hide="issue.winning_bounty_claim">
    <h2 style="margin: 0;">{{issue.bounty_total | dollars}}</h2>
    <strong>Bounty</strong>
  </div>
  <br />

  <!-- Backers! -->
  <backer-thumbnails issue="issue"></backer-thumbnails>

  <!-- Bounty is available! Provide link to claim submit form -->
  <div ng-show="issue.bounty_claims.length <= 0">
    <h3>Claim Bounty</h3>
    <p><strong>Hey! Listen!</strong> The {{issue.bounty_total | dollars}} bounty on this issue is up for grabs. If you resolved the issue, <a ng-href="/issues/{{issue.slug}}/claims">claim it!</a></p>
  </div>

  <!-- Bounty Claims -->
  <div class="row-fluid" ng-show="issue.bounty_claims.length > 0">
    <!-- When there is one claim, say that a claim is in progress -->
    <div ng-show="!issue.winning_bounty_claim && issue.bounty_claims.length == 1">
      <br />

      <!-- Title for claim. It's good, rejected, or disputed -->
      <h4 ng-hide="issue.bounty_claims[0].disputed || issue.bounty_claims[0].rejected" style="margin-bottom: 5px;">Bounty Claim Pending</h4>
      <h4 ng-show="issue.bounty_claims[0].disputed && !issue.bounty_claims[0].rejected" style="margin-bottom: 5px;">Bounty Claim Disputed</h4>
      <h4 ng-show="issue.bounty_claims[0].rejected" style="margin-bottom: 5px;">Bounty Claim Rejected</h4>

      <div ng-init="show_more_info = false">
        <div style="display: inline-block; vertical-align: middle;">
          <a ng-href="/people/{{issue.bounty_claims[0].person.slug}}"><img class="thumbnail" style="width: 35px; height: 35px; display: inline-block;" ng-src="{{issue.bounty_claims[0].person.image_url}}" /></a>
        </div>
        <div style="margin-left: 10px; text-align: left; display: inline-block; vertical-align: middle;">
          by <a ng-href="/people/{{issue.bounty_claims[0].person.slug}}">{{issue.bounty_claims[0].person.display_name}}</a>
          <br />
          <small>(<a ng-click="show_more_info = !show_more_info">more info</a>)</small>
        </div>
      </div>
      <div collapse="!show_more_info" class="text-center">
        <br />
        <p>
          <strong ng-show="issue.bounty_claims[0].accept_count > 0">
            {{issue.bounty_claims[0].accept_count | number}}</strong> of <strong>{{issue.bounty_claims[0].backers_count | number}}
          </strong>
          <strong ng-show="issue.bounty_claims[0].accept_count <= 0">No</strong>
          backers have voted in favor of this claim.
        </p>
        <p>Automatically accepted in
          <strong>{{issue.bounty_claims[0].dispute_period_ends_at | time_left_in_words}}</strong>
          if there are no disputes
        </p>
      </div>
    </div>

    <!-- If more than one claim, say that the bounty is contested -->
    <div ng-show="!issue.winning_bounty_claim && issue.bounty_claims.length > 1">
      <br />
      <h4 style="margin-bottom: 5px;">Bounty Contested!</h4>
      <ul class="inline" style="margin-bottom: 0;">
        <li ng-repeat="bounty in issue.bounty_claims.slice(0,16)">
          <a class="thumbnail" ng-href="/people/{{bounty.person.slug}}" tooltip="{{bounty.person.display_name}}"><img style="width: 25px; height: 25px;" ng-src="{{bounty.person.image_url}}" /></a>
        </li>
      </ul>
      <p>Multiple developers have submitted claims for this bounty. The backers must <a ng-href="/issues/{{issue.slug}}/claims">vote for a winner</a>.</p>
    </div>

    <!-- Show your claim status -->
    <div ng-show="!issue.winning_bounty_claim && issue.my_bounty_claim">
      <br />
      <button class="btn btn-block btn-danger" ng-click="issue.my_bounty_claim.destroy()"><i class="icon-trash icon-white"></i> Retract My Claim</button>
    </div>
  </div>
</div>