<div class="well" ng-hide="issue.can_add_bounty || issue.bounty_total <= 0" style="text-align: center;">
  <div style="text-align: center;">
    <h2 style="margin: 0;">{{issue.bounty_total | dollars}}</h2>
    <strong>Bounty</strong>
  </div>
  <br />

  <!-- Backers -->
  <div class="row-fluid">
    <h4 style="margin-top: 0;">{{issue.bounties.length | number}} {{ 'Backer' | pluralize:issue.bounties.length }}</h4>
    <ul class="inline" style="margin-bottom: 0;">
      <li ng-repeat="bounty in issue.bounties.slice(0,8)">
        <a class="thumbnail" ng-href="/people/{{bounty.person.slug}}" tooltip="{{bounty.amount | dollars}} - {{bounty.person.display_name}}"><img style="width: 25px; height: 25px;" ng-src="{{bounty.person.image_url}}" /></a>
      </li>
    </ul>
  </div>
  <br />

  <!-- Bounty Claims -->
  <div class="row-fluid" ng-show="issue.bounty_claims.length > 0">
    <!-- When there is one claim, say that a claim is in progress -->
    <div ng-show="issue.bounty_claims.length == 1">
      <h4 style="margin-top: 0;">Bounty Claim Pending</h4>
      <div ng-init="show_more_info = false">
        <div style="display: inline-block; vertical-align: middle;">
          <a ng-href="/people/{{issue.bounty_claims[0].person.slug}}"><img class="thumbnail" style="width: 35px; height: 35px; display: inline-block;" ng-src="{{issue.bounty_claims[0].person.image_url}}" /></a>
        </div>
        <div style="margin-left: 10px; text-align: left; display: inline-block; vertical-align: middle;">
          by <a ng-href="/people/{{issue.bounty_claims[0].person.slug}}">{{issue.bounty_claims[0].person.display_name}}</a>
          <br />
          (<a ng-click="show_more_info = !show_more_info"><small>more info</small></a>)
        </div>
      </div>
      <div collapse="!show_more_info" class="text-left">
        <br />
        <p>
          <strong>{{issue.bounty_claims[0].accept_count | number}}</strong> of <strong>{{issue.bounty_claims[0].backers_count | number}}</strong>
          backers have voted in favor of this claim
        </p>
        <p>Automatically accepted in
          <strong>{{issue.bounty_claims[0].dispute_period_ends_at | time_left_in_words}}</strong>
          if there are no disputes
        </p>
      </div>
    </div>

    <!-- If more than one claim, say that the bounty is contested -->
    <div ng-show="issue.bounty_claims.length > 1">
      <h4 style="margin-top: 0;">Bounty Contested!</h4>
      <ul class="inline" style="margin-bottom: 0;">
        <li ng-repeat="bounty in issue.bounty_claims.slice(0,16)">
          <a class="thumbnail" ng-href="/people/{{bounty.person.slug}}" tooltip="{{bounty.person.display_name}}"><img style="width: 25px; height: 25px;" ng-src="{{bounty.person.image_url}}" /></a>
        </li>
      </ul>
      <p>Multiple developers have submitted claims for this bounty. The backers must <a ng-href="/issues/{{issue.slug}}/claims">vote for a winner</a>.</p>
    </div>

    <!-- Show your claim status -->
    <div ng-show="issue.my_bounty_claim">
      <br />
      <h4 style="margin-top: 0;">Your Bounty Claim</h4>
      <p class="text-center">Votes: <strong class="text-success">{{issue.my_bounty_claim.accept_count | number}}</strong> of <strong>{{issue.my_bounty_claim.backers_count | number}}</strong></p>

      <!--&lt;!&ndash; This is the only claim, so it can be automatically accepted after the dispute period ends &ndash;&gt;-->
      <!--<p ng-show="issue.bounty_claims.length == 1">Accepted in <strong>{{issue.my_bounty_claim.$time_left | number}} {{issue.my_bounty_claim.$time_left_unit | pluralize:issue.my_bounty_claim.$time_left}}</strong> or with <strong>100% approval</strong> from the backers.</p>-->

      <!--&lt;!&ndash; Bounty is contested, can only win with 100% approval &ndash;&gt;-->
      <!--<p ng-show="issue.bounty_claims.length > 1">Accepted with <strong>100% approval</strong> from the backers.</p>-->

      <p>Your claim will be accepted if it receives <strong>100% approval</strong> from the backers.</p>
      <p>If no claim has 100% approval by <strong>{{issue.my_bounty_claim.dispute_period_ends_at | date:'medium'}}</strong>, a manual process to handle disputes will be triggered.</p>

      <button class="btn btn-small btn-block btn-danger" ng-click="issue.my_bounty_claim.destroy()"><i class="icon-trash icon-white"></i> Retract Claim</button>
    </div>
  </div>
</div>