<div ng-controller="DeveloperBoxController">
  <div ng-show="error" class="alert alert-error">{{error}}</div>

  <div class="well">
    <div ng-show="issue.my_solution">
      <div class="text-center">
        <div ng-show="!issue.my_solution.submitted">
          <h3 style="margin: 0;" class="text-center">Earn the Bounty</h3>
          <p class="text-info">Have you finished your solution? If so, you need to submit it!</p>
          <a ng-href="/issues/{{issue.slug}}/solutions" class="btn btn-block btn-primary">Update Solution</a>
        </div>

        <div ng-show="issue.my_solution.submitted && !issue.my_solution.accepted">
          <h3 style="margin: 0;" class="text-center">Earn the Bounty</h3>
          <p class="text-info">Your solution has been submitted.</p>
          <a ng-href="/issues/{{issue.slug}}/solutions" class="btn btn-block btn-info">Check Status</a>
        </div>

        <div ng-show="issue.my_solution.accepted && !issue.my_solution.paid_out">
          <h3 style="margin: 0;" class="text-center">Earn the Bounty</h3>
          <p class="text-success">Your solution was accepted!</p>
          <a ng-href="/issues/{{issue.slug}}/solutions" class="btn btn-block btn-large btn-success">Claim Bounty</a>
        </div>

        <div ng-show="issue.my_solution.accepted && issue.my_solution.paid_out">
          <h3 style="margin: 0;" class="text-center">Earn the Bounty</h3>
          <p class="text-success">You have claimed the bounty on this issue. Good work!</p>
          <a ng-href="/issues/{{issue.slug}}/solutions" class="btn btn-block">View Solution</a>
        </div>
      </div>
    </div>

    <div ng-hide="issue.my_solution">
      <div class="text-center">
        <p>Working on a solution to this issue? Let us know! If your solution is accepted, you are awarded the bounty.</p>
      </div>

      <button ng-click="issue.create_solution()" class="btn btn-block">Start Work</button>
    </div>
  </div>
</div>

