<div ng-show="issue.can_add_bounty" ng-switch="developer_goal">
  <div ng-switch-when="false">
    <h4 class="text-center">Bounty too low?</h4>
    <p>Set a goal so the community has a bounty target. Get notified when the bounty reaches your goal!</p>
    <div class="controls-row">
      <input type="number" ng-model="developer_goal.amount" value="{{developer_goal.amount}}" placeholder="$400" class="span6" />
      <button ng-click="create_developer_goal(developer_goal.amount)" class="btn btn-primary span6">Set Goal</button>
    </div>
  </div>
  <div ng-switch-default>
    <h4 class="text-center">Your Current Goal</h4>
    <form ng-submit="update_developer_goal(developer_goal.amount)">
      <div class="row-fluid">
        <div class="input-prepend span6">
          <span class="add-on">$</span>
          <input type="number" ng-model="developer_goal.amount" value="{{developer_goal.amount}}" class="span9" />
        </div>
        <div class="span6">
          <button type="submit" class="btn btn-primary">Update Goal</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="alert alert-success" ng-show="developer_goal_updated">
  <button type="button" class="close" ng-click="hide_developer_goal_alert()">
    <i class="icon-remove"></i>
  </button>
  Your goal has been set!
</div>

<div ng-show="developer_goal && !issue.can_add_bounty">
  <h4 class="text-center">Your Current Goal</h4>
  <div class="row-fluid">
    <div class="input-prepend span6">
      <input type="number" ng-model="developer_goal.amount" value="{{developer_goal.amount}}" disabled/>
    </div>
  </div>
</div>
