<ul class="nav nav-tabs" ng-controller="IssueNavTabsController">
  <li ng-class="active_tab('overview')"><a ng-href="/issues/{{issue.slug}}">Overview</a></li>
  <li ng-class="active_tab('bounties')"><a ng-href="/issues/{{issue.slug}}/bounties">
    Bounties
    <span class="badge badge-info" ng-show="issue.bounties.length > 0">{{issue.bounties.length}}</span>
  </a></li>
  <li ng-class="active_tab('claims')" ng-show="issue.bounty_total > 0 && (!issue.can_add_bounty || issue.generic)"><a ng-href="/issues/{{issue.slug}}/claims">
    Claims
    <span class="badge badge-info" ng-show="issue.bounty_claims.length > 0">{{issue.bounty_claims.length}}</span>
  </a></li>
  <li ng-class="active_tab('bounty')" ng-show="issue.can_add_bounty"><a ng-href="/issues/{{issue.slug}}/bounty">
    Place Bounty
    <span class="badge badge-info" ng-show="issue.bounty_claims.length > 0">{{issue.bounty_claims.length}}</span>
  </a></li>
  <li ng-class="active_tab('receipts')" ng-show="receipts.length > 0"><a ng-href="/issues/{{ issue.slug }}/receipts"><i class="icon-lock"></i> Receipts</a></li>
</ul>
