<div class="alert alert-info" ng-hide="issue.solutions.length > 0">
  No solutions have been submitted.
</div>

<table id="solutions-table" class="table table-striped" ng-show="issue.solutions.length > 0">
  <tr ng-repeat="solution in issue.solutions" ng-class="row_class_for_solution(solution)" ng-init="set_status_for_solution(solution)">
    <td>
      <img class="thumbnail" src="{{ solution.person.image_url }}" />
    </td>

    <td class="solution-label-cell">
      <span ng-show="status_for_solution(solution) == 'started'" class="label">Started</span>
      <span ng-show="status_for_solution(solution) == 'pending_merge'" class="label label-warning">Pending Merge</span>
      <span ng-show="status_for_solution(solution) == 'in_dispute_period'" class="label label-warning">In Dispute Period</span>
      <span ng-show="status_for_solution(solution) == 'disputed'" class="label label-error">Disputed</span>
      <span ng-show="status_for_solution(solution) == 'rejected'" class="label label-error">Rejected</span>
      <span ng-show="status_for_solution(solution) == 'accepted'" class="label label-success">Accepted</span>
    </td>

    <td class="solution-content-cell">
      <div ng-show="status_for_solution(solution) == 'started'">
        <div class="well" style="margin-bottom: 0;">
          <p class="lead text-info">
            Solution started
          </p>

          <p>
            When the developer is ready, they will mark their solution as disputed and this will be updated.
          </p>
        </div>
      </div>

      <div ng-show="status_for_solution(solution) == 'pending_merge'">
        <div class="well" style="margin-bottom: 0;">
          <p class="lead text-warning">
            Solution submitted
          </p>

          <p>
            Waiting for the solution to be merged by the project committers.
          </p>
        </div>
      </div>

      <div ng-show="status_for_solution(solution) == 'in_dispute_period'">
        <div class="well" style="margin-bottom: 0;">
          <p class="text-info">
            Solution merged
          </p>

          <p>
            The solution has been merged into thje project, and is now in a two week dispute period, ending on <strong>{{ solution.dispute_period_end_date | date:'medium' }}</strong>.
            If the solution has no outstanding disputes after that date, it will be accepted and the bounty will be awarded to <a href="/people/{{ solution.person.slug }}">{{ solution.person.display_name }}'s</a>.
          </p>
        </div>
      </div>

      <div ng-show="status_for_solution(solution) == 'disputed'">
        <div class="well" style="margin-bottom: 0;">
          <p class="text-error">
            Solution disputed
          </p>

          <p>
            One or more of the backers have disputed this solution. The solution cannot be accepted until all disputes have been resolved.
            If you would like to join the discussion regarding this solution, refer to the <a href="{{issue.url}}" target="_blank">issue comments</a>.
          </p>
        </div>
      </div>

      <div ng-show="status_for_solution(solution) == 'rejected'">
        <div class="well" style="margin-bottom: 0;">
          <p class="text-error">
            Solution rejected
          </p>

          <p>
            The project committers have rejected this solution, and it cannot win the bounty.
          </p>
        </div>
      </div>

      <div ng-show="status_for_solution(solution) == 'accepted'">
        <div class="well" style="margin-bottom: 0;">
          <p class="text-success">
            Solution accepted
          </p>

          <p>
            The solution was merged by the project, and has been awarded the bounty! Way to go
            <strong><a href="/people/{{ solution.person.slug }}">{{ solution.person.display_name }}</a></strong>!
          </p>
        </div>
      </div>
    </td>
  </tr>
</table>

