<div ng-controller="SolutionsBaseController" ng-show="solutions.length > 0" style="padding-top:0px;padding-bottom:0px;">
  <!-- <h4 class="text-center">Recent Developer Work</h4> -->
  <h4 class="text-center"><ng-pluralize count="solutions.length" when="{'one': '1 Developer Working', 'other': '{} Developers Working'}"></ng-pluralize></h4>
  <table class="table top-backers-table" style="margin-bottom:10px;">
    <tr ng-repeat="solution in solutions | orderBy:'-status.created_at'| limitTo:4">
      <!--Profile picture. No link if anon-->
      <td style="width: 50px">
        <div>
          <div>
            <a class="thumbnail">
              <img style="width: 50px; max-width: 50px; height: 50px" ng-src="{{solution.person.image_url}}" />
            </a>
          </div>
        </div>
      </td>

      <td>
        <div>
          <span><a ng-href="/people/{{solution.person.slug}}">{{solution.person.display_name}}</a></span>
        </div>
        <div ng-switch="solution.status.type">
          <span ng-switch-when="SolutionEvent::Started" class="label label-info">Started Solution</span>
          <span ng-switch-when="SolutionEvent::CheckIn" class="label label-info">Checked In</span>
          <span ng-switch-when="SolutionEvent::Stopped" class="label label-important">Stopped Working</span>
          <span ng-switch-when="SolutionEvent::Idle" class="label label-warning">Went Idle</span>
          <span ng-switch-when="SolutionEvent::Completed" class="label label-success">Finished</span>
          <span ng-switch-default></span>
        </div>
        <div class="muted">{{ solution.status.created_at | date }}</div>
      </td>
    </tr>
  </table>
</div>
