<div modal="$$showModal">
  <div class="modal-header">
    <h4>Authorize the Bountysource GitHub Plugin</h4>
  </div>
  <div class="modal-body">
    <p>The plugin requires write permission to your GitHub repositories. We only modify the repositories for which you enable the plugin.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="closeModal()">Close</button>
    <button class="btn btn-primary" ng-click="performOauthDance()">Authorize</button>
  </div>
</div>