@mixin declare-font-face($path, $font-family, $font-filename, $svg, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: font-url('#{$path}/#{$font-filename}.eot');
    src: font-url('#{$path}/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
         font-url('#{$path}/#{$font-filename}.woff') format('woff'),
         font-url('#{$path}/#{$font-filename}.ttf') format('truetype'),
         font-url('#{$path}/#{$font-filename}.svg##{$svg}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include declare-font-face('montserrat', 'Montserrat', 'montserrat-thin-webfont', 'montserratthin', 100);

@include declare-font-face('montserrat', 'Montserrat', 'montserrat-ultraight-webfont', 'montserratultra_light', 200);
@include declare-font-face('montserrat', 'Montserrat', 'montserrat-light-webfont', 'montserratlight', 300);

@include declare-font-face('montserrat', 'Montserrat', 'montserrat-regular-webfont', 'montserratregular', normal);

@include declare-font-face('montserrat', 'Montserrat', 'montserrat-medium-webfont', 'montserratmedium', 500);

@include declare-font-face('montserrat', 'Montserrat', 'montserrat-semibold-webfont', 'montserratsemi_bold', 600);
@include declare-font-face('montserrat', 'Montserrat', 'montserrat-bold-webfont', 'montserratbold', bold);
@include declare-font-face('montserrat', 'Montserrat', 'montserrat-extrabold-webfont', 'montserratextra_bold', bolder);

@include declare-font-face('montserrat', 'Montserrat', 'montserrat-black-webfont', 'montserratblack', 900);