<div class="container">
  <ng-include src="'salt/teams/_tabs.html'"></ng-include>

  <div class="row mt-5">
    <div class="col-md-8">

      <h3 class="hidden-md	hidden-lg">Project Description</h3>

      <!-- default content -->
      <div ng-hide="markdown_preview || youtube_video_url || (team.support_offering && team.support_offering.rewards.length>0)">
        <h3>Welcome to the crowdfunding page for {{team.name}}</h3>
        <p>Contributions will go into the team’s account and can be used for bounties immediately, or withdrawn by the team as needed. If you enjoy {{team.name}}'s work and want to show your support every dollar helps!</p>

        <div ng-show="team.bio || team.url">
          <h3>More Information</h3>
          <p ng-show="team.bio">{{team.bio}}</p>
          <p ng-show="team.url">URL: <a ng-href="{{team.url}}">{{team.url}}</a></p>
        </div>
      </div>

      <div>
        <div ng-show="youtube_video_url">
          <!-- <h3>Overview Video</h3> -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe ng-src="{{youtube_video_url}}"></iframe>
          </div>
        </div>

        <target-blank model="markdown_preview">
          <div btf-markdown="markdown_preview" class="markdown markdown-small-headers"></div>
        </target-blank>
      </div>
    </div>
    <div class="col-md-4 text-center">

      <h4 class="header-underline-emphasize" ng-show="(members | filter:{ is_public: true }).length > 0">Team Members</h4>
      <div class="row">
        <div class="col-md-6 col-sm-2 col-xs-4" ng-repeat="member in members | filter:{ is_public: true } | orderBy:'+added_at'">
          <span class="text-center" tooltip="{{member.display_name}}" tooltip-placement="bottom">
            <img ng-src="{{member.medium_image_url}}" class="img-circle img-responsive center-block mt-5" style="max-width: 75px;">
            <div class="text-center">{{member.display_name}}</div>
          </span>
        </div>
      </div>

      <div ng-show="team.support_offering.goals.length > 0" class="team-monthly-goals mt-5">
        <h4 class="header-underline-emphasize">Monthly Goals</h4>
        <div ng-repeat="goal in team.support_offering.goals | orderBy:'amount'" class="mt-4" style="overflow: hidden" ng-class="{ surpassed: goal.amount <= team.monthly_contributions_sum }">
          <p class="font-weight-medium">
            <span class="glyphicon glyphicon-ok" style="margin-right: 6px" ng-show="goal.amount <= team.monthly_contributions_sum"></span>
            <span>{{goal.title}}</span>
            <span>{{goal.amount | dollars}}</span>
          </p>
          <p class="mt-3">{{goal.description}}</p>
        </div>

        <div class="text-muted mt-3" ng-show="team.support_offering.extra.goals_fine_print">
          <target-blank model="team.support_offering.extra.goals_fine_print">
            <span class="glyphicon glyphicon-info-sign pull-left" style="padding:2px 5px 0 0"></span> <em btf-markdown="team.support_offering.extra.goals_fine_print"></em>
          </target-blank>
        </div>
      </div>

      <div ng-show="team.support_offering.rewards.length > 0" class="mt-5">
        <h3 class="header-underline-emphasize">Rewards</h3>
        <div>
          <div class="reward-list">
            <a ng-repeat="reward in team.support_offering.rewards | orderBy:'amount'" ui-sref="root.checkout.amount({ team: team.slug, reward_id: reward.id })" class="gunmetal-link">
              <div class="mt-4">
                <p>
                  {{reward.amount|dollars}} per month - {{reward.title}}
                  <span ng-show="reward.active_support_levels_count>0">({{reward.active_support_levels_count}} active)</span>
                </p>
                <p class="mt-3 font-weight-regular">{{reward.description}}</p>
              </div>
            </a>
          </div>

          <div class="text-muted" style="margin-top: 15px;" ng-show="team.support_offering.extra.rewards_fine_print">
            <target-blank model="team.support_offering.extra.rewards_fine_print">
              <span class="glyphicon glyphicon-info-sign pull-left" style="padding:2px 5px 0 0"></span> <em btf-markdown="team.support_offering.extra.rewards_fine_print"></em>
            </target-blank>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
