<div class="container">
  <ng-include src="'salt/teams/_support_header_title.html'"></ng-include>
  <p> This team is not enabled for Salt (monthly donations). Do you want to visit the team page on the regular site instead?</p>

  <a ng-href="{{team_www_url}}">{{ team_www_url }}</a>
</div>