<div class="text-center">
  <br>
  <button class="btn btn-default" style="width:150px; height:45px;" ng-click="openFacebook(facebook_url)"><img style="width:16px; height:16px" src="images/facebook_share_32.png"><strong style="margin-left:10px">Facebook</strong></button>

  <a ng-href="https://www.twitter.com/intent/tweet?text={{ tweet_text }}&url={{ tweet_url }}" style="text-decoration:none;">
    <button class="btn btn-default" style="width:150px; height:45px; margin-right:20px; margin-left:20px"><img style="width:16px; height:16px" src="images/bird_blue_32.png"><strong style="margin-left:10px">Tweet</strong></button>
  </a>

  <button class="btn btn-default" style="width:150px; height:45px;" ng-click="openGooglePlus(google_url)"><img style="width:16px; height:16px" src="images/gplus-32.png"><strong style="margin-left:10px">Google+</strong></button>
</div>