%div{"ng-show" => "metamaskAccount != null && (wallets | filter: {verified: true}).length > 0"}
  // CURRENT METAMASK ACCOUNT VERIFIED BEGIN
  %div{"ng-show" => "(wallets | filter: {eth_addr: metamaskAccount}).length > 0"}
    %div
      .text-left.text-muted I want to pay with:
      %div.mt-3.font-weight-semibold
        %button.btn.btn-rounded.btn-default.btn-sm{"ng-click" => "setCrypto('ETH')",  "ng-class" => "{'btn-cool-grey': isSelectedCrypto('ETH')}"} ETH
        %button.btn.btn-rounded.btn-default.btn-sm{"ng-click" => "setCrypto('BTC')",  "ng-class" => "{'btn-cool-grey': isSelectedCrypto('BTC')}"} BTC
        %button.btn.btn-rounded.btn-default.btn-sm{"ng-click" => "setCrypto('CAN')",  "ng-class" => "{'btn-cool-grey': isSelectedCrypto('CAN')}"} CAN
      %div.mt-3.font-weight-semibold
        %button.btn.btn-rounded.btn-default.btn-sm{"ng-click" => "setCrypto(null)", "ng-class" => "{'btn-cool-grey': isMiscCrypto(selectedCrypto) }"} OTHER ERC20

    %div.mt-5{"ng-if" => "isSelectedCrypto('CAN')"}
      .text-left.text-muted
        Contribution Amount
      %div.mt-3.font-weight-semibold
        %button.btn.btn-rounded.btn-light-blue-inverse.btn-sm{"ng-click" => "setAmount('100')"} 100 CAN
        %button.btn.btn-rounded.btn-light-blue-inverse.btn-sm{"ng-click" => "setAmount('200')"} 200 CAN
        %button.btn.btn-rounded.btn-light-blue-inverse.btn-sm{"ng-click" => "setAmount('500')"} 500 CAN
    %div.mt-5{"ng-if" => "isSelectedCrypto('ETH')"}
      .text-left.text-muted
        Contribution Amount
      %div.mt-3.font-weight-semibold
        %button.btn.btn-rounded.btn-light-blue-inverse.btn-sm{"ng-click" => "setAmount('0.25')"} 0.25 ETH
        %button.btn.btn-rounded.btn-light-blue-inverse.btn-sm{"ng-click" => "setAmount('0.5')"} 0.5 ETH
        %button.btn.btn-rounded.btn-light-blue-inverse.btn-sm{"ng-click" => "setAmount('1')"} 1 ETH

    %div.mt-5
      %div{"ng-if" => "!isSelectedCrypto('BTC')" }
        .crypto-token-options
          %input.form.form-control.input-borderless{"placeholder" => "enter amount", "ng-model" => "bounty.amount"}
          %div
            %button#cryptoSelect.btn.btn-borderless.btn-default.font-weight-semibold.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button", "style" => "height: 100%"}
              %span.font-8{"ng-if" => "isSelectedCrypto(null)"} SELECT ERC20 TOKEN
              %span{"ng-if" => "!isSelectedCrypto(null)"} {{ bounty.token }}
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "cryptoSelect", "style" => "min-width: 0;"}
              %li{"ng-repeat" => "currency in currencies"}
                %a{"ng-click" => "setCrypto(currency.symbol)"}
                  %span{"ng-if" => "currency.symbol === 'ETH'"}
                    = image_tag 'icons/icon_ethereum.svg', style: 'width: 18px;'
                  %span{"ng-if" => "currency.symbol === 'CAN'"}
                    = image_tag 'icons/icon_canya.svg', style: 'width: 18px;'
                  %span
                    {{ currency.symbol }}
        %hr.my-0{"style" => "height: 2px;"}
        %small.pull-right{"ng-class" => "{'text-danger': !canPostBounty()}"} ~ {{ cryptoBountyTotal() | number: 0 }} USD
      %div{"ng-if" => "isSelectedCrypto('BTC')" }
        .text-muted BTC contributions unavailable

    %div.mt-5
      %button.btn.btn-light-blue.btn-responsive.py-3{"ng-disabled" => "!canPostBounty()", "ng-click" => "generate_address(issue.id)" } POST THIS BOUNTY
      %small.text-muted
        Minimum ≈ $5
  // CURRENT METAMASK ACCOUNT VERIFIED END
  // CURRENT METAMASK ACCOUNT UNVERIFIED BEGIN
  %div{"ng-show" => "(wallets | filter: {eth_addr: metamaskAccount}).length === 0"}
    %div
      .text-center Your current metamask account is unverified! Switch to a verified account OR
      .mt-5
        %button.btn.btn-light-blue.btn-responsive{"ng-click" => "goToProfilePage()"}
          Verify current addresss

%div{"ng-show" => "metamaskAccount != null && (wallets | filter: {verified: true}).length === 0"}
  %div
    .text-center You need to have a verified wallet to be the first backer!
    .mt-5
      %button.btn.btn-light-blue.btn-responsive{"ng-click" => "goToProfilePage()"}
        Verify your ETH address

%div{"ng-show" => "metamaskAccount == null"}
  %div
    .text-center You'll need metamask switched on to be the first contributor.