<ng-form name="proposalCreateForm" class="form-horizontal">
  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <p class="form-control-static">
        <strong>{{requestForProposal.team.name}}</strong>
        is seeking developers to solve this issue.
        <!-- TODO: more text for the paragraph above from @rappo -->
      </p>
      <p class="form-control-static" ng-if="requestForProposal.budget">Budget: {{requestForProposal.budget | dollars}}</p>
      <p class="form-control-static" ng-if="requestForProposal.due_date">Needed by: {{requestForProposal.due_date | date}}</p>
      <p class="form-control-static" ng-if="requestForProposal.abstract" style="white-space: pre-wrap;">Notes: {{requestForProposal.abstract}}</p>
    </div>
  </div>

  <!-- Proposal amount -->
  <div class="form-group" ng-class="{ 'has-error': proposalCreateForm.amount.$invalid }">
    <label class="control-label col-md-3">Cost:</label>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon"><currency-unit></currency-unit></span>
        <!--<input name="amount" type="number" class="form-control" ng-model="myProposal.amount" placeholder="Amount" required />-->
        <input class="form-control" currency-amount="myProposal.amount" currency-iso="myProposal.currency_iso" currency-input required />
      </div>
    </div>
  </div>

  <!-- Proposal delivery date -->
  <div class="form-group">
    <label class="control-label col-md-3">Completed by:</label>
    <div class="col-md-3">
      <input name="dueDate" class="form-control" placeholder="YYYY-MM-DD"
             ng-model="myProposal.completed_by"
             datepicker-popup />
    </div>
  </div>

  <!-- Bio - explain why you are qualified -->
  <div class="form-group">
    <label class="control-label col-md-3">Notes:</label>
    <div class="col-md-6">
      <textarea name="dueDate" class="form-control" rows="5" ng-model="myProposal.bio"
                placeholder="Provide details on why {{requestForProposal.team.name}} should select you. Prior history with the project, type of work, etc.">
      </textarea>
    </div>
  </div>

  <!-- Submit new proposal button -->
  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <button type="submit" class="btn btn-primary" ng-disabled="proposalCreateForm.$invalid" ng-click-require-auth="saveProposal()">Submit Proposal</button>
    </div>
  </div>
</ng-form>
