%div{"ng-switch" => "renderAction", "ng-show" => "rfpAuthorizationResolved"}

  %div{"ng-switch-when" => "show_dev_goals"}
    / TODO: hide backer_dev_tools and dev_goal_notification when proposals are going

  .well{"ng-switch-when" => "show_proposal_accepted"}
    .row
      .col-xs-12.text-center
        %h4 A proposal has been accepted by {{ issue.team.display_name }}.

  .well{"ng-switch-when" => "show_admin_create_request_for_proposal"}
    .row
      .col-xs-12.col-sm-8.text-center
        %h4 Find a developer to solve this issue
      .col-xs-12.col-sm-4
        %a.btn.btn-block.btn-lg.btn-success{"ng-href" => "/issues/{{ issue.slug }}/proposals"}
          Request Proposals!

  .well{"ng-switch-when" => "show_admin_no_proposals"}
    .row
      .col-xs-12.text-center
        %h4 No proposals have been submitted.

  .well{"ng-switch-when" => "show_admin_pending_proposals"}
    .row
      .col-xs-12.col-sm-8.text-center
        %h4 You have pending Proposals for this issue.
      .col-xs-12.col-sm-4
        %a.btn.btn-block.btn-lg.btn-success{"ng-href"=>"/issues/{{ issue.slug }}/proposals"}
          Respond Now

  .well{"ng-switch-when" => "show_admin_no_pending_proposals"}
    .row
      .col-xs-12.text-center
        %h4{"ng-if" => "!requestForProposal.pendingFulfillment()"} No proposals are pending.

  .well{"ng-switch-when" => "show_user_proposal_status"}
    .row
      .col-xs-12.text-center
        %h4{"ng-if" => "myProposal.isPending() || myProposal.isPendingAppointment()"} Your proposal has been submitted and is pending review.
        %h4{"ng-if" => "myProposal.isRejected()"} Your proposal has been rejected.
        %h4{"ng-if" => "myProposal.isAccepted()"} Your proposal has been accepted!
        %h4{"ng-if" => "myProposal.isPendingApproval()"} Your proposal is under final review.

  .well{"ng-switch-when" => "show_user_requesting_proposals"}
    .row
      .col-xs-12.col-sm-8.text-center
        %h4 {{ requestForProposal.team.name }} is looking for a developer to take on this issue.
      .col-xs-12.col-sm-4
        %a.btn.btn-block.btn-lg.btn-success{"ng-href" => "/issues/{{ issue.slug }}/proposals"} Submit a Proposal!


