<div ng-controller="IssueBountiesController">
  <div ng-include="'app/issues/templates/breadcrumb.html'"></div>

  <div class="row" ng-show="issue">
    <div class="col-sm-9 col-md-9">
      <div ng-include="'app/issues/templates/header.html'"></div>
      <div ng-include="'app/issues/templates/developer_goals_notification.html'"></div>
      <div ng-include="'app/issues/templates/nav_tabs.html'"></div>

      <div class="alert alert-info" ng-hide="issue.bounties.length > 0">
        No bounties have been placed.
      </div>

      <div ng-show="issue.bounties.length > 0">
        <table id="bounties-table" class="table table-striped">
          <thead>
          <tr>
            <th><a ng-click="sort_by('person.display_name')">Backer</a></th>
            <th></th>
            <th><a ng-click="sort_by('amount')">Amount</a></th>
            <th><a ng-click="sort_by('created_at')">Date</a></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="bounty in issue.bounties | orderBy:sort_column:sort_reverse">
            <td>
              <div ng-show="bounty.person">
                <a owner-href="bounty.person"><img class="thumbnail no-margin" ng-src="{{ bounty.person.image_url }}"></a>
              </div>
              <img ng-hide="bounty.person" class="thumbnail no-margin" src="images/anon.jpg">
            </td>
            <td>
              <a owner-href="bounty.owner">{{bounty.owner.display_name}}</a>
              <div ng-hide="bounty.person">Anonymous</div>
            </td>
            <td>
              <div><strong>{{ bounty.amount | dollars }}</strong></div>
            </td>
            <td>
              <div class="text-muted">{{ bounty.created_at | date }}</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-3 col-md-3">
      <div ng-include="'app/issues/templates/bounty_box.html'"></div>
      <div ng-include="'app/issues/templates/solutions_box.html'" ng-show="issue.can_add_bounty"></div>
      <div ng-include="'app/issues/templates/claim_info_box.html'" ng-hide="issue.can_add_bounty"></div>
    </div>
  </div>
</div>
