<div ng-controller="CreateBountyController">
  <div ng-include="'app/issues/templates/breadcrumb.html'"></div>

  <div class="row" ng-show="issue" ng-controller="CreateBountyController">
    <div class="col-sm-12 col-md-12">
      <div ng-include="'app/issues/templates/header.html'"></div>
      <div ng-include="'app/issues/templates/nav_tabs.html'"></div>

      <loading-bar ng-show="processing_payment">Processing payment...</loading-bar>

      <div ng-show="alert.message">
        <alert type="alert.type" close="alert.message = undefined">{{alert.message}}</alert>
      </div>

      <div ng-hide="processing_payment">
        <div ng-show="error">
          <alert type="'danger'" close="error = null">{{error}}</alert>
        </div>

        <form name="form" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-md-2">Payment Method:</label>
            <div class="col-md-10">
              <checkout-method-radios value="bounty.checkout_method" person="current_person"></checkout-method-radios>
            </div>
          </div>

          <div class="form-group">
            <label for="amount" class="control-label col-md-2">Bounty Amount:</label>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input id="amount" type="number" step="0.01" ng-change="update_bounty_total()" ng-model="bounty.amount" placeholder="15" required="" class="form-control">
              </div>
            </div>
          </div>

          <div>
            <div class="form-group">
              <label class="control-label col-md-2">
                <div>Bounty Expiration:</div>
                <div><small class="text-muted"><em>Optional</em></small></div>
              </label>
              <span ng-switch="expiration">
                <div class="col-md-10" ng-switch-when="0">
                  <ng-include src="'app/issues/templates/options/expiration_up.html'"></ng-include>
                </div>
                <div class="col-md-10" ng-switch-when="1">
                  <ng-include src="'app/issues/templates/options/expiration_down.html'"></ng-include>
                </div>
              </span>
            </div>

            <div collapse="!bounty.bounty_expiration || bounty.bounty_expiration == 'never'">
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <h5>When the bounty expires...</h5>
                  <div ab-randomize="" ng-include="'app/issues/templates/options/upon_expiration.html'" onload="broadcastLoad()"></div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">
                <div>Promotion:</div>
                <div><small class="text-muted"><em>Optional</em></small></div>
              </label>
              <div class="col-md-10">
                <div ab-randomize="" ng-include="'app/issues/templates/options/promotion.html'" onload="broadcastLoad()"></div>
                <div collapse="!bounty.promotion">
                  <a class="btn btn-default btn-sm" ng-click="bounty.promotion = undefined">
                    <i class="glyphicon glyphicon-remove"></i>
                    No promotion
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <div class="checkbox"><label class="">
                <input type="checkbox" ng-model="bounty.anonymous" ng-disabled="!can_make_anonymous" ng-checked="can_make_anonymous && bounty.anonymous">
                <span ng-class="{ 'text-muted': !can_make_anonymous }">Post anonymously</span>
                <small class="text-info" ng-show="!can_make_anonymous">* Team bounties cannot be anonymous</small>
              </label></div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <button ng-click="create_payment()" ng-hide="previous_bounty_total > 0" type="submit" class="btn btn-primary btn-lg" ng-disabled="form.$invalid">
                <span>Post {{bounty.amount || 0 | dollars}} Bounty</span>
              </button>

              <button type="submit" ng-click="create_payment()" ng-show="previous_bounty_total > 0" class="btn btn-primary btn-lg" ng-disabled="form.$invalid" tooltip="You previously posted a {{previous_bounty_total | dollars}} Bounty" tooltip-placement="right">
                <span>Increase Bounty by {{bounty.amount | dollars}}</span>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2">
              <div class="checkbox"><label class="" ng-show="!issue.tracker.followed">
                <input type="checkbox" ng-model="following">
                <span>Follow {{issue.tracker.name}}?</span>
              </label></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
