<span>
  <i class="glyphicon glyphicon-signal" style="overflow: hidden; opacity: 0.2"></i>
  <i class="glyphicon glyphicon-signal" style="overflow: hidden; margin-left: -19px" ng-show="percent >= 70"></i>
  <i class="glyphicon glyphicon-signal" style="overflow: hidden; width: 11px; margin-left: -19px" ng-show="percent >= 40 && percent < 70"></i>
  <i class="glyphicon glyphicon-signal" style="overflow: hidden; width: 8px; margin-left: -19px" ng-show="percent >= 20 && percent < 40"></i>
  <i class="glyphicon glyphicon-signal" style="overflow: hidden; width: 5px; margin-left: -19px" ng-show="percent < 20"></i>
</span>
