%div{"ng-class" => "{ 'bountysource-thumbs-box-mini': thumbsUpSize==='small', 'bountysource-thumbs-box': thumbsUpSize==='large', 'has-thumbed-up': issue.has_thumbed_up, 'thumbs-at-zero': issue.thumbs_up_count===0 }"}
  .thumb-wrapper{ "ng-click"=>"thumbClicked()" }>
  .info-wrapper 
    %span.font-weight-medium {{issue.thumbs_up_count}}
    %br
    %span likes
