<div class="row signin-button-grid p-5" ng-controller="SessionButtons">
  <div class="col-xs-4">
    <a ng-click="link_with_provider('github')">
      <%= image_tag("icons/icon_github.svg") %>
    </a>
  </div>
  <div class="col-xs-4">
    <a ng-click="link_with_provider('twitter')">
      <%= image_tag("icons/icon_twitter.svg") %>
    </a>
  </div>
  <div class="col-xs-4">
    <a ng-click="link_with_provider('facebook')">
      <%= image_tag("icons/icon_facebook.svg") %>
    </a>
  </div>
</div>

<h4 class="text-center mt-5 mb-5">Or</h4>