<div class="row signin-button-grid" ng-controller="SessionButtons">
  <div class="col-xs-4">
    <button ng-click="link_with_provider('github')" class="btn btn-github btn-block btn-lg">
      <%= image_tag("icons/icon_github.svg") %>
    </button>
  </div>
  <div class="col-xs-4">
    <button ng-click="link_with_provider('twitter')" class="btn btn-twitter btn-block btn-lg">
      <%= image_tag("icons/icon_twitter.svg") %>
    </button>
  </div>
  <div class="col-xs-4">
    <button ng-click="link_with_provider('facebook')" class="btn btn-facebook btn-block btn-lg">
      <%= image_tag("icons/icon_facebook.svg") %>
    </button>
  </div>
</div>

<h4 class="text-center mt-5 mb-5">Or</h4>