<div class="control-group">
  <label class="control-label" for="name">Name:</label>
  <div class="controls">
    <input id="name" type="text" class="input-medium" ng-model="form_data.name" placeholder="Bountysource Inc." />
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="slug">Custom URL:</label>
  <div class="controls">
    <span class="muted">bountysource.com/companies/</span> <input id="slug" type="text" ng-model="form_data.slug" />
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="image_url">Logo URL:</label>
  <div class="controls">
    <input id="image_url" type="url" ng-model="form_data.image_url" class="input-xlarge" placeholder="https://www.bountysource.com/logo.png" />
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="url">Homepage:</label>
  <div class="controls">
    <input id="url" type="url" ng-model="form_data.url" class="input-large" placeholder="https://www.bountysource.com/" />
  </div>
</div>

<!--<div class="control-group">-->
  <!--<label class="control-label" for="image_url">Twitter:</label>-->
  <!--<div class="controls">-->
    <!--<div class="input-prepend">-->
      <!--<span class="add-on">@</span>-->
      <!--<input id="twitter" type="url" ng-model="form_data.twitter" class="input-medium" placeholder="Bountysource" />-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="control-group">-->
  <!--<label class="control-label" for="image_url">Facebook:</label>-->
  <!--<div class="controls">-->
    <!--<div class="input-prepend">-->
      <!--<input id="facebook" type="url" ng-model="form_data.facebook" class="input-medium" placeholder="Bountysource" />-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
