<div>
  <div class="text-center" style="margin: 10px 0 40px 0;">
    <h1><strong>Get bugs fixed. Get features added.</strong></h1>
    <h2>Accelerate open-source development with our community of {{people_count.total | number}} members.</h2>
  </div>

  <br />

  <div class="row">
    <div class="col-md-8 col-sm-9">
      <ul class="nav nav-tabs">
        <li class="active"><a>Top Projects</a></li>
        <li><a ng-href="/bounties/search">Bounty Search</a></li>
      </ul>

      <div class="row">
        <!-- Top Fundraisers -->
        <div class="col-md-6 col-sm-6">
          <a ng-repeat="fundraiser in fundraisers | orderBy:'-created_at' | slice:0:6" ng-href="/fundraisers/{{fundraiser.slug}}">
            <div class="row homepage-card">
              <div class="col-md-3 col-xs-2">
                <img class="img-responsive" ng-src="{{fundraiser.large_image_url}}" />
              </div>
              <div class="col-md-9 col-xs-10">
                <h4>{{fundraiser.title}}</h4>
                <p class="text-muted">{{fundraiser.short_description}}</p>
                <p class="raised">{{fundraiser.total_pledged | dollars}} raised</p>
              </div>
            </div>

            <br ng-if="!$last" />
          </a>

          <div class="text-center">
            <a class="btn btn-link" href="/fundraisers">View more fundraisers »</a>
          </div>
        </div>

        <!-- Top Trackers -->
        <div class="col-md-6 col-sm-6">
          <a ng-repeat="tracker in trackers.slice(0,5) | orderBy:'-bounty_total'" ng-href="/trackers/{{tracker.slug}}">
            <div class="row homepage-card">
              <div class="col-md-3 col-xs-2">
                <img class="img-responsive" ng-src="{{tracker.large_image_url}}" />
              </div>
              <div class="col-md-9 col-xs-10">
                <h4>{{tracker.name}}</h4>
                <p class="text-muted">{{tracker.description}}</p>
                <p class="raised">{{tracker.bounty_total | dollars}} in bounties</p>
              </div>
            </div>

            <br ng-if="!$last" />
          </a>

          <div class="text-center">
            <a class="btn btn-link" href="/trackers">View more projects »</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-3">
      <!-- Post a bounty search form -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="text-center panel-title">Post a Bounty</h3>
        </div>

        <div class="panel-body text-center">
          <p>Paste issue URL or search by keyword.</p>

          <form class="form-inline" ng-submit="submit_search()">
            <div class="input-group">
              <input type="text" class="search-query form-control" ng-model="search_query" placeholder="https://github.com/.../issues/123">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Top backers, fibonizzle -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center panel-title">Top Backers</h3>
        </div>

        <ul class="top-backers">
          <li ng-repeat="person in topBackers">
            <a owner-href="person">
              <img ng-src="{{person.image_url_large}}" tooltip="{{person.display_name}} - {{person.amount | dollars}}" tooltip-placement="bottom" />
            </a>
          </li>
        </ul>
      </div>

      <!-- New Users, Top Developers -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center panel-title">Members</h3>
        </div>

        <div class="panel-body text-center">
          <ul class="list-inline">
            <li ng-repeat="person in people.new.slice(0,6)" tooltip-placement="bottom" tooltip="{{person.display_name}} -- {{person.created_at | date}}">
              <a owner-href="person" id="home-dev-{{person.id}}">
                <img class="thumbnail no-margin" style="width: 45px; height: 45px;" ng-src="{{person.image_url}}">
              </a>
            </li>
          </ul>

          <ul class="list-inline" style="margin-bottom: 0;">
            <li ng-repeat="person in people.developers.top.slice(0,6)" tooltip-placement="bottom" tooltip="{{person.display_name}} -- {{person.followers | number}} followers">
              <a owner-href="person" id="home-dev-{{person.id}}"><img class="thumbnail no-margin" style="width: 45px; height: 45px;" ng-src="{{person.image_url}}"></a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Create a Team -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center panel-title">Create a Team</h3>
        </div>

        <div class="panel-body">
          <h5 class="text-center">Grow and organize your open-source community or engineering team.</h5>
          <ul>
            <li>Crowdfund bounties on top issues.</li>
            <li>Project tools to encourage contributions.</li>
            <li>Set up a team bounty budget.</li>
          </ul>

          <div style="text-align: center">
            <a ng-href="/teams/new" class="btn btn-success">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>