#landing-page .issue-card {
	position: relative;
	box-shadow: 0 2px 4px 2px rgba(144, 164, 183, 0.22);
	background: white;
	border-radius: 6px;
	padding: 2em;
	margin-bottom: 2em;

	.issue-body {
		// utilities
		.url-dark {
			color: black;
			&:hover {
				color: #33ccff;
			}
		}

		.margin-0 {
			margin: 0;
		}

		.info-small {
			font-size: 12px;
			margin-right: 1em;
		}

		.icon {
			width: 1em;
			margin-right: 0.2em;
		}

		// main
		.tracker-info {
			display: flex;
			flex-flow: row wrap;
			align-content: space-between;

			.tracker-image-container, .tracker-image {
				width: 100%;
			}

			.tracker-name {
				margin-bottom: 0.5em;
				margin-top: 0.5em;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.issue-info {
			padding-left: 1em;

			.issue-title {
				font-weight: initial;
			}

			.issue-caption {
				margin-top: 0.2em;

				.issue-author {
					max-width: 35em;
				}
			}

			.issue-row {
				margin-top: 1em;
			}

			.issue-description {
				font-size: 12px;
				line-height: 1.6em;
				overflow: hidden;
				position: relative;
				margin-right: -1em;
				padding-right: 1em;

				.issue-see-more {
					color: #33ccff;
				}
			}
		}
	} // issue body END

	.issue-bounty {
		position: absolute;
		right: -0.2px; // cover gap between bounty and issue-body background
		bottom: 0;

		background-color: #485f64;
		color: white;

		min-width: 20%;
		min-height: 3em;
		border-bottom-right-radius: 6px;

		font-size: 18px;
		padding: 0.2em 0;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.issue-bounty-text {
			justify-content: center;
			text-align: center;
			margin: 0 2em;
		}
	}
}