#landing-page .sidebar-section {
	> section {
		padding-bottom: 3em;
		margin-bottom: 3em;
		border-bottom: solid 1px #E0E0E0;
		font-size: 13px;
	}

	.post-bounty-cta {
		.cta-title {
			color: black;
			margin-top: 0;
		}

		.btn:not(:first-child) {
			margin-top: 10px;
		}
	}

	.section-title {
		margin-bottom: 20px;
	}
}