.issue-card {
  position: relative;
}

.issue-body {
  background: white;
  border-radius: 2px;
  padding: 2em;
  margin-bottom: 2em;
}

/*tracker-info*/
.issue-body .tracker-info .tracker-name {
  margin-top: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.issue-body .tracker-info .tracker-image {
  width: 100%;
}

/*issue-info*/
.issue-body .issue-info .issue-title {
  margin: 0;
}

.issue-body .icon {
  width: 1em;
  margin-right: 0.2em;
}

.issue-body .issue-info .issue-author, .issue-created-at, .issue-created-at {
  margin-right: 1em;
}

.issue-spacing-top {
  margin-top: 0.5em;
}

/*http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/*/
.issue-body .issue-info .issue-description {
  overflow: hidden;
  position: relative;
  line-height: 1.5em;
  max-height: 4.5em; /* only show 3 lines */
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.issue-body .issue-info .issue-description:before {
  content: '...';
  position: absolute;
  right: 1em;
  bottom: 0;
  background-color: white;
  z-index: 5;
}

.issue-body .issue-info .issue-description:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.issue-card .issue-bounty {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #485f64;
  color: white;
  width: 20%;
  display: table;
}

.issue-card .issue-bounty-amount {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  height: 3em;
}