#landing-page {
	width: 100%;
	margin: 0;
	padding-bottom: 3em;
	background-color: #f9f9f9;

	> .sidebar-section {
		background-color: white;
		padding-top: 4em;
		padding-left: 3em;
		padding-right: 3em;

		-webkit-box-shadow: 4px 0 4px -2px rgba(144, 164, 183, 0.11);
		// box-shadow: 4px 6px 4px -2px rgba(144, 164, 183, 0.11);
		box-shadow: 0 4px 8px 0 rgba(144, 164, 183, 0.11);
		z-index: 2;
	}

	> .search-section {
		padding-top: 4em;
		padding-left: 50px;
		padding-right: 50px;
	}
}