<!-- If the issue is still open, and not generic, then show info about claims -->
<div class="text-center" ng-show="issue.can_add_bounty && !issue.generic && issue.bounty_total > 0">
  <h4>Claim the bounty</h4>
  <!--<p>When the issue is closed, the bounty can be claimed.</p>-->
  <p>You can only claim this bounty once the issue has been closed.</p>
  <p>Please work with the development team on <a ng-href="{{issue.url}}" target="_blank">the original issue tracker</a> to get it to the closed state.</p>
</div>

<div ng-controller="BountyClaimsController" ng-show="issue.winning_bounty_claim || issue.bounty_total > 0 && (!issue.can_add_bounty || issue.generic)" style="text-align: center; padding: 15px;" 
     ng-class="{ 'alert alert-success': (issue.winning_bounty_claim), 'alert alert-danger': ((!issue.winning_bounty_claim && issue.bounty_claims.length > 1) || issue.bounty_claims[0].disputed || issue.bounty_claims[0].rejected), 'alert alert-info': (!issue.winning_bounty_claim && issue.bounty_claims.length == 1 && !issue.bounty_claims[0].disputed && !issue.bounty_claims[0].rejected), 'well': (issue.bounty_claims.length <= 0) }">
  <!-- A claim was accepted, yay! -->
  <div ng-show="issue.winning_bounty_claim">
    <h2 style="margin: 0;">{{issue.winning_bounty_claim.amount | dollars}}</h2>
    <h4 style="margin: 0;">Bounty</h4>
    <br>
    <h4 style="margin: 0;">Awarded to:</h4>
    <person-icon format="vertical" person="issue.winning_bounty_claim.person" size="60px"></person-icon>
    <br>
    <backer-thumbnails issue="issue"></backer-thumbnails>
  </div>

  <!-- Note, we don't need to show this if the issue is generic, because the bounty box is still there -->
  <div ng-hide="issue.generic || issue.winning_bounty_claim">
    <div style="text-align: center;" ng-hide="issue.winning_bounty_claim">
      <h2 style="margin: 0;">{{issue.bounty_total | dollars}}</h2>
      <strong>Bounty</strong>
    </div>
    <br>
    <backer-thumbnails issue="issue"></backer-thumbnails>
  </div>

  <!-- Bounty is available! Provide link to claim submit form -->
  <div ng-show="issue.bounty_claims.length <= 0">
    <h3 ng-hide="issue.generic">Claim Bounty</h3>
    <h3 ng-show="issue.generic" style="margin-top: 0px;">Claim Bounty</h3>
    <p>Did you resolve this issue? <a ng-click="redirectToBountyClaimTab('sidebar')">Claim the {{issue.bounty_total | dollars}} bounty!</a></p>
  </div>

  <!-- Bounty Claims -->
  <div ng-show="issue.bounty_claims.length > 0">
    <!-- When there is one claim, say that a claim is in progress -->
    <div ng-show="!issue.winning_bounty_claim && issue.bounty_claims.length == 1">
      <br>

      <!-- Title for claim. It's good, rejected, or disputed -->
      <h4 ng-hide="issue.bounty_claims[0].disputed || issue.bounty_claims[0].rejected" style="margin-bottom: 5px;">Bounty Claim Pending</h4>
      <h4 ng-show="issue.bounty_claims[0].disputed && !issue.bounty_claims[0].rejected" style="margin-bottom: 5px;">Bounty Claim Disputed</h4>
      <h4 ng-show="issue.bounty_claims[0].rejected" style="margin-bottom: 5px;">Bounty Claim Rejected</h4>

      <div class="row" ng-init="show_more_info = false">
        <div class="col-md-offset-2 col-md-3" style="padding-right: 0px;">
          <a ng-href="/people/{{issue.bounty_claims[0].person.slug}}"><img class="thumbnail img-responsive" ng-src="{{issue.bounty_claims[0].person.image_url}}"></a>
        </div>
        <div class="col-md-7" style="padding-left: 0px;">
          by <a ng-href="/people/{{issue.bounty_claims[0].person.slug}}">{{issue.bounty_claims[0].person.display_name}}</a>
          <br>
          <small>(<a ng-click="show_more_info = !show_more_info">more info</a>)</small>
        </div>
      </div>
      <div collapse="!show_more_info" class="text-center">
        <br>
        <p>
          <span ng-show="issue.bounty_claims[0].accept_count > 0"><strong>{{issue.bounty_claims[0].accept_count | number}}</strong> of <strong>{{issue.bounty_claims[0].backers_count | number}}</strong></span>
          <span ng-show="issue.bounty_claims[0].accept_count <= 0"><strong>No</strong></span>
          <ng-pluralize count="issue.bounty_claims[0].accept_count" when="{'0': 'backers have voted in favor of this claim.', '1': 'backers has voted in favor of this claim.', 'other': 'backers have voted in favor of this claim.'}"></ng-pluralize>
        </p>
        <p>Automatically accepted in
          <strong>{{issue.bounty_claims[0].dispute_period_ends_at | timeLeftInWords}}</strong>
          if there are no disputes
        </p>
      </div>
    </div>

    <!-- If more than one claim, say that the bounty is contested -->
    <div ng-show="!issue.winning_bounty_claim && issue.bounty_claims.length > 1">
      <br>
      <h4 style="margin-bottom: 5px;">Bounty Contested!</h4>
      <ul class="list-inline" style="margin-bottom: 0;">
        <li ng-repeat="bounty in issue.bounty_claims.slice(0,16)">
          <a class="thumbnail" ng-href="/people/{{bounty.person.slug}}" tooltip="{{bounty.person.display_name}}"><img style="width: 25px; height: 25px;" ng-src="{{bounty.person.image_url}}"></a>
        </li>
      </ul>
      <p>Multiple developers have submitted claims for this bounty. The backers must <a ng-href="/issues/{{issue.slug}}/claims">vote for a winner</a>.</p>
    </div>

    <!-- Show your claim status, or button to create claim -->
    <div ng-show="!issue.winning_bounty_claim">
      <br>
      <button ng-show="issue.my_bounty_claim" class="btn btn-block btn-danger" ng-click="issue.my_bounty_claim.destroy()"><i class="glyphicon glyphicon-trash"></i> Retract My Claim</button>

      <div ng-hide="issue.my_bounty_claim">
        <h4 style="margin-bottom: 5px;">Claim Bounty</h4>
        <p>Did you resolve this issue? <a ng-click="redirectToBountyClaimTab('sidebar')" ng-click-require-auth>Claim the {{issue.bounty_total | dollars}} bounty!</a></p>
      </div>
    </div>
  </div>
</div>
