<div>

  <div class="hidden-sm">
    <div class="row">
      <div class="col-sm-1 col-md-1" style="padding-right:0px;">
        <a ng-href="/trackers/{{issue.tracker.slug}}"><img ng-src="{{issue.tracker.image_url || issue.tracker.image_url_small}}" class="img-responsive thumbnail no-margin"></a>
      </div>
      <div class="col-sm-11 col-md-11">
        <h4 style="margin-top: 0;">{{ issue.title || 'Loading...' }}</h4>

        <ul class="list-inline">
          <!-- Issue status -->
          <li>
            <issue-status-label issue="issue"></issue-status-label>
          </li>

          <!-- Badge -->
          <li ng-controller="IssueBadgeController">
            <small>Share:</small>
            <a ng-click="showBadgeModal()">
              <img ng-src="{{issueBadge.imageUrl()}}" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="visible-sm">
    <h4 style="margin-top: 0;">{{ issue.title || 'Loading...' }} <issue-status-label issue="issue"></issue-status-label></h4>
  </div>

  <br />
  <!-- Create RFP box -->
  <div ng-if="canManageIssue && requestForProposal.error" class="well row">
    <div class="col-xs-12 col-sm-8 text-center ">
      <h4>Hire a developer to close this issue.</h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a ng-href="/issues/{{ issue.slug }}/rfp" class="btn btn-block btn-lg btn-success">Request Proposals!</a>
    </div>
  </div>

  <!-- Create Proposal Box -->
  <div ng-if="!canManageIssue && !requestForProposal.error" class="well row">
    <div class="col-xs-12 col-sm-8 text-center ">
      <h4>{{ requestForProposal.team.name }} is hiring a developer to close this issue.</h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a ng-href="/issues/{{ issue.slug }}/proposals" class="btn btn-block btn-lg btn-success">Submit a Proposal!</a>
    </div>
  </div>
  <!-- Start work box-->
  <div ng-if="!canManageIssue && requestForProposal.error" ng-include="'app/issues/templates/start_work_box.html'"></div>

  <!-- Developer goals notification box -->
  <div ng-if="!canManageIssue && requestForProposal.error" ng-include="'app/issues/templates/developer_goals_notification.html'"></div>
</div>
