<div>
  <div class="hidden-sm">
    <div class="row">
      <div class="col-sm-1 col-md-1" style="padding-right:0px;">
        <a ng-href="/trackers/{{issue.tracker.slug}}"><img ng-src="{{issue.tracker.image_url}}" class="img-responsive thumbnail no-margin"></a>
      </div>
      <div class="col-sm-11 col-md-11">
        <h4 style="margin-top: 0;">{{ issue.title || 'Loading...' }}</h4>
        <issue-status-label issue="issue"></issue-status-label>
      </div>
    </div>
  </div>
  <div class="visible-sm">
    <h4 style="margin-top: 0;">{{ issue.title || 'Loading...' }} <issue-status-label issue="issue"></issue-status-label></h4>
  </div>
  <br>
</div>
