<div>

  <div class="hidden-sm">
    <div class="row">
      <div class="col-sm-1 col-md-1" style="padding-right:0px;">
        <a ng-href="/trackers/{{issue.tracker.slug}}"><img ng-src="{{issue.tracker.image_url || issue.tracker.image_url_small}}" class="img-responsive thumbnail no-margin"></a>
      </div>
      <div class="col-sm-11 col-md-11">
        <h4 style="margin-top: 0;">{{ issue.title || 'Loading...' }}</h4>

        <ul class="list-inline">
          <!-- Issue status -->
          <li>
            <issue-status-label issue="issue"></issue-status-label>
          </li>

          <!-- Badge -->
          <li ng-controller="IssueBadgeController">
            <small>Share:</small>
            <a ng-click="showBadgeModal()">
              <img ng-src="{{issueBadge.imageUrl()}}" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="visible-sm">
    <h4 style="margin-top: 0;">{{ issue.title || 'Loading...' }} <issue-status-label issue="issue"></issue-status-label></h4>
  </div>

  <br />

  <!-- Start work box-->
  <div ng-include="'app/issues/templates/start_work_box.html'"></div>

  <!-- Developer goals notification box -->
  <div ng-include="'app/issues/templates/developer_goals_notification.html'"></div>
</div>
