<div>
  <div class="modal-body">
    <ng-form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <p class="form-control-static"><issue-badge id="issue.id"></issue-badge> Use this badge on your own site!</p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">HTML</label>
        <div class="col-md-10">
          <input type="text" class="form-control input-sm" ng-value="badgeHtml" style="cursor: pointer;" readonly select-on-click />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">Markdown</label>
        <div class="col-md-10">
          <input type="text" class="form-control input-sm" ng-value="badgeMarkdown" style="cursor: pointer;" readonly select-on-click />
        </div>
      </div>
    </ng-form>
  </div>

  <div class="modal-footer" style="margin-top: 0;">
    <button class="btn btn-default" ng-click="close()">Close</button>
  </div>
</div>