<ng-form name="proposalCreateForm" class="form-horizontal">
  <!-- Proposal amount -->
  <div class="form-group" ng-class="{ 'has-error': proposalCreateForm.amount.$invalid }">
    <label class="control-label col-md-3">Cost:</label>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon"><currency-unit></currency-unit></span>
        <input name="amount" type="number" class="form-control" ng-model="myProposal.amount" placeholder="Amount" required />
      </div>
    </div>
  </div>

  <!-- Proposal delivery date -->
  <div class="form-group">
    <label class="control-label col-md-3">Completed by:</label>
    <div class="col-md-3">
      <input name="dueDate" class="form-control" placeholder="Set a date"
             ng-model="myProposal.completed_by"
             datepicker-popup />
    </div>
  </div>

  <!-- Bio - explain why you are qualified -->
  <div class="form-group">
    <label class="control-label col-md-3">Notes:</label>
    <div class="col-md-6">
      <textarea name="dueDate" class="form-control" rows="5" ng-model="myProposal.bio"
                placeholder="Provide details on why {{requestForProposal.team.name}} should select you. Prior history with the project, type of work, etc.">
      </textarea>
    </div>
  </div>

  <!-- Terms agreement checkbox -->
  <!--<div class="form-group">-->
    <!--<div class="col-md-offset-3 col-md-9">-->
      <!--<div class="checkbox">-->
        <!--<label>-->
          <!--<input type="checkbox" ng-model="proposal.agree_to_terms" required />-->
          <!--By submitting a proposal you agree to <a>these RFP terms</a>-->
        <!--</label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">


      <pre>{{myProposal | json}}</pre>


      <button type="submit" class="btn btn-primary" ng-disabled="proposalCreateForm.$invalid" ng-click="saveProposal()">Submit Proposal</button>
    </div>
  </div>
</ng-form>