<table class="table table-striped">
  <thead>
  <tr>
    <th>Developer</th>
    <th>Completion Date</th>
    <th>Bid</th>
    <th>Notes</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="proposal in proposals">
    <td>
      <a owner-href="proposal.person">{{proposal.person.display_name}}</a>
    </td>
    <td>
      <div ng-if="proposal.completed_by">{{proposal.completed_by | date}}</div>
      <div ng-if="!proposal.completed_by"><em>Not specified</em></div>
    </td>
    <td>
      {{proposal.amount | dollars}}
    </td>
    <td>
      <div ng-if="proposal.notes">
        <p style="white-space: pre-wrap;">{{proposal.notes}}</p>
      </div>
      <div ng-if="!proposal.notes"><em>Not specified</em></div>
    </td>
    <td ng-switch="proposal.state">
      <div ng-switch-when="pending">
        <!-- Accept/Reject buttons -->
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-sm btn-block btn-success">Accept</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-sm btn-block btn-danger">Reject</button>
          </div>
        </div>
      </div>

      <!-- Team member started to accept this proposal. -->
      <div ng-switch-when="pending_acceptance">
        <p class="text-success text-center"><strong><em>Accepted, pending checkout</em></strong></p>
      </div>

      <!-- Team member started to accept another proposal. -->
      <div ng-switch-when="pending_rejection">
        <!-- Nothing to see here, folks -->
      </div>

      <!-- Team member finished selecting another proposal. -->
      <div ng-switch-when="rejected">
        <p class="text-danger text-center"><strong><em>Rejected</em></strong></p>
      </div>

      <!-- Team member accepted this proposal! Hell yeah! -->
      <div ng-switch-when="accepted">
        <p class="text-success text-center"><strong><em>Accepted!</em></strong></p>
      </div>
    </td>
  </tr>
  </tbody>
</table>