<div>
  <div class="page-header">
    <h4 style="margin-top: 0;">
      <a ng-href="/teams/{{requestForProposal.team.slug}}">{{requestForProposal.team.name}}</a>
      is seeking developers to solve this issue
    </h4>
  </div>

  <ng-form class="form-horizontal">
    <div class="form-group">
      <div class="col-md-offset-3 col-md-6">
        <!-- No due date specified -->
        <p ng-if="!requestForProposal.due_date">
          {{requestForProposal.team.name}} set a budget of
          <strong>{{requestForProposal.budget | dollars}}</strong>.
        </p>

        <!-- Due date specified -->
        <p ng-if="requestForProposal.due_date">
          {{requestForProposal.team.name}} set a budget of
          <strong>{{requestForProposal.budget | dollars}}</strong>
          and would like the issue solved by {{ requestForProposal.due_date | date }}.
        </p>

        <!-- Additional notes by team -->
        <div ng-if="requestForProposal.notes">
          <p>Additional notes from {{requestForProposal.team.name}}:</p>
          <p style="white-space: pre-wrap;">"{{requestForProposal.notes}}"</p>
        </div>
      </div>
    </div>
  </ng-form>
</div>