<div>
  <div class="row" collapse="!show_solution_form">
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="text-center panel-title">Instructions</h4></div>
        <div class="panel-body">
          <ol>
            <li>To keep backers and other developers in the loop, please fill out as much information as possible.</li>
            <li>Now that you're ready to solve the issue, you should update everyone on the <a ng-href="{{issue.url}}">original issue tracker</a>.</li>
            <li>Get the <a ng-href="{{ issue.tracker.url }}">code!</a></li>
            <li>Good luck! Now get coding!</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="col-sm-8 col-md-8">
      <div class="alert alert-danger alert-danger" ng-show="error">{{ error }}</div>
      <form class="form" name="form">
        <div class="form-group">
          <label class="control-label"><strong>Notes</strong></label>
          <textarea ng-model="solution_form.note" rows="6" class="form-control" placeholder="Tell the backers how you're going to tackle this issue!"></textarea>
        </div>

        <div class="form-group">
          <label class="control-label"><strong>Code URL</strong></label>
          <input ng-model="solution_form.url" type="text" class="form-control" placeholder="https://github.com/you/solution">
        </div>
        <div class="form-group">
          <label class="control-label"><strong>When will you be done?</strong></label>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <input type="text" ng-model="solution_form.completion_date" class="form-control" placeholder="mm/dd/yyyy"
                is-open="$parent.datepicker_open" datepicker-popup="M/d/yyyy" min="minDate"
                show-weeks="false" >
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="show_datepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-click="start_solution()">Start Work</button>
          <button class="btn btn-default" ng-click="toggle_solution_form()">Cancel</button>
        </div>
      </form>
    </div>
  </div>


</div>
<div class="row" collapse="!show_solution_edit_form">
  <div class="col-sm-12 col-md-12">
    <div class="alert alert-danger alert-danger" ng-show="error">{{ error }}</div>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-2"><strong>Notes</strong></label>
        <div class="col-md-10">
          <textarea ng-model="solution_form.note" rows="6" class="form-control" placeholder="Tell the backers how you're going to tackle this issue!"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2"><strong>Code URL</strong></label>
        <div class="col-md-10">
          <input ng-model="solution_form.url" type="text" class="form-control" placeholder="https://github.com/you/solution">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2"><strong>When will you be done?</strong></label>
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" ng-model="solution_form.completion_date" class="form-control" placeholder="mm/dd/yyyy"
                     is-open="$parent.datepicker_edit_open" 
                     datepicker-popup="M/d/yyyy" 
                     min="minDate"
                     show-weeks="false">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="show_edit_datepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
<!--         <div class="col-md-6">
          <input type="text" ng-model="solution_form.completion_date" class="form-control" placeholder="mm/dd/yyyy">
        </div> -->
      </div>

      <div class="form-group">
        <div class="col-md-10 pull-right">
          <div ng-show="status.type != 'SolutionEvent::Stopped'">
            <button type="submit" class="btn btn-primary" ng-click="update_solution()">Update</button>
            <button class="btn btn-danger" ng-click="stop_solution()">Remove</button>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="restart_solution()" ng-show="status.type == 'SolutionEvent::Stopped'">Restart</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
