<div ng-controller="SolutionsBaseController" class="panel panel-default" ng-show="solutions.length > 0">
  <div class="panel-heading">
    <h4 class="text-center panel-title" style="margin-top: 0;"><ng-pluralize count="solutions.length" when="{'one': '1 Developer Working', 'other': '{} Developers Working'}"></ng-pluralize></h4>
  </div>
  <div style="padding-top: 0px; padding-bottom: 0px;">
    <table class="table top-backers-table" style="margin-bottom:10px; word-wrap: break-word; table-layout:fixed;">
      <tbody><tr ng-repeat="solution in solutions | orderBy:'-status.created_at'| limitTo:4">
        <!--Profile picture. No link if anon-->
        <td style="width:30%">
          <div>
            <div>
              <a class="thumbnail no-margin" ng-href="/people/{{solution.person.slug}}">
                <img ng-src="{{solution.person.image_url}}" class="img-responsive">
              </a>
            </div>
          </div>
        </td>

        <td>
          <div>
            <span><a ng-href="/people/{{solution.person.slug}}">{{solution.person.display_name | truncate:14 }}</a></span>
          </div>
          <div ng-switch="solution.status.type">
            <span ng-switch-when="SolutionEvent::Started" class="label label-primary">Started Solution</span>
            <span ng-switch-when="SolutionEvent::CheckIn" class="label label-primary">Checked In</span>
            <span ng-switch-when="SolutionEvent::Stopped" class="label label-danger">Stopped Working</span>
            <span ng-switch-when="SolutionEvent::Idle" class="label label-warning">Went Idle</span>
            <span ng-switch-when="SolutionEvent::Completed" class="label label-success">Finished</span>
            <span ng-switch-default=""></span>
          </div>
          <a href="" ng-click="solution.show_details = !solution.show_details"><span ng-hide="solution.show_details">View More</span><span ng-show="solution.show_details">Hide</span></a>
          <div collapse="!solution.show_details">
            <div><small><strong>Started on:</strong></small></div>
            <div>{{ solution.status.created_at | date }}</div>
            <div><small><strong>Expected Completion:</strong></small> </div>
            <div><span ng-show="solution.completion_date">{{ solution.completion_date | date }}</span><span ng-show="!solution.completion_date">No Date</span></div>
            <div><small><strong>Note:</strong></small></div>
            <div><span ng-show="solution.note">{{ solution.note }}</span><span ng-show="!solution.note">No note</span></div>
            <div ng-show="solution.url"><a ng-href="{{ solution.url }}">View Code »</a></div>
          </div>
        </td>
      </tr>
      </tbody></table>
  </div>
</div>
