<div ng-controller="SolutionsBaseController" ng-show="issue.can_add_bounty">
  <div class="well col-sm-12 col-md-12">
    <div class="col-sm-5 col-md-5" style="padding-right:15px;" ng-hide="initializing">
      <div ng-switch="status.type">

        <div ng-switch-when="SolutionEvent::Started">
          <div class="row">
            <div class="text-center col-sm-6 col-md-6"><h4>I'm solving this!</h4></div>
            <div class="col-sm-6 col-md-6"><button class="btn btn-block btn-primary btn-lg" style="vertical-align: middle;" ng-click="toggle_solution_edit_form()"><span ng-show="!show_solution_edit_form">Edit Details</span><span ng-show="show_solution_edit_form">Hide Details</span></button></div>
          </div>
        </div>

<!--      <div ng-switch-when="SolutionEvent::CheckedIn">
            <h4 style="margin-top:0;" class="text-center">Work In Progress</h4>

            <div style="text-align:center;margin-bottom:10px;">
              <small>last checked-in {{my_solution.created_at | date:'longDate'}}.</small>
            </div>
            <div>
              <button ng-click="stop_solution()" class="btn btn-primary btn-block">Stop Work</button>
            </div>
          </div>

          <div ng-switch-when="SolutionEvent::Idle">
            <h4 style="margin-top:0;" class="text-center">You've been marked as idle</h4>

            <div style="text-align:center;margin-bottom:10px;">
              <small>since {{my_solution.created_at | date:'longDate'}}.</small>
            </div>
            <div>
              <button ng-click="checkin_solution()" class="btn btn-primary btn-block">Check In</button>
            </div>
          </div> -->

          <div ng-switch-when="SolutionEvent::Stopped">
            <div class="row">
              <div class="col-sm-6 col-md-6"><h4 class="text-center">I can solve this!</h4></div>
              <div class="col-sm-6 col-md-6"><button class="btn btn-success btn-block btn-lg" style="vertical-align: middle;" ng-click="toggle_solution_edit_form()">Get Started</button></div>
            </div>
          </div>

          <div ng-switch-default="">
            <div class="row">
              <div class="text-center col-sm-6 col-md-6"><h4>I can solve this:</h4></div>
              <div class="col-sm-6 col-md-6"><button class="btn btn-success btn-block btn-lg" style="vertical-align: middle;" ng-click="toggle_solution_form()">Get Started</button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-md-7" style="padding-right: 0px;">
        <div ng-controller="DeveloperGoalsBaseController" style="border-left: 1px solid #ddd; padding-left:15px" collapse="initializing">
          <!-- You have set a goal -->
          <div ng-show="my_developer_goal">
            <div>
              <form style="margin: 0;" class="form-inline" name="form">
                <div class="row">
                  <div class="text-center col-sm-3 col-md-3">
                    <h4>My goal:</h4>
                  </div>
                  <div class="col-sm-4 col-md-4" style="padding-right: 0px; padding-left: 0px;">
                    <div class="input-group input-group-lg" style="margin-bottom: 0px;">
                      <span class="input-group-addon">$</span>
                      <input name="amount" type="number" class="form-control" min="{{issue.bounty_total + 1}}" step="1" ng-model="my_developer_goal.amount" ng-value="my_developer_goal.amount" required="">
                    </div>
                  </div>

                  <div class="pull-right col-sm-5 col-md-5">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="update_developer_goal(my_developer_goal.amount)" ng-disabled="my_developer_goal.$master.amount == my_developer_goal.amount || my_developer_goal.amount <= issue.bounty_total || my_developer_goal.amount < 5">Update</button>
                    <button class="btn btn-danger btn-lg" ng-click="delete_developer_goal()"><span class="glyphicon glyphicon-trash"></span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- You have not set a goal -->
          <div ng-hide="my_developer_goal">
            <div>
              <form ng-submit="create_developer_goal()" style="margin: 0;" class="form">
                <div class="row">
                  <div class="text-center col-sm-5 col-md-5">
                    <h4>I'd solve this for:</h4>
                  </div>
                  <div class="col-sm-4 col-md-4" style="padding-left: 0px;">
                    <div class="input-group input-group-lg" style="margin-bottom: 0px;">
                      <span class="input-group-addon">$</span>
                      <input type="number" min="{{issue.bounty_total + 1}}" step="1" class="form-control" ng-model="new_developer_goal.amount" placeholder="{{issue.bounty_total + 100}}" required="" style="padding-left: 10px;">
                    </div>
                  </div>

                  <div class="col-sm-3 col-md-3">
                    <button type="submit" class="btn btn-primary btn-block btn-lg" ng-disabled="new_developer_goal.amount <= issue.bounty_total || new_developer_goal.amount < 5">Set Goal</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-include="'app/issues/templates/solution_form.html'"></div>
  </div>
