%span<
  %img{ "ng-if"=>"!href", "ng-src"=>"{{img_src}}", "class"=>"img-responsive img-rounded" }
  %a{ "ng-if"=>"href", "ng-href"=>"{{href}}" }<
    %img{ "ng-src"=>"{{img_src}}", "class"=>"img-responsive img-rounded" }
