<div class="panel panel-info" ng-if="$parent.can_manage">
  <div class="panel-heading text-center">Manage Fundraiser</div>

  <div class="panel-body">
    <!-- New Update button -->
    <button class="btn btn-block btn-info btn-lg" ng-click="showNewUpdateModal()" ng-show="fundraiser.published && fundraiser.in_progress">
      <i class="glyphicon glyphicon-pencil"></i>
      <span>New Update</span>
    </button>

    <!-- Edit button -->
    <a class="btn btn-block btn-info btn-lg" ng-href="/fundraisers/{{fundraiser.slug}}/edit" ng-show="!fundraiser.published">
      <i class="glyphicon glyphicon-edit"></i>
      <span>Edit Fundraiser</span>
    </a>

    <!-- Publish button -->
    <button class="btn btn-block btn-info btn-lg" ng-click="publishFundraiser(fundraiser)" ng-disabled="!fundraiser.publishable" ng-show="!fundraiser.published">
      <i class="glyphicon glyphicon-globe"></i>
      <span>Publish Fundraiser</span>
    </button>
  </div>
</div>
