<div ng-controller="TrackerLeaderboardController" ng-show="backers.length > 0" class="panel panel-primary" style="padding-top:0px; padding-bottom:0px">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><ng-pluralize count="backers.length" when="{'1': 'Top Backer', 'other':'Top Backers (all time)'}"></ng-pluralize></h3>
  </div>
  <table class="table">
    <tbody>
      <tr ng-repeat="backer in backers | orderBy:'-total_backed'| limitTo:3">
        <!--Profile picture. No link if anon-->
        <td class="col-md-4">
          <div>
            <div>
              <a owner-href="backer" class="thumbnail no-margin">
                <img class="img-responsive" ng-src="{{backer.image_url}}">
              </a>
            </div>
          </div>
        </td>

        <td class="col-md-8">
          <div>
            <a owner-href="backer">
              <span>{{backer.display_name}}</span>
            </a>
          </div>
          <div><strong>{{ backer.total_backed | dollars }}</strong></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
