<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/settings">Settings</a></li>
  <li><a href="/settings/email">Email</a></li>
</ul>

<h1>Settings</h1>

<ng-include src="'app/settings/tabs.html'"></ng-include>

<div ng-show="alert.message">
  <alert type="alert.type" close="alert = null">{{alert.message}}</alert>
</div>

<form class="form-horizontal" name="form" ng-submit="submit()" novalidate="">
  <div class="form-group">
    <label class="control-label col-md-2" for="inputEmail">Primary Email:</label>
    <div class="col-md-4">
      <input type="email" id="inputEmail" name="email" placeholder="john@doe.com" ng-model="form_data.email" class="input-xlarge form-control" required="">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2">Email Options:</label>
    <div class="col-md-4">
      <div class="checkbox"><label class="">
        <input type="checkbox" name="weekly_newsletter" ng-model="form_data.weekly_newsletter"> Weekly Newsletter
      </label></div>
      <div class="checkbox"><label class="">
        <input type="checkbox" name="receive_developer_alerts" ng-model="form_data.receive_developer_alerts"> Bounty Alerts
      </label></div>
      <div class="checkbox"><label class="">
        <input type="checkbox" name="receive_fundraiser_emails" ng-model="form_data.receive_fundraiser_emails"> Fundraiser Updates
      </label></div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-4">
      <button type="submit" class="btn btn-success btn-lg" ng-disabled="form.$invalid">Save</button>
    </div>
  </div>
</form>
