<div class="panel panel-primary" ng-if="fundraiser.published && fundraiser.in_progress" ng-if="fundraiser.published && fundraiser.in_progress">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Pledge Now</h3>
  </div>

  <div class="panel-body">
    <div class="row ">
      <div class="col-md-4 bounty-buttons">
        <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 15)">$15</button>
      </div>
      <div class="col-md-4 bounty-buttons">
        <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 35)">$35</button>
      </div>
      <div class="col-md-4 bounty-buttons">
        <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 50)">$50</button>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-4 bounty-buttons">
        <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 100)">$100</button>
      </div>
      <div class="col-md-4 bounty-buttons">
        <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 250)">$250</button>
      </div>
      <div class="col-md-4 bounty-buttons">
        <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 500)">$500</button>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-4 bounty-buttons">
        <button class="btn btn-primary btn-block" ng-click="pledgeRedirect(fundraiser, 100)">$100</button>
      </div>
      <div class="col-md-8 bounty-buttons">
        <form name="form" ng-submit="customPledgeRedirect(fundraiser, $parent.amount)">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" name="input" class="form-control" min="5" ng-model="$parent.amount" placeholder="Other" tooltip="$5 minimum pledge" tooltip-placement="bottom" toolip-trigger="focus" integer-only>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
